.fa-icon() {
  display: inline-block;
  font: normal normal normal @fa-font-size-base/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

}

.fa-icon-rotate(@degrees, @rotation, @important: false) {
  & when (@important = true) {
  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation);
    -webkit-transform: rotate(@degrees) !important;
        -ms-transform: rotate(@degrees) !important;
            transform: rotate(@degrees) !important;
  }
  
  & when (@important = false) {
  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation);
    -webkit-transform: rotate(@degrees);
        -ms-transform: rotate(@degrees);
            transform: rotate(@degrees);
  }
}

.fa-icon-flip(@horiz, @vert, @rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation, mirror=1);
  -webkit-transform: scale(@horiz, @vert);
      -ms-transform: scale(@horiz, @vert);
          transform: scale(@horiz, @vert);
}