@fa-font-path:        "../fonts";
@fa-font-size-base:   14px;
@fa-css-prefix:       fa;
@fa-version:          "5.10.0";
@fa-border-color:     @grey-lighter;
@fa-inverse:          @white;
@fa-li-width:         (30em / 14);

@fa-var-angle-down: "\f107";
@fa-var-angle-left: "\f104";
@fa-var-angle-right: "\f105";
@fa-var-angle-up: "\f106";
@fa-var-bars: "\f0c9";
@fa-var-caret-down: "\f0d7";
@fa-var-caret-left: "\f0d9";
@fa-var-caret-right: "\f0da";
@fa-var-caret-up: "\f0d8";
@fa-var-check: "\f00c";
@fa-var-check-bold: "\e901";
@fa-var-check-circle: "\f058";
@fa-var-chevron-down: "\f078";
@fa-var-chevron-left: "\f053";
@fa-var-chevron-right: "\f054";
@fa-var-chevron-up: "\f077";
@fa-var-circle: "\f111";
@fa-var-comment: "\f075";
@fa-var-compress-alt: "\f422";
@fa-var-credit-card: "\f09d";
@fa-var-chat: "\e908";
@fa-var-download: "\e902";
@fa-var-expand-alt: "\f424";
@fa-var-eye: "\f06e";
@fa-var-eye-slash: "\f070";
@fa-var-facebook-f: "\f39e";
@fa-var-heart: "\f004";
@fa-var-heart-solid: "\f6b0";
@fa-var-home: "\f015";
@fa-var-instagram: "\f16d";
@fa-var-minus: "\f068";
@fa-var-mail: "\e906";
@fa-var-pause: "\f04c";
@fa-var-pinterest-p: "\f231";
@fa-var-play: "\f04b";
@fa-var-play-circle: "\f144";
@fa-var-plus: "\f067";
@fa-var-phone: "\e905";
@fa-var-print: "\e907";
@fa-var-question-circle: "\f059";
@fa-var-quote-left: "\f10d";
@fa-var-quote-right: "\f10e";
@fa-var-search: "\f002";
@fa-var-search-plus: "\f00e";
@fa-var-shopping-bag: "\f290";
@fa-var-shopping-bag-solid: "\f6b4";
@fa-var-shield: "\e900";
@fa-var-sliders-h: "\f1de";
@fa-var-sort: "\f0dc";
@fa-var-sort-1: "\e904";
@fa-var-spinner: "\f110";
@fa-var-star: "\f005";
@fa-var-star-regular: "\e906";
@fa-var-star-half: "\e905";
@fa-var-sync-alt: "\f2f1";
@fa-var-snap-chat: "\e904";
@fa-var-tag: "\f02b";
@fa-var-thumbs-down: "\f165";
@fa-var-thumbs-up: "\f164";
@fa-var-times: "\f00d";
@fa-var-times-circle: "\f057";
@fa-var-tjc: "\f000";
@fa-var-tv: "\f26c";
@fa-var-tv-fill: "\e902";
@fa-var-twitter: "\f099";
@fa-var-user: "\f007";
@fa-var-user-solid: "\f6d5";
@fa-var-volume-mute: "\f6a9";
@fa-var-volume-up: "\f028";
@fa-var-warranty-shield: "\e903";
@fa-var-whatsapp: "\ea93";
