@red: 				 #C20000;
@red-dark:           #880000;

@green-light: 		 #25c117;
@green: 			 #13770D;
@green-dark:		 #0C4A09;

@blue:               #006EB8;
@blue-dark:          #004D81;

@yellow:             #FFAC00;
@yellow-dark:        #C68600;

@white: 			 #FFFFFF;
@black: 			 #000000;

@purple-light:		 #8562A2;
@purple: 			 #492565;
@purple-dark: 	     #2C163D;
@cobalt-blue:		 #005c99;
@cobalt-blue-dark:   #033C66;
@cobalt-blue-light:	 #2851a1;

@grey-lightest:      #F5F5F5;    
@grey-lighter:       #EEEEEE;
@grey-light:         #DDDDDD;
@grey: 	             #CCCCCC;
@grey-dark: 	     #BBBBBB;
@grey-darker: 	     #999999;
@grey-darkest:       #222222;
@purple-medium:		 #e75a7c;
@summer-sky-blue:    #1C8ED9;
@denim-blue:         #1968A1;
@dark-green:         #0C5505;
@dark-blue:          #156AA2;
@solitude-blue:      #f6f7f9;
@christalle-violet:  #41266B;
@dark-gray-gray:     #b2b2b2;
@Night-gider-gray:   #333333;  
@dim-gray-Grey:      #666666;
@dark-pastel-green:  #11BA19;
@yellow:             #FFFC01;           
@nobelgrey:          #999999;
@border-grey:        #C9C9C9;
@sky-blue:           #D5422A;
@dark-red:           #00B2C7;
@lightgrey:          #707070;
@alice-Blue:         #DCF2FF;
@lavender-Violet:    #F0F8FD;
@facebookbg:		 #3f579d;
@twitterbg:			 #50abf1;
@slidertilename:	 #444444;
@sliver:        	 #BBBBBB;
@whitesmoke:         #EEEEEE;
@nero:               #222222;
@black1: 			 #918888;
@rednew:			 #d9001b;
@lightpink:			 #ffc0cb;
@darkpink:           #ff8da1;


@mobile-small: 320px;
@mobile-large: 321px;
@mobile-large-max: 421px;
@mobile-default: 375px;

@mobile-min: 280px;
@mobile-max: 767px;
@tablet-min: 768px;
@tablet-max: 1279px;
@desktop-min: 1280px;
@desktop-max: 1440px;


// TEMP // TJC-1291
@old_mobile-max: 767px;
@old_tablet-min: 768px;
@old_tablet-max: 1024px;
@old_desktop-min: 1025px;


@font-family-default: 'Open Sans', sans-serif;
@font-family-josefin-sans: 'Josefin Sans', sans-serif;
@font-family-nunito-sans: 'Nunito Sans', sans-serif;
@font-size-default: 14px;
@line-height-default: 24px;
@font-color-default: @grey-darkest;
@font-weight-default: 400;
@text-transform-default: none;

@page-max-width: 1440px;
@page-min-width: 280px;
@page-padding-desktop: 20px;
@page-padding-tablet: 20px;
@page-padding-mobile: 20px;
@backtotop-bottom: 60px;
@backtotop-right: 14px;

@input-height: 40px;
@input-line-height: 24px;

@pdp-thumb-tile: 90px;
@gridtile-medium: 130px;
@gridtile-small: 90px;

@border-radius-default: 3px;
@box-shadow-default: 0 0 8px rgba(0,0,0,0.5);

@loader-size: 34px;
@backtotop-size: 34px;

@refinement-margin: 12px;
@refinement-height: 30px;
@form-row-max-width: 420px;
@form-field-min-height:  76px;
@form-field-min-height-auto:  auto;
@form-input-height-auto: 50px;

@themePrimaryColor: #112933;
@themeSecondaryColor: #243a44;
@themeTextColor: @white;
@searchDetailsColor: #051319;
