.wrapper.pt_account_login{
	background-color: @grey-lighter;
	.account-container{
		margin-top:50px;
	}
}
.goto-guestlink {
  text-align: center;
}

.account-title {
  font-size: 26px;
  font-weight: 400;
  margin: -6px 0 30px 0;
}

.login-page {
.login-box {
  .forgot-pin {
      margin:10px 0 0;
      float: left;
      width: 100%;
      a{
      	color: @slidertilename;
        line-height: 24px;
        text-decoration:underline !important;
      }
  } 
}
.account-container {
  width: 600px;
  border-radius: 5px;
	button{
		width: 100%!important;
	}
	.account-container-innerbox{
		background-color:@white;
		padding:0 15px 12px;
		@media (min-width: @tablet-min) {
	        padding:0 75px 12px;
        }
        .error-form.message{
        	padding:0;
        	margin-top:0;
        }
	}
  	.login-account{
  		margin-top: 10px;
  		.form-row{
  			width: 100%;
  			max-width:100%;
  		}
  		.isMigratedPWcustomer{
  			margin-top: 25px;
  			.html-slot-container{
			    border: 2px solid @red;
    			padding: 20px;
    			p{
    				margin: 0;
				    font-size: 13px;
				    line-height: 18px;
				    letter-spacing: 0.3px;
				    color: @red;
    			}
    			p:nth-child(2){
    				margin-top: 15px;
				    margin-bottom: 0;
    			}
  			}
  		}
  		.guestseparator{
  			margin: 22px 0 20px;
  			border-top:1px solid @grey-light;
  		}
  	}
  }

  .account-tabs-menu-wrapper {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    cursor: pointer;
    .account-tabs-menu {
      text-transform: uppercase;      
      flex-direction: row;
      align-items: center;
      display: flex;
      justify-content: center; 
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 16px;
      color: @slidertilename;
      span:hover {
        cursor: default;
      }
      &.active {
        font-weight: 600;
        background-color:  @white;
        color: @grey-darkest;
        text-align: center;
        border-radius: 0 0 0 0;
      }
      &.account-tab-login {
        border-radius: 0 0 0 0;
      }
      &.account-tab-register {
        border-radius: 0 0 0 0;
      }
    }
  }
  .logintv-container {
    display: none;
  }
}

.account-landing-hint {
color: @purple-dark;
.content-asset {
  margin-bottom: 30px;
}
}

.account-landing-col {
width: 47.5%;
&.left {
  float: left;
}
&.right {
  float: right;
}
.account-section {
  padding-bottom: 30px;
  &.last {
    padding-bottom: 0;
  }
  .account-section-title {
  	position: relative;
    .h6(); 
    font-weight: 600;
    border-bottom: 1px solid @grey-dark;
    padding: 0 0 3px 0;
    margin: 0 0 10px 0;
    .tjc-new {
  		float: right;
	    position: absolute;
	    right: 0;
	    background: #e75a7c;
	    padding: 0px 6px;
	    color: #fff;
	    border-radius: 5px;
	    bottom: 5px;
  	}
  }
  .account-section-content {
    min-height: 32px;
    color: @purple-dark;
    a {
      color: @purple-dark;
      .fa {
        font-size: 9px;
      }
    }
  }
  .highlighted {
    font-weight: 600;
    color: @purple-dark;
  }
}
}

.account-addresses {
overflow: hidden;
.address-list-title {
    font-size: 18px;
    line-height: 18px;
  font-weight: 600;
  margin: 0 0 15px 0;
}
.address-list-empty {
  margin-top: 40px;
}
.address-list {
  padding-bottom: 10px;
  .calc(width, "100% + 20px");
  li {
    float: left;
    width: 33.33333%;
    color: @purple-dark;
    a {
      color: @blue;
      text-transform: uppercase;
  font-weight: 600;
      display: inline-block;
      &.address-make-default {
        margin-bottom: 5px;
      }
      &.address-edit,
      &.address-delete {
        margin-top: 5px;
      }
    }
    .address-inner {
      padding: 0 20px 20px 0;
      text-transform: none;
      word-break: break-word;
      .mini-address-title {
        color: @font-color-default;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
    }
    &.default {
      width: 50%;
    }
    &:nth-child(3n+1) {
      clear: left;
    }
  }
}
}

.address-form {
	.postcodeerror{
		margin-top: -3px;
	}
}

.order-history-tabs {
margin: 20px 0 20px 0;
.button {
  margin-left: 5px;
  position: relative;
  &.first {
    margin-left: 0;
  }
  &.active {
    background-color: @purple-light;
    border-color: @purple-light;
    &:before {
      .fonticon(30px, 30px);
      content: "\f0d7";
      width: 30px;
      text-align: center;
      position: absolute;
      left: 50%;
      bottom: -16px;
      margin-left: -15px;
      z-index: 1;
      color: @purple-light;
    }
  }
}
}

.order-history-items {
margin-bottom: 30px;
.order-history-items-head {
  background-color: @grey-lighter;
}
.order-overview {
  .order-overview-cell {
    padding-top: ((@input-height - @line-height-default) / 2);
    padding-bottom: ((@input-height - @line-height-default) / 2);
    color: @purple-dark;
    text-transform: none;
    a {
      color: @purple-dark;
    }
    &.amount {
      width: 200px;
      white-space: nowrap;
    }
    &.status {
      width: 160px;
    }
    &.icon {
      width: 20px;
      text-align: right;
    }
  }
  &:first-child {
    td {
      border-top: 1px solid @grey-dark;
    }
  }
  &.active,
  &:hover {
    .order-overview-cell {
      background-color: @grey-lighter;
    }
  }
  &:hover {
    .order-overview-cell {
      cursor: pointer;
    }
  }
}
.order-details {
  .slide-container {
    display: none;
    border-bottom: 1px solid @grey-dark;
  }
  .order-details-cell {
    padding: 0;
    border: none;
    th, td {
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
    .order-summary-table {
      .order-information {
        .order-status {
          display: none;
        }
      }
      .order-shipping {
        width: 200px;
      }
      .order-payment-summary {
        width: 220px;
        .order-budgetpay {
          td {
            img {
              background-color: @grey-lighter !important;
            }
          }
        }
      }
    }
    .order-products-table {
      border-top: 1px solid @grey-dark;
      th {
        padding-bottom: 0;
      }
      .item-details {
        .link-certificate {
          margin-top: 10px;
          width: 160px;
          min-width: 160px;
          height: 40px;
          line-height: 25px;
          display: block;
          @media screen and (max-width: @mobile-max) {
              max-width: 164px;
          
          }
        }
      }
      .item-quantity {
        width: 90px;
      }
      .item-total {
        width: 110px;
      }
    }
  }
}
}

.wishlist-table {
td {
  &.item-options {
    width: 370px;
    position: relative;
    .item-options-top {
      .availability-msg {
        float: left;
        .calc(width, 100% - 35px);
        .product-availability{
          padding-left: 80px;
        }
      }
      .option-actions {
        float: right;
        width: auto;
        margin-top: -7px;
        .button {
          width: auto;
        }
      }
    }
    .item-options-bottom {
      .quantity-container {
        float: left;
        width: 50px;
        position: absolute;
        top: 14px;
        left: 18px;
          @media screen and (max-width: @mobile-max) {
             left: 0;
          
          }
        input{
            border-radius: 4px;
        }
		label{
			 min-width: auto;
		} 
      }
      .button-container {
        float: right;
        margin-top: 30px;
        .button {
          padding-left: 10px;
          padding-right: 10px;
          width:179px;
          line-height: 34px;
          font-weight:600;                
          &.quick-buy-signin{
               margin-left: 6px;
          }
          &.quick-buy-button{
            background-color: @cobalt-blue;
            border-color: @cobalt-blue;
            &:hover {
             background-color: @cobalt-blue-dark;
           }
          }          
          &.quick-buy-button.quick-buy-pref-Class {
              background-color: @cobalt-blue;
              border-color: @cobalt-blue;
           &:hover {
             background-color: @cobalt-blue-dark;
            }
          }
         
           &.quick-buy-button.quick-buy-signin {
             background-color: @cobalt-blue;
             color: @white!important;
             &:hover{
              background-color: @cobalt-blue-dark;
             }
          }          
        }
      }
    }
  }
  &.item-image a img{
    width: 90px;
   }
   /*&.item-details{
     vertical-align: middle;
   } */
 }
}

@media (min-width: @tablet-min) and (max-width: @tablet-max) {
.pt_account,
.pt_order,
.pt_wish-list {
  .primary-col {
    float: none;
    width: auto;
  }
}
}

@media (max-width: @mobile-max) {
.account-title {
  font-size: 22px;
  margin: 10px 0 5px 0;
}    
.account-addresses .address-create-container {
margin: 25px 0 30px 0;
}
.login-page .login-box {
  min-width: 0;
}

.login-page {
  .login-box {
    &.login-create-account,
    &.login-guest-checkout {
      margin-bottom: 30px;
    }
  }
}

.account-landing-col {
  width: auto;
  &.left {
    float: none;
  }
  &.right {
    float: none;
    .account-section {
      &.last {
        padding-bottom: 0;
      }
    }
  }
  .account-section {
    &.last {
      padding-bottom: 30px;
    }
    .account-section-content {
      min-height: 1px;
    }
  }
}

.account-addresses {
  .address-list {
    li {
      width: 100%;
      &.default {
        width: auto;
        float: none;
      }
    }
  }
}

.order-history-tabs {
  .button {
    margin-left: 0;
    float: right;
    display: block;
    width: auto;
    &.first {
      float: left;
    }
  }
}

.order-history-items {
  .order-history-items-head {
    font-size: 10px;
    white-space: nowrap;
  }
  .order-overview {
    .order-overview-cell {
      font-size: 10px;
      &.number,
      &.date,
      &.amount,
      &.status,
      &.icon {
        width: auto;
        padding-right: 0;
      }
    }
  }
  .order-details {
    .order-details-cell {
      .order-summary-table {
        padding-top: 10px;
        .order-section-headline,
        .cell-inner {
          padding-left: 0;
          padding-right: 0;
        }
        .order-payment-summary {
          width: auto;
        }
      }
      .order-products-table {
        .order-section-headline {
          display: none !important;
        }
        .item-quantity,
        .item-total {
          width: auto;
        }
      }
    }
  }
}

.wishlist-table {
  td {
    &.item-image {
       padding-bottom: 5px;
    a img{
          width: 50px;
    }
    
    }
    &.item-details {
      padding-bottom: 5px;
    }
    &.item-options {
      width: auto;
      position: relative;
      clear: both;
      padding-bottom: 0;
      .item-options-top {
           min-height:46px;
		   position:relative;
        .availability-msg {
          float: none;
          width: auto;
       .product-availability{
              padding-top: 22px;
          }
        }
        .option-actions {
          position: absolute;
          z-index: 1;
          width: auto;
          left: 246px;
          bottom: -10px;
        }
      }
      .item-options-bottom {
        margin-top: 5px;
        max-width: 300px;
        .button-container{
              float: left;
              
          .button{
             float: left;
             margin-right: 9px;
             width:125px;     
            
            }
           .product-non-availability {
           	float:left;
           }
        }
      }
    }
  }
}
}

.credit-balance {
  color: @green;
  font-weight: bold;
}

.credit-description {
  padding-bottom: 15px;
  border-bottom: 1px solid @grey-dark;
}

.credithistory-table {
  max-width: 400px;
  th {
    text-align: left;
  }
  th:last-child, td:last-child {
    text-align: right;
  }
  td {
    padding: 5px;
  }
}

.gdpr-checkboxes {
margin-top: 30px;
margin-bottom: 30px;
.message-sticky {
  display:none;
}
.cookierow {
  margin-bottom: 26px;
  .label {
    padding-left: 10px;
  }
}
}

.nickname-wrapper {
  .NicknameForm {
    padding-top: 35px;
    position: relative;
    .nick-name-btn-group{
	   @media screen and (max-width: @mobile-max) {
	  display: flex;
      min-height: auto;
     .button{
	      width: 100%;
          min-width: auto;
      }
    .button-white{
	       margin-right: 10px;
     }
  
  }  
    .button-white{
	    margin-right: 7px;
     }  
}

    .field {
      @media (min-width: @tablet-min) {
        margin-left: 0;
      }
    }
  }
}

/*Wishlist QB pop open*/
.pt_wish-list{
    .page-title{
        display: block;
    }
   .primary-col {
       float: right;
   }     
  .secondary-col.first {
       float: left;
     }
.form-row-no-indent{
	.button-green.button-wide{
		min-width: auto;
		width: auto;
	}
 } 
}

.tjc-payment-history {
	background-color: rgba(242, 242, 242, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(215, 215, 215, 1);
    width: 80%;
    margin: 0 auto;
    padding: 0 10px;
    @media (max-width: @mobile-max) {
    	width : 100%;
    }
}
.tjc-payment-history table{
   		border-collapse: collapse;
        width: 100%;
		margin: 0 auto;
	    color: #000;
	    font-size: 15px;
	    line-height: 30px;
   }
   .tjc-payment-history table tr {
   		border-bottom: 1px solid #9e9c9c;
   }
   .tjc-payment-history table tr:last-child {
   		border-bottom: 0;
   }
   .tjc-payment-history table td, th {
		text-align: left;
		padding: 8px 0;
		text-transform: capitalize;
   }
   .tjc-payment-history td.payment-date {
   	  text-transform: uppercase;
   }
   .tjc-payment-history td.price-col {
   	  padding-right: 20px;
	 box-sizing: border-box;
	 text-align:right;
   }
   .paid-heading {
       text-align:right;
   }
   
   .back-btn-payment-history {
   		padding: 8px;
   		display: inline-block;
   		width: 100px;
   		background: inherit;
		background-color: rgba(210, 93, 43, 1);border: none;
	    border-radius: 60px;
	    text-align: center;
	    color: #fff;
	    margin: 10px 0 30px 0;
	    box-sizing: border-box;
   }
   .back-btn-payment-history::before {
   		content: "\003C";
   		padding-right: 8px;
   		box-sizing: border-box;
   }
   
   
 .historical-payment-history{
 	display: inline-block;
    width: 100%;
    text-align: right;
    .historical-payment-history-link{
	    display: inline-block;
	    box-shadow: 0 0 20px 0 #dad4ec;
	    padding: 10px 20px 10px 5px;
	    margin: 10px 0;
	    border-left: 4px solid #ff7f18;
	    box-sizing: border-box;
	    text-decoration: none;
    }
 }
 
.cancel-result-link{
	background: #d25d2b;
	border: none;
    padding: 10px 40px;
    border-radius: 20px;
    min-width: 165px;
    margin: 10px;
}

.cancelconfirm{
 	margin-top: 15px;
    display: inline-block;
    width: 100%;
    text-align: center
}
 

button.cancel-button {
 margin-left: 10px;
}


 button.delete-button {
 margin-left: 10px;
  
}

.profilechangenumber{
	padding: 0 0 0!important;
    height: auto;
    float: none!important;
    margin-top: -8px;
}

.edit-email-group .validation-error .error-msg{
   @media (max-width: @mobile-max) {
    line-height: normal;
    margin-top: 0;

  }
}

.order-information{
	.cell-inner{
		.order-date{
			.return-link{
				float: right;
				text-decoration: none;
				.return{
					background-color: #c20000;
					color: #ffffff;
					padding: 2px 10px;
					border-radius: 3px;
				}
			}
		}
	}
}


.order-tracking {	
	.form-row.form-row-button{
		margin-top:0;
	}
}

.edit-profile{	
	.form-row.form-row-half{		
		width:100%;
	 .field{
		margin-right:0;
	}
	}
  }

.edit-preferences{
	.form-row.form-row-button{
		    margin-top: 26px;
	}
}

#AddnewNameFormModal {
	.form-row.form-row-half{
		 width: 100%;
      @media (max-width: @mobile-max) {
	   width: 100%;
	}
    &.field{
 	margin-right: 0!important;
     }
   }
}

.wrapper.pt_cart{
	.message-content{
		padding: 0;
		@media (max-width: @mobile-max) {
		font-size: 13px;
	   }
	 a{
		 color:@red;
	}
	.button{
		@media (max-width: @mobile-max) {
	      top: calc(50% - 70px);
	  }
	 }
   }
}

.field.profilechangenumber-field{
	min-height: 60px;
}

form.btn-loader {
	.form-row-new.form-row-button .field {
	  position:relative;
	  .button {
		text-indent: -9999px;
		pointer-events: none;
	  }
	}
	
	.dot-pulse {
	  margin-left: 215px;
	  position: absolute;
	  top: 19px;
	  pointer-events: none;
	  left: -9999px;
	  width: 10px;
	  height: 10px;
	  border-radius: 5px;
	  background-color: @white;
	  color: @white;
	  box-shadow: 9999px 0 0 -5px;
	  -webkit-animation: dot-pulse 1.5s infinite linear;
	  animation: dot-pulse 1.5s infinite linear;
	  -webkit-animation-delay: .25s;
	  animation-delay: .25s;
	  @media (max-width: @mobile-max) {
	  	margin-left: calc(50% - 5px);
	  }
	}

	.dot-pulse::before, .dot-pulse::after {
	  content: "";
	  display: inline-block;
	  position: absolute;
	  top: 0;
	  width: 10px;
	  height: 10px;
	  border-radius: 5px;
	  background-color: @white;
	  color: @white;
	}

	.dot-pulse::before {
	  box-shadow: 9984px 0 0 -5px;
	  -webkit-animation: dot-pulse-before 1.5s infinite linear;
	  animation: dot-pulse-before 1.5s infinite linear;
	  -webkit-animation-delay: 0s;
	  animation-delay: 0s;
	}

	.dot-pulse::after {
	  box-shadow: 10014px 0 0 -5px;
	  -webkit-animation: dot-pulse-after 1.5s infinite linear;
	  animation: dot-pulse-after 1.5s infinite linear;
	  -webkit-animation-delay: .5s;
	  animation-delay: .5s;
	}

	@-webkit-keyframes dot-pulse-before {
	  0% {
		box-shadow: 9984px 0 0 -5px;
	  }
	  30% {
		box-shadow: 9984px 0 0 2px;
	  }
	  60%,
	  100% {
		box-shadow: 9984px 0 0 -5px;
	  }
	}

	@keyframes dot-pulse-before {
	  0% {
		box-shadow: 9984px 0 0 -5px;
	  }
	  30% {
		box-shadow: 9984px 0 0 2px;
	  }
	  60%,
	  100% {
		box-shadow: 9984px 0 0 -5px;
	  }
	}

	@-webkit-keyframes dot-pulse {
	  0% {
		box-shadow: 9999px 0 0 -5px;
	  }
	  30% {
		box-shadow: 9999px 0 0 2px;
	  }
	  60%,
	  100% {
		box-shadow: 9999px 0 0 -5px;
	  }
	}

	@keyframes dot-pulse {
	  0% {
		box-shadow: 9999px 0 0 -5px;
	  }
	  30% {
		box-shadow: 9999px 0 0 2px;
	  }
	  60%,
	  100% {
		box-shadow: 9999px 0 0 -5px;
	  }
	}

	@-webkit-keyframes dot-pulse-after {
	  0% {
		box-shadow: 10014px 0 0 -5px;
	  }
	  30% {
		box-shadow: 10014px 0 0 2px;
	  }
	  60%,
	  100% {
		box-shadow: 10014px 0 0 -5px;
	  }
	}

	@keyframes dot-pulse-after {
	  0% {
		box-shadow: 10014px 0 0 -5px;
	  }
	  30% {
		box-shadow: 10014px 0 0 2px;
	  }
	  60%,
	  100% {
		box-shadow: 10014px 0 0 -5px;
	  }
	}
}
