.cart-table {
	tr {
		&:last-child {
			td {
				border-bottom: 0 none;
			}
        }
        &.no-border {
            border-bottom: 0 none;
            padding-bottom: 0;
            td {
                border-bottom: 0 none;
                padding-bottom: 0;
            }
        }
        &.cart-row-availability {
            padding-top: 0;
            td {
                padding-top: 10px;
                .product-availability {
	                margin-top: 9px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                   @media (max-width: @mobile-max) {
	               margin-top:-5px;
                    }
                    .not-available-msg {
                        color: @red;
                    }
                    .inform-me-when-available {
						display: flex;
						margin-left: 20px;
						max-width: none;                        
						.field {
							margin-right: 10px;
							min-width: 240px;
							min-height: auto;
						}
						.button {
							text-transform: none;
							min-width: 180px;
							width: auto;
							white-space: nowrap;
						}
						 .message-inner {
							 .message-content {
    							padding: 0px 12px;
							}
						}
					}
                }
            }
        }
	}
	th {
		&:first-child {
			padding-left: 0;
		}
	}
	td {
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		&.item-image {
			width: 50px;
			height: 60px;
			a {
				display: block;
			}
			img {
				display: block;
				border: 1px solid @grey-light;
				border-radius: 3px;
				width: 50px;
				height: auto;
			}
			.warranty-icon-image{
				width: 40px;
				border: unset;
				margin-right: auto;
				margin-left: auto;
			}
			.warranty-shield-icon{
				margin-left: 10%;
				@media (max-width: @mobile-max) {
					margin-left: -3rem;
				}
			}
			.warranty-shield-icon-noCart{
				margin-left: -3rem!important;
			}
		}
		&.item-details {
			.product-list-item {
                .clearfix();
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
				.name {
					width: 100%;
					color: @purple-dark;
                    line-height: 20px;					
					a {
						color: @purple-dark;
					}
				}
				.warrantyID{
					.id{
						font-weight: 900;
					}
					.expired{
						color: @white;
						background: @red;
						border-radius: 5px;
						padding: 2px 8px 2px 8px;
						font-weight: 900;
					}
					.expired-msg{
						color: @red;
						line-height: 16px;
						font-weight: 600;
					}
					a{
						font-weight: 900;
						text-decoration: underline;
						color: @cobalt-blue;
					}
				}
				.nonTabView-warrantyProdMsg{
					display: unset;
					@media screen and (min-width: 426px) and (max-width: 769px ) {
						display: none;
					}
				}
				.warranty-product-name{
					cursor: pointer;
					max-width: 30rem;
					&:after{
						font-size: 25px;
						content: '\f105';
						font-family: FontAwesome;
						font-weight: 500;
						padding-left: 10px;
						color: #2c163d;
						vertical-align: middle;
					}
				}
				.expected{
				    margin-top: 5px;
                   	// margin-right: 20px;
					font-size: 14px;
					color: #006eb8;
					position: relative;
    				left: -1px;				
				}
				.visibility-hidden{
					visibility: hidden;
				}
				@media screen and (min-width: 768px) and (max-width: 960px ) {
					.expected{
	 					white-space: nowrap;
	 					color: #006eb8;
	 					position: relative;
	 					top: 5px;
	 					left: -1px;
					}
				}				
				@media screen and (min-width: 321px) and (max-width: 767px ){
 					.expected{
	                    white-space: nowrap;
	                    color: #006eb8; 
	                    position: relative;
					    top: 5px;
					    left: -1px;                   
                    }
 				}
				@media screen and (max-width: 320px){
					.expected{
	                    white-space: nowrap;
	                    color: #006eb8; 
	                    position: relative;
					    top: 5px;
					    left: -1px;
					    font-size: 12px;
					    font-weight: 500;                   
                    }
				}
				@media screen and (max-width: 280px){
					.expected{
	                    white-space: nowrap;
	                    color: #006eb8; 
	                    position: relative;
					    top: 5px;
					    left: -1px;
					    font-size: 11px;				                     
                    }
				}
 				.productNumber{
 					.tabView-warrantyProdMsg{
						display: none;
						@media screen and (min-width: 426px) and (max-width: 769px) {
							display: unset;
						}
					}
 				}
				.sku, .attribute, .source, .productNumber{
                    display: block;
                    margin-top: 5px;
                    margin-right: 20px;
                    &:empty{
						margin-right: unset!important;
					}
                    .engravingDetails{
                    	padding: 0.5em 0px;
                    	width: calc(100% + 1rem);
                    	@media (max-width: 1022px) {
							width: calc(100% + 5rem);
						}
                    	
                    	span.item-edit-details, span.item-remove-details{
                    		margin-left: 10px;
                    	}
                    	
                    	.fa-times-circle{
                    		font-size: 15px;
							font-weight: 600;
							cursor: pointer;
                    	}
                    	
                    	.comma:before {
							content: ', ';
						}
						.comma:empty:before,
						.comma:first-of-type:before,
						.comma:first-of-type+.comma:empty:before,
						.comma:empty+.comma:not(:last-of-type):before,
						.comma:empty+.comma:empty:before {
							content: '';
						}
                    }
				}
				.sku > .engravingDetails:not(:last-child) {
					border-bottom : solid 1px @grey-light;
				}
				.attributes {
					margin-top: 0;
					float: none;
                }
				.trackingInfo {
					font-weight: 600;

				}
				.tjcplussubheading{
					line-height: normal;
					img{
						width: 47px;
					    height: auto;
					    margin-bottom: -4px;
					}				    
				}
			}
			.attribute{
				.cart-add-warranty{
					background-color: @green;
					border-color: @green;
					color: @white;
				    padding: 5px 10px;
					border-radius: 3px;
					margin-right: 3px;
					text-decoration: none;
				}
				.explore-warranty{
					color: @cobalt-blue-dark;
				    padding: 5px 0;
					border-radius: 3px;
					text-decoration: none;
					display: block;
					.info-icon{
					    border: 1px solid @cobalt-blue;
					    border-radius: 50%;
					    padding: 0;
					    width: 20px;
					    height: 20px;
					    background-color: @cobalt-blue;
					    text-transform: lowercase;
					    display: inline-flex;
						&:after{
							line-height: 20px;
						    font-size: 15px;
						    content: 'i';
						    font-family: FontAwesome;
						    font-weight: 900;
						    padding-left: 0.5rem;
						    color: white;
						    vertical-align: super;
						}
					}
				}
				.tjcplussubheading{
					line-height: normal;
					padding-top: 5px;
					img{
						width: 47px;
					    height: auto;
					    margin-bottom: -4px;
					}
				}
			}

			.sku,
			.attribute,
			.price,
			.option-date-added {
				text-transform: capitalize;
				margin-top: 5px;
				&:empty{
					margin-right: unset!important;
				}
				.label {
					display: inline-block;
					color: @purple-dark;
				}
				.value {
					display: inline-block;
					color:@purple-dark;
					font-weight: 600;
				}
				.item-edit-details {
					color: @blue;
					text-transform: uppercase;
					font-weight: 600;
					a {
						color: @blue;
					}
				}
			}
			.sku .engravingDetails > div {
			    text-transform: none;
			}
			.price {
				.price {
					margin: 0;
				}
			}
			.availability-msg {
				margin-top: 5px;
			}
			.cart-coupon {
				.coupon-name {
					.value {
						font-weight: 600;
					}
				}
				.coupon-discount {
					text-transform: none;
					color: @purple-dark;
					margin-top: 5px;
				}
			}
		}
		&.item-price {
			.price {
				white-space: nowrap;
				font-weight: 600;
				.price-sales.strike{
				    text-decoration: line-through;
				    margin-right: 10px;
				}
			}
		}
		&.item-quantity {
			width: 110px;
			.quantity-value {
				.product-exceed-qty-msg{
			      	display:none
			      }
				.quantity-input-container {
					margin-top: -8px;
                    display: flex;
                    align-items: center;
                    position: relative;
					.button {
						float: left;
					}
					.field{
						min-height:auto;
						.error-msg{
							 position: absolute;
                             right: -28px;
                          @media (max-width: @mobile-max) {
                            bottom: -22px;
                            right:0;
                            font-size: 11px;
                            white-space: nowrap;
				            }
						 }
					.input-text{
						
						width: 68px;
						&:readonly{
							padding-top: 19px;
						}
					 }
				     .new-label{
					   min-width: auto;
		               @media (max-width: @mobile-max) {
			           text-align:left;
			           }
				      }
					}
					
					.message.error-form{
					    white-space: nowrap;
					    position: absolute;
					    bottom: -56px;
                        right: 0;
					    background-color: transparent;
					    color: @red;
					    font-size: 12px;
						pointer-events: none;
			       	@media (max-width: @mobile-max) {
                        bottom: -82px;
                        font-size: 11px;
				      }
					}
				}
			}
		}
		&.item-total {
			.price {
				font-weight: 600;
			}
			.promo {
				color: @red;
				padding-top: 5px;
                line-height: 18px;
				clear:left;
			@media (max-width: @mobile-max) {
				 padding-top: 17px;
				}
			}
			.coupon-applied,
			.coupon-not-applied {
				position: relative;
				padding-left: 22px;
				text-transform: none;
				&:before {
					.fonticon(18px, 18px);
					position: absolute;
					z-index: 1;
					left: 0;
					top: -2px;
				}
			}
			.coupon-applied {
				&:before {
					color: @green;
					content: "\f00c";
				}
			}
			.coupon-not-applied {
				&:before {
					color: @red;
					content: "\f00d";
				}
			}
			.budgetpay {
				width: 75px;
				height: auto;
				margin-top: 10px;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		&.item-remove {
			padding-top: 10px;
			width: 1px;
			.button-icon {
				width: 30px;
				/* color: @grey-dark !important; */
			}
		}
		&.item-promo {
			.promo-container {
				.border-radius-default();
				background: @green;
				color: @white;
				padding: ((@input-height - @line-height-default) / 2) 20px;
				.label {
					float:left;
					width: auto;
				}
				.value {
					float:right;
					width: auto;
				}
			}
		}
		&.bonus-item-details {
			.bonus-item-promo-name,
			.bonus-item-promo-callout {
				font-weight: 600;
			}
		}
		&.bonus-item-actions {
			a {
				font-weight: 600;
				text-decoration: underline;
			}
		}
	}
}
.cart-update-container {
	padding: 0 0 30px 0;
	text-align: right;
	button {
		width: 300px;
	}
}
.cart-coupon-container {
	padding: 20px 0;
	border-top: 1px solid @grey-dark;
	.cart-continue {
		display: block;
		float: left;
		width: auto;
		padding: ((@input-height - @line-height-default) / 2) 0;
		button {
			text-transform: none;
			font-size: 14px;
		}
	}
	.cart-coupon-code {
		float: right;
		width: auto;
		label {
			float: left;
			width: auto;
			margin-right: 10px;
		}
		.field {
			float: left;
			width: 210px;
			margin-right: 10px;
		}
		.button-coupon {
			float: left;
			width: 80px;
			min-width: 160px;
		}
	}
}

.cart-footer {
	.cart-footer-left {
		float: left;
		width: calc(100% - 340px);
		.cart-budgetpay-container {
			margin-bottom: 30px;
			background: @grey-lighter;
			padding: 10px 20px 10px 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.budgetpay-logo {
				margin-right:15px;
				img {
					display: block;
					width: 180px;
					height: auto;
				}
			}
			.budgetpay-message {
				text-align: right;
				span {
					display: block;
					font-size: 14px;
					line-height: 18px;
					&:first-child {
						margin-bottom: 10px;
					}
				}
				.budgetpay-tac {
					font-size: 11px;
				}
				.budgetpay-login-hint {
					font-size: 11px;
					margin-top: 10px;
					color: @red;
				}
			}
		}
	}
	.cart-footer-right {
		float: right;
		width: 300px;
		border: 1px solid @grey-dark;
		.free-delivery-hint {
			text-align: center;
			margin-bottom: 10px;
		}
		.budgetpay-error {
			display: block;
			margin-bottom: 15px;
			padding: 15px;
		}
		.cart-order-totals {
            .order-subtotal {
                font-size: 16px;
                font-weight: 600;
            }
			padding: 15px;
			border-radius: 3px;
			.shipping-method-selection {
				label {
					display: none;
				}
				.field {
					margin-left: 0;
					.selector {
                        span, select {
                            height: (@input-height - 1);
                            line-height: (@input-height - 1);
                            text-transform: none;
                        }
                        .caret {
                            background: @purple;
                            height: 39px;
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 25px !important;
                            padding: 0;
                            pointer-events: none;
                            > i {
                                font-size: 14pt;
                                margin-left: -10px;
                                color: @white;
                            }
                        }
                        > select {
                            &:focus, &:active {
                                &+ span.caret {
                                    background: @purple-dark;
                                    > i {
                                        color: @white;
                                    }
                                }
                            }
                        }
                    }
				}
				.shipping-method-message {
					background: @grey-lighter;
					border-radius: 3px;
					padding: 10px;
					text-align: left;
					font-size: 14px;
                    font-weight: 400;
					line-height: 20px;
					margin: 20px 0 0 0;
					&.max-pnp-reached-msg {
						margin-bottom: 10px;
					}
				}
			}			
			.cart-checkout {
				margin-top: 20px;
				@media screen and (max-width: @mobile-max) {				
				&.sticky-cart-checkout{
				position: fixed;
                bottom: -19px;
                width: 100%;
                left: 0;
                background-color:@white;
                padding: 15px 0;
                z-index: 100;
                transform: translate(0px, -18px);
                transition: 0.3s;
			  
			  .button{
			    width: auto;
			    max-width: 320px;
			    display: block;
			    margin: 0 auto;
			    font-size: 12px;
			   }
			  }
			 }
			  
			}
		}
	}
}
.cart-section {
	margin: 20px 0;
	&:last-child {
		margin-bottom: 0;
	}
}
.bonus-item-promo {
	margin: 0 0 20px;
	.bonus-item-promo-name,
	.bonus-item-promo-callout {
		font-weight: 600;
	}
	a {
		font-weight: 600;
		text-decoration: underline;
	}
}
.bonus-product-dialog {
	padding: 20px;
	margin-bottom: 20px;
	background: @grey-lighter;
	border: 1px solid @grey-lighter;
	.product-col-1 {
		width: 17%;
		float: left;
	}
	.product-col-2 {
		width: 80%;
		float: right;
		.product-name {
			font-size: 16px;
			line-height: 20px;
			margin: 0 0 10px 0;
			text-transform: none;
		}
		.product-number {
			padding: 0 0 10px;
			span {
				font-weight: 600;
			}
		}
		.product-add-to-cart {
			.inventory {
				float: left;
				margin-bottom: 5px;
				.quantity {
					label {
						float: left;
						line-height: 30px;
						padding: 0;
						margin: 0 5px 0 0;
					}
					input {
						float: left;
						width: 30px;
						padding-right: 9px;
						margin-right: 20px;
					}
				}
			}
			.quantity-error {
				color: @red;
				padding: 7px 0;
			}
		}
	}
	.bonus-product-list-footer {
		.selected-bonus-items {
			padding: 0 0 20px 0;
			i.remove-link {
				float: left;
				width: 30px;
			}
			.item-attributes {
				padding-left: 30px;
			}
		}
	}
}
.cart {
	.mm-wrapper-link {
        margin: 0 0 20px 0;
		text-align: right;
		& a {color:@blue;}
	}
}

.cart-empty p {
	font-size:18px;
	font-weight: 600;
}

@media (max-width: @mobile-max) {
	.cart-table {
        .mobile-cart-table();
        tr {
            &.cart-row-availability {
                td {
                    padding: 0;
                    .product-availability {
                        justify-content: center;
                        flex-direction: column;
                        align-items: start;
                        .not-available-msg {
                            margin-bottom: 10px;
                        }
                        .inform-me-when-available {
                            margin-left: 0;
                            flex-direction: column;
                            width: 100%;
                            .field {
                                margin-right: 0;
                                margin-bottom: 10px;
                                width: 100%;
                            }
                            .button {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
	}
	.cart-update-container {
		button {
			width: 100%;
		}
	}
	.cart-coupon-container {
		padding: 20px 0;
		.cart-coupon-code {
			float: none;
			label {
				float: none;
				margin-right: 0;
				padding-top: 0;
			}
			.field {
				float: left;
				width: 49%;
				margin-right: 0;
			}
			.button-coupon {
				float: right;
				width: 48%;
				min-width: 121px;
			}
		}
	}
	.cart-footer {
        display: flex;
        flex-direction: column;
		.cart-footer-left {
			float: none;
			width: auto;
            order: 2;
			.cart-budgetpay-container {
				flex-direction: column;
				align-items: left;
				.budgetpay-logo {
					margin-bottom: 15px;
				}
				.budgetpay-message {
					text-align: left;
				}
			}
		}
		.cart-footer-right {
            order: 1;
			float: none;
			width: auto;
			max-width: none;
			margin-top: 0;
            margin-bottom: 45px;
			.cart-order-totals {
                padding: 10px;
			}
		}
	}
}

@media (max-width: @mobile-max) {
	.cart {
        .mm-wrapper-link {
		    text-align: left;
	    }
        
		.cart-table {
			.cart-row {
				position: relative;
				display: flex;
				flex-direction: column;
				padding: 20px 0;

				.item-image {
					position: absolute;
					right: 0;
					display: flex;
					padding: 0;
					max-height: 60px;
					img {
						display: block;
						width: auto;
						height: 100%;
						max-height: 50px;
					}
					.warranty-icon-image{
						width: 40px;
						border: unset;
						margin-right: auto;
						margin-left: auto;
					}
					.warranty-shield-icon{
						margin-left: 10%;
						@media (max-width: @mobile-max) {
							margin-left: -3rem;
						}
					}
					.warranty-shield-icon-noCart{
						margin-left: -3rem!important;
					}
				}

				.item-details {
					display: flex;
					flex-direction: column;
					.product-list-item {
						display: flex;
						flex-direction: row;
                        margin-bottom: 5px;
						.name {
							padding-bottom: 20px;
                            line-height: 20px;
							box-sizing: border-box;
							margin: 0;
							a {
								color: @black;
							}
						}
						.warrantyID{
							.id{
								font-weight: 900;
							}
							.expired{
								color: @white;
								background: @red;
								border-radius: 5px;
								padding: 2px 8px 2px 8px;
								font-weight: 900;
							}
							.expired-msg{
								color: @red;
								line-height: 16px;
								font-weight: 600;
							}
							a{
								font-weight: 900;
								text-decoration: underline;
								color: @cobalt-blue;
							}
						}
						.warranty-product-name{
							cursor: pointer;
							width: 15rem;
							&:after{
								font-size: 25px;
								content: '\f105';
								font-family: FontAwesome;
								font-weight: 500;
								padding-left: 10px;
								color: #2c163d;
								vertical-align: middle;
							}
						}
					}
				}
				.item-price {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 100%;
					min-height: initial;
					padding-bottom: 5px;
					.mobile-label {
						width: 50%;
						text-align: left;
					}
					.price {
						width: 50%;
						text-align: right;
					}
				}

				.item-quantity {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					padding-bottom: 15px;
					align-items: center;
					.mobile-label {
						width: 75%;
					}
					.quantity-value {
						display: flex;
						width: 33%;
						min-width: 100px;
						flex-direction: row;
						justify-content: flex-end;
						.quantity-input-container  {
							display: flex;
							width: 100%;
							flex-direction: row-reverse;
							margin: 0;
							justify-content: flex-start;
							.input-text {
								display:  flex;
								font-weight: 600;
							}
							.button {
								width: 30px !important;
								height: 30px;
								padding: 0;
								margin-right: 15px;
							}
						}
					}
				}

				.item-pnp {
					display: flex;
					padding-bottom: 5px;
					.mobile-label {
						width: 50%;
					}
					.item-pnp-value {
						width: 50%;
						text-align: right;
						font-weight: 600;
					}
				}

				.item-total {
					.mobile-label {
						display: flex;
                        width: 50%;
                        order: 1;
                        padding-bottom: 5px;
					}
					.price {
						display: flex;
						width: 50%;
                        text-align: right;
                        order: 2;
                    }
                    .budgetpay {
                        order: 3;
                        float:right;
                    }
                    .promo {
                        margin-left: auto;
                        order: 4;
                    }
				}

				.item-remove {
					position: absolute;
					display: flex;
					top: 85px;
					height: 20px;
					width: 20px;
					.button {
						margin: 0;
						padding: 0;
					}
				}

			}
		}
	}
}

.cart-checkout .xlt-continueCheckout{	
	    line-height: 14px;
        margin-top: 6px;
}

.cart-footer-right{
	.form-row-radio{
		margin-top: 0px!important;
       margin-bottom: 5px!important;
	}
}


.warranty-row , .warranty-added-row .product-list-item{
	    border: 2px solid @grey-light;
        padding: 10px;
        background-color: @grey-lighter;



.name{	
@media (max-width: @mobile-max) {
	padding-bottom: 0!important;
	}
  }
	.source.visibility-hidden, .value.visibility-hidden{
		display: none;
		height: 0;
	}
	
}

.type-address-btn-new{
	margin-top: -12px!important;
	margin-bottom: 12px!important;
	a{
		cursor: pointer;
		color: @cobalt-blue;
		font-weight: 600;
		text-transform: capitalize;
		text-decoration: none;
		font-size:14px;
		&:after{
        padding-left: 1px;
        font: normal normal normal 16px/1 FontAwesome;
		
	  }
		
	}
}

.opcAddressListModelPopup {
	.type-address-btn .field .button{
		width:auto;
		text-transform: capitalize!important;
		&:after{
			 padding-left: 1px!important;

		}
	}
	
.editOPCaddress {
	
.post-code-field .form-row-with-button{
	    margin: 0!important;
   }
.addresses-select-group .type-address-btn .showmore{
	    position: relative;
        width: 176px;
        text-align: left;
        text-transform: capitalize;
        font-size: 0;
        margin: 0;
        line-height: normal;
	    height: auto;
	    padding: 0;
	&:before{
         content: 'Enter Address Manually';
         font-size: 14px;
         left: 0;
		
	  }
    &:after{
        padding-left: 48px;
        font: normal normal normal 16px/1 FontAwesome;
        position: absolute;
        right: 0;
		
	  }
    }
  }
}

.post-code-field.full-width-postcode .field{
  width:100%!important;	
  max-width: 100%!important;
  margin-right: 0!important;
}

.form-row.form-row-button.enable-find-my-address{
		margin-top: -30px!important;
        margin-bottom: 12px!important;
	a{

    cursor: pointer;
    color: @cobalt-blue;
    font-weight: 600;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
 }
}


.guestusershipping  .type-address-btn-new{
	    margin-bottom: 8px!important;
        top: -7px;
}
.createOPCaddress .postcodeerrorshipping3{
	    margin-bottom: 7px;
}
.unproceed{
	opacity: 0.5;
	pointer-events: none;
}
.producterror{
    color: #C20000;
    margin-top: 15px;
}