.checkout-guest-details-form {
	.checkout-guest-details-contact {
		margin-bottom: 30px;
	}
}

#gtm_id {
	display: none;
}

.checkout-addresses-form {
	.checkout-billing-address,
	.checkout-shipping-address {
		.field {
			label {
				text-transform: uppercase;
				word-break: break-word;
			}
			input ~ label{
				text-transform: capitalize;
			}
		}
	}
	.alternative-address-fields.visually-hidden {
		.addresses-select {
			display: none !important;
		}
	}
}

.checkout-summary {
	.checkout-summary-left {
		width: 47.8%;
		float: left;
		.tjc-credit-details {
			display: none;
			max-width: 400px;
			margin-bottom: 15px;
			.credit-inner {
				position: relative;
				display: inline-block;
				margin-left: 5px;
				width: 100%;
				.label {
					display: inline-flex;					
				}
				.input-text {
					margin-top: -2px;					
				}
				.credit-apply-button {
					margin-top: 10px;
				}
			}
		}
		.payment-methods {
			margin: 0 0 5px 0;
			fieldset {
				.cvv-input {
					margin-top: 10px;

				}
				.checkbox-input-wrapper {
					display: flex;
					flex-direction: row;
					align-items: center;
					margin-bottom: 15px;
					label {
						margin-left: 15px;
						padding-bottom: 0px !important;
					}
				}
				.payment-methods-headline {
					font-size: 18px;
					font-weight: 600;
					margin-bottom: 25px;
					margin-top: 7px;
				}
				.payment-methods-warning {
					width: 100%;
					height: auto;
					background-color: @yellow;
					border-radius: 3px;
					display: none;
					margin-bottom: 25px;
					.payment-methods-warning-inner {
						color: @white;
						padding: 10px;
						font-size: 14px;
					}
				}

				.payment-method-wrapper {
					display: flex;
					flex-direction: column;

					.payment-method {

						&.netbanx {
							order: 1;
						}
						&.paysafe {
							order: 1;
						}
						&.budgetpay {
							order: 3;
						}
						&.paypal {
							order: 5;
						}
						&.paypal-credit {
							order: 6;
						}

					}

					.paysafe-card-details {

						&.Paysafe {
							order: 2
						}
						&.BudgetPay {
							order: 4
						}

					}
					
					.tjcplus-savecard {
						font-weight: bold;
					    color: @cobalt-blue;
					    margin-top: 15px;
					    @media (min-width: @tablet-min) {
					    	width: 50%;
					    }
					}
				}
				.payment-method {
					margin-top: 0;
					margin-bottom: 25px;
					label {
						overflow: hidden;
						img {
							height: 100%;
							width: auto;
							float: left;
						}
						> span {
							color: @purple-dark;
							font-size: 12px;
							margin-left: 10px;
							line-height: 24px;
							.content-asset {
								display: inline-block;
							}
						}
					}
				}
				.paysafe-card-details {
					display: none;
					width: 100%;
					/* padding: 0 0 40px 20px; */
                    padding:0 0 40px;
					@media (max-width: @mobile-max) {
						margin: 0 auto;
						padding-left: 0;
					}

					.credit-card-box {
						margin-left: 35px;
						border: 1px solid @grey-lighter;
						border-radius: 3px;
						padding: 20px;
						max-width: 400px;
						width: 100%;

						.input-wrapper {
							display: none;
						}

						@media (max-width: @mobile-max) {
							margin: 0 auto;
							max-width: 260px;
						}

						.form-group {
							width: 100%;

							label {
								display: block;								
								font-weight: 400;
								/* padding-bottom: 10px */
							}

							.card-input {

								iframe {
									padding-left: 10px;
								}
							}

							.error {
								border: 2px solid @red!important;
								outline: 0;
								
							}

							.success {
								border: 2px solid @green!important;
								outline: 0;
								
							}
							
							.card-number, .input-group-addon {
								float: left;
								border: 1px solid @grey-lighter;
							}
							
							.card-number {
								width: calc(85% - 3px);
								border-right: 0;
								border-top-right-radius: 0;
								border-bottom-right-radius: 0;
							}

							.expiration-date {
								width: 100%;
							}

							.cvv-code {
								width: 100%;
								margin-bottom: 15px; 
							}

							.input-group-addon {
								height: 48%;
								width: 15%;
								border-top-right-radius: 3px;
								border-bottom-right-radius: 3px;
								background-color: @grey-lighter;
								text-align: center;

								i {
									font-size: 20px;
									padding: 12px 0;
									color: @blue;
								}
							}
						}

						.pay-now {
							width: 100%;
							font-size: 14px;
							border-radius: 3px;
							border: 1px solid @grey-lighter;
							height: auto;
						}
					}

				}
				.paynow {
					min-width: 240px;
					&.disabled {
						pointer-events: none;
						opacity: 0.5;
					}
				}
			}
			.payment-method-description {
				display: none;
				background-color: @grey-lighter;
				margin-bottom: 25px;
				padding: 10px;
			}
		}
	}
	.checkout-summary-right {
		width: 47.8%;
		float: right;
		.checkout-summary-products {
			margin-bottom: 25px;
			.checkout-summary-products-title {
				.highlightbox();
				font-weight: 600;
				padding-top: ((@input-height - @line-height-default) / 2)!important;
				padding-bottom: ((@input-height - @line-height-default) / 2)!important;
				text-transform: none;
				position: relative;
				&:before {
					.fonticon();
					content: "\f068";
					position: absolute;
					z-index: 1;
					width: auto;
					right: @page-padding-desktop;
					top: ((@input-height - @line-height-default) / 2);
				}
				&.collapsed {
					&:before {
						content: "\f067";
					}
				}
				&.expanded {
					&:before {
						content: "\f068";
					}
				}
			}
			.cart-table {
				.order-totals-budgetpay {
					display: none; 
				}
				.mobile-cart-table();
				.mobile-label {
					display: block!important;
				}
				thead {
					display: none;
				}
				tr {
					padding-bottom: 0;
					&:last-child {
						.item-total {
							padding-bottom: 0;
						}
					}
				}
				td {
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						padding-right: 0;
					}
					&.item-price {
                        padding-bottom: 5px;
                        .price {
                            line-height: 24px;
                        }
					}
					&.item-quantity {
                        padding-bottom: 5px;
						.quantity-value {
                            font-weight: 600;
                            line-height: 24px;
						}
                    }
                    &.item-pnp {
                        padding-bottom: 5px;
                        .item-pnp-value {
                            float: right;
                            width: auto;
                            line-height: 24px;
                            font-weight: 600;
                        }
                    }
					&.item-total {
						padding-bottom: 20px;
						.promo {
                            padding-top: 8px;
                            text-align: right;
						}
						.budgetpay {
							display: none;
                        }
                        .price {
                            display: flex;
                            line-height: 24px;
                        }
					}
				}
				.order-totals-table {
					.order-totals-budgetpay {
						display: none; 
						tr {
							border: none;
    						padding: 0px;
						}
					}
				}
			}
		}
		.place-order-totals {
			.highlightbox();
			margin-bottom: 30px;
		}
		.order-component-block {
			.highlightbox();
			margin-bottom: 30px;
			.section-header {
				font-size: 18px;
                line-height: 28px;
				font-weight: 600;
                margin: 0 0 10px 0;
				position: relative;
				padding-right: 40px;
				.section-header-note {
					position: absolute;
					z-index: 1;
					width: auto;
					top: 0;
					right: 0;
					font-size: @font-size-default;
					color: @blue;
					font-weight: 600;
					text-transform: uppercase;
				}
			}
			.details {
				color: @purple-dark;
				text-transform: uppercase;
				.minishipments-method {
					text-transform: none;
				}
			}
		}
	}
}

.order-confirmation {
	.order-confirmation-continue-top,
	.order-confirmation-continue,
	.order-summary-table,
	.order-products-table,
	.order-giftcert-table,
	.login-create-account {
		margin: 0 0 40px 0;
	}
	.page-title {
		text-transform: capitalize;
	}
	.one-for-one {
		& img {
			width: 110px;
			height: 57px;
			display: inline-block;
		}
		&-logo {
			display: inline-block;
		}
		&-text {
			display: inline-block;
			.free-meal {
				color: @purple-dark;
				font-size:14px;
				font-weight:400;
				line-height:20px;
			}
		}
		.learn-more {
			font-size: 13px;
			.link {
				text-decoration: underline;
			}
			&.mobile-hidden {
				display: inline-block;
			}
			&.mobile-only {
				display: none;
			}
		}
	}
	.free-delivery-wrapper {
		display: inline-block;
		/* margin-right: 30px; */
		p {
			margin-bottom:40px;
			color: @white;
			font-size:14px;
			font-weight:400;
			line-height:24px;
			background-color: @blue;
			border-radius:3px;
			padding:3px 13px;
		}
	}
	.order-confirmation-continue {
		display: inline-block;
	}
}

.order-confirmation-recommendations {
	margin: 40px 0;
	margin-bottom: 0;
	.section-title {
		margin-top: 60px;
		margin-bottom: 25px;
	}
}

.order-totals-table {
	thead {
		display: none;
	}
	tbody {
		&.order-totals-budgetpay {
			display: none;
			tr {
				&.order-budgetpay {
					td {
						width: 100%;
						text-align: left;
						padding-top: 15px;
						img {
							width: 80px;
							height: auto;
							background-color: @grey-lighter;
							padding-right: 10px;
						}
					}
				}
				&.order-installment-hint {
					td {
						width: 100%;
						text-align: left;
						color: @purple-dark !important;
						font-size: 10px;
					}
				}
			}
		}
	}
	tr {
		td {
			padding: 5px 0 0 0!important;
			text-align: left;
			&:last-child {
				padding-right: 0;
				text-align: right;
                font-weight: 600;
			}
		}
		&:first-child {
			td {
				padding-top: 0;
			}
		}
		&:last-child {
			td {
				padding-bottom: 0;
			}
		}
		&.shipping-method-selection {
			label, .label {
				text-align: left;
				float: left;
				width: 30%;
			}
			.field {
				margin-left: 33%;
			}
		}
		&.order-total {
			td {
				font-size: 20px;
				font-weight: 600;
			}
		}
	}
}

.order-summary-table {
	td {
		padding-top: 10px;
		padding-bottom: 10px;
		border: 0 none;
	}
	.order-section-headline {
		text-transform: none;
        font-size: 18px;
		font-weight: 600;
	}
	.order-information {
		.label {
			color: @purple-dark;
		}
		.value {
			font-weight: 600;
			white-space: nowrap;
		}
		.order-links {
			text-transform: none;
			margin-top: 1em;
			font-weight: 600;
			a {
				display: inline-block;
				text-decoration: underline;
				margin-top: 5px;
				&:hover {
					text-decoration: none;
				}
				&.link-certificate {
					margin-top: 0;
				}
			}
		}
		.order-note {
			margin-top: 1em;
			color: @purple-dark;
			strong {
				color: @font-color-default;
			}
		}
		.call {
			margin-top: 20px;
		}
	}
	.order-shipping {
		.order-shipment-address {
			color: @purple-dark;
			text-transform: uppercase;
			.phone {
				display: none;
			}
		}
		.shipping-method {
			margin-top: 1em;
			font-weight: 600;
		}
		.shipping-hint {
			color: @purple-dark;
		}
	}
	.order-payment-summary {
		.order-totals-table {
			thead {
				display: none;
			}
			tr {
				td {
					padding: 0 0 4px 0;
					border: 0 none;
					&:last-child {
						padding-left: 10px;
						white-space: nowrap;
						text-align: right;
                        font-weight: 600;
					}
				}
				&.order-budgetpay {
					td {
						width: 100%;
						text-align: left;
                        border-top: 1px solid @grey-dark;
						padding: 7px 0 4px 0;
						img {
							background-color: @white;
						}
					}
				}
				&.order-installment-hint {
					display: none;
				}
			}
		}
	}
}
.order-confirmation-details .order-summary-table .order-information {
	.order-links,
	.order-note {
		display: none;
	}
}

.order-products-table {
	.mobile-label {
		text-transform: none;
		padding-bottom: 5px;
	}
	.order-section-headline {
		padding: 0;
		border: 0 none;
		td {
			border: 0 none;
			padding: 10px;
			text-transform: none;
			font-weight: 600;
			background: @grey-lighter;
		}
	}
	th,
	td {
		&:first-child {
			padding-left: 10px;
		}
		&:last-child {
			padding-right: 10px;
		}
		&.item-total {
			text-align: right;
		}
	}
	td {
		&.item-quantity {
			width: auto;
		}
	}
}
.checkout-summary .checkout-summary-right .checkout-summary-products {
.cart-table {
	.order-totals-budgetpay {
		tbody {
			display: table-row-group;
		}
		tr {
			display: table-row;
		} 
		td {
			display: table-cell;
		}
	}
}
}
.budgetpay-not-available {
	background-color: @blue !important;
	text-transform: none;
	padding: 15px !important;
	border-radius: 4px;
}

@media (min-width: @tablet-min) and (max-width: @tablet-max) {
	.checkout-summary {
		.checkout-summary-left {
			margin-bottom: 22px;
			float: none;
			width: auto;
		}
		.checkout-summary-right {
			float: none;
			width: auto;
			.checkout-summary-products {
				float: left;
				width: 54.79%;
				margin-bottom: 0;
				.checkout-summary-products-title {
					&:before {
						right: @page-padding-tablet;
					}
				}
			}
			.checkout-summary-summary {
				float: right;
				width: 41.09%;
			}

		}
	}
	.checkout-login {
		.secondary-col {
			background: @grey-lighter;
			.login-guest-checkout {
				width: 47.5%;
				float: left;
			}
			.login-create-account {
				width: 47.5%;
				float: left;
				margin-right: 5%;
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: @mobile-max) {
	.checkout-summary {
		.checkout-summary-left {
			float: none;
			width: auto;
			.payment-methods {
				margin-bottom: 25px;
				fieldset {
                    .payment-methods-headline { 
                        font-size: 14px;
                    }
					.payment-method {
						width: 100%;
						label {
							> span {
								margin-left: 10px;
							}
						}
					} 
					.payment-method.tjccredit{
						label {
							> span {
								font-weight: 600;
								font-size: 20px;
							}
						}
					}
				}
			}
		}
		.checkout-summary-right {
			float: none;
			width: auto;
			.checkout-summary-products,
			.place-order-totals,
			.order-component-block {
				margin-bottom: 20px;
			}
			.checkout-summary-products {
				.checkout-summary-products-title {
					&:before {
						right: @page-padding-mobile;
					}
				}
			}
		}
	}
	.order-confirmation {
		.order-products-table,
		.order-giftcert-table,
		.login-create-account {
			margin-bottom: 20px;
		}
		.order-summary-table {
			margin-bottom: 0;
		}
		.page-subtitle,
		.order-confirmatiom-continue-top {
			margin-bottom: 25px;
		}
		.one-for-one {
			&-text {
				width: 50%;
			}
			.learn-more {
				font-size: 13px;
				.link {
					text-decoration: underline;
				}
				&.mobile-hidden {
					display: none;
				}
				&.mobile-only {
					display: inline-block;				
				}
			}
		}
		.free-delivery-wrapper {
			p {
				text-align: center;
			}
		}
	}
	.order-summary-table {
		display: block;
		thead {
			display: none;
		}
		tbody,
		tr,
		td {
			display: block;
		}
		td {
			padding: 0;
			.cell-inner {
				padding: 15px 0;
			}
			&:first-child {
				padding-left: 0 !important;
			}
			&:last-child {
				padding-right: 0 !important;
			}
		}
		.order-totals-table {
			display: table;
			tbody {
				display: table-row-group;
			}
			tr {
				display: table-row;
			}
			td {
				display: table-cell;
			}
		}
	}
}

#guestlink {
    font-weight: 600;
    font-size: 16px;
}
.goto-guestlink {
	cursor: pointer;
}

.checkout-guest-details-form fieldset button,
.checkout-addresses-form fieldset button {
	text-transform: none;
}
.order-totals-budgetpay {
	display: none; 
	td {
		&.budget-pay-container {
			width: 700px;
    		padding-top: 20px!important;
		}
	}
}
.order-confirmation {
	.order-totals-budgetpay	{
		&.today-you-pay-total {
			display: table-row!important;
		}
	}
}
.order-totals-budgetpay-heading {
	display: none;
}

.order-confirmation-continue.order-confirmation-continue-top{
	margin: 0;
}
.alternative-address-fields.alternative-address-fields-billing{
	.addresscharacterlength{
		display: none;
	}
	.additional-address-fields .field {
	    min-height: 76px;
	}
	.button-container.type-address-btn {
	    display: none;
	}
	.addresses-select-group .addresses-select .showmore{
		display: none;
		&:first-child {
			display: block!important;
		}
	}
}
.alternative-address-fields{
	.addresscharacterlength{
		display: none;
	}
	.additional-address-fields .field {
	    min-height: 76px;
	}
	.optinal-field.validation-success .field .input-text{
		padding-right: 70px;
	}
}
.additional-address-fields{
	.field {
		min-height: auto;
	}
	.addresscharacterlength {
		margin-bottom: 20px;
		max-width: 420px;
		text-align: right;
		color: @cobalt-blue;
		font-size: 12px;
	    padding-right: 5px;
        @media (max-width: @mobile-max) {
	      max-width: 100%;
	  }
    @media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {  
	  max-width: 100%;
     }

	}
	.addresscharacterlength.alert-danger {
		color: @red;
	}
	.error-msg{
		position: absolute;
	}
}
.type-own-address {
    max-width: 420px;
    margin-bottom: 15px;
    line-height: normal;
}

.paypal-details{
	.error-msg{
		display: none!important;
	}
	.message-content{
		margin-bottom: 10px;
		line-height: 18px;
		@media (max-width: 340px) {
			font-size: 13px;
		}
	}
	.checkout-pp{
		margin-top: 0;
		a{
			color: @cobalt-blue;
			font-weight: 900;
		}
		label{
			display: block!important;
			margin-left: 15px;
			@media (max-width: 340px) {
				font-size: 13px;
			}
		}
	}
}
