.cat-landing-menu {        
    .li-level-1 {
        margin-bottom: 15px;
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }
        .a-level-1 {
            text-transform: none;
            font-size: 18px;
            font-weight: 600;
            display: block;
            margin-top: 30px;
        }
        .ul-level-2 {
            .li-level-2 {
                border-bottom: 1px solid @grey-dark;
                &:first-child {
                    margin-top: 5px;
                }
                .a-level-2 {
                    display: block;
                    padding: 8px 0;
                }
            }
        }
    }
}

.folder-content-list {
    margin-bottom: 40px;    
    border-top: 1px solid @grey-dark;
    .folder-content-hit {
        padding: 20px 0;
        border-bottom: 1px solid @grey-dark;
        .folder-content-hit-headline {
            .h4();
            margin-bottom: 10px;
        }
    }
}

.content-section {
    margin: 40px 0;
}

@media (max-width: @mobile-max) {       
    .content-section {
        margin: 20px 0;
    }    
    .folder-content-list {
        margin-bottom: 15px;
    }
}