.GDPR {
	display: flex;
	.design-bottom-inner {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		align-items: flex-start;
		padding: @page-padding-mobile;
		@media (min-width: @tablet-min) and (max-width: @tablet-max) {
			padding: @page-padding-tablet;
			flex-direction: column;
			align-items: flex-start;
		}
		@media (min-width: @desktop-min) {
			padding: @page-padding-desktop;
			flex-direction: row;
			align-items: center;
		}
		.text {
			color: @white;
			margin: 0;
			a {
				color: @white;
				font-weight: 600;
				text-decoration: underline;
			}
		}
		.button {
			background-color: transparent;
			border-color: transparent;
			padding: 0;
			margin-top: 10px;
			text-align: left;
			@media (min-width: @desktop-min) {
				margin-top: 0;
				margin-left: @page-padding-desktop;
				text-align: right;
			}
			button.gdpr-accept {
				margin: auto;
				background-color: @green-light;
				border-color: @green-light;
				color: @white !important;
				font-size: 14px;
				line-height:14px;
				padding: 12px 0;
				white-space: pre;
				width: 140px;
					&:hover {
						background-color: @white;
						color: @green-light !important;
					}
			}
 		}
	}
	//
	//
	// Option A (TOP)
	&.design-top {
		&.scrolled {
			height: 0px;
			visibility: hidden;
			/* @media (max-width: @mobile-max) {
			    margin-top: 72px;
			} */
		}
		background-color: @black;
		display: none;
		align-items: center;
		flex-wrap: wrap;
		/* margin-top: 40px;
		margin-bottom: -40px;
		@media (min-width: @tablet-min) {
		    margin-top: 0;
		    margin-bottom: 0;
		} */
		.design-bottom-inner {
			.text {
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
	//
	//
	// Option B (BOTTOM)
	&.design-bottom {
		position: fixed;
		z-index: 999;
		width: 100%;
		bottom: 0;
		box-sizing: border-box;
		padding: @page-padding-mobile;
		@media (min-width: @tablet-min) and (max-width: @tablet-max) {
			padding: @page-padding-tablet;
		}
		@media (min-width: @desktop-min) {
			padding: @page-padding-desktop;
		}
		.design-bottom-inner {
			padding: 10px 20px;
			background-color: rgba(0, 0, 0, 0.8);
			border-radius: 4px;
			.text {
				width: 100%;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}