@media (min-width: @tablet-min) and (max-width: @tablet-max) {
    .pt_content {
        .primary-col:not(.full-width),
        .secondary-col {
            float: none;
            width: 100%;
            margin-bottom: 40px;
        }
    }    
}