.footer-wrapper {
    width: 100%;
    position:relative;
    z-index:0;
	background-color: @themePrimaryColor;
	color: @themeTextColor;
	a{
		color: @themeTextColor;
	}
	.footer-newsletter-wrapper {
		background-color: @themeSecondaryColor;
		
		.footer-newsletter-content{
			display: flex;
			flex-direction: column; 
			justify-content: space-between;
			align-items: center;
			max-width: 1028px;
			margin: 0 auto;
			
			@media (min-width: 1400px) {
				padding: 0 320px;
			}
			@media (max-width: 1400px) {
				padding: 0 90px;
			}
			@media (max-width: @tablet-min) {
				padding: 0 20px;
			}
			@media (min-width: @tablet-min) {
				flex-direction: row; 
				justify-content: space-between;
			}
		}
		.footer-newsletter-info {
			width: 100%;
			display: flex;
			align-items: center;
			@media (min-width: @tablet-min) {
				width: calc(50% - 10px);
				min-height: 40px;
			}
		}			
		.footer-newsletter-form {
			width: 100%;
			margin-bottom: 30px;
			height: 40px;
			@media (min-width: @tablet-min) {
				width: calc(50% - 10px);
				margin-bottom: 15px;
				margin-top: 0;
			}
			.newsletter-form {
				width: 100%;
				.footer-newsletter-submit {
					margin-bottom: 0px;
				}
			}
		}
		//
		//
		// OLD Newsletter Style
		.newsletter-form-container {
			display: table;
			width: 100%;
			.newsletter-form-row {
				/*display: table-row;*/
				display: flex;
				.newsletter-form-cell {
					/*display: table-cell;*/
					vertical-align: top;
					padding: 0;
					&.newsletter-form-cell-left {
						/*padding-right: 10px;*/
						position: relative;
						width: 100%;
						.field{
							button{
								position: absolute;
								right: 0;
								width: 90px;
								min-width: unset;
								height: 40px;
								line-height: 20px;
								margin: 5px 5px 5px 0;
								display: initial!important;
								background-color: @purple-medium;
								border: 1px solid @purple-medium;
							}
						}
					}
					&.newsletter-form-cell-right {
						display: none;
						width: 1px;
						button {
							white-space:nowrap;
							@media (max-width: @mobile-max) {
							     min-width: auto;
                                 width: 100%;
							}
						}
					}
				}
			}
			.field { 
				margin-left: auto;	
			} 
		}
		//
		//
		//
	}
	.footer {
		.page-inner-max-width();
		padding-top: @page-padding-mobile;
		padding-bottom: @page-padding-mobile;
		.field { 
			margin-left: auto;	
			.error-msg {
				position: absolute;
                left: -6px;
                bottom: -24px;
				padding: 3px 8px;
			}
		}
	}
}

.email-subscription-popUp{
	&.ui-dialog{
		left: 0 !important;
		margin: 0 auto !important;
		width: max-content !important;
		max-width: 600px!important;
		padding-left: 0!important;
		padding-top: 0!important;
		padding-bottom: 0!important;
		.ui-dialog-titlebar-close{
			right: 1px;
			top: 1px;
			background-color: transparent;
			border-color: transparent;
		}
		.ui-dialog-titlebar-close .ui-icon::before{
			font-size: 30px;
			color: #36454f;
			@media (max-width: 610px) {
				font-size: 20px;
				margin-top: -12px;
			}
		}
		.ui-dialog-titlebar-close:hover{
			background-color: transparent;
			border-color: transparent;
			color: @black;
		}
		@media (max-width: 610px) {
			width: 96.5% !important;
			max-width: 100% !important;
		}
	}
	.dialog-content{
		.column-1{
			display: flex;
			align-items: center;
			@media (max-width: 610px) {
				/*width: 33.3333333333% !important;*/
				padding-right: 5px;
			}
			@media (max-width: 300px) {
				padding-right: 0px;
			}
			.email-subscription-image{
				display: block;
				width: 100%;
				object-fit: contain;
				border-radius: 3px 0 0 3px;
			}
		}
		.column-2{
			padding-left: 5px;
			@media (max-width: 610px) {
				/*width: 66.6666666667% !important;*/
			}
			@media (max-width: 300px) {
				padding-left: 8px;
			}
			.footer-newsletter-wrapper{
				.footer-newsletter-content{
					.footer-newsletter-info{
						    margin: 2.5em 0 4.5em 0;
						    @media (max-width: 610px) {
						    	    margin: 6% 0 0.2em 0;
						    }
						    @media (max-width: 350px) {
						    	    margin: 8% 0 0.2em 0;
						    }
						    .success{
						    	@media (max-width: 610px) {
						    		margin: 2.5em 0 0.5em 0;
						    	}
						    	@media (max-width: 350px) {
						    		margin: 1.5em 0 0.5em 0;
						    	}
						    }
					}
					.footer-newsletter-form{
						.newsletter-form{
							.newsletter-form-container{
								.newsletter-form-cell-left{
									.field{
										.error-msg{
											display: none!important;
										}
										.input-text{
											border-color: #2c163d!important;
											@media (max-width: 350px) {
												height: 30px;
												padding: 0 5px;
											}
										}
										.label{
											@media (max-width: 350px) {
												display: none;
											}
										}
									}
								}
								.form-row-button{
									margin-top: 10px;
									@media (max-width: 350px) {
										margin-top: 5px;
									}
									.field{
										min-height: 0;
										.footer-newsletter-submit, .footer-newsletter-close{
											background-color: #ffc0cb;
											border-color: #ffc0cb;
											color: #222e36 !important;
											width: 100%;
											margin-bottom: 0;
											@media (max-width: 610px) {
												height: 30px;
												line-height: 10px;
												font-size: 12px;
											}
										}
									}
								}
							}
						}
					}
					.subs-message{
						font-size: 9.8px;
						display: block;
						@media (max-width: 610px) {
							line-height: 14px;
						}
						@media (max-width: 390px) {
							line-height: 10px;
							padding-top: 3px;
						}
					}
				}
			}
		}
	}
}
