body {
	.text-default();
	background-color: @white;
	overflow-x: hidden;
}
.wrapper {
    overflow: hidden;
}


.pt_order-confirmation .genericoverlay-container .message .message-inner {
	min-width: inherit;  
}


.main-wrapper {
	position: relative;
	z-index: 1;
	.main {
		.page-inner-max-width();
		margin-bottom:40px;
	}
}



.main {
	.clearfix();
}
.primary-col,
.secondary-col {
	float: right;
	&.first {
		float:left;
	}
	&.full-width {
		width: auto;
		float: none;
	}
}
.primary-col {
	width: 75%;
	&.smaller {
		width: 58%;
	}
}

.primary-login-col {
	width: 100%;
    display: flex;
    justify-content: center;	
}
.wrapper.pt_checkout.pt_checkout_login{
	background-color: @grey-lighter;
}

.secondary-col {
	width: 22%;
	&.wider {
		width: 38%;
	}
}




@media (max-width: @mobile-max) {
	.primary-col,
	.secondary-col {
		float: none;
		width: auto;
		&.first {
			float: none;
		}
		&.wider,
		&.smaller {
			width: auto;
		}
	}
    .menu-active {
        .GDPR {
         margin-top: 0;
		 margin-bottom: 0;   
        }
    }
}

.hidden {
	display: none!important;
}
.cart-footer #plus-subscription{
	width: 100%;
}
#plus-subscription {
	background: #eff1f6;
	padding: 15px;
	color:@Night-gider-gray;
	display: inline-block;
    box-sizing: border-box;
    width: 420px;
    @media (max-width: 1025px) {
		width: 350px;
	}
	@media (max-width: 769px) {
		width: 300px;
	}
	@media (max-width: 426px) {
		width: 100%;
	}
	@media (max-width: 321px) {
		width: 100%;
	}
	.tjc-plus-cont {
		display: none;
	}
	&.active {
		.tjc-plus-cont {
			display: block;
			margin-top: 10px;
			.form-row-radio{
				margin-top: 0!important;
                margin-bottom: 5px!important;
			}
		}
		.logo-container {
			display: flex;
			background: url(../images/angle-up.svg) no-repeat right center @white;
			background-size: 4%;
			background-color: #eff1f6;
		}
	}
	.logo-container {
		cursor: pointer;
		font-size: 14px;
		display: flex;
		align-items: center;
		line-height: normal;
		background: url(../images/angle-down-solid.svg) no-repeat right center @white;
		background-size: 4%;
		background-color: #eff1f6;
		.go-plus {
			padding-right: 10px;
			box-sizing: border-box;
		    font-weight: 700;
		    img{
	    	    margin-bottom: -8px;
	    	    width: 81px;
    			height: auto;
		    }
		}
		 
		.next-delivery {
			font-weight: 700;
			line-height: 22px;
			color:@Night-gider-gray;
			span{
				 color:#ff4300;				
			}
		}
	}
	.dec-text {
		font-weight: bold;
		font-size: 18px;
		padding-bottom: 10px;
	}
	.equivalent-text {
		font-size: 13px;
		padding-left: 41px;
    	margin: -5px 0 10px 0;
	}

	.radio-sub {
		padding-bottom: 5px;
		&.selected{
			color: @cobalt-blue-light;
			font-weight: bold;
			
			span.checked{
				background-color: #2851a1;
			    border-radius: 50%;
    			background-image: none;
			}
			label{
				color: @cobalt-blue-light;
				font-weight: bold;
			}
		}
	}
	
	.subscriptions-button {
		padding: 8px 40px;
	    background: #ff5300;
	    color: #fff;
	    border-radius: 30px;
	    margin: 5px;
	    text-transform: uppercase;
	    font-weight: bold;
	    font-size: 14px;
		display: inline-block;
	}
	.del-time {
		ul {
			padding-left: 15px;
			box-sizing: border-box;
			margin-top: 5px;
			li {
				list-style: disc;
			}
		}
	}
}
.pdp-section {
	#plus-subscription .logo-container,
	#plus-subscription.active .logo-container
	 {
		    background-size: 3%; 
	}
	#plus-subscription .del-time ul li {
		width: 50%;
    	float: left;
	}
	&.youmayinterested{
		margin: 15px 0;
	}
}
.cart-footer-right {
	.go-plus{
		.break{
			display: none;
		}
	}
}