.header {
	&.addtocart-overlay-active {
		&::after {
			content: ' ';
			width: 100%;
			background-color: rgba(0, 0, 0, 0.8);
			position: fixed;
    		z-index: 999;
		}
	}
	&.not-scrolled {
		&.addtocart-overlay-active {
			&::after {
				@media (max-width: @mobile-max) {
					height: 135px;
				}
				@media (min-width: @tablet-min) and (max-width: @tablet-max) {
					height: 95px;
				}
				@media (min-width: @desktop-min) {
					height: 135px;
				}
			}
		}
	}
	&.scrolled {
		&.addtocart-overlay-active {
			&::after {
				@media (max-width: @mobile-max) {
					height: 60px;
				}
				@media (min-width: @tablet-min) and (max-width: @tablet-max) {
					height: 95px;
				}
				@media (min-width: @desktop-min) {
					height: 135px;
				}
			}
		}
	}
	
	@media (min-width: @tablet-min) {
		.header-links {
			position: relative;
		}
	}
	
	.try-tjc {
		z-index: 2;
		@media (min-width: @tablet-max) {
	    	padding-bottom: 15px;
	    	margin-bottom: -15px;
	    }
	    a {
		    color: #D9001B;
		    font-weight: 600;
		}
	}
	.try-tjc-plus {
	    width: 400px;
	    height: 300px;
	    position: absolute;
	    top: 30px;
	    z-index: 1;
	    border-radius: 5px;
	    right: -30px;
	    color: white;
	    box-sizing: border-box;
	    @media (max-width: @mobile-large-max) {
	    	width: 100%;
	    	left: 0;
	    }
	    
	    @media (max-width: @mobile-max) {
		    right: 140px;
	    	top: 40px;
    	}
	    
	    &:after {
	    	content: "";
		    display: block;
		    width: 0;
		    height: 0;
		    border-left: 10px solid transparent;
		    border-right: 10px solid transparent;
		    border-bottom: 13px solid #d25d2b;
		    position: absolute;
		    margin: 0 auto;
		    right: 18%;
		    top: -12px;
	    }
	    
	    img {
	    	max-width: 500px;
	    }
	    .tag-line {
		    font-size: 18px;
		    float: left;
		    width: 100%;
		    padding: 20px;
		    box-sizing: border-box;
		    @media (max-width: @mobile-max) {
		    	padding: 10px 0px;
		    }
		    span {
				float: right;
				width: 55%
			}
		}
		.tjc-plus-offer {
			padding: 20px;
			@media (max-width: @mobile-max) {
		    	padding: 15px;
		    }
			span {
				vertical-align: middle;
			}
			img {
				vertical-align: middle;
				width: 50px;
			}
		}
		.start-button span {
			background: white;
		    color: black;
		    padding: 10px 50px;
		    border-radius: 20px;
		    margin-left: 40px;
		}
	}
	@media (min-width: @desktop-min) {
		.try-tjc:hover .try-tjc-plus {
			display: block!important;
		}
	}
}


.header-wrapper {
    width: 100%;
	align-items: center;
    justify-content: center;
    display: flex;
	background-color: @white;
	z-index: 3;
	/*box-shadow: 0 0px 8px @grey;*/
	box-sizing: border-box;
	padding-top: 0;
	padding-bottom: 10px;
	//.page-wrapper-max-width();
	//
	//
	/*@media (min-width: @desktop-min) {
		&::before {
			content: ' ';
			width: 100%;
			height: 1px;
			position: absolute;
			background: @grey-light;
			bottom: 39px;
			z-index: 1;
			left: 0;
		}
	}*/
	.header-inner {
		flex-direction: column;
		width: 100%;
		z-index: 2;
		.text-header {
			/*color: @purple-dark;*/
			font-size: 12px;
			line-height: 16px;
			font-weight:400;
		}
		.header-top {
			width: 100%;
			flex-direction: row;
			height: 30px;
			/* @media (min-width: @tablet-min) and (max-width: @tablet-max) {
			    height: 40px;
			} */
			@media (min-width: @tablet-min) {
				height: 40px;
			}
			//
			// Asset style
			.content-asset {
				width: 100%;
			}
			.header-links{
				a{
					color: @themeTextColor;
					font-weight: 400;
				}
			}
			.header-top-wrapper {
				display: flex;
				flex-direction: row;
				width: 100%;
				height: 100%;
				/* .header-top-links {
				    width: 60%;
				    display: none;
				    @media (min-width: @tablet-min) {
				        display: flex;
				    }
				    .links-list {
				        display: flex;
				        flex-direction: row;
				        width: 100%;
				        justify-content: flex-start;
				        align-items: center;
				        .link-1 {
				            padding-right: 30px;
				        }
				        .link-2 {
				            padding-right: 30px;
				        }
				        .link-3 {
				            @media (min-width: @tablet-min) and (max-width: @tablet-max) and (orientation: portrait)  {
				                display: none;
				            }
				        }
				    }
				}
				.header-top-cservice {
				    justify-content: center;
				    align-items: center;
				    display: flex;
				    width: 100%;
				    @media (min-width: @tablet-min) {
				        width: 40%;
				        justify-content: flex-end;
				    }
				} */
			}
		}
		.header-content {
			position: relative;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			/* @media (min-width: @tablet-min) and (max-width: @tablet-max) {
			    justify-content: flex-end;
			}
			@media (min-width: @desktop-min) {
			    justify-content: flex-end;
			} */
            @media (min-width: @tablet-min) {
				justify-content: flex-end;
			}
			.header-menu {
				display: flex;
				@media (min-width: @tablet-min) and (max-width: 1279.5px) {
					position: absolute;
					left: 0;
				}
				@media (min-width: @desktop-min) {
					margin-top: -15px;
				}
				.menu-bars-wrapper {
					display: flex;
					align-items: center;
					cursor: pointer;
					@media (min-width: @desktop-min) {
						display: none;
					}
					.fa-bars {
						line-height: 25px;
						font-size: 25px;
						color: @purple-dark;
					}
					svg{
						fill: @themeTextColor;
					}
					.text-menu {
						display: none;
						@media (min-width: @tablet-min) {
							display: none;
							text-align: left;
							margin-left: 5px;
						}
					}
				}
				.navigation {
					display: none;
					@media (min-width: @desktop-min) {
						display: flex;
						width: 100%;
					}
				}
				.mobile-navigation{
					display: none;
				}
			}
			.header-logo {
				display: flex;
				@media (min-width: @tablet-min) and (max-width: 1279.5px) {
					position: absolute;
					left: 42px;
				}
				@media (min-width: @desktop-min) {
					position: absolute;
    				left: 0;
				}
				.header-logo-link {
					display: block;
					font-weight:600;
					text-decoration:none;
					color: @themeTextColor;
					@media (min-width: @desktop-min) {
						margin: initial;
						font-size:14px;
					}
					.fa-tjc {
						font-size: 36px;
						line-height: 36px;
						margin-right:2px;
						@media (min-width: @desktop-min) {
							font-size: 49px !important;
							line-height:15px
						}
						@media (min-width: @tablet-min) {
							font-size: 36px;
							line-height: 36px;
						}
					}
					svg{
						fill: @themeTextColor;
					}
				}
			}
			.header-account {
				display: flex;
				.addname{
					 margin-top: -33px;
					 margin-left: 30px;
				}
				.signoffname{
					margin-top: -33px !important;
					margin-left: 30px;
					line-height: 16px;
					font-size: 12px;
				}
				.customer-name{
					color: @themeTextColor;
					padding-left: 4px;
					text-decoration: underline;
				}
				.addnamelink{
						/*color: @purple-dark;*/
    					font-weight: 600;
    					text-transform: uppercase;
    					cursor: pointer;
					}
				.signofflink{
					text-decoration:none !important;
				}	
				.header-account-link {
					cursor: pointer;
					margin-left: -20px;
					/*display: flex;
					flex-direction: row;
					color: @themeTextColor;
                    text-decoration: none;
					align-items: center;
					width: 100%;
					text-align: left;
					justify-content: flex-end;
					cursor: pointer;
					text-transform: uppercase;*/
					/* @media (min-width: @tablet-min) and (max-width: @tablet-max) {
					    justify-content: flex-end;
					}
					@media (min-width: @tablet-min) and (max-width: @tablet-max) {
					    justify-content: flex-start;
					}
					@media (min-width: @desktop-min) {
					    justify-content: flex-start;
					} 
                    @media (min-width: @tablet-min) {
						justify-content: flex-start;
					}*/
					.text-account {
						display: none;						
						/* @media (min-width: @tablet-min) and (max-width: @tablet-max) {
						    display: none;
						}
						@media (min-width: @tablet-min) and (max-width: @tablet-max) {
						    display: flex;
						}
						@media (min-width: @desktop-min) {
						    display: flex;
						} */
                        @media (min-width: @tablet-min) {
							display: flex;
						}
					}
					.fa-user {
					    font-size: 28px;
					    line-height: 28px;
					}
					&:hover {
						.text-account, .addnamelink {
							/*color: @cobalt-blue;*/
						}
						svg path {
							/*fill: @cobalt-blue;*/
						}
					}
					svg {
						vertical-align: text-bottom;
					}
				}
			}
			.header-search {
				display: flex;
				@media (min-width: @tablet-min) and (max-width: 1279.5px) {
					position: absolute;
					left: calc(50% - 160px);
				}
				@media (min-width: @desktop-min) {
					position: absolute;
					left: calc(50% - 210px);
				}
			}
			.header-bag {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				.header-bag-link {
					color: @purple-dark;
                    text-decoration: none;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					position: relative;
					margin: 4px 1px 0 0;
					.text-bag {
						margin-right: 10px;
						display: none;
						/* @media (min-width: @tablet-min) and (max-width: @tablet-max) {
						    display: none;
						}
						@media (min-width: @tablet-min) and (max-width: @tablet-max) {
						    display: flex;
						}
						@media (min-width: @desktop-min) {
						    display: flex;
						} 
                        @media (min-width: @tablet-min) {
							display: flex;
						}*/
					}
					/* &:hover {
					    text-decoration: none;
					    .text-bag {
					        text-decoration: none;
					    }
					} */
					/* .fa-shopping-bag {
					    line-height: 28px;
					    font-size: 28px;
					    
					} */
					.bag-quantity {
						color: #fff;
                        position: absolute;
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        width: 28px;
                        height: 28px;
                        text-align: center;
                        border-radius: 50%;
                        right: 0;
                        top: -8px;
                        left: -16px;
                        background: #c20000;
                        padding: 0;
                        box-sizing: border-box;
                        border: 2px solid transparent;
					}
					.bag-icon {
						svg{
							fill: @themeTextColor;
						}
						&:hover {
							svg path {
								/*fill: @cobalt-blue;*/
							}
							.bag-quantity {
	                             color: @white;
	                         }
						}
                     }
				}
			}
		}
	}
	//
	//
	//
	//
	//
	//
	//
	//
	//
	.header-inner {
		.page-inner-max-width();
		.header-top {
			display: flex;
		}
		.header-content {
			.header-menu {
				order: 1;
				width: 42px;
				height: 34px;
				@media (min-width: @tablet-min) and (max-width: 1279.5px) {
					order: 1;
					width: 42px;
					height: 35px;
				}
				@media (min-width: @desktop-min) {
					order: 5;
					width: 100%;
					height: 35px;
					z-index: 0;
				}
			}
			.header-logo {
				order: 2;
				width: calc(100% - 130px);
				svg {
					height: 36px;
					margin: 0 2px -5.5px 0;
				}
				@media (min-width: @tablet-min) and (max-width: 1279.5px) {
					order: 2;
					width: auto;
				}
				@media (min-width: @desktop-min) {
					order: 1;
					width: auto;
					margin-top: -3px;
					svg {
						height: 49px;
    					margin: 0 2px -7.5px 0;
					}
				}
			}
			.header-account {
				order: 3;
				width: 24px;
				height: 32px;
				z-index: 1;
				svg {
					margin-left: -20px;
				}
				@media (min-width: @tablet-min) and (max-width: 1279.5px) {
					order: 4;
					height: 40px;
					width: 149px;
					margin-top: 5px;
					svg {
						margin-left: 0;
					}
				}
				@media (min-width: @desktop-min) {
					order: 3;
					width: 170px;
					height: 40px;
					svg {
						margin-left: 0;
					}
				}
			}
			.header-search {
				order: 5;
				width: 100%;
				height: 40px;
				margin-top: 7px;
				@media (min-width: @tablet-min) and (max-width: 1279.5px) {
					order: 3;
					width: calc(100% - 357px);
				    height: 30px;
				    left: 143px;
					margin-top: 0;
				}
				@media (min-width: @desktop-min) {
					order: 2;
					width: calc(100% - 386px);
    				left: 136px;
					height: 35px;
					margin-top: 0;
				}
			}
			.header-bag {
				order: 4;
				width: 40px;
				height: 34px;
				margin-top: 3px;
				@media (min-width: @tablet-min) and (max-width: 1279.5px) {
					order: 5;
					height: 40px;
					margin-top: 0;
					width: auto;
				}
				@media (min-width: @desktop-min) {
					order: 4;
					height: 40px;
					margin-top: 0;
					width: auto;
				}
			}
		}
	}
	//
	//
	//
	//
	//
	/* &.not-scrolled {
	    position: relative; 
	    @media (min-width: @tablet-min) {
	        position: fixed;
	    }
	} */
	&.scrolled {
		position: fixed;
		.header-inner {
			.header-top {
				//display: none;
				@media (min-width: @tablet-min) {
					display: flex;
				}
			}
			.header-content {
				.header-menu {
					order: 1;
					width: 42px;
					height: 34px;
					@media (min-width: @tablet-min) and (max-width: @tablet-max) {
						order: 1;
						width: 42px;
						height: 35px;
						margin-top: 0;
					}
					@media (min-width: @desktop-min) {
						order: 5;
						width: 100%;
						height: 35px;
						margin-top: 15px;
					}
				}
				.header-logo {
					//display: none;
					/* @media (min-width: @tablet-min) and (max-width: @tablet-max) {
					    display: flex;
					}
					@media (min-width: @desktop-min) {
					    display: flex;
					} */
                    @media (min-width: @tablet-min) {
						display: flex;
					}
				}
				.header-account {
					//display: none;
					/* @media (min-width: @tablet-min) and (max-width: @tablet-max) {
					    display: flex;
					}
					@media (min-width: @desktop-min) {
					    display: flex;
					} */
                    @media (min-width: @tablet-min) {
						display: flex;
					}
				}
				.header-search {
					order: 5;
					width: 100%;
					height: 40px;
					margin-top: 7px;
					@media (min-width: @tablet-min) and (max-width: @tablet-max) {
						width: calc(100% - 357px);
						margin-top: 0;
						height: 30px;
					}
					@media (min-width: @desktop-min) {
						width: calc(100% - 386px);
						margin-top: 0;
						height: 35px;
					}
				}
				.header-bag {
					order: 4;
					height: 34px;
					margin-top: 3px;
					@media (min-width: @tablet-min) and (max-width: @tablet-max) {
						order: 5;
						margin-top: 0;
						height: 40px;
					}
					@media (min-width: @desktop-min) {
						order: 4;
						margin-top: 0;
						height: 40px;
					}
				}
			}
		}
	}
}
//
//
// FIX for IE
@media all and (-ms-high-contrast:none) and {
	.header-wrapper::before { left: 0; } /* IE10 */
	*::-ms-backdrop, .header-wrapper::before { left: 0; } /* IE11 */
}
@media all and (-ms-high-contrast:none) {
	.header-inner { margin: 0 !important; } /* IE10 */
	*::-ms-backdrop, .header-inner { margin: 0 !important; } /* IE11 */
}
//
//
//
//
//
// Search Field
.header-search {
	form {
		display: flex; 
		flex-direction: row;
		width: 100%;
		align-items: center;
		fieldset {
			display: flex; 
			flex-direction: row;
			width: 100%;
			position: relative;
			height: 34px;
			input {
				width: calc(100% - 50px);
			    border-top-left-radius: 4px;
			    border-bottom-left-radius: 4px;
			    border: 0;
			    height: 40px;
			    background-color: @white;
			    padding: 0 15px;
			    font-size: 14px;
			    line-height: 18px;
				color: @searchDetailsColor;
				&:focus {
					/*border: 2px solid @purple-medium;
					box-shadow: 0px 0px 10px 0px rgba(231, 90, 124, 0.5);
					color: @purple-dark;*/
				}
			}
		
			.text-search-btn {
				width: 50px;
				height: 40px;
				position: absolute;
				right: 0;
				top: 0;
				padding: 0;
				border: none;
				border-radius: 0;
				border-top-right-radius: 4px;
			    border-bottom-right-radius: 4px;
				text-align: left;
				background-color: @white;
				svg {
					fill: @searchDetailsColor;
					margin: 3px 0 0 14px;
    				/*transform: scale(0.95);*/
				}
                &:hover {
                    /*background-color: @purple-medium;*/
                }
			  }
	
		   
		}
	}
}
//
//
//
//
// Main Content wrapper
/* .main-wrapper {
    &.not-scrolled {
        padding-top: 0;
    }
    &.scrolled {
        padding-top: calc(54px + 30px);
    }
    &.not-scrolled, &.scrolled {
        @media (min-width: @tablet-min) and (max-width: @tablet-max) {
            padding-top: 95px;
        }
        @media (min-width: @desktop-min) {
            padding-top: 135px;
        }
    }		
} */

.header-fixed {
	height: 135px; 
}
.header-wrapper {
	height: 130px;
	background-color: @themePrimaryColor;
	position: relative;

	&.header-wrapper-menu{
		height:35px;
		z-index:0;
		align-items: flex-end;
		background-color: @themeSecondaryColor;
		
		@media (max-width: 1279.5px) {
			display: none;
		}
	}
}
@media (max-width: @mobile-max) {
	.header-fixed {
	&.scrolled {
		height: 60px;
		}
	}
	.header-wrapper {
		&.scrolled {
		height: 95px;
		}
	}  
}
@media (min-width: @tablet-min) and (max-width: @tablet-max) {
	.header-fixed {
		height: 95px; 
	}
	.header-wrapper {
		height: 95px;
		position: relative;
	}
}
@media (min-width: @desktop-min) {
	.header-fixed {
		height: 135px; 
	}
	.header-wrapper {
		height: 95px;
		position: relative;
		padding: 0;
	}
}
.header-checkout-wrapper {
	/* box-shadow: none; */
	.header-inner-checkout {
        max-width: @page-max-width;
        margin: 0 auto;
		display: flex;
		padding: 20px 0;
		flex-direction: column;
		justify-content:center;
		@media (min-width: @tablet-min) {
			flex-direction: row;
		}
		.primary-logo {
			margin: 0 auto;
			@media (min-width: @tablet-min) {
				margin: 0;
				padding-bottom: 0;
				padding-top: 15px;
			}
			@media only screen and (min-width : 765px) and (max-width : 770px) {
				img{
					width: 5.5rem;
				}
			}
		}
	}
}
.AddnewNameFormModal.ui-dialog{
	width: 500px !important;
	margin: 0 auto !important;
	@media (max-width: @mobile-max) {
		width: 83% !important;		
	}
}

#AddnewNameFormModal{
	.account-title{
		font-size: 17px;
		font-weight: 600;
		margin-bottom: 15px;
	}
#AddnewNameForm {
	.form-row .field {
    	margin-right: 0px
    }

    .error-msg{
	    background: transparent;
	    color: @red;
	    padding: 0;
	    margin-top: -4px;
        margin-bottom: 6px; 
        display:none;
        font-size:12px;
      }

    .input-search{
    	border: 0;
    	background-color: @grey-lighter;
    	border-bottom: 2px solid @grey-dark;
    	border-radius: 0;
    	height: 50px;
    }

}
}
.addnamecusrsor{
	text-transform: capitalize;
}
.header-addname{
	color: @themeTextColor;
	svg{
		fill: @themeTextColor;
	}
	
	@media (max-width: @old_mobile-max) {
		margin-top: 4px;
	}
	@media (min-width: @desktop-min) {
		margin-top: 8px;
	}
}

header#site-header {
	position: relative;	
	height: 130px;
	background: @white;
	top: 0;
	width: 100%;
	z-index: 3;
	transition: all .3s ease;
	@media (min-width: @tablet-min) and (max-width: @old_tablet-max) {
		height: 95px;
	}
}
.header.header-fixed.hide {top:-139px !important;}

.dropbtn {
    color: @cobalt-blue;
    font-weight: 600;        
    border: none;
}
.dropbtn::after {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 13px;
    color: #005c99;
    text-rendering: auto;
    content: " \f0da";
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:-100px;
    background-color: @white;
    min-width: 200px;
    z-index: 1;
    box-shadow: 0 0 8px @grey;
}
.headerlinks .dropdown:hover {
    cursor: pointer;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    border-bottom: 1px solid @grey-lighter;
}
.headerlinks .content a:hover {
    background-color: @cobalt-blue;
    color: @white;
}
headerlinks span:hover {
    text-decoration: underline;
}
.dropdown-content a:hover {
	background-color: @cobalt-blue;
    color: @white;
}
.dropdown:hover .dropdown-content {display: block;}
//.dropdown:hover .dropbtn {background-color: grey;}
.dropdown:hover {
	text-decoration: underline;
	cursor: pointer;
}

.header-search .form-row.validation-success{
      .field .input-text{
         border: 2px solid @purple-medium!important; 
          &:focus{
	       border: 2px solid @purple-medium!important;
   }
  }
}

.error-msg{
	
&.addlname, &.addfname, &.addselect{
	
	display:none!important;
  }
}

@media (min-width: 800px) {
	.header-content{
		.header-account{
			.header-addname{
				.header-account-link{
					margin-left: 0px!important;
				}
			}
		}
		.header-bag{
			.header-bag-link{
				.bag-quantity{
					display: inline-block!important;
					margin-top: -10em!important;
					transform: translate(30px, -10px)!important;
					position: relative!important;
				}
			}
		}
	}
}