/** Home Recently on aird Slider **/

.recently-on-aired{
	.slick-slide{
		margin: 0;
	}
	.panel{
		padding: 0 15px 0 !important;
	}
	.slick-prev::before, .slick-next::before {
		background: none;color: @grey-dark;
	}
	.heading{
		padding:20px 0;
		border: 0 !important;
	}
	.slick-list{
		padding: 0px 15% 0 0 !important;
		@media only screen and (min-width:@old_tablet-max){
			margin: 0 8%;
			padding: 0 !important;
		}	
	}
	.missedauctionproduct {
		padding: 0 12px 0 0;
		@media only screen and (min-width:@old_tablet-max){
			padding: 10px;
		}
		img.clickable-image{
			max-width: 270px;
		}
	}
	.slick-prev.slick-disabled::before, .slick-next.slick-disabled::before {
    	opacity: 0;
	}
	.title {
		font-size:14px;font-weight: 600;color: @purple-dark;text-align: left;line-height: normal
	}
	.liveshowmore a{ font-size: 12px;border-radius: 3px;background-color: @purple;
    font-weight: 600;color: @white;text-align: center;line-height: 24px;padding: 2px 20px;text-transform: uppercase;
    }
    .quantity-selection{
    	display: flex;
		height: 30px;
		.item{
		    flex-grow: 1;
		    text-align: center;
		    border: 1px solid @grey-dark;
		    width: calc(100% / 3);
		}
		#live-tv-product-quantity{
	    	border-right:0;
	    	border-left:0;
	    	line-height: 0;
	    	cursor: auto;
	    	padding: 0;
	    	border-radius: 0;
    	}
	    .home-sub{
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			cursor: pointer;
	    }
	    .home-add{
	    	border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			cursor: pointer;
	    }
    }
    	
    .product-section .product-id {
    	display:none;
    }
}

@media only screen and (min-width: @old_mobile-max) {
		.recently-on-aired .title {
		font-size:20px;
		}
		.recently-on-aired .slick-list{
		margin:0;
		padding: 0px 10% 0 0 !important;
		}
		.recently-on-aired .slick-slide {
		margin: 0;
		}
		.recently-on-aired .missedauctionproduct {
			padding: 0 12px 0 0;
		}		
	}
	
	@media only screen and (min-width:@old_tablet-max){
		.recently-on-aired .slick-list{
			margin: 0 8%;
			padding: 0 !important;
		}
		.recently-on-aired .missedauctionproduct {
			padding: 10px;
		}
	}
		
	@media only screen and (min-width:@desktop-min){
		.recently-on-aired .missedauctionproduct {
			padding: 0 5px 20%;
		}
		.recently-on-aired .heading {
			padding: 15px 0 !important;
		}
	}

/** End Home Recently on aird Slider **/


.home-live-tv::before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 13px;
	color: @grey-darkest;
	text-rendering: auto;
	content: " \f26c";
	padding-right: 5px;
}
.home-live-tv .details {
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
}
.home-live-tv .totalprice {
	padding: 0;
	margin: 0;
	font-size: 22px;
	line-height: 26px;
	font-weight: 400;
}
.home-live-tv .ximli {
	max-width: 186px;
	margin: 0 auto;
}
.home-live-tv .full--width {
	width: 100%;
	padding: 0 0px;
	margin: 0 auto;
	box-sizing: border-box;
}
.home-live-tv .button-white {
	margin-top: 0px;
}
.home-live-tv .btn {
	padding: 7px 0px;
}
.liveshowmore a{
	cursor: pointer;
}
.recently-on-aired .live-tv-detail-main .live-tv-detail-content .live-tv-video-player {
    float: left;
    width: 100%;
}
.text-center{
	text-align: center !important;
}
.home-recently-live{
	#v-si{
		max-width: 15em;
		margin: 0 auto;
		@media only screen and (min-width:@old_tablet-max){
			max-width: 8em;
		}
		@media only screen and (min-width:@desktop-min){
			max-width: 15em;
		}
	}
	.updateMLAImage{
		.product-image{
			img{
				height: 180px;
			}
		}		
	}
	
	.totalprice{
		padding: 10px 0;
		.product-price{
			font-size:22px;	
		    font-weight: 600;
		  	color: @purple-dark;
		  	line-height: 22px;
		}
		.budgetPayInstallments{
			float: right;
			display: flex;
			height: 24px; 		
    		span{
    			padding: 0 5px;
    		}
    		img{
    			width: 5.183rem;
    			height: auto;
    		}
		}		  
	}
	.details{
		line-height: 20px;
		padding-bottom: 10px;
	}
	.live-tv-add-to-cart-form {
    	padding-top: 2px;
        padding-bottom: 18px;
		.button{
			line-height:35px;
		}
        @media only screen and (min-width: 768px) {
            display: flex;
            .quick-buy-button {
                margin-left: 10px;
                margin-top: 0 !important;
            }
        }
    	.quick-buy-button {
    		margin-top: 15px;
    		background-color: @cobalt-blue;
			border: 1px solid @cobalt-blue;
			line-height:35px;
			&:hover {
			    background-color: @cobalt-blue-dark;
			    border-color: @cobalt-blue-dark;
			    color: @white !important;
			    text-decoration: none;
		    }
    	}

       .button{
	@media (min-width: @tablet-min) and (max-width: @tablet-max) {
	       min-width:145px;

        }
     }

	}
	.home-recently-live-content{
		padding:0 5%;
			div.selector{
	    	background-color: @white;
	    	border-radius: 3px;
	    	height: 30px;
    		line-height: normal;
    		span{
    			line-height: 27px;
    			height: 30px;
    		}   		
		}
		select{
		    line-height: normal;
			height: 30px;
			padding-top: 0;
		}
		.variations{
			display: flex;			
			.second-variation{
				width: 100%;
				cursor: pointer;				
			}	
		}
	}
	.groupVariations{
		display: flex;
		.single-auction-qty .quantity-selection{
			line-height: 40px;
			width: 120px;
			height: 40px;
			margin-left:0;
		}		
		.product-selection{
			width: 100%;
		}
		.quantity-selection{
			margin-left:10px;
		}
	}
	.MLAVariations{
		display: block;
		.quantity-selection{
			margin-left:10px;
			margin-right: 0;
		}
	}	
}

@media only screen and (min-width: 770px) {
  .div-border-right{
    border-right: 1px solid @grey-light;
  }
}
@media only screen and (max-width: 770px) {
  .div-border-bottom{
    border-bottom: 1px solid @grey-light;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.tv-exception{
	padding: 0 15px 30px;
}

.recently-on-aired .form-row .field{margin-left: 0;}
.recently-on-aired, .live-tv-detail-content {
    .selector.border {
        border: 3px solid @red;
    }
}

.showmore{
	&:after{
		color: @grey-darkest;
	}
}

.recently-on-aired-slider.new{
	@media (max-width: 767.5px) {
		.recently-on-aired-slider-2{
			display: flex!important;
		}
		.recently-on-aired-slider-1 .mobile-hide{
			display: none;
		}
	}
	@media (max-width: 340.5px) {
		margin-right: -10px;
	    margin-left: -10px;
    }
	.recently-on-aired-slider-1{
		display: flex;
	}
	.recently-on-aired-slider-2{
		display: none;
	}
	.custom-slider{
		@media (min-width: 767.5px) {
			margin-right: 5px;
		}
		.custom-slider-inner{
			scrollbar-width: none!important;
			-ms-overflow-style: none!important;
			&::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track{
				background: transparent!important;
				border-radius: 0!important;
			}
			.slider-tile{
				.slider-product-tile{
					.product-pricing{
						.price-sales{
							color: @grey-darkest;
						}
					}
				}
			}
		}
	}
}
