img.lazy{
	&:not(.lazy-thumbnail){
		&:not(.loaded){
			background-image: url(../images/noimage_thumbnail.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			color: transparent;
		}
	}
	&.lazy-thumbnail{
		&:not(.loaded){
			&:not(.error){
				background-image: url(../images/noimage_thumbnail.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				filter: blur(5px);
				-webkit-filter: blur(5px);
				object-fit: unset!important;
				object-position: unset!important;
				/*max-width: unset!important;
				max-height: unset!important;*/
				width: 100%;
				overflow: hidden;
				color: transparent;
			}
		}
		&.error{
			background-image: url(../images/noimage_thumbnail.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			color: transparent;
			width: 100%;
			height: 100%!important;
		}
	}
}

.custom-slider-inner, .carousel-container-inner{
	img.lazy{
		&:not(.lazy-thumbnail){
			&:not(.loaded){
				position: absolute;
				height: 100%!important;
				/*min-height: 20vh;*/
			}
		}
	}
}

.grid-tile-inner{
	.product-tile{
		&:not(.ra-product-tile){
			img.lazy{
				&:not(.lazy-thumbnail){
					&:not(.loaded){
						height: 100%!important;
					}
				}
			}
		}
		&.ra-product-tile{
			img.lazy{
				&:not(.lazy-thumbnail){
					&:not(.loaded){
						height: 100%!important;
					}
				}
			}
		}
	}
}

.html-slot-container{
	> :not(section){
		.custom-slider-inner{
			img.lazy{
				&:not(.lazy-thumbnail){
					&:not(.loaded){
						position: relative;
						height: 100%!important;
						/*min-height: 10vh;*/
					}
				}
			}
		}
	}
	section{
		img.lazy{
			&:not(.lazy-thumbnail){
				&:not(.loaded){
					height: 100%!important;
				}
			}
		}
	}
}

.content-asset{
	img.lazy{
		&:not(.lazy-thumbnail){
			&:not(.loaded){
				height: 0.5px!important;
			}
		}
	}
}
