.live-tv-detail-main {
	.live-tv-detail-content {
		margin-bottom: 30px;
		.live-tv-video-player {
			float: left;
			width: 63%;
			.live-stream-player-container {
				position: relative;
				z-index: 0;
			}
		}
		.auction-product-data {
			width: 33%;
			float: right;
			.tile-inner {
				.product-image {
					margin: 0 0 5px 0;
					img {
						display: block;
						max-width: 100%;
						height: 180px;
						margin: 0 auto;
					}
				}
				.product-description {
					.text-top {
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 600;
                        color: @green;
                        margin: 0 0 10px 0;
					}
					.text-bottom {
						color: @purple-dark;
						margin-bottom: 5px;
                        padding-bottom: 10px;
                        border-bottom: 1px solid @grey-dark;
					}
				}
				.product-section {
					.label {
						display: block;
						float: left;
						width: auto;
						color: @purple-dark;
						text-transform: none;
                        margin-right: 10px;
					}
					.value {
						display: block;
						float: right;
						width: auto;
                        font-size: 16px;
                        font-weight: 600;
					}
                    
                    &.product-id {
                        border-bottom: 1px solid @grey-dark;
                        margin-bottom: 5px;
                        padding-bottom: 10px;
                    }
				}
				.product-action{
					.full-width-button{
						margin-left: 0;
   	 					margin-right: 10px;
					}
				}
				.form-row.form-row-button{
					margin-top: 0;
					.home-page-login-bid-now{
						margin-right: 10px;
						margin-left: 0;
					}
				}
				.enablebutton{
					margin-left: 0;
				}
				.product-selection {
					option {
						&.not-available {
							color: @red;
							text-decoration: line-through;
						}
					}
					select{
						line-height: normal;
						height: 30px;
						padding-top: 0;
					}
				}
				.product-action {
					.budgetpay {
						text-align: right;
						color: @green;
                        font-weight: 600;
						margin-bottom: 20px;
					}
					.button {
						width: 100%;
					}
					.quick-buy-button {
    					background-color: @cobalt-blue;
						border: 1px solid @cobalt-blue;
						&:hover {
						    background-color: @cobalt-blue-dark;
						    border-color: @cobalt-blue-dark;
						    color: @white !important;
						    text-decoration: none;
					    }
    				}
				}
			}
			div.selector{
		    	background-color: @white;
		    	border-radius: 3px;
		    	height: 30px;
				line-height: normal;
				span{
					line-height: 27px;
					height: 30px;
				}
				select{
				    line-height: normal;
					height: 30px;
				}
			}
			.variations{
					display: flex;
					.second-variation{
						width: 100%;
						cursor: pointer;
						select{
							line-height: normal;
							height: 30px;
							padding-top: 0;
						}					
					}
					.quantity-selection{
						display: flex;
                		height: 30px;           		    
                		.item{
            			    flex-grow: 1;
						    text-align: center;
						    border: 1px solid #b9addb;
						    width: calc(100% / 3);
                		}
						div.selector{
							width: 40% !important;
						}
						.home-sub{
							border-top-left-radius: 3px;
    						border-bottom-left-radius: 3px;
    						cursor: pointer;
						}
						.home-add{
							border-top-right-radius: 3px;
    						border-bottom-right-radius: 3px;
    						cursor: pointer;
						}
						#live-tv-product-quantity{
							border-right: 0;
    						border-left: 0;
						    padding: 0;
						    border-radius: 0;
						}						
					}			
				}
				.groupVariations{
					display: flex;
					margin-top: 12px;
					.single-auction-qty .quantity-selection{
						line-height: 40px;
						width: 120px;
						height: 40px;
						margin-bottom: 12px;
						margin-left:0;
					}	
					.product-selection{
						width: 100%;
						margin-bottom: 12px;
					}
					.quantity-selection{
					    margin-left: 10px;
					}		
				}
				.MLAVariations{
					display: block;
					width: 290px;
					margin-bottom: 10px;
					.product-selection{
						margin: 10px 0;
					}
					.quantity-selection{
					    margin-left: 10px;
					}
				}
			.budgetpaytext{
				color: @red;
				padding-bottom: 10px;
			}	
		}
	}
}
@import "veygo";
@import "program_guide";
.missed-auctions-main {
       select.input-select{
	      padding-top: 0;
      }
	.missed-auctions-top {
		float: left;
		width: 100%;
		display: block;
		margin-bottom: 20px;
		.missed-auctions-contentslot {
			float: left;
			width: 100%;
			margin-bottom: 20px;
			background-color: @purple-dark;
			height: 200px;
			color: @white;
			text-align: center;
			line-height: 200px;
			font-size: 20px;
		}
		.missed-auctions-carousel {
			padding-bottom: 30px;
			.missed-auctions-carousel-header {
				float: left;
				width: 100%;
			}
			.missed-auctions-carousel-wrapper {
				width: 100%;
				float: left;
			}
		}
	}

	.missed-auctions-left {
		float: left;
		width: 22%;
		.channel-filter-container {
			margin-bottom: 10px;
		}
	}
	.missed-auctions-right {
		float: right;
		width: 100%;
	}
	.search-result-content {
		overflow: visible;
	}
	.tv-shows {
		padding: 10px 0;
		li {
			margin-bottom: 15px;
			cursor: pointer;
			&:last-child {
				margin-bottom: 0;
			}
			&:hover {
				.show-time {
					text-decoration: underline;
				}
			}
			.show-time {
				background-color: @grey-lighter;
				margin-bottom: 0;
				.section-title-inner {
					background-color: @grey-lighter;
				}
			}
			.show-name {
				color: @purple-dark;
				text-transform: none;
			}
		}
	}
	.search-result-options {
		.channel-filter-container {
			float: left;
			width: 215px;
			margin-right: 10px;
		}
		.refinements-dropdown {
			float: left;
			width: 215px;
			margin-right: 0;
			.refinements {
				.refinements-content {
					width: 300px;
				}
			}
		}
	}
}

@media (min-width: @tablet-min) and (max-width: @tablet-max) {
	.live-tv-detail-main {
		.live-tv-detail-content {
			.live-tv-video-player {
				float: none;
				width: auto;
				margin-bottom: 15px;
			}
			.auction-product-data {
				width: auto;
				float: none;
				.tile-inner {
					position: relative;
					.product-image {
						margin: 0;
						position: absolute;
						z-index: 1;
						width: auto;
						top: 66px;
						right: -230px;
						img {
							border: 1px solid @grey-dark;
						}
					}
				}
			}
		}
	}
}

@media (max-width: @tablet-max) {
	.missed-auctions-main {
		.missed-auctions-left {
			display: none;
		}
		.missed-auctions-right {
			width: auto;
			float: none;
		}
		.tv-shows {
			li {
				.show-time {
					background-color: @white;
					.section-title-inner {
						background-color: @white;
					}
				}
				.show-name {
					color: @purple-dark;
					font-size: 11px;
				}
			}
		}
	}
}

@media (max-width: @mobile-max) {
	.live-tv-detail-main {
		.live-tv-detail-content {
			.live-tv-video-player {
				float: none;
				width: auto;
				margin-bottom: 15px;
			}
			.auction-product-data {
				width: auto;
				float: none;
				.tile-inner {
					max-width: none;
				}
			}
			.product-action .button{
				min-width:138px;
			}
			
		}
	}
	.missed-auctions-main {
		.missed-auctions-top {
			.missed-auctions-carousel {
				.missed-auctions-carousel-wrapper {
					width: 50%;
					margin: 0 25%;
					.missed-auctions-carousel-innerwraper {
						.nav-arrows {
							.nav-prev {
								left: -50%;
							}
							.nav-next {
								right: -50%;
							}
						}
						.carousel-container-inner {
							overflow: visible !important;
							margin: 0;
							.grid-tile {
								min-width: 100px !important;
								.grid-tile-inner {
									padding: 0 25px !important;
								}
							}
						}
					}
				}
			}
		}
		
		.search-result-options {
			.channel-filter-container {
				float: none;
				width: auto;
				margin-right: 0;
				margin-bottom: 10px;
			}
			.refinements-dropdown {
				float: none;
				width: auto;
				.refinements {
					.refinements-content {
						.calc(width, 100% - 2px);
					}
				}
			}
		}
	}
}
.missed-auctions-carousel-generaltitle {
	visibility: hidden;
	margin: 0 0 5px 0;
	font-size: 1px;
	line-height: 1px;
}
.missed-auctions-carousel-innerwraper {
	@media (min-width: @tablet-min) {
		border-bottom: 1px solid @grey-dark;
	}
	padding-top: 15px;
	padding-bottom: 15px;
	.missed-auctions-carousel {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		.grid-tile {
			opacity: 0.5;
			.grid-tile-inner {
				.product-tile {
					border: none;
					.missed-auctions-carousel-date {
						padding-bottom: 5px;
						width: 100%;
						.missed-auctions-carousel-date-link {
							font-size: 16px;
							font-weight: 600;
							text-align: center;
							color: @font-color-default;
							text-decoration: none;
							&:hover, &:focus {
								cursor: pointer;
							}
						}
					}
					.product-tile-top {
						height: 100px;
						width: 100%;
						.product-image {
							height: 100px;
							width: 100px;
							margin: auto;
							.placeholder-image {
								height: 100%;
								width: 100%;
							}
							.thumb-link {
								height: 100%;
								width: 100%;
								display: block;
							    position: absolute;
							    z-index: 1;
								img {
									border-radius: 50px;
									height: 100%;
									width: 100%;
									border: 4px solid @grey-dark;
									box-sizing: border-box;
									filter: none !important;
								}
								text-decoration: none;
								&:hover, &:focus {
									cursor: pointer;
								}
							}
							.quickview {
								display: none!important;
							}
						}
					}
					.missed-auctions-carousel-name {
						padding-top: 10px;
						.missed-auctions-carousel-name-sale {
							font-size: 14px;
							font-weight: 400;
							width: 100%;
							display: block;
							color: @font-color-default;
							text-decoration: none;
							&:hover, &:focus {
								cursor: pointer;
							}
						}
						.missed-auctions-carousel-name-person {
							font-size: 14px;
							font-weight: 600;
							width: 100%;
							display: block;
							color: @font-color-default;
							text-decoration: none;
							&:hover, &:focus {
								cursor: pointer;
							}
						}
					}
				}
			}
			&:focus, &:hover  {
				opacity: 0.75;
			}
			&.active {
				opacity: 1 !important;
			}
		}
	}
}
.missed-auction-items {
	.grid-tile {
		@media (min-width: @desktop-min) {
			width: 25% !important;
			clear: none !important;
		}
		.product-pricing {
			margin: 5px 0;
		}
		.product-tile-head {
			height: 32px;
			overflow: hidden;
			.budgetpay {
				display: inline-block;
				text-align: center;
				width: 80px;
				height:auto;
				margin-top: 5px;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

.missed-auctions-main {
	.carousel-container .button.button-grey {
		background-color: @white !important;
		border-color: @white !important;
		opacity: 0.7 !important;
		cursor: pointer !important;
	}
}
.missed-auctions-resultinfo {
	width: 100%;
	font-size: 18px;
	padding-bottom: 20px;
	display: table;
	@media (max-width: @mobile-max) {
		display: none;
	}
	.resultinfo-tvshow {
		width: 50%;
		float: left;
		text-align: left;
		.resultinfo-tvshow-show {
			font-weight: 600;
		}
		.resultinfo-tvshow-presenter {
			font-weight: normal;
		}
	}
	.resultinfo-data {
		width: 50%;
		float: left;
		text-align: right;
		font-weight: 600;
	}
}






.missed-auctions-main {
	
	div.selector{
	height: 30px;
    background-color: #fff;
    border-radius: 3px;
    padding-top: 0;
    
   span{
	
	line-height: 26px;
   }
 
	}
}

.product-tile.ma-product-tile .product-tile-bottom .MLAVariations div.selector,
.product-tile.ma-product-tile .product-tile-bottom .MLAVariations select {
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
}
.discountmsg {	
	min-height: 18px;
    @media (max-width: @mobile-max) {
	font-size: 3vw;
	}
}	

.auction-error-msg{
	display:none;
	color:#c20000;
	font-size:12px;
	
 }
.code-not-available{
	
 .auction-error-msg{
	display:block;

  }
}

.live-tv-detail-main .live-tv-detail-content .auction-product-data .auction-error-msg{
	    margin-bottom: -8px;
}