.clear {
	clear:both;
}
.clearfix:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.visually-hidden,
.ui-helper-hidden-accessible {
	border: 0!important;
	height: 1px!important;
	margin: -1px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	width: 1px!important;
	background: transparent!important;
}
.toggle {
	cursor: pointer;
}
.notavailable {
	color: @red;
    font-size: 13px;
    line-height: 18px;
    margin-top: 5px;
    width: 100%;
}
.availability-msg {
	text-transform: none;
	.in-stock-msg, 
	.preorder-msg,
	.backorder-msg,
	.not-available-msg {
		position: relative;
		padding-left: 0;
		font-weight:400;
	}
	
	.in-stock-msg {
		color: @green;
	}
	
	.preorder-msg {
		color: @blue;
	}
	
	.backorder-msg {
		color: @yellow;

	}
	
	.not-available-msg {
		color: @red;
	}

	.inform-me-when-available {
	    .clearfix();
	    .calc(width, 100% + 10px);
	    .field {
	        float: left;
	        width: 230px;
	        margin-right: 10px;
            margin-top: 5px;
	    }
	    .button-container {
	        float: left;
	        width: 230px;
            margin-right: 10px;
            margin-top: 5px;
	        .button {
	            width: 100%;
	            padding-left: 5px;
	            padding-right: 5px;
	        }
	    }
	}
}

@media (min-width: @desktop-min) {
	.only-for-desktop {
		display: block!important;
	}
	.only-for-tablet {
		display: none!important;
	}
	.only-for-mobile {
		display: none!important;
	}
	.not-for-desktop {
		display: none!important; 
	}
    th, td {
        &.only-for-desktop {
            display: table-cell!important;
        }
    }
}

@media (min-width: @tablet-min) and (max-width: @tablet-max) {
	.only-for-desktop {
		display: none!important;
	}
	.only-for-tablet {
		display: block!important;
	}
	.only-for-mobile {
		display: none!important;
	}
	.not-for-tablet {
		display: none!important;
	}
    th, td {
        &.only-for-tablet {
            display: table-cell!important;
        }
    }	
}

@media (max-width: @mobile-max) {
	.only-for-desktop {
		display: none!important;
	}
	.only-for-tablet {
		display: none!important;
	}
	.only-for-mobile {
		display: block!important;
	}
	.not-for-mobile {
		display: none!important;
	}
    th, td {
        &.only-for-mobile {
            display: table-cell!important;
        }
    }
    .availability-msg {
        .inform-me-when-available {
            width: auto;
            .field,
            .button-container {
                float: none;
                width: auto;
                margin-right: 0;
            }        
        }
    }
}