/*New sign in and registration page styles*/
#onbeforeunload .primary-login-col{
	display: block;
	margin: 0 auto;
}
#onbeforeunload .login-page .account-container{
	@media (min-width: @tablet-min){
		width: 39.375rem;
		margin: 0 auto;
	}
}
.register-title{
		font-size: 30px;
		font-weight: 300;
		padding-bottom: 15px;
	}
.new-sign-registration.ui-dialog{
	left: 0 !important;
	margin: 0 auto !important;
	width: max-content !important;
	@media (max-width: @mobile-max) {
		width: 83% !important;		
	    z-index: 1000;
	}
	.ui-dialog-titlebar-close{
		right: 5px;
		top: 5px;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
		color: @red-dark;
	}
	.separator{
        position: relative;
        overflow: hidden;
        height: 195px;
        display: inline-flex;
        align-items: center;
    }
    .separator:after{
        content: "";
        width: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        background: lightgrey; 
    }
    .separator .or{
        width: 40px;
        height: 40px;
        color: gray;
        text-align: center;
        line-height: 40px;
        border-radius: 100%;
        border:1px solid lightgrey;
        background: #fff;
        position: relative;
        z-index: 1;
        margin: 0 30px;      
    }
    @media screen and (max-width: 767px) {
        .separator{
            display: flex;
            height: inherit;
            justify-content: center;
        }
        .separator:after{
            width: inherit;
            height: 1px;
            left: 0;
            right: 0;
            top: 50%;
            bottom: auto;
        }
    }
	.newsignin-box-inner {
		padding: 5px 5px 0;
		background: @white;
		
		&.quick-buy-box-inner{
			.input-text{
		 		 height: 3.125rem;
		 	}
		}
		.error-message {
			color:@red !important
		}
		.quick-buy-pwd {
			position: relative;
		}
		.pwd-placeholder, .email-placeholder{
		    z-index: 100;
    		position: absolute;
    		padding: 0px 0 0px 10px;
		}
		.login-error-message{
			background-color: @red
		}
		.d-none {
			display: none !important;
			&.checkpw-field {
				@media (max-width: @mobile-max) {
					display: block !important;
			  }
			@media (min-width: @tablet-min) and (max-width: @tablet-max) {			
			   display: block !important;
		     }
			}
		&.checkpw-field *{
			@media (max-width: @mobile-max) {
			 display: block !important;
			 position: absolute;
             z-index: -99;
			 width:100%;
			}
			@media (min-width: @tablet-min) and (max-width: @tablet-max) {
			 display: block !important;
			 position: absolute;
             z-index: -99;
             width:100%;
			
		    }
		  }
		}
		label{
			display: none;
		}
		.form-row-password .icon-password{
	    	top: 2px!important;
	    	@media (max-width: @mobile-max) {
				 right: 0;	
			}
		}
		.forgotpw-content p{
			margin-top: 0;
		}

		.text-right-align{
			text-align: right;
		}
		.checkpw-content{
				padding: 0 0 15px 0;
			}
		.pwemail{
				font-weight: 600;
			}
		   
          .form-row-button {
	           margin-top: 0;
	        .field{
	            min-height: @form-field-min-height-auto!important;
             }	
		}
		.forgot-pin, .guest-checkout-button{
			padding-left: 15px;
			cursor:pointer;
			@media (max-width: @mobile-max) {
				padding-left: 0;
				margin-top: 15px;
				display: block;
			}
		}
		.emailEditButton{
			color: @cobalt-blue;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 600;
			cursor: pointer;
		}
		p .forgotpw-email{
			font-weight: 900;
		}
		.activateNow-button button{
			background-color: @cobalt-blue;
		}
	}
}
	
.quick-buy-dialog.ui-dialog{
    width: max-content!important;
	@media (max-width: @mobile-max) {
		width: 83% !important;		
	}
  	.qbBtn {
  		width:11.25rem !important;
  		text-transform:uppercase
  	}
  	a  {
  	  text-transform:uppercase
  	}

}

.tv-customer-box{
	margin-top:30px;
	text-align: center;
	padding: 15px;
	@media (min-width: @tablet-min) {
        padding:15px 75px;
    }
	.tv-customer-title{
		font-weight: 600;
	    color: @grey-darkest;
	    line-height: 20px;
	}
	.tvuserheader-message{
		color: @slidertilename;
		line-height: 20px;
		text-decoration:underline;
		margin:0 0 20px;
		cursor:pointer;
	}
	.form-row{
		width:100%;
		max-width:100%;
	}
}
.tv-customer-box.toggleopen {
    background-color: white;    
    .form-row-button .field{
    	min-height:auto;
    }
}	

.login-page{
	.login-box{
	width: 100%;	
	.login-box-inner{
		padding: 0;
		.field .button, .form-row-new .field .button{
		 	border-radius: 0;
		 	font-weight: 600;
		    color: #000000 !important;
		    line-height: normal;
		    border: 0;
		    background-color: @lightpink;
		    margin-bottom:12px;
		    &:hover{
		    	background-color:@darkpink;
		    }
		}
	}
	.guest-checkout{
		padding:11px;
		border:2px solid #36454f;
		text-align:center;
		color:#36454f;
		margin:12px 0;
		font-size:13px;
		text-transform:uppercase;
		font-weight:600;		
	}
	.email-fileds {
		 /*display: flex;
		 align-items: center;
		 @media (max-width: @mobile-max) {
		 		display: block;
	 		    padding-bottom: 10px;
		 }	
		.form-row-new{
			margin: 0 20px 0 0;
   		    width: 15rem;		
			@media (max-width: @mobile-max) {
				width: 100%;
				margin: 0 20px 0 0;
			}
		}*/
		p span{
			color: @cobalt-blue;
			font-weight: 600;
			cursor: pointer;
		}
	}
	
	.personal-fileds{
		/* display: flex;
		 @media (max-width: @mobile-max) {
		 		display: block;
			}	
		.form-row-new {
   			margin: 0 20px 0 0;
   		    width: 15rem;
   			@media (max-width: @mobile-max) {
   				width: 100%;
   			} 			
   		}
   		.form-row-select{
			width: 6.875rem;
			@media (max-width: @mobile-max) {
   				width: 100%;
   			}
		} */	
	}
	.password-fileds{
		/* display: flex;
		 @media (max-width: @mobile-max) {
		 		display: block;
			}
		.form-row-new {
   			margin: 0 20px 0 0;
   		    width: 19.1rem;
   			@media (max-width: @mobile-max) {
   				width: 100%;
   			} 			
   		}
 		 */			
	}
	

	.form-row-checkbox-white label{
		display: block !important;
		font-size: 13px;
	}				

}
}
.registration-container{
	h1{
		font-size: 32px;
	}
	h2{
		font-size: 14px;
		color: @green;
		padding-bottom: 10px;
	}
	/*.email-fileds {
		 display: flex;
		 align-items: center;
		 @media (max-width: @mobile-max) {
		 		display: block;
		 }	
		.form-row-new{
			margin: 0 20px 0px 0;
   		    width: 15rem;		
			@media (max-width: @mobile-max) {
				width: 100%;
			}
		}
		p span{
			color: @cobalt-blue;
			font-weight: 600;
			cursor: pointer;
		}
	}
	
	.personal-fileds{
		 display: flex;
		 @media (max-width: @mobile-max) {
		 		display: block;
			}	
		.form-row-new {
   			margin: 0 20px 0px 0;
   		    width: 15rem;
   			@media (max-width: @mobile-max) {
   				margin: 12px 0;
   			} 			
   		}
   		.form-row-select{
			width: 6.875rem;
			@media (max-width: @mobile-max) {
   				width: 6.25rem;
   			}
		}	
	} */
	/*.password-fileds{
		 display: flex;
		 @media (max-width: @mobile-max) {
		 		display: block;
			}
		.form-row-new {
   			margin: 0 20px 0 0;
   		    width: 18rem;
   			@media (max-width: @mobile-max) {
   				margin: 3px 0;
   			} 			
   		}
   		.form-row-password .icon-password{
   			height: 2rem;
   			line-height: 3.1rem;
   		}   					
	} */
	.input-text{
		background-color: @grey-lighter;
		border: 1px solid @grey-dark;
		border-radius: 0;
		height: 2.5rem;
	}

	label{
		font-size: 13px;
		padding-bottom: 4px;
		padding-top: 0;
	    line-height: normal;
	}
	.form-row-checkbox label{
		display: block !important;
	}				

}

.reduced-register-container{
	.showmore{
		text-transform: none;
		cursor: pointer;
	}
	.login-box-content .form-row-button .field {
       margin-top: 0;
       min-height:auto;
    }
    .login-box{
    	.email-fileds{
	     	padding-top: 10px;
  		}
  		.valid-email{
			display: flex;
			align-items: center;
  			&:after{
		     	content: "\f058";
			    font-family: 'FontAwesome';
			    font-size: 30px;
			    display: block;
			    color: @green;
			    margin-top: -25px;
		        margin-left: 10px;
 			}
  		}
  		.invalid-email{
  			.validation-success .field .input-text{
  				border:2px solid @red !important;
  			}
  			.invalid-email-Message{
			    line-height: 18px;
			    margin-top: 0;
			    white-space:normal;
  				span{
  					a{
  						text-decoration: underline !important;
					    color: @red;
					    pointer-events: auto;
  					}
  				}
  			}			
  		}
  		
    }
}

.tvconnectdialog{
	left: 0 !important;
	margin: 0 auto !important;
	width: 27.5rem !important;
	@media (max-width: @mobile-max) {
		width: 83% !important;		
	}
	.ui-dialog-titlebar-close{
		right: 5px;
		top: -10px;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
	}
	.login-box-inner {
    padding: 0;
	}
	label{
		display: none;
	}
	.input-text{
		border: 0;
		background-color: @grey-lighter;
		border-bottom: 2px solid @grey-dark;
		border-radius: 0;
		height: 3.125rem;
	}
	.tvconnect-fields{
		width: 15rem;
		.form-row-new{
			margin: 0 0 20px 0;
		}
	}
	.tvconnectpw-fields{
		width: 9rem;
		.form-row-password .icon-password{
   			height: 50px;
   			line-height: 50px;
   		} 
	}

}

.signin-modelbox{
	left: 0 !important;
	margin: 0 auto !important;
	width: 27.5rem !important;
	@media (max-width: @mobile-max) {
		width: 83% !important;		
	}
	.ui-dialog-titlebar-close{
		right: 5px;
		top: 5px;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
	}
}

.ajaxrefresh:nth-child(2) {
    display: none;
}
.checkemail-field, .checkpw-field{
	.error{
	 margin-top: -28px;
    font-size: 12px;
    margin-bottom: 6px;
    	@media (max-width: @mobile-max) {
		font-size: 11px;		
	}
 }
}

.login-page .account-container {
	.registration-social-login{
.login-oauth{
    margin-bottom: 10px;
  }
}
.reduced-register-container{
	 
    margin-top: -12px;
 }
}