.opc{
	background-color: #eeeeee;
	.header-checkout-wrapper {
		/* box-shadow: none; */
		height:64px;
		.header-inner-checkout {
	        max-width: @old_tablet-max;
	        margin: 0 auto;
			display: flex;
			padding: 20px 0;
			flex-direction: column;
			justify-content:unset;
			@media (min-width: @tablet-min) {
				flex-direction: row;
			}
			.primary-logo {
				width: 70px;
				margin: 0 auto;
				padding-bottom: 0;
				margin-top: -1.3rem;
				margin-left: 15px;
				position:absolute;
				@media (max-width: 767.5px) {
					margin-top: -0.4rem;
					margin-left: 10px;
				}
				img{
					width: 4.5rem;
					@media (max-width: 767.5px) {
						width: 4.0rem;
					}
				}
			}
		}
		.title{
			margin-left: auto;
			margin-right: auto;
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 600;
			line-height: 20px;
			@media (max-width: 767.5px) {
				font-size: 18px;
			}
		}
	}
	
	/* Base Elements */
	.form-row{
		@media (max-width: 767.5px){
			max-width: 100%!important;
			width: 100%;
		}
		label{
			display: none;
		}
		.field{
			margin-left: 0;
			input.input-text, div.selector {
				background-color: @white!important;
				height: 50px;
				border-radius: 3px;
				span{
					line-height: 50px;
				}
			}
		}
		&.form-row-radio{
			.field{
				.radio{
					span{
						&.checked{
							top: 15%;
							left: 15%;
						}
					}
				}
			}
		}
	}
	.form-group{
		input.input-text, div.selector {
			background-color: @white!important;
			height: 50px!important;
			border-radius: 3px!important;
			span{
				line-height: 50px;
			}
		}
		&.checkbox-input-wrapper{
			label{
				display: unset!important;
			}
		}
	}
	.checker{
		width: 40px;
		height: 40px;
	}
	.radio-override{
		.checker{
			width: 20px!important;
			height: 20px!important;
			.checked{
				&:before{
					width: 20px!important;
					height: 20px!important;
				}
			}
		}
	}
	button, .button{
		height: 50px;
		font-weight: 600;
		text-transform: uppercase!important;
		@media (max-width: 767.5px){
			width:100%;
		}
		&.disabled, &.buttondisabled, &[disabled]{
			filter: grayscale(100%);
			&:hover{
				filter: grayscale(100%);
			}
		}
	}
	.validation-error-custom{
		.field{
			display: grid;
			
			.input-text{
				border-color: @red!important;
				color: @red;
			}
			.error-msg {
				display: block;
			}
		}
	}
	.email-subscription-box{
	    min-height: 120px;
	    .addtomaillist{
		    .form-row.form-row-checkbox{
		    	margin-top: 0;
		    	.field{
			    	min-height:auto;
			    	label{
			    		display: block;
			    	}
			    	.checker{
			    		width:25px;
			    		height:25px;
			    		min-width: 25px;
			    	}
			    	div.checker span.checked::before{
	    		    	top: 0;
	    		    	font-size: 15px;
			    	}
			    }
		    }	    		
		}
	}	
	/** Base Elements **/
	
	.main-wrapper{
		.main{
			padding-left: 20px;
			padding-right: 20px;
			@media (max-width: 767.5px) {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
			.primary-col{
				/* sections row-col */
				.sections-row-div{
					width: 100%;
					display: flex;
					padding-bottom: 6px;
					@media (max-width: 767.5px) {
						display: block !important;
						padding-bottom: 0 !important;
					}
				}
				.sections-col-div{
					padding: 0 6px 6px;
					@media (max-width: 767.5px) {
						width:100% !important;
						padding: 6px 0 6px 0 !important;
						display: flex !important;
					}
				}
				.sections-col-mobile{
					display: none !important;
					@media (max-width: 767.5px) {
						display: unset !important;
					}
				}
				.fixed-content{
					width: 100%;
					background-color: @white;
					height: 40px;
					top: 0;
					left: 0;
					position: fixed;
					padding: 5px 15px!important;
					box-shadow: 0 0 8px #2c163d;
					justify-content: space-between;
					z-index: 10;
					display: none;
					@media (min-width: 767.5px) {
						display: none !important;
					}
					.fixed-content-row{
						display: flex;
						width: 100%;
						.fixed-content-col{
							width: 50%;
						}
					}
				}
				.sections-col-div-div{
					width:100% !important;
				}
				.sections-col-div-60{
					width: 60%;
				}
				.sections-col-div-40{
					width: 44%;
				}
				.sections{
					background-color: @white;
					border-radius: 3px;
				}
				.section{
					padding: 15px;
					div.title{
						font-size:22px;
						font-weight:600;
					}
					legend{
						width: 100%;
						span.section-title{
							padding: 10px 0;
							font-weight: 600;
							font-size: 22px;
						}
						span.title{
							padding: 10px 0;
							font-weight: 600;
							font-size: 16px;
						}
						span.required-indicator{
							display: none;
							visibility: hidden;
							color: white;
							background-color: #c20000;
							width: 25px;
							height: 25px;
							border-radius: 50%;
							text-align: center;
							float: right;
							line-height: inherit;
							font: normal normal bold 30px/0.8 FontAwesome;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							transform: translate(0,0);
							&:after{
								content: "!";
							}
						}
					}
				}
				/** sections row-col **/
				
				/* sections group */
				.delivery, .payment{
					float: right;
					width: 600px;
					margin-bottom: 6px;
					@media (min-width: @old_tablet-min) and (max-width: 1022px) {
						width:450px !important;
					}
					@media (max-width: 767.5px) {
						width:100% !important;
					}
				}
				.order-summary, .tac{
					width: 380px;
					@media (min-width: @old_tablet-min) and (max-width: 1022px) {
						width:280px !important;
					}
					@media (max-width: 767.5px) {
						width:100% !important;
					}
				}
				/** sections group **/
				
				/* sections */
				.delivery{
					margin-bottom: 6px;
					.guestDetails{
							fieldset{
							max-width: 21.85rem!important;
							@media (max-width: 767.5px) {
								max-width: unset!important;
							}
							p.fieldlabel{
								margin: -10px 0 0;
							}
						}
						.detail-title{
							.selector{
								width: 110px!important;
							}
							.error-msg{
								width: 100px!important;
							}
						}
						.first-last-name{
							display: flex;
							.detail-first-name, .detail-last-name{
								width: 50%;
								margin: 0;
							}
							.detail-first-name{
								margin: 0 10px 0 0;
							}
						}
						.form-row.notmandatoryPhone{
							.field:after {
							    content: 'Optional';
							    position: absolute;
							    z-index: 1;
							    right: 12px;
							    top: 2px;
							    color: #2c163d;
							    font-size: 12px;
							    line-height: 47px;
							    padding-right: 6px;
							    padding-left: 4px;
							    pointer-events: none;
							}
						}
						span.guestaddressmodelbox{
							padding-left: 25px;
							color: @cobalt-blue;
							font-weight: 600;
							font-size:14px;
							text-transform: uppercase;
						    cursor: pointer;
							&:after{
							    font: normal normal normal 17px/1 FontAwesome;
							    text-rendering: auto;
							    content: "\f0da";
						        padding-left: 8px;
							}
						}
						.guestShowDetails{
							padding-top: 5px;
							.custName{
								text-transform: capitalize;
							}
							.custEmail{
							}
							.custMobile{
							}
						}
						.mandatory-phone{
							margin-top: -5px;
							display: inline-block;
							margin-bottom: 20px;
							line-height: 14px;
						}
						
						#guestDetails {	
                             padding-bottom: 15px;
                         }
                         .email-fileds{
                         	.field{
                         		min-height:60px;
                         	}                         	
                         }
					}
					.delivery-address{
						> legend{
							padding: 0 0 10px 0;
						}
					}
					.checkout-addresses-form{
						margin-top:10px;
						.form-row.form-row-half{
							width: 100%;
							.field{
								    margin-right: 0;
							}
						}
					}
					.gift{
						.gift-receipt{
							.field{
								 min-height: @form-field-min-height-auto;
							}							
							.hide {
								display: none;
							}
							.info-icon{
								position: absolute;
								margin-left: 10em;
								margin-top: 0.8em;
								border: 1px solid @cobalt-blue;
								border-radius: 50%;
								padding: 0;
								width: 18px;
								height: 18px;
								/*background-color: @cobalt-blue;*/
								display: inline-grid;
								font-style: unset;
								z-index: 1;
								&:after{
									line-height: 16px;
									font-size: 16px;
									content: '?';
									/*font-family: FontAwesome;*/
									font-weight: 900;
									/*padding-left: 0.42rem;*/
									text-align: center;
									padding-top: .01rem;
									color: @cobalt-blue;
									vertical-align: super;
								}
								&:hover + .hide {
									display:block;
									position: absolute;
									box-shadow: 0px 0px 20px 0px #dad4ec;
									padding: 10px;
									font-size: 12px;
									line-height: 17px;
									width: 210px;
									z-index: 999999;
									background-color: #ffffff;
									margin-top: 45px;
									/*transform: translate(-70%, 5px);*/
								}
							}
							.is-gift{
								margin-top: unset;
								margin-bottom:10px;
																
								.field{
									label{
										display:block;
									}
								}
							}
							.gift-content{
								border: 1px solid @grey-dark;
								border-radius: 3px;
								margin-bottom: 10px;
								display: none;
								.gift-message-text{
									max-width: unset;
									label{
										display:none;
									}
									.field{
										margin-left: 0;										
										textarea{
											resize: none;
											border: 1px solid @white!important;
											background-color: @white;
											&:hover, &:focus{
												border: 1px solid @white!important;
											}
										}
									}
								}
								.field-inner-text{
									display: none;
								}
								.gift-recipient-name{
									max-width: unset;
									display: flex;
								    margin: -1px 0;
				                    padding-top: 7px;
									label{
										display: block;
										width: calc(100% - 148px);
										padding: 8px 0 0 12px;
									}
									
									&.validation-error{	
										
										border: 2px solid @red;
									    width: calc(99.65%);
                                        margin-left: -1px;
                                        border-radius: 3px;																			  
										.field{
											.error-msg{
												display: none!important;
											}
											.input-text{
												border:none!important;
											}
										}
									}
									&.validation-success{	
								    	border: 2px solid @green;
									    width: calc(99.65%);
                                        margin-left: -1px;
                                        border-radius: 3px;	
								    }
									
									.field{
										margin-left: 5px;
										width: 100%;
										min-height: 53px;
										input{
											position: absolute;
											border: 1px solid @white!important;
											background-color: @white;
										    padding: 19px 0 0 12px;						                  
										    
										    &.error{
										    	border: 1px solid @red;
										    }
						                    &:hover, &:focus{
							                  border:1px solid @white!important;
						                  }
										}
										.error-msg{
											display: none!important;
										}
										.field-inner-text{
											display: block;
											position: absolute;
											right: 0;
											border-radius: 3px;
											border: 1px solid #492565;
											box-sizing: border-box;
											background-color: #492565;
											cursor: pointer;
											color: #fff!important;
											font-weight: 900;
											text-transform: uppercase;
											padding: 7px 15px;
											margin-right: 7px;
											top: 5px;
										}
									}
								}
								.message-count{
									font-size: 11px;
									display: block;
									text-align: right;
									margin-right: 10px;
								}
								hr{
									border-top: 1px solid @grey-dark;
									border-bottom: 0;
									margin-bottom:0;
								}
							}
							.gift-content-with-message{
								legend{
									padding: 0;
								}
								span.gift-to-name{
									padding: 10px 0 0 0;
									font-size: 14px;
									.content-title{
										font-weight: 600;
										text-transform: uppercase;
									}
									.gift-to-name-content{
										font-weight: 500;
									}
								}
								span.gift-to-message{
									display:block;
									padding: 0 0 10px 0;
									font-size: 14px;
									.content-title{
										font-weight: 600;
										text-transform: uppercase;
									}
									.gift-to-message-content{
										font-weight: 500;
									}
								}
								span.gift-edit-button{
									float: right;
									color: @cobalt-blue;
									font-weight: 600;
									font-size:14px;
									text-transform: uppercase;
								    cursor: pointer;
									&:after{
									    font: normal normal normal 17px/1 FontAwesome;
									    text-rendering: auto;
									    content: "\f0da";
								        padding-left: 8px;
									}
								}
							}
						}
					}
					.address{
						&.checkout-shipping-address{
							margin-bottom: 10px;
						}
						legend{
							padding: 5px 0 5px 0;
						}
						.opcDeliveryAddress{
							span.title{
								padding: 10px 0;
								font-weight: 600;
								font-size: 16px;
							}
							span.addressmodelbox, span.guestaddressmodelbox{
								padding-left: 25px;
								color: @cobalt-blue;
								font-weight: 600;
								font-size:14px;
								text-transform: uppercase;
							    cursor: pointer;
								&:after{
								    font: normal normal normal 17px/1 FontAwesome;
								    text-rendering: auto;
								    content: "\f0da";
							        padding-left: 8px;
								}
							}
							span.contry-restriction-message{
								color: @red;
								line-height: 16px;
								display: block;
								margin-bottom: 10px;
							}
						}
						.opcAddressFields{
							.form-row{
								.field{
									margin-left: unset;
									.selector, .input-text{
										max-width: 21.85rem!important;
										@media (max-width: 767.5px) {
											max-width: unset!important;
										}
									}
								}
							}
							.post-code-field{
								@media (max-width: 767.5px) {
									display: flex;
									max-width: unset!important;
								}
								max-width: 21.85rem!important;
								.field{
									width: 100%;									
									/*@media (max-width: 767.5px) {
										max-width: unset!important;
									} */
								} 
								.address-check-btn{
									margin-top: unset;
									button{
										width: 11.5rem;
										@media (max-width: 767.5px) {
											width: 10rem;
										}
									}
								}
							}
							.addresses-select{
								max-width: 21.85rem!important;
								margin-bottom: 15px;
								@media (max-width: 767.5px) {
									max-width: unset;
								}
								.form-row{
									.field{
										width: 21.85rem!important;
										@media (max-width: 767.5px) {
											width: 100%!important;
											max-width: 21.85rem!important;
										}
									}
									.type-address-btn{
										.button{
											margin-top: 8px;
											color: #005c99!important;
											font-weight: 600;
											font-size: 14px;
											text-transform: uppercase!important;
											cursor: pointer;
											border: 0;
											margin: 0;
											padding: 0;
											background-color: unset;
											height: unset;
											padding: 10px 0 0 0;
											text-align: left;
											&:after{
											    font: normal normal normal 17px/1 FontAwesome;
											    text-rendering: auto;
											    content: "\f0da";
										        padding-left: 8px;
											}
										}
									}
								}
								.type-address-btn{
									margin-top: unset;
									.button{
										margin-top: 8px;
										color: #005c99!important;
										font-weight: 600;
										font-size: 14px;
										text-transform: capitalize!important;
										cursor: pointer;
										border: 0;
										margin: 0;
										padding: 0;
										text-align: left;
										background-color: unset;
										height: unset;
										&:after{
										    font: normal normal normal 17px/1 FontAwesome;
										    text-rendering: auto;
										    content: "\f0da";
									        padding-left: 8px;
										}
									}
								}
							}
							.additional-address-fields{
								.error-msg{
									max-width: 21.0rem!important;
								}
							}
							
                           }

						.xlt-continueShopping{
							margin-top: 0;
						}
						.preferredAddress{
							.custName{
								text-transform: capitalize;
								.change-cust-address{
									display: none;
									font-size: 14px;
									line-height: 16px;
									font-weight: 600;
									color: @cobalt-blue;
									text-transform: uppercase;
									float: right;
									text-align: right;
									&:after{
										font: normal normal normal 17px/1 FontAwesome;
										font-size: 16px;
										color: @cobalt-blue;
										text-rendering: auto;
										content: " \f0da";
									}
								}
							}
							.custAddress{
							    word-break: break-word;
							}
						}
						&.checkout-billing-methods{
							.input-radiogroup{
								.form-row-radio{
									margin-top: 12px;
									margin-bottom: 12px;
								    display: flex;
									align-items: center;
									label{
									    font-weight: 600;
									    line-height: 20px;
									}
									.delivery-method-description{
										display: block;
										font-weight: 500;
									}
								}
							}
							.form-row-radio{
								margin: 0;
								.field {
									> label{
										display: none!important;
									}
								}
							}
						}
					}
				}
				.delivery-methods{
					margin-top: 6px;
				}
				.payment{
					margin-top: 6px;
					.paymentMethod{
						.checkout-summary {
							width: 100%;
							.tjc-credit-details {
								display: block;
								/*max-width: 400px;*/
								margin-bottom: 15px;
								.above-p-tag{
								}
								.below-p-tag{
									margin: 10px 0 0 0;
								}
								p{
									margin: 0 0 10px 0;
									.credit-balance{
										color: @purple-dark;
										font-weight: 700;
									}
								}
								.credit-inner {
									position: relative;
									display: inline-block;
									/*margin-left: 5px;*/
									width: 100%;
									max-width: 22rem!important;
									.label {
										position: absolute;
										z-index: 1;
										font-size: 16px;
										top: 0.7em;
										left: 0.5em;
										width: unset;
									}
									.input-text {
										width: 100px;
										margin-top: -2px;
										margin-right: 8px;
										height: 50px!important;
										border-radius: 3px!important;
										padding-left: 20px;
										background-color: @white!important;
									}
									.credit-apply-button {
										width: 12.6em;
										@media (max-width: 767.5px) {
											display: unset;
										}
									}
								}
							}
							.payment-methods {
								margin: 0 0 5px 0;
								fieldset {
									/* margin-bottom: 25px; */
									.cvv-input {
										margin: 10px 0!important;
										width: 7.5rem!important;
					
										input {
											border: 2px solid @black !important;
										}
									}
									.checkbox-input-wrapper {
										display: flex;
										flex-direction: row;
										align-items: center;
										margin-bottom: 15px;
										label {
											margin-left: 15px;
											padding-bottom: 0px !important;
										}
									}
									.payment-methods-headline {
										font-size: 15px;
										font-weight: 500;
										padding-bottom: 15px;
										margin-top: 7px;
									}
									.payment-methods-warning {
										width: 100%;
										height: auto;
										background-color: @red;
										border-radius: 3px;
										display: none;
										margin-bottom: 25px;
										.payment-methods-warning-inner {
											color: @white;
											padding: 10px;
											font-size: 14px;
										}
									}
									.payment-method-wrapper {
										display: flex;
										flex-direction: column;
										border-bottom: 2px solid @grey-light; /*#dad4ec*/
										.payment-method {
											.field{
											  display: flex;
											}
											
											&.netbanx {
												order: 1;
											}
											&.paysafe {
												order: 1;
											}
											&.apple-pay{
												order: 3;
											}
											&.budgetpay {
												order: 5;
											}
											&.paypal {
												order: 7;
											}
											&.paypal-credit {
												order: 9;
											}
										}
										.budgetpayDetails {
											&.BudgetPay {
												order: 6;
											}
										}
										.paysafe-card-details {
											&.Paysafe {
												order: 2;
											}
											&.BudgetPay {
												order: 6;
											}
										}
										.billing {
											&.tjccredit {
												order: 0;
											}
											&.Paysafe {
												order: 2;
											}
											&.BudgetPay {
												order: 6;
												.payment-method-description {
													&.budgetpay {
														display: block;
													}
												}
											}
											&.paypal {
												order: 8;
												.payment-method-description {
													&.paypal {
														display: block;
													}
												}
											}
											&.paypal-credit {
												order: 10;
												.payment-method-description {
													&.paypal-credit {
														display: block;
													}
												}
											}
											.payment-method-description {
												.content-asset{
													img{
														@media (max-width: 769px) {
															width: 28em!important;
														}
														@media (max-width: 380px) {
															width: 20.7em!important;
														}
													}
												}
											}
										}
										.tjcplus-savecard {
											font-weight: bold;
										    color: @cobalt-blue;
										    margin-top: 15px;
										    @media (min-width: @tablet-min) {
										    	width: 50%;
										    }
										}
										.tjccredit{
											margin: 0;
											h3{
												margin: 0;
											}
										}
										.applePayDetails{
											order: 4;
											display: none;
											margin-bottom: 20px;
											margin-left: 36px;
											.pay-button{
												.paysafe-apple-pay-button{
													height: 40px!important;
												}
											}
										}
									}
									.budgetpayDetails {
										display: none;
										&.BudgetPay {
											.order-totals-budgetpay {
												display: table-row-group!important;
												.order-totals-budgetpay{
													display: none!important;
												}
											}
										}
									}
									.payment-method {
										margin-top: 0;
										margin-bottom: 20px;
										border-top: 2px solid @grey-light;
										padding-top: 20px;
										label {
											overflow: hidden;
											width:100%;
											img {
												height: 100%;
												width: auto;
												float: left;
											}
											> span {
												color: @purple-dark;
												font-size: 12px;
												@media (max-width: 330.5px) {
													font-size: 11.5px;
												}
												.content-asset {
													display: inline-block;
												}
											}
											.label-title{
												display: inline-grid;
												.label-title-head{
													font-size: 15px;
													font-weight: 900;
												}
												.label-title-desc{
												}
											}
											.label-image{
												float:right;
												margin-top: 0.6em;
											}
										}
										&.paypal, &.budgetpay, &.paypal-credit {
											.label-image{
												margin-top: 1.0em!important;
												img{
													width: 6em;
													@media (max-width: 767.5px) {
														width: 4.72em;
													}
												}
											}
										}
									}
									.paysafe-card-details {
										display: none;
										width: 100%;
										/* padding: 0 0 40px 20px;
					                    padding:0 0 40px; */
										@media (max-width: 767.5px) {
											margin: 0 auto;
											padding-left: 0;
										}
										.opcPaySafeHeader{
											span.title{
												padding: 10px 0;
												font-weight: 600;
												font-size: 16px;
											}
											span.paysafemodelbox{
												padding-left: 25px;
												color: @cobalt-blue;
												font-weight: 600;
												font-size:14px;
												text-transform: uppercase;
											    cursor: pointer;
												&:after{
												    font: normal normal normal 17px/1 FontAwesome;
												    text-rendering: auto;
												    content: "\f0da";
											        padding-left: 8px;
												}
											}
										}
										.credit-card-box {
											width: 100%;
											max-width: 22rem!important;
											@media (max-width: 767.5px) {
												max-width: unset!important;
											}
											.new-card-form{
												fieldset{
													max-width: 21.85rem!important;
													@media (max-width: 767.5px) {
														max-width: unset!important;
													}
													.form-group {
														label {
															display: none;
														}
														.input-group-addon{
															display: none;
														}
														.card-input{
															background-color: @white;
															border: 2px solid @black;
															margin: 5px 0;
															height: 50px;
															border-radius: 3px;
															width: 100%;
														}
														.checker{
															height: 40px;
															width: 40px;
														}
													}
												}
												.cardDateCVV{
													display: flex;
													.cardDate, .cardCVV{
														width: 7.5rem;
														@media (max-width: 767.5px) {
															width: unset!important;
														}
														.expiration-date, .cvv-code{
															width: unset;
														}
														.expiration-date{
															margin-right: 10px;
														}
														.cvv-code{
															margin-bottom: 10px;
														}
													}
												}
											}
											.input-wrapper {
												display: none;
											}
											.form-group {
												width: 100%;
												margin-bottom: 5px;
												label {
													display: none;
													font-size: 14px;
													/* text-transform: uppercase; */
													font-weight: 400;
													/* padding-bottom: 10px */
												}
												.card-input {
													height: @input-height;
													border: 1px solid @grey-lighter;
													border-radius: 3px;
													iframe {
														padding-left: 10px;
													}
												}
												.error {
													border: 2px solid @red!important;
													outline: 0;
													box-shadow: none;
												}
												.success {
													border: 2px solid @green!important;
													outline: 0;
													box-shadow: none;
												}
												.card-number, .input-group-addon {
													float: left;
													border: 1px solid @grey-lighter;
												}
												.card-number {
													width: calc(85% - 3px);
													border-right: 0;
													border-top-right-radius: 0;
													border-bottom-right-radius: 0;
												}
												.expiration-date {
													width: 58%;
												}
												.cvv-code {
													width: 58%;
													margin-bottom: 15px; 
												}
												.input-group-addon {
													height: @input-height;
													width: 15%;
													border-top-right-radius: 3px;
													border-bottom-right-radius: 3px;
													background-color: @grey-lighter;
													text-align: center;
													i {
														font-size: 20px;
														padding: 7px 0;
														color: @blue;
													}
												}
											}
											.pay-now {
												width: 100%;
												font-size: 14px;
												border-radius: 3px;
												border: 1px solid @grey-lighter;
												height: auto;
											}
										}
										
										.cvv-input input, .new-card-form #cardCVC{
											    background-color: #ededb1!important;
										}
										
										.cvv-input {
											.validation-error{
												border: 2px solid @red!important;
												&:focus{
													border: 2px solid #000!important; 
												}
											} 
										span.cvv-input-error{
											display:none;
											font-size: 12px;
										    white-space: nowrap;
						                    color: @red;
										}
									}
										
									}
									.paynow {
										min-width: 240px;
										&.disabled {
											pointer-events: none;
											opacity: 0.5;
										}
									}
								}
								.payment-method-description {
									display: none;
									/*background-color: @grey-lighter;
									margin-bottom: 25px;
									padding: 10px;*/
								}
								.checkout-summary-hint{
									font-size: 12px;
									line-height: 18px;
									p{
										margin-bottom: 0;
									}
									a{
										color: #005c99;
										font-weight: 600;
									}
								}
								.checkout-redirect-hint{
									font-size: 12.5px;
									line-height: 15px;
									padding-top: 15px;
								}
								.billing{
									.address{
										&.checkout-billing-address{
											margin-bottom: 10px;
											.sameAsShipping{
												margin-top: 5px;
												&.form-row-checkbox{
													.field{
														label{
															margin-left: 15px;
														}
													}
												}
											}
										}
										legend{
											padding: 5px 0 5px 0;
										}
										.opcDeliveryAddress{
											span.title{
												padding: 10px 0;
												font-weight: 600;
												font-size: 16px;
											}
											span.addressmodelbox{
												padding-left: 25px;
												color: @cobalt-blue;
												font-weight: 600;
												font-size:14px;
												text-transform: uppercase;
											    cursor: pointer;
												&:after{
												    font: normal normal normal 17px/1 FontAwesome;
												    text-rendering: auto;
												    content: "\f0da";
											        padding-left: 8px;
												}
											}
											span.contry-restriction-message{
												color: @red;
												line-height: 16px;
												display: block;
												margin-bottom: 10px;
											}
										}
										.opcAddressFields{
											.form-row{
												.field{
													margin-left: unset;
													.selector, .input-text{
														max-width: 21.85rem!important;
														@media (max-width: 767.5px) {
															max-width: unset!important;
														}
													}
												}
											}
											.post-code-field{
												@media (max-width: 767.5px) {
													display: flex;
													max-width: unset!important;
												}
												max-width: 21.85rem!important;
												.field{
													@media (max-width: 767.5px) {
														max-width: unset!important;
													}
												}
												.address-check-btn{
													margin-top: unset;
													button{
														width: 11.5rem;
														@media (max-width: 767.5px) {
															width: 10rem;
														}
													}
												}
											}
											.addresses-select{
												max-width: 21.85rem!important;
												@media (max-width: 767.5px) {
													max-width: unset;
												}
												.form-row{
													.field{
														width: 21.85rem!important;
														@media (max-width: 767.5px) {
															width: 100%!important;
															max-width: 21.85rem!important;
														}
													}
													.type-address-btn{
														.button{
															margin-top: 8px;
															color: #005c99!important;
															font-weight: 600;
															font-size: 14px;
															text-transform: uppercase!important;
															cursor: pointer;
															border: 0;
															margin: 0;
															padding: 0;
															background-color: unset;
															height: unset;
															padding: 10px 0 0 0;
															text-align: left;
															&:after{
															    font: normal normal normal 17px/1 FontAwesome;
															    text-rendering: auto;
															    content: "\f0da";
														        padding-left: 8px;
															}
														}
													}
												}
												.type-address-btn{
													margin-top: unset;
													.button{
														margin-top: 8px;
														color: #005c99!important;
														font-weight: 600;
														font-size: 14px;
														text-transform: uppercase!important;
														cursor: pointer;
														border: 0;
														margin: 0;
														padding: 0;
														text-align: left;
														background-color: unset;
														height: unset;
														&:after{
														    font: normal normal normal 17px/1 FontAwesome;
														    text-rendering: auto;
														    content: "\f0da";
													        padding-left: 8px;
														}
													}
												}
											}
										}
										.preferredAddress{
											.custName{
												text-transform: capitalize;
												.change-cust-address{
													display: none;
													font-size: 14px;
													line-height: 16px;
													font-weight: 600;
													color: @cobalt-blue;
													text-transform: uppercase;
													float: right;
													text-align: right;
													&:after{
														font: normal normal normal 17px/1 FontAwesome;
														font-size: 16px;
														color: @cobalt-blue;
														text-rendering: auto;
														content: " \f0da";
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.order-summary{
					margin-bottom: 6px;
					.cartSummary{
						legend{
							margin-top: 10px;
						}
						.cart-checkout{
							.xlt-continueCheckout{
								/*padding-top: 10px;
								padding-bottom: 10px;*/
								.button{
									line-height: 16px;
								}
							}
						}
						.coupon-and-cart-top{
							display:none;
							@media (max-width: 767.5px) {
								display:block;
							}
						}
						.coupon-and-cart-bottom{
							display:block;
							@media (max-width: 767.5px) {
								display:none;
							}
						}
						.cart-coupon-code-button{
							color: @cobalt-blue;
							font-weight: 900;
							cursor: pointer;
							padding: 0 0 10px;
							border-bottom: 1px solid @grey-dark;
							line-height: normal;
							.symbol-down{
								font-size: 14px;
								line-height: 26px;
								font-weight: 900;
								color: @cobalt-blue;
								text-transform: uppercase;
								float: right;
								text-align: right;
								&:after{
									font: normal normal normal 14px/1 FontAwesome;
									font-size: 16px;
									color: @cobalt-blue;
									text-rendering: auto;
									content: " \f078";
								}
							}
							.symbol-up{
								font-size: 14px;
								line-height: 26px;
								font-weight: 900;
								color: @cobalt-blue;
								text-transform: uppercase;
								float: right;
								text-align: right;
								&:after{
									font: normal normal normal 14px/1 FontAwesome;
									font-size: 16px;
									color: @cobalt-blue;
									text-rendering: auto;
									content: " \f077";
								}
							}
						}
						.cart-coupon-code{
							display: none;
							width: 100%;
							.field{
								float: left;
								margin-right: 10px;
								width:calc(100% - 100px);
								.input-text{
									&.error{
								    	border: 1px solid @red;
								    }
								}

							}
							.button-coupon{
								float: right;
								width:90px;
							    min-width:auto;
								line-height: 15px;
								
							}
							.error-msg{
								background: transparent;
								color: @red;
								padding: 0;
							}
						}
						.couponsList{
							margin: 10px 0;
							.crow{
								margin: 5px 0;
								font-size: 16px;
								display: flex;
								line-height: 30px;
								.icons{
									display: inline-block;
									font: normal normal normal 14px/1 FontAwesome;
									font-size: inherit;
									text-rendering: auto;
									-webkit-font-smoothing: antialiased;
									-moz-osx-font-smoothing: grayscale;
									-ms-transform: translate(0,0);
									transform: translate(0,0);
								}
								.couponStatus{
									width: 10%;
									padding: 0 0 0 0;
									.couponApplied{
										font-size: 25px;
										font-weight: 500;
										&:after{
											color: @green;
											content: "\f00c";
										}
									}
									.couponNotApplied{
										font-size: 27px;
										font-weight: 500;
										&:after{
											color: @red;
											content: "\f00d";
										}
									}
								}
								.couponCode{
									width: 90%;
								}
								.couponAction{
									line-height: 30px;
									cursor: pointer;
									font-size: 18px;
									color: @red;
									&:after{
										content: "\f057";
									}
								}
							}
						}
						hr{
							border-top: 1px solid @grey-dark;
							border-bottom: 0;
							
						}
						legend{
							span.title{
								display: block;
								padding: 10px 0 0 0;
							}
						}
						.cart-order-totals{
							.cart-checkout{
							}
							table.order-totals-table{
								tbody.order-totals-budgetpay{
									tr{
										td{
											padding: 5px 0 0 0!important;
										}
										&.order-installment-hint{
											line-height: 15px;
										}
									}
								}
							}
						}
						.total{
							font-size: 18px;
							.desc{
							}
							.value{
								float: right;
								text-align: right;
							}
						}
					}
					.cartDetails{
						.cartDisplay{
							padding-top: 20px;
							.cartCount{
								text-transform: uppercase;
							}
							.cartButton{
								a.cart{
									font-size: 14px;
									/*line-height: 16px;*/
									font-weight: 600;
									color: @cobalt-blue;
									text-transform: uppercase;
									float: right;
									text-align: right;
									&:after{
										font: normal normal normal 17px/1 FontAwesome;
										font-size: 16px;
										color: @cobalt-blue;
										text-rendering: auto;
										content: " \f0da";
									}
								}
							}
							.cartProducts{
								.cartProductsImages{
									.custom-slider{
										.fa-chevron-left, .fa-chevron-right{
											top: calc(50% - 30px);	
										} 										
										.custom-slider-inner{
										    justify-content: normal;
										    img{
												width: 33.33% !important;
												padding: 0 5px;
												&:first-child {
												  padding-left: 0px;
												}
												&:last-child {
												  padding-right: 0px;
												}
											}
										}
									}
									img{
										width: 30%;
										padding: 0 5px;
										&:first-child {
										  padding-left: 0px;
										}
										&:last-child {
										  padding-right: 0px;
										}
									}									
								}
							}
						}
					}
				}
				.fixed-cart-checkout{
					button.button{
						width: 128px;
						height: 30px;
						padding: 10px;
						line-height: 0px;
						float: right;
						margin-right: 30px;
						margin-top: 0.3rem;
					}
					.fixed-content-text{
						line-height: 20px;
						font-size: 13px;
					}
				}
				.tac{
					margin-top: 6px;
					background-color: transparent;
					.msg{
						font-size: 14px;
						line-height: 18px;
						/*text-align: justify;*/
						@media (max-width: @tablet-min) {
							font-size: 12px;
						}
						a{
							color: @cobalt-blue;
							font-weight: 600;
							&:hover{
								text-decoration: underline!important;
							}
						}
						p, div{
							margin:0;
						}
					}
					.msg-budgetpay{
						display: none;
					    width: 100%;
						text-align: left;
						color: @purple-dark!important;
						font-size: 11px;
						font-weight: 600;
						line-height: 14px;
						margin: 10px 0 0 0;
					}
				}
				/** sections **/
				
			}
		}
	}
	.customErrorMessage{
		color: #333333;
		background-color: #d3d700;
		height: 49px;
		line-height: 49px;
		padding: 0 15px;
		@media (max-width: 350px) {
			font-size: 90%;
			font-weight: 600;
		}
	}
	.xlt-continueCheckout{
		height: 60px;
		font-size: 18px;
		&.freezeSection{
			filter: unset;
			opacity: 0.5;
			.button, button{
				&.disabled, &[disabled]{
					filter: unset;
				}
			}
		}
	}
	.freezeSection{
		pointer-events: none;
		cursor: pointer;
		opacity: 0.3;
		filter: grayscale(100%);
		background-color: rgba(255,255,255,.85);
	}
	@media (min-width: 767.5px) {
		.floatingHeader{
			position: fixed;
			top: 12px;
		}
	}
}

/*###### Start One Page Checkout delivery address model popup ######*/
.opcAddressListModelPopup{
    width: 480px !important;
    @media (max-width: 767.5px) {
		width: 92% !important;
		height: 100% !important;
	    top: 0 !important;
		transform: translateY(0) !important;		
	}
    .opcTitle{
    	.custName{
		    width: 100%;
    	}
    	.title{
	    	font-weight: 600;
	    	font-size: 16px;
	    }
	    .cancelbutton{
	    	font-weight: 600;
	    	font-size: 12px;
	    	text-transform: uppercase;
	    	text-align: right;
	    	color: @red;
	    	float:right;
	    	cursor: pointer;
	    }
    }
    .default-title{
	    line-height: 20px;
	    font-weight: 600;
	    font-size: 14px;
	    margin: 10px 0 0 38px;
    }
    input[type=radio] {
	    width: 20px;
	    height: 20px;
    }
    address {
	    font-size: 13px;
	    font-style: normal;
	    text-transform: capitalize;
    	line-height: 16px;
	}
	.form-row{
		max-width:99%;
		width: 100%;
	}
	.field{
		input ~ label{
			display:block!important;
		}
	}
	.form-row.form-row-radio{
	    margin: 0 0 10px;
    	border-bottom: 1px solid @grey; 
        padding-bottom:10px;      	 
				label{
				    display: inline-block!important;
                    width: 90%;
				    @media (max-width: 767.5px) {
					 width: 87%;
				  }
			    }

	}
	.buttonlinks{
        margin: 10px 0 10px 38px;
		a{
			font-weight: 600;
		    text-align: center;
		    line-height: 30px;		    
		    text-transform: uppercase;
		    font-size: 13px;
		    border-radius: 3px;
	        text-decoration: none;	        
		}
		.address-make-default{
			background-color: @purple;
			color: @white;
			margin-right: 10px;
			padding: 5px 10px;
		}
		.address-edit{
		    border: 1px solid @purple;
		    padding: 2px 10px;
		    
		    &.paysafe{
				display: unset;
				height: 18px;
				line-height: 18px;
				width: 113px;
				@media (max-width: @mobile-large) {
					display: block;
				}
		    }
		}
		&.billing-address, &.delivery-address{
			.default-delivery_billing-address{
		    	display: none;
		    }
		}
	}
	.address-create-container{
		a{
			font-weight: 600;
		    color: #005c99;
		    line-height: 20px;
		    font-size: 14px;
		    text-transform: uppercase;
	        padding-top: 5px;
	        text-decoration: none;
		}
	}
	#dialog-container, #setDefaultaddress-section, #opcDeliveryAddresses, #addOPCAddress-section, #editOPCAddress-section{
		@media (max-width: 767.5px) {
		height: 100% !important;
			.addAddressOpc, .address-form{			
		    	min-height: 90%;
    			max-height: 90%;
	    		overflow-y: scroll;
		        padding: 0 12px 0 0;
		        scrollbar-color: @white;
			}		
		}
	}

	.addressbooklist{
		max-height: 85%;
		overflow-y: auto;
		label{
			pointer-events: auto!important;
		}
    	@media (min-width: @tablet-min) {
	    	max-height: 315px;
    		overflow-y: scroll;
	    }
	    .mini-address-name{
	    	text-transform: capitalize;
    	    font-size: 13px;
    	    display: none;
	    }
	} 
	
	/* Start Create New Address */
	.editOPCaddress{
		.post-code-field{
			.form-row-with-button{
				display: flex;
				width: 100%;
				margin: 0 0 10px 0;
				
				.field{
					.postcodeerror{
						display: none!important;
					}
				}
			}
			
			&.validation-error{
				.field{
					.postcodeerror{
						display: block!important;
					}
				}
			}
		}
	}
	
	.createOPCaddress, .editOPCaddress{
		 .account-title{
			display: none;
		}
		.form-row .field{
			margin-left: 0;
		}
		.form-row.form-row-with-button .field{
			margin-right: 0;
			max-width: none;
		}
		.input-text, div.selector, select{
			height: 50px;
		    background-color: #ffffff;
		    border-radius: 3px;
		}
		div.selector span{
		    line-height: 50px;
    		height: 50px;
		}
		.post-code-field{
			display: flex;
			.field{
			    width: 100%;
			    margin-bottom: 0;
			}
			.address-check-btn{
				margin-left: 10px;
			    width: 180px;
			    @media (max-width: 767.5px) {
			    	margin-top:0;
			    }
			    .button{
		    	    width: 100%;
	    	        height: 50px;
			    }
			}
		}
		.addresses-select.loqate-select{
			padding: 10px;
		}		
		.addresses-select{			
    		margin-bottom: 20px;
			.field{
				width: 100%;
				margin-bottom: 0;
			}
			.type-address-btn{
				margin-top: 0;
				margin-bottom: 0;
				.field{
				    margin-bottom: 0;
				}
				.button{
				    padding: 0;
				    background-color: transparent;
				    color: @cobalt-blue !important;
			        border: 0;
		            font-weight: 600;
		            text-align: left;
		            text-transform: uppercase;
		            height: auto;
	                line-height: normal;
	                margin-bottom: 0;
		            &:after{
					    font: normal normal normal 17px/1 FontAwesome;
					    text-rendering: auto;
					    content: "\f0da";
					    padding-left: 8px;
					}
				}
			}						
		}
		.addOPCdeliverylocation, .editOPCdeliverylocation, .apply-button{
			width: 180px;
		    height: 50px;
		    text-transform: uppercase;
	        margin-bottom: 0;
		}
		.cancel-button, .delete-button{
			display: none;
		}
	}
	#editOPCAddress{
		.addresses-select{
			.form-row-button{
				margin-top: 0;
				margin-bottom: 0;
				.field{
				    margin-bottom: 0;
				}
				.button{
				    padding: 0;
				    background-color: @white;
				    color: @cobalt-blue !important;
			        border: 0;
		            font-weight: 600;
		            text-align: left;
		            text-transform: uppercase;
		            &:after{
					    font: normal normal normal 17px/1 FontAwesome;
					    text-rendering: auto;
					    content: "\f0da";
					    padding-left: 8px;
					}
				}
			}
		}
		.form-row-button{
			margin-top: 0;
			margin-bottom: 0;
			.field{
			    margin-bottom: 0;
			}
		} 
	} 
	
	.xlt-addressForm {
		@media (min-width: 767.5px) {	
			max-height: 470px;
			overflow-y: auto;
			&.not-scroll {
				overflow: visible;
			}
		}
	}
	/* End Create New Address */
}

.opcBillingAddress{
	span.title{
		padding: 10px 0;
		font-weight: 600;
		font-size: 16px;
	}
	span.addressmodelbox{
		padding-left: 25px;
		color: @cobalt-blue;
		font-weight: 600;
		font-size:14px;
		text-transform: uppercase;
	    cursor: pointer;
		&:after{
		    font: normal normal normal 17px/1 FontAwesome;
		    text-rendering: auto;
		    content: "\f0da";
		}
	}
	.preferredAddress{
		display: none;
	}
}
.createOPCaddress.checkout-addresses-form.visually-hidden{
	width: 0!important;
}
.editOPCaddress .post-code-field{
	
	.postcodeerror{
		    margin-top: -3px;
	}
	
}

.guestusershipping, .guestuserbilling, .opcnewusershipping{
	.form-row, .countrycheckopc {
		max-width: 21.85rem !important;
		@media (max-width: 767.5px){
			max-width: 100%!important;
			width:100%;
		}
		&.form-row-with-button{
			.field{
				@media (max-width: 767.5px){
					width:100%;
				}
			}
		}
	}
	.post-code-field{
		.address-check-btn{
			
		}
	}						
	.additional-address-fields{						
		.field input {	 
			max-width: 100%!important;	
		}
	}
}

.opcnewusershipping, .guestusershipping {
	
	.post-code-field-opc{
		 position:relative;
		.postcodeerrorshipping3{
			left: 0px;
			margin-top: 0;			
			bottom: 4px;					
			position: absolute;
		}
	}
	
	.button-container.type-address-btn{
		
		margin-bottom: 10px;
	}
}


.guestDetails legend:first-child{
	    margin-bottom: 10px;
	
}

.gift-message-text{
.input-textarea::-webkit-input-placeholder { opacity: 1; } 
.input-textarea:-moz-placeholder { opacity: 1;}    
.input-textarea::-moz-placeholder { opacity: 1;}     
.input-textarea:-ms-input-placeholder { opacity: 1;} 
.input-textarea::-ms-input-placeholder {  opacity: 1;}    
.input-textarea::placeholder { opacity: 1; } 
}

input#existing-paysafe-cvv::placeholder {
    opacity: 1;
}
/*###### End One Page Checkout delivery address model popup ######*/


.opcAddressFields{
	.addresscharacterlength {
	    max-width: 21.8rem;
        @media (max-width: @mobile-max) {
	      max-width: 100%;
	  }
	}
}
.opcdelivery-addresses .additional-address-fields .addresscharacterlength {
    max-width: none;
}
#dwfrm_checkoutaddresses_shippingAddress_address_postCode-error{
   @media (max-width: @mobile-max) {	    
      margin-bottom: 13px;
  }
}

.opc, .qr-box.qr-account{
	/* Start Email Validation */
	.email-fileds{
     	padding-bottom: 0;
	}
	.valid-email{
		display: flex;
		width: 100%;
		max-width: 420px;
		.form-row{
			width: 87%;
			margin-right: 20px
		}
		&:after{
	     	content: "\f058";
		    font-family: 'FontAwesome';
		    font-size: 30px;
		    display: block;
		    color: @green;
		    margin-top: 14px;
		}
	}
	.invalid-email{
		.validation-success .field .input-text{
			border:2px solid @red !important;
		}
		.invalid-email-Message{
		    line-height: 18px;
		    margin-top: 0;
			span{
				display: block;
				a{
					text-decoration: underline !important;
				    color: @red;
				    pointer-events: auto;
				}
			}
		}
		/*&:after{
	     	content: "\f057";
		    font-family: 'FontAwesome';
		    font-size: 30px;
		    display: block;
		    color: @red;
		    margin-top: -25px;
		} */
	}
	/* End Validation */
}
