.breadcrumb {
    margin: 10px 0;
}

.breadcrumb .breadcrumb-ul .breadcrumb-li {
    font-size: 13px;
    letter-spacing: 0.5px;

    a {
        color: #006EB8;
    }

    &:last-child a {
        color: #2C163D;
    }

    .separator {
        padding: 0 2px;
    }

}

.pdp_redesign {
    .primary-col,
	.secondary-col {
        float: none;
    }
}


