/** Start Personalization for home page **/
.personalisation .budgetpay {display: none !important;}
.personalisation .paypal-credit {display: none !important;}
.personalisation .panel {box-shadow: 0 0 40px #DAD4EC;padding: 0 15px 15px}
.personalisation .heading {font-size: 16px;padding:10px 0;font-weight: 600;border-bottom: 1px solid #dad4ec;line-height: 24px;margin: 0 0 15px 0}
.personalisation .button-white {margin-top:15px}
.personalisation .showmore{padding: 0;margin: 0;font-size: 13px;line-height: 16px;font-weight: 600;color: @grey-darkest; text-transform: uppercase}
.showmore::after {font: normal normal normal 14px/1 FontAwesome;font-size: 13px;color: @grey-darkest;text-rendering: auto;content: " \f0da"}	

.personalisation .product-tile .product-tile-bottom{ display:none}
.personalisation .full-width-button{width:100%!important}

/** In your Cart slot in home page  **/	
.personalisation .inyourcart .totalprice{font-size:16px;font-weight: 300;margin: 0;padding-bottom: 10px;text-align: center}
.personalisation .inyourcart .home-cart-button{display:block;margin:0 auto;width:75%;padding: 2px 0}
@media (min-width: 768px){
	.inyourcart .button-green{margin-top: 15px}
}
@media (min-width: 1025px){
	.personalisation .inyourcart .totalprice{font-size:22px;padding-bottom: 20px;}
	.inyourcart .button-green{padding: 5px 0 !important}
}

/**Recommendation page styles **/
.recommendation-landing-page .section-carousel-title :before { width:20%;}
.recommendation-landing-page  .slick-prev::before, .slick-next::before{background: none !important;color: @grey-dark !important;}
.recommendation-landing-page .product-tile {border: none;margin: 0 5px}
.recommendation-landing-page .recommendation-border{ border-bottom: 1px solid @grey-light;padding: 30px 0; }
.recommendation-landing-page .product-tile .product-tile-bottom .product-tile-buttons {display: none !important;}
.recommendation-landing-page .quickview {display: none;}
.recommendation-landing-page .product-tile.reduced-tile .product-tile-top .product-link .product-image{margin: 0 auto;}
/** End Personalization for home page **/