.pdp-main {
    .bottom-line {
                border-top: 1px solid @grey-dark;
                margin-top: 10px;
			}
	.currently-on-air {
		font-size: 14px;
		font-weight: 600;
		text-transform: none;
		color: @green;
		margin-bottom: 10px;
	}
	.product-top {
		.product-name {
			font-size: 24px;
			line-height: 34px;
            font-weight: 400;
            text-transform: none;
            margin: 0 0 15px 0;
		}
		.product-price {
			display: inline-block;
			padding-right: 10px;
		}
		.content-asset {
			display: inline-block;
			padding-right: 10px;
		}
		.product-free-delivery-hint {
			color: @red;
		}
		.product-reviews {
			display: block;
			width: auto;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}
	}
	

	.product-add-to-cart.pdp-quickview{
		.availability-msg.lowstockbox{
			display:block;
		}
	}
	
	
	.product-add-to-cart {
		margin: 0 0 20px 0;
		.quantity {
			display: flex;
		    align-items: center;
		    margin-bottom: 20px;
			label {
				margin-bottom: 10px;
				display: block;
				color: @purple-dark;
				text-transform: initial;
				font-size: 14px;
			}
		.expected{
				    margin-top: -10px;
                    margin-right: 20px;
					font-size: 14px;
					color: #006eb8;
					position: relative;
					top: -12px;				
					}
					.availability{
					    margin-right: 15px;
					}					
		@media screen and (max-width: 280px){
				.expected{
                    margin-top: -10px;
				    margin-right: 2px;
				    font-size: 14px;
				    color: #006eb8;
				    position: absolute;				                     
                    }
                   }
			.quantity-cell {
				padding: 0;
				width: 1px;
				padding-right: 10px;
				.selector {
					width: 75px;
				}
				.input-text {
					width: 75px;
				}
			}
			.availability-cell {
				padding: 7px 0 0 0;
			}
		}
		.availability-msg.lowstockbox{
			display:none;
		}
		.promotion {
			margin: 0 0 20px 0;
			text-transform: none;
			color: @red;
            line-height: 18px;
		}
		.shipping-hint {
			text-transform: none;
			margin-bottom: 8px;
		}
		.button-container {
			.two-buttons {
				margin-top: 40px;
				display: table;
				width: auto;
				@media (min-width: @tablet-min) and (max-width: @tablet-max) {
					.button {
						font-size: 12px !important;
					}
				}
				.button-container-inner {
					display: table-row;
				}
				.button-container-cell {
					display: table-cell;
					vertical-align: middle;
				}
				.separator {
					text-align: center;
					padding: 0 10px;
					text-transform: none;
					@media (min-width: @tablet-min) and (max-width: @tablet-max) {
						padding: 0 3px !important;
						font-size: 11px !important;
					}
				}
			}
		}
	}

	.inform-me-when-available-pdp {
		margin-top: 30px;
		margin-bottom: 40px;
		.field {
			display: inline-block;
			margin-right: 20px;
		}
		.button-container {
			display: inline-block;
		}
	}

	
	.pdp-gemstone-info {
		margin: 5px 0 20px;
		color:  @purple-dark;
		font-size:14px;
		font-weight:400;
		line-height:24px;
		.gemstone-link {
			font-weight: 600;
            color: @blue;
		}
	}

	.ra-details-wrapper {
		.ra-details-top {
			text-align: center;
			.ra-details-top-table {
				display: table;
				width: 100%;
				.ra-details-top-row {
					display: table-row;
					.ra_timercounter {
						padding: 15px 0 0 0;
						.ra-timer{
							font-size: 22px;
						    margin: 0;
						    line-height: 30px;
						    color: @blue;
						    font-weight: 600;
						    span{
						    	font-weight: 100;
						    }						    
						}
						.red{
					    	color: @red;
					    }
					    .pulse-slow {
						    animation: blinker 1s linear infinite;
						}	
					}
					.ra_pricebids {
						padding: 15px 0 0 0;
					}
					.ra-details-top-cell {
						display: table-cell;
						width: 50%;
						color: @purple-dark;
						padding: 15px 0 0 0;
						vertical-align: top;
						text-align: center;
						&:first-child {
							border-right: 5px solid @white;
						}
						&:last-child {
							border-left: 5px solid @white;
						}
						&.highlighted {
							padding: 15px 10px;
							text-align: center;
							background: @grey-lighter;
							line-height: 16px;
							vertical-align: middle;
							position: relative;
							.savings {
								position: absolute;
								top: 59px;
								left: 50%;
								width: 120px;
								z-index: 1;
								background-color: @green;
								color: @white;
								text-align: center;
								margin-left: -60px;
								padding: 3px 0;

								&.no-background {
									background-color: transparent;
								}
							}
						}
					}
				}
			}
			.auction-ended-msg {
				color: @red;
				font-size: 22px;
				line-height: 24px;
				&.nobids {
                	color: @grey-dark;
                }
			}
			.time-counter {
				.time-counter-table {
					.row-values {
						.time-counter-cell {
							font-size: 22px; 
							line-height: 24px;
						}
					}
					.row-labels {
						.time-counter-cell {
							font-size: 12px;
							line-height: 16px;
						}
					}
				}
			}
			.price-bids {
				font-size: 22px;
				line-height: 24px;
				color: @font-color-default;
			}
		}
		.ra-details-bottom {
			text-align: center;
			.ra-listing-login-btn {
				padding-top: 12px;
				padding-bottom: 12px;
			}
			.winner-you {
				font-size: 22px;
				color: @green;
			    line-height: 40px;
    			font-weight: 400;
    			height: 40px;
    			text-align:center;
			}
			.button-add-to-cart {
				padding-top: 12px;
				padding-bottom: 12px;
				display: block;
			}
			.ra-bid-action {				
				width: 66.666%;
				margin: 0 auto 16px;
				max-width: 250px;
				.ra-bid-action-col {
					float: left;
					width: 50%;
					max-width: 125px;
					.ra-bid-action-col-inner {
						padding-right: 10px;
						position: relative;
						.label {
							position: absolute;
							top: 10px;
							left: 10px;
							z-index: 1;
							color: @purple-dark;
                            line-height: 20px;
						}
						.input-text {
							padding: 7px 18px 7px 18px!important;
							text-align: center;
						}
						.auto-bid-info {
							text-align: center;
							font-size: 12px;
							line-height: 10px;
							padding-top: 3px;
							text-transform: none;
						}
						.button {
							display: block;
                            padding: 7px 5px;
						}
					}
				}
			}
		}
	}
	.section-ra-bid-history {
        margin: 30px 0 40px 0;
		.item-list {
			th {
				white-space: nowrap;
			}
			td {
				padding-top: 10px;
				padding-bottom: 10px;
			}
			.your-bid {
				td {
					color: @green;
				}
			}
			.cell-amount {
				white-space: nowrap;
			}
			.cell-time {
				white-space: nowrap;
				width: 1px;
			}
		}
		.show-more-container {
			text-align: right;
			&.hidden {
				display: none;
			}
		}
	}
	.product-description {
		&.product-description-listing {
			ul {
				padding-left: 20px;
				li {
					&:first-of-type {
						margin-top: 0;
					}
					&:before {
						content: "\f00c";
						font-family: 'FontAwesome';
						float: left;
						margin-left: -1.5em;
						color: @green;
					}
				}
			}
		}
	}
	.button-container-wrapper {
		display: flex;
		align-items: center;
		flex-direction: row;
		.button {
			white-space: nowrap !important;
		    width: 180px;
		}
		.promotion {
			margin: 0 0 0 20px !important;
			width: auto;
			max-width: 315px;
		}
	}
	.product-code-pdp, .item-pnp {
		width: 100%;
        margin-bottom: 10px;
		.text-default();
		text-align: left;
		span {
			font-weight: 600;
		}
	}

}

.ui-dialog {
	.pdp-main {
		.product-cols {
			.product-col-1 {
				float: left;
				width: 40%;
			}
			.product-col-2 {
				float: right;
				width: 55%;
				margin: 0;
				.product-top {
					.product-reviews {
						position: relative;
						display: inline-block;
					}
					.link-details-container {
						font-size: @font-size-default;
						line-height: @line-height-default;
						margin: 15px 0;
						font-weight: 600;
					}
				}
			}
		}
		.carousel-container.pdp-thumb-tiles .carousel li.productthumbnail {
			width: (100% / 3);
		}
	}
	.ui-dialog-titlebar-close{
           right: -23px;
           height: 35px;
           width: 35px;     
        }
}

@media (max-width: @mobile-max) {
	.pdp-main {
		.pdp-section {
			.pdp-gemstone-info {
				margin-bottom: 30px;
				color: @purple-dark;
				font-size:14px;
				font-weight:400;
				line-height:24px;
			}
		}
		
		#QuickViewDialog {
			.pdp-section {
				.primary-col {
					padding-bottom: 20px;
					width: 100%;		
				}
				.secondary-col {
					width: 100%;
				}
			}
		}
		.product-top {
			.product-name {
				font-size: 20px;
				line-height: 28px;
			}
			.product-wishlist {
				float: right;
				padding-right: 0;
			}
			.product-price {
				padding-left: 5px;
				padding-right: 5px;
			}
			.product-free-delivery-hint {
				padding-left: 5px;
				padding-right: 5px;
				display: block;
				margin-top: 0;
			}
			.product-reviews.only-for-mobile {
				display: inline-block!important;
				position: relative;
				left: 0;
				top: 0;
			}
		}
		.product-cols {
			.product-col-1 {
				float: none;
				width: auto;
				margin-bottom: 20px;
			}
			.product-col-2 {
				float: none;
				width: auto;
				font-size: 12px;
				line-height: 16px;
			}
		}

		.product-description {
			margin-bottom: 15px;
		}
		.product-thumbnails {
			display: none !important;
		}
		.product-add-to-cart {
			.quantity {
				margin-bottom: 20px;
				.quantity-table {
					width: auto;
				}
				.quantity-cell {
					width: auto;
					text-align: right;
					padding-right: 5px;
				}
				.availability-cell {
					text-align: left;
					padding-left: 5px;
				}
			}
			.button-container.two-buttons {
				width: 100%;
				margin-top: 15px;
				.separator {
					padding: 0 5px;
				}
				.button {
					display: block;
					padding-left: 1px;
					padding-right: 1px;
					width: 100%;
				}
			}
		}
		.product-actions {
			a {
				&.link-wishlist,
				&.link-giftregistry {
					display: block;
					padding: 10px 0 0;
				}
			}
		}
		.section-info {
			.section-info-row {
				&.section-info-row-float {
					.section-info-sub-left {
						width: auto;
						float: none;
					}
					.section-info-sub-right {
						width: auto;
						float: none;
					}
				}
			}
		}
		.ra-details-wrapper {
			.ra-details-bottom {
				.ra-bid-action {
					.ra-bid-action-col {
						max-width: none;
					}
				}
			}
		}
		.section-ra-bid-history {
			.item-list {
				.cell-time {
					white-space: normal;
					width: auto;
				}
			}
		}
	}

}


.pdp-main {
	.product-primary-image .single-view {
	    border: 1px solid #ddd;
	    border-radius: 3px;
	    display: block;
	}
	.product-variations .attribute .swatches li {
		display: inline-block;
	    margin: 10px 5px 0 0;
	    vertical-align: bottom;
		&.unselectable a, &.unselectable a:hover {
			cursor: default;
		    background-color: #eee;
		    border-color: #eee;
		    color: #999;	
		}
		
		&.selected a, &.selected a:hover {
			text-decoration: none;
		    background-color: #13770d;
		    border-color: #13770d;
		    color: #fff;
		    cursor: default;
		}
		 
		a {
		    border: 1px solid #13770d;
		    background-color: #fff;
		    color: #0c4a09;
		    display: block;
		    width: auto;
		    min-width: 18px;
		    height: 38px;
		    line-height: 38px;
		    border-radius: 3px;
		    padding: 0 10px;
		    text-align: center;
		    text-transform: none;
		    text-decoration: none;
		}
	}
}

.pdp-main .product-variations .attribute .swatches.color li a {
	width: 60px;
    height: 60px;
}

.att-list-pdp { 
	.value {
	    float: left;
	    text-align: left;
	    padding-left: 15px;
	    font-weight: 600;
	    margin-left: 0!important;
	}
	.label {
	    float: left;
	    text-align: left;
	}
}

.pdp-greywrapper .price-sales {
    color: #2c163d!important;
    font-weight: 600;
    font-size: 34px;
    line-height: 24px;
    text-transform: none;
}

.section-recommendations-heading {
	font-size: 20px;
    line-height: 30px;
    font-weight: 600;
}

.section-info-sub-wrapper {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 25px;
    @media (max-width: 1024px) {
    	display: block;
    }
	.section-product, .stones-wrapper {
    	width: 100%;
	}
	.section-info-sub-left {
	    padding-bottom: 10px;
	}
}

.pdp-main .section-info .section-info-row .section-info-sub { 
	.attribute-list li {
		.label {
		    width: 160px;
		    float: left;
		}
		.value {
		    margin-left: 150px;
		    max-width: calc(100% - 200px);
		}
		&:after {
		    clear: both;
		}
		
		&:after, &:before{
		    content: " ";
	    	display: table;
		}
	}
	.attribute-table {
	    width: 100%;
	    @media (max-width: @mobile-max) {
			table-layout: auto;
		}
	    tr {
	    	td {
	    		padding: 0 10px 5px 0;
	    		&:nth-child(2) {
				    white-space: nowrap;
				    width: 30px;
				}
	    		&:last-child {
				    padding-right: 0;
				    white-space: nowrap;
				    width: 60px;
				    text-align: right;
				}	
	    	}
	    }
	}
}

.section-recommendations {
	@media (min-width: 768px) {
	    border: 1px solid #ddd;
	    border-radius: 3px;
	    margin: 30px 0 30px 0;
	}
	.section-recommendations-tabs {
	    width: 100%;
	    display: -ms-flexbox;
	    display: flex;
	    .section-recommendations-tabs-link {
	    	color: #2c163d;
		    background-color: #ddd;
		    width: 50%;
		    float: left;
		    display: block;
		    text-align: center;
		    padding-top: 15px;
		    padding-bottom: 15px;
		    font-size: 16px;
		    font-weight: 600;
		    cursor: pointer;
		    text-decoration: none;
		    &.actived {
			    background-color: #fff!important;
			}
			span {
			    padding: 15px;
			    text-decoration: none;
			}	
	    }
	}
	.section-recommendations-containers {
	    width: 100%;
	    .section-recommendations-containers-wrapper {
	    	display: none;
		    padding: 15px;
		    min-height: 150px;
	    	&.actived {
			    display: block;
			}
			.mobile-title {
			    display: none;
			}
		}
	}
	&.old-pdp-template{
		.section-recommendations-containers{
			.section-carousel-title{
				display:none;
			}
		}
	}
}

.pt_product-details{
	&:not(.pdp_redesign){
		#product-content-wrapper {
			@media (min-width: 767.5px) {
				.utils-wrapper{
					.icons-product-image-zoom{
						margin-left: 10px;
						display: inline-block;
					}
					.icons-product-image{
						.fa-search-plus{
							color: #2c163d;
							font-size: 25px;
							cursor: pointer;
						}
					}
				}
			}
			@media (max-width: 767.5px){
				.utils-wrapper{
					&.mobile-only{
						display: flex;
						margin-top: 10px;
						text-align: center;
						.icons-product-image{
							&.icons-product-image-360{
								width: 90px;
								height: 78px;
							}
							&.icons-product-image-zoom{
								display: inline-block;
								.fa-search-plus{
									color: #2c163d;
									font-size: 25px;
								}
							}
						}
					}
				}
			}
			.product-primary-image{
				.single-view{
					.utils-wrapper{
						@media (max-width: 767.5px) {
							display: none;
						}
					}
				}
			}
			.product-thumbnails{
				.carousel-container-inner{
					ul{
						&.carousel{
							li{
								&.productthumbnail{
									max-width: 103px!important;
									width:103px!important;
									&.selected{
										.productthumbnail-inner{
											.productthumbnail-inner-content{
												border-color: #2c163d;
											}
										}
									}
									.productthumbnail-inner{
										.productthumbnail-inner-content{
										    position: relative;
											border: 1px solid #ddd;
											border-radius: 3px;
											cursor: pointer;
											padding: 5px 5px 0 1px;
											.icons-product-image-360{
												&.productthumbnail{
													width: 40px;
													height: 40px;
													&.overlayvideo-open{
														top: 50%;
														left: 50%;
														position: absolute;
														margin-top: 0;
														margin-left: unset;
														.fa-play{
															line-height: 20px;
															font-size: 29px;
															width: 40px;
															height: 40px;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.icons-product-image-360 {
				flex-direction: column;
				justify-content: space-around;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				background-color: rgba(255,255,255,.5);
				position: relative;
				left: -15px;
				text-align: center;
				.label-video{
					font-size: 18px;
					line-height: 24px;
					padding-top: 5px;
				}
				.fa-play{
					font-size: 29px;
					padding-top: 12px;
					color: #000;
				}
			}
		}
		.slider-tile.product-link .tile-wishlist {
			display: none !important;
		}
	}
}

#product-content-wrapper {
	.product-col-1 {
		.product-description {
			margin-top: 15px;
		}
	}
	.primary-col{
		&.smaller{
			position: relative;
			margin-bottom: 30px;
			@media (max-width: 767px) {
				margin-bottom: 10px;
			}
		}
	}
	
	.icons-product-image-360 {
		/*background-image: url(../images/sprite/pdp_play_watch_video.png);*/
		display: inline-block;
		width: 90px;
		height: 78px;
		margin: 0 auto;
		top: -10px;
	}
	.label-video {
		text-align: center;
		font-weight: 700;
		color: @black;
		line-height: 17.1px;
	}
	.icons-product-image-360.productthumbnail {
		position: relative;
		display: flex;
		margin-top: 10px;
		/*.sprite-retina(@pdp-play-watch-video);*/
		/*background-image: url(../images/sprite/pdp_play_watch_video.png);*/

		&.productthumbnail {
			margin-top: 33px;
			margin-left: 23px;
			flex-direction: column;
			justify-content: space-around;
			width: 80px;
			height: 80px;
			text-align: center;
			z-index: 1;
			transform: translate(-50%, -50%);
		/*.sprite-retina(@pdp-watch-video-transparent-on);*/
			.fa-play {
				width: 80px;
				height: 80px;
				font-size: 19px;
				background-color: rgba(255, 255, 255, 0.65);
				border-radius: 40px;
				color: @black;
				text-indent: 5px;
				text-align: center;
			}
		}
	}
	.product-tile-nav-arrows {
		.pdp-btn-img {
			background-color: initial !important;
			color: @purple-dark !important;
			border: none !important;
			width: 25px;
			height: 25px;
			position: absolute;
			display: flex;
			top: 35%;
			z-index: 2;
			&.nav-prev {
				left: 5px;
				padding-left: 4px;
				padding-right: 6px;
			}
			&.nav-next {
				right: 5px;
				padding-left: 6px;
				padding-right: 4px;
			}
			.ui-dialog-content & {
				top: 50%;
			}
			@media (max-width: @mobile-max) {
				top: 50%;
			}
		}
	}
    .product-free-delivery-hint p {
        margin:5px 0 0 0;
    }
    
	div.inform-me-when-available-pdp {
		margin: 20px 0 0 0;
		.field {
			width: 100%;
			margin-bottom: 10px;
		}
		.button-container {
			width: 100%;
		}
		.button {
			background-color: @purple;
			border-color: @purple;
			&:hover, &:focus{
				background-color: @purple-dark !important;
				border-color: @purple-dark !important;
			}
		}
		
	}
	.product-description-mobile {
		display: none;
	}
	@media (max-width: @mobile-max) {
		.product-description-mobile {
			display: block;
		}
	}
	
	.size-chart-wrapper {
		display: flex;
		width: 100%;
		margin-top: 5px;
		.size-chart-title {
			display: block;
			width: 50%;
			color: @purple-dark;
			text-align: left;
			padding: 0;
			margin: 0;
			text-transform: initial;
			font-size: 14px;
			&.pdp-quickview {
				width: 100%;
			}
		}
		.size-chart-link-simple {
			display: block;
			width: 50%;
			float: left;
			text-align: right;
			font-size: 14px;
            color: @blue;
            font-weight: 600;
		}
	}
	.pdp-price-review {
		width: 100%;
		position:relative;
		.pdp-product-reviews {
			position: absolute;
			top: -55px;
			right: 0;
			height: 55px;
			overflow: hidden;
			margin: 0px;
			width: 212px;
			@media screen and (min-width: @old_desktop-min) and (max-width: @tablet-max) {
				transform: scale(0.9);
			    transform-origin: right;		
			}
			@media screen and (min-width: @tablet-min) and (max-width: @old_tablet-max) {
				top: -57px;
			    transform: scale(0.7);
			    transform-origin: right;		
			}
			@media screen and (min-width: @mobile-small) and (max-width: @mobile-max) {
				
				top: -48px;
			    right: -2px;
				transform: scale(0.7);
			    transform-origin: right;		
			}
		}		
		@media (min-width: @desktop-min) {
			flex-direction: row;
			justify-content: space-between;
			.pdp-product-reviews {
				margin-top: 0;
			}
		}
	}
	.pdp-video {
		padding-top: 15px;
		padding-bottom: 15px;
		.product-video-wrapper {
			width: 100%;
		}
	}
	.see-more {
		margin: 10px 0 20px 0;
		color: @blue;
		font-size:14px;
		font-weight:600;
        a {color: @blue;
        }
	}
	.inform-me {
		&-when-available-pdp {
			margin-top: 20px;
			margin-bottom: 15px;
			width: 100%;
				.field {
					width: 50%;
					margin-right: 0;
				}
				.button-container {
					width: 49%;
				}
			}
			&-message-success {
				margin-top:30px;
				margin-bottom:40px;
				color: @green;
				font-size:14px;
				font-weight:600;
				line-height:24px;
			}
			&-message-fail {
				margin-top:10px;
				color: @red;
				font-size:14px;
				font-weight:600;
				line-height:24px;
			}
		}
    
	.link-wishlist-title {
		.text-default();
		border: 1px solid @grey-lighter;
		color: @purple-dark;
		font-size: 12px;
		text-align: center;
		padding: 8px;
		margin: 15px 0 15px 0;
		cursor: pointer;
		font-weight: 600;
		display: block;
		width: 100%;
		box-sizing: border-box;
		.fa {
			font-size: 14px;
		}
		&.likelist-on {
			border: 2px solid @grey-dark;
			margin-top: -1px;
			margin-bottom: 20px;
			.fa {
				color: @red;
			}
		}
		&:hover, &:focus {
			border: 2px solid @purple-dark;
			text-decoration: none;
		}
	}
}

.pdp-extra-content {
	&.pdp-extra-content-desktop {
		display: none;
	}
	&.pdp-extra-content-mobile {
		display: block;
	}
	@media (min-width: @tablet-min) {
		&.pdp-extra-content-desktop {
			display: block;
		}
		&.pdp-extra-content-mobile {
			display: none;
		}
	}
	&.pdp-extra-content-pdp {
		padding-top: 15px;
	}
}

.ssmp_x2-wrapper {
	width: 100%!important;
	height: 0px!important;
	overflow: hidden!important;
	position: relative!important;
	margin-bottom: 0px!important;
	padding-bottom: 56.25% !important;

	.jwplayer {
		width: 100%!important;
		height: 100% !important;
		position: absolute!important;
	}
	#ssmp_x2 {
		width: 100%!important;
		position: absolute!important;
		height: 100%!important;
		width: 100%!important;
		top: 0px!important;
		left: 0px!important;
	}
}

.pdp-mobile-only {
	@media (min-width: @tablet-min) {
		display: none !important;
	}
}
.pdp-except-mobile {
	@media (max-width: @mobile-max) {
		display: none !important;
	}
}
.pdp-secondcolumn-mobile {
	margin-top: 25px;
}
.pdp-sticky-mark {
	height: 0.5px;
	width: 100%;
}


/* .likelist-extra {
    display: inline-block;
    height: 32px;
    .likelist-extra-link {
        display: block;
        background-color: @purple-dark;
        height: 32px;
        cursor: pointer;
        vertical-align: middle;
        width: 32px;
        text-decoration: none !important;
        .fa {
            color: @white;
            font-size: 20px;
            display: block;
            margin: 0 auto;
            text-align: center;
            margin-top: 8px;
            text-decoration: none !important;
        }
    }
    .likelist-extra-link:hover, .likelist-extra-link:focus {
        margin-top: -5px;
        text-decoration: none !important;
        .fa {
            text-decoration: none !important;
        }
    }
} */

@media (min-width: @tablet-min) {
	#product-content-wrapper {
		.icons-product-image {
			display: flex;
			&.mobile-only {
				display: none;	
			}
		}
		.utils-wrapper {
			display: flex;
			&.mobile-only {
				display: none;
			}
		}
	}
}

.att-list-pdp {
	@media (max-width: @mobile-max) {
	 		display: table !important;
	 		column-count: 1 !important;
		}
	.label {
		float: left;
		text-align: left;
	}
	.value {
		float: left;
		text-align: left;
		padding-left: 15px;
		font-weight: 600;
		margin-left: 0 !important;
	}
	.metal-name {
		white-space: nowrap;
	}
}
.flyin-hide-pdp-content {
	display: none !important;
}

.pdp-main {
	.button-grey {
		&.button {
			background-color: transparent!important;
		}
		&.nav-next, &.nav-prev  {
			border: none !important;
			background-color:transparent!important;
			.fa {
				font-size: 18px;
				color: @purple-dark !important;
			}
		}
		&.disabled, &.disabled:hover, &.disabled:focus {
			border: none !important;
			background-color:transparent!important;
			.fa {
				color: @grey-dark !important;
			}
		}
		&:hover, &:focus {
			border: none !important;
			.fa {
				color: @grey-dark !important;
			}
		}
	}
	.product-add-to-cart {
		.quantity-table {
			div.selector.disabled, div.selector.disabled.active {
				background-position: 100% 50%; 
			}
		}
	}
}
.product-top {
	&.pdp-quickview {
		width: 100% !important;
		.product-name {
			font-size: 14px !important;
			line-height: 22px !important;
			width: 100% !important;
            border-top: 1px solid @grey-dark;
            margin-top: 10px;
            padding-top: 10px;
		}
	}
}
.pdp-redesign-colsize {
	&.pdp-quickview {
		margin-bottom: 0 !important;
	}
}

.pdp-main {
	.product-primary-image {
    	position: relative;
    	img {
		    display: block;
		    height: auto;
		    width: 75%;
		    margin: 0 auto;
		    margin-top: 30px;
		    margin-bottom: 30px;
		    cursor: pointer;
		}
    }
    .pdp-thumb-tiles{ 
    	margin-top: 20px;
    	.bubble-ctr {
	    	display: none!important;
	    }
	}
    .carousel-view {
	    display: block;
	    position: absolute;
	    top: 0;
	    left: -9999px;
	    opacity: 0;
	    width: 100%;
	    height: 100%;
	    border: 1px solid #bbb;
	} 
}



.product-add-to-cart {
	&.pdp-quickview {
		margin-bottom: 0 !important;
	}
}
.pdp-greywrapper {
	.price-sales {
		color: @purple-dark !important;
		font-weight: 600;
		font-size: 34px;
		line-height: 24px;
		text-transform: none;
	}
	.pdp-promotional-save-after {
		font-size: 16px;
		color: @slidertilename;
		font-weight: 600;
	}
	.budgetpay, .paypal-credit {
		display: flex;
		align-items: center;
		margin-top: 5px;
		img {
			display: block;
			margin-right: 10px;
			width: 85px;
			height: auto;
		}
		span {
			font-weight: 400;
			letter-spacing: 0.3px;
		    font-size: 13px;
		}
	}
}

.tile-wishlist {
	.product-wishlist-link, .product-slider-wishlist-link {
		display: block;
		color: @purple-dark;
		font-size: 18px;
		position: initial;
		margin-left: 2px;
		background-color: @white;
		border-radius: 50%;
		width: 25px;
		height: 25px;
		
		i{
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
		}
		
		&.added-to-wishlist{
			color: @red;
		}
		
		&.processing{
			animation-name: colorChange;
			animation-duration: 1.5s;
			animation-delay: 0s;
			animation-iteration-count: 1; /*infinite*/
			animation-timing-function: ease;
			
			&.normal{
				color: @white;
				background: @red;
				animation-direction: normal; /*normal|reverse|alternate|alternate-reverse*/
			}
			&.reverse{
				background: @white;
				animation-direction: reverse; /*normal|reverse|alternate|alternate-reverse*/
			}
			.fa{
				transform: scale(1.2, 1.2);
			}
		}
	}
}

.product-wishlist {
	float: right;
	padding-right: calc(45% + 6px);

	.product-wishlist-link {
		font-size: 14px;
		color: @purple-dark;
		&:hover, &:focus {
			text-decoration: none;
            color: @red;
		}
	}
}

@keyframes colorChange {
	0% {background: conic-gradient(@red 0%, @white 0%);}
	10% {background: conic-gradient(@red 10%, @white 15%);}
	20% {background: conic-gradient(@red 20%, @white 20%);}
	30% {background: conic-gradient(@red 30%, @white 35%);}
	40% {background: conic-gradient(@red 40%, @white 40%);}
	50% {background: conic-gradient(@red 50%, @white 55%);}
	60% {background: conic-gradient(@red 60%, @white 60%);}
	70% {background: conic-gradient(@red 70%, @white 75%);}
	80% {background: conic-gradient(@red 80%, @white 80%);}
	90% {background: conic-gradient(@red 90%, @white 95%);}
	100% {background: conic-gradient(@red 100%, @white 100%);}
}

.social-sharing-wrapper {
    text-align: right;	
    @media (max-width: @mobile-max) {
		text-align: left;
		display: block!important;
		margin-bottom:15px;	
	}
	a {
		display: inline-block;
		cursor: pointer;
		&.link-wishlist {
			padding: 8px 5px 0 0;
			vertical-align: -2px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.addthis_sharing_toolbox {
		display: inline-block;
	}
}
.variations-wrapper {
	border-top: 1px solid @grey-dark;
	padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui-dialog #QuickViewDialog .pdp-main {
	overflow: auto;
    max-height: calc(100vh - 60px);
}

.ui-dialog #QuickViewDialog {
	.product-variations .swatches.color a {
		padding: 0;	
		img {
			width: 38px !important;
			height: 38px !important
		}	
	}
	.size-chart-wrapper .size-chart-title {
		width: 100%;
	}
}

.sticky-desktop-check{
	.product-content-pdp-wrapper{
		.engraving-form{
			padding: 15px;
    		line-height: 25px;
			width: auto;
			height: auto;
			background-color: @grey-lighter;
			color: #333333;
			margin-right: 15%;
			@media (max-width: 1022px) {
				margin-right: unset;
			}
			
			legend.title{
				font-size: 20px;
			    font-weight: 600;
			    padding-bottom: 20px;
			}
			legend.desp{
				padding-bottom: 10px;
				line-height: 18px;
			}
			span.despDate{
				font-weight: bold;
			}
			span.excLen{
				font-weight: bold;
			}
			label.excTxt{
				font-size: 13px;
			}
			label.excTxtDis{
				display: block;
				padding: 5px 0 0 0;
				line-height: 14px;
			}
			div.selector, .input-text{
	    		background-color: @white;
	    		height: 50px;
	    		border-radius: 3px;
	    	}
	    	div.selector{
	    		padding: 5px;
	    		margin: 10px 0px 4px 0px;
			}
			.input-text{
				height: 50px;
    		}
    		.form-row-new{
				margin: 5px 0px 4px 0px;
				.field{
					.input-text{
					}
					.img-edit{
						width: 75px;
					    height: 50px;
					    line-height: 50px;
					    position: absolute;
					    display: block;
					    top: 0;
					    right: 0px;
					    color: @cobalt-blue;
					    cursor: pointer;
					    font-weight: bold;
					    &:after{
					    	font: normal normal normal 14px/1 FontAwesome;
						    text-rendering: auto;
						    content: " \f0da";
					    }
					}
				}
    		}
    		.img-edit{
    			display: none;
    		}
    		span.checked::before{
    			/*top: 15px;*/
    		}
    		.form-row.form-row-checkbox label {
    			line-height: 18px;
    			font-size: 0.90em;
    			span{
	    			color: @cobalt-blue;
	    			text-decoration: underline!important;
	    			font-weight: 600;
	    			cursor: pointer;
    			}
    		}
    		.error{
    			color: @red;
    			font-size: 12px;
    			font-weight: 600;
    			margin-bottom: 2px;
    			display: none;
    			width: 100%;
			    position: initial;
			    margin-top: -6px;
    		}
    		.error-msg{
    			display: none!important;
    		}
    		/*.engraving-group{
    			.error{
    				margin-top: -23px!important;
    			}
    		}*/
		}
		.product-add-to-cart {
		    padding-top: 20px;
			.pdpForm{
				div.selector{
					background-color: @white;
		    		width: 5em!important;
		    		border-radius: 3px;
				}
			}
		}
	}
}
.pdp-mobile-only{
	.product-content-pdp-wrapper{
		.engraving-form{
			padding: 15px;
    		line-height: 10px;
			width: auto;
			height: auto;
			background-color: @grey-lighter;
			color: #333333;
			
			legend.title{
				font-size: 18px;
			    font-weight: 600;
			    padding-bottom: 20px;
			}
			legend.desp{
				padding-bottom: 10px;
				font-size: 11px;
			}
			span.despDate{
				font-weight: bold;
			}
			span.excLen{
				font-weight: bold;
			}
			label.excTxt{
				font-size: 12px;
			}
			label.excTxtDis{
				display: block;
				padding: 5px 0 0 0;
				line-height: 12px;
			}
			div.selector, .input-text{
	    		background-color: @white;
	    		height: 50px;
	    		border-radius: 3px;
	    	}
	    	div.selector{
	    		padding: 5px;
	    		margin: 10px 0px 2px 0px;
			}
			.input-text{
				height: 50px;
    		}
    		div.select{
    			.styledSelect{
    				padding-top: 18px!important;
    			}
    		}
    		.form-row-select{
    			.field{
    				.select-label{
    					top: -5px;
    				}
    			}
    		}
    		.form-row-new{
				margin: 5px 0px 3px 0px;
				.field{
					.input-text{
					}
					.img-edit{
						width: 70px;
					    height: 50px;
					    line-height: 50px;
					    display: inline-block;
					    position: absolute;
					    right: 0px;
					    color: @cobalt-blue;
					    cursor: pointer;
					    font-weight: bold;
					    &:after{
					    	font: normal normal normal 14px/1 FontAwesome;
						    text-rendering: auto;
						    content: " \f0da";
					    }
					}
				}
    		}
    		.img-edit{
    			display: none;
    		}
    		span.checked::before{
    			top: 15px;
    		}
    		.form-row.form-row-checkbox label {
    			line-height: 18px;
    			font-size: 12px;
    			span{
	    			color: @cobalt-blue;
	    			text-decoration: underline!important;
	    			font-weight: 600;
	    			cursor: pointer;
    			}
    		}
    		.error{
    			color: @red;
    			font-size: 11px;
    			font-weight: 600;
    			margin-bottom: 2px;
    			display: none;
    			margin-top: -2px;
    			top: unset;
				left: unset;
				padding-top: unset;
    		}
    		.error-msg{
    			display: none!important;
    		}
    		/*.engraving-group{
    			.error{
    				margin-top: -18px!important;
    			}
    		}*/
		}
		.product-add-to-cart {
		    padding-top: 20px;
			.pdpForm{
				div.selector{
					background-color: @white;
		    		width: 5em!important;
		    		border-radius: 3px;
				}
			}
		}
	}
}

.engraving-image-overlay{
	left: 0 !important;
	margin: 0 auto !important;
	width: 31.25rem !important;
	@media (max-width: @old_tablet-max) {
		width: 28.125rem !important;
	}
	@media (max-width: @mobile-max) {
		width: 83% !important;
	}
	.ui-dialog-titlebar-close{
		right: 5px;
		top: 5px;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		color: @red-dark;
		background-color: unset;
	}
	.engravingBody {
		position: relative;
		/*padding: 110px 0 0 0;*/
		margin: 0 auto;
		max-width: 1100px;
		width: 100%;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
		.engravingBody-images {
			overflow: hidden;
			height: auto;
			.sourceImage{
				width: 100%;
			}
			.sourceCanvas{
				width: 100%;
			}
		}
		.text-data {
			position: absolute;
		    font-weight: 500;
		    font-size: 2em;
		    line-height: 40px;
		    cursor: default;
		    mix-blend-mode: difference;
		    /*text-shadow: 2px 2px 2px #aaa;*/
		    text-shadow: -0.1px -0.1px 0 #aaa, 0px 0px 0 #111, 0px 0px 0 #111, -0.1px -0.1px 0 #aaa;
		    color: #111;
		    display: none;
		}
		.border--one {
			left: 5%;
			top: 0px;
		}
		.border--two {
			left: 5%;
			top: 40px;
		}
		.border--three {
			left: 5%;
			top: 80px;
		}
	}
	.disclaimer {
		text-align: center;
		line-height: 13px;
	    font-size: 13px;
	    font-weight: 600;
	    color: @red-dark;
	    @media (max-width: @old_tablet-max) {
			line-height: 12px !important;
		    font-size: 12px !important;
		}
	    @media (max-width: @mobile-max) {
			line-height: 10.5px !important;
		    font-size: 10.5px !important;
		}
	}
}

.quantity-selection{
	display: flex;
	height: 40px;
	width: 120px;
	margin-right: 10px;
	.item{
	    flex-grow: 1;
	    text-align: center;
	    border: 1px solid @grey-dark;
	    width: calc(100% / 3);
	}
	.product-sub{
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		cursor: pointer;
	    line-height: 38px;
	}
	.product-add{
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
		cursor: pointer;
		line-height: 38px;
	}
	.pdp-product-quantity{
		border-right: 0;
		border-left: 0;
	    padding: 0;
	    border-radius: 0;
	}						
}

@import "warranty";

.tracker{
	@media (max-width: 1150px) {
		display: none!important;
	}
}

@media (max-width: 767px) {
	div[aria-describedby="QuickViewDialog"] {
		width: 86%!important;
	}
	#QuickViewDialog {
		.price-sales {
			font-size: 24px;
		}
		.pdp-section {
			.primary-col {
				padding-bottom: 20px;
				width: 100%;		
			}
			.secondary-col {
				width: 100%;
				display: block !important;
				.price-sales {
					line-height: 30px;
				}
			}
		}
	}
}


.pdp_redesign { 
	.section-info-sub-wrapper {
		display: block;
	}
}


.section-info-row.hide-section {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.section-info-sub-wrapper .section-info-sub-left {
    padding-bottom: 10px;
}

.section-info-sub-wrapper .section-product {
    width: 100%;
}

.pdp-main .section-info .section-info-row .show-more {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 12%,rgba(255,255,255,.9) 34%,rgba(255,255,255,.96) 57%,#fff 73%);
    text-align: center;
    visibility: visible !important
}

.pdp-main .section-info .section-info-row .show-more .togglebutton.show {
    display: inline-block;
}

.pdp-main .section-info .section-info-row .show-more .togglebutton {
    margin: 35px 0;
    display: none;
    padding: 5px 57px;
    border: 2px solid #ddd;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: .4px;
    background-color: #fff;
    color: #2d2d2d;
    min-width: 106px;
    text-transform: uppercase;
    cursor: pointer;
}

.pdp-main .section-info .section-info-row:after, .pdp-main .section-info .section-info-row:before {
    content: " ";
    display: table;
}

.pdp-main .section-info .section-info-row:after {
    clear: both;
}

.pdp-main .section-info .section-info-row .show-more.show-less {
    position: relative;
}

.pdp-main .section-info .section-info-row .show-more .togglebutton.show {
    display: inline-block;
}

#QuickViewDialog .pdp-redesign-colsize .product-add-to-cart .quantity {
    display: block;
}

.price-sales span {
    vertical-align: middle;
    &.plus-icon, &.free-dev {
        font-size: 16px;
    }
}

.ui-dialog.new_pdp-quick_view{
	@media (max-width: 430.5px) {
		width: 90%!important;
		height: 95%!important;
	}
	.ui-dialog-titlebar{
		.ui-dialog-titlebar-close{
			right: 0;
			top: 0;
			background-color: transparent;
			.ui-icon-closethick{
				&:before{
					color:@red;
					font-size: 30px;
				}
			}
		}
	}
}

@media (min-width:767px) and (max-width:767.5px) {
	.pt_product-details:not(.pdp_redesign){
		.pdp-main{
			.pdp-section{
				&.section-recommendations{
					.section-recommendations-containers{
						.section-recommendations-containers-wrapper{
							.mobile-title{
								font-size: 20px!important;
								line-height: 30px!important;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767.5px) {
	.pt_product-details:not(.pdp_redesign){
		.pdp-main{
			.pdp-section{
				&.section-recommendations{
					border: none;
					margin: 0;
					.section-recommendations-tabs{
						display: none;
					}
					.section-recommendations-containers{
						.section-recommendations-containers-wrapper{
							display: block!important;
							padding: 0 0 15px 0;
							.mobile-title{
								display: block;
								background: #fff;
								padding: 0 15px;
								font-weight: 600;
								font-size: 18px;
								line-height: 28px;
								margin: 0 0 20px 0;
								position: relative;
								z-index: 1;
								text-align: center;
								&:before{
									border-top: 1px solid #bbb;
									content: "";
									margin: 0 auto;
									position: absolute;
									top: 50%;
									left: 0;
									right: 0;
									bottom: 0;
									width: 100%;
									z-index: -1;
								}
							}
							.section-carousel-title{
								display: inherit;
							}
						}
					}
				}
				&.product-cols{
					.primary-col{
						.product-thumbnails{
							display: block!important;
						}
					}
				}
			}
		}
	}
}

.pt_product-details:not(.pdp_redesign){
	.pdp-main{
		.pdp-section{
			&.pdp-section-bottom{
				.pdp-section{
					&.section-info{
						.section-info-sub-wrapper{
							.stones-wrapper{
								.see-more{
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
} 
.stones-wrapper-table{
.section-info-sub{
@media (max-width: @mobile-max) {
			width: 98%;
           overflow-y: auto;       
		}

}
 tr.attribute-item ~ .attribute-item{
		display:none;
 }
	td{
		text-align: center;
		word-break: break-word;
		@media (max-width: @mobile-max) {
			word-break: initial;
			white-space: nowrap; 
		}
		&:last-child{
			text-align: center !important;
		}
 
	&:nth-child(1){  
		width: 150px;
		text-align: left !important;
	
	}
		&:nth-child(3){
		width: 70px;
		
	}
		&:nth-child(4){
		width: 65px;
	}
		&:nth-child(5){
		width: 60px;
	} 
		&:nth-child(6){
	}
	}
} 
.engraving-form{
      legend.desp{
               float: left;
              width: 100%; 
              max-width:420px;
            
       }
 	.size-chart-wrapper{
 	   margin-top: 0px;
    	float: right;
    	line-height: 18px; 
    	padding-left: 1px;
    	margin-top: 0!important;
    	width: auto!important; 
    	display: inline-block!important;
  a.size-chart-link-simple{ 
             width: auto!important;
    	@media (max-width: @mobile-max) {
	    	font-size: 11px!important;
	    	line-height: 9px;        
		}      
  	}       
  }
}
    

.overlayvideo-container .product-video-disclaimer{
	color: @white;
	@media (max-width: @mobile-max) {
		    padding: 0 9px;
	 }
}
