.listing-slot-container {
    .html-slot-container,
    .content-asset-slot-container {
        margin-bottom: 30px;
    }
}
.search-result-options {
	.clearfix();
	text-transform: none;
	&.search-result-options-top {
		padding-bottom: 20px;
		@media (min-width: 768px){
			display:flex;
		}						
		.caret-select-box {
			display: none;
		}
		.items-per-page{
			display:none;
		}
	}  
	
	&.search-result-options-bottom {
		padding-top: 25px;
		@media (min-width: 768px){
			display:flex;
			justify-content:space-between;
		}		
		.filtersection{			
			display:flex;
			justify-content:space-between;
			@media (min-width: 768px){
				width:50%;
				display:block;
				justify-content:unset;
			}			
		} 
		.caret-select-box {
			display: none;
		}
		.sort-by{
			display:none;
		}
	}
	.refinements-dropdown {
		float: left;
		width: 105px;
		margin-right: 10px;
		.refinements-content {
		  display: none;
		  .toggle-content {
		    display: none;
		  }
		}
	}
	.sort-by {
		@media (min-width: @tablet-min){
			width: 240px;
		}
		@media (min-width: @desktop-min){
			width: 170px;
		}		
		margin-right: 10px;
		.select-label{
			padding-top: 2px;
		}
	}
	.items-per-page {
		width: 130px;
        .select-label{
			padding-top: 2px;
		 }
	}
	.pagination {
		.clearfix();
		width:50%;
		.hits-and-pager {
			float: right;
			width: auto;
			text-align: right;
			position: relative;
			.results-hits {
				font-size: 14px; 
				line-height: 24px;
				text-transform: none;
				color: @purple-dark;
				white-space: nowrap;
				&.with-pager {
					margin-top: -24px;
				}
			}			
		}
	}
}

/* .search-result-content {
    overflow: hidden;
    .search-result-items { 
        .calc(width, "100% + 30px"); 
        .grid-tile {
            float: left;
            width: 33.333%;
            .grid-tile-inner {
                padding-right: 30px;
                padding-bottom: 30px;
            }
            &.cols3-first {
                clear: both;
            }
        }
    }
} */

.plp-footer {
	clear: both;
	width: 100%;
    padding-top: 30px;
	overflow:hidden;
	position: relative;
    z-index: 1;
    background-color: @white;
}

/* @media (min-width: 560px) and (max-width: @mobile-max) {
    .search-result-content {
        .search-result-items { 
            .calc(width, "100% + 10px"); 
            .grid-tile {
                .grid-tile-inner {
                    padding-right: 10px;
                    padding-bottom: 10px;
                }
            }
        }	
    }
    .context-auctionshop {
        .search-result-content {
            .search-result-items { 
                .grid-tile {
                    width: 100%;
                }
            }
        }
    }
} */

/* @media (max-width: 559px) { 
    .search-result-content {
        .search-result-items {
            .calc(width, "100% + 10px");  
            .grid-tile {
                width: 50%;
                .grid-tile-inner {
                    padding-right: 10px;
                    padding-bottom: 10px;
                }
                &.cols4-first {
                    clear: none;
                }
                &.cols3-first {
                    clear: none;
                }
                &.cols2-first {
                    clear: both;
                }
            }
        }
    }
    .context-auctionshop {
        .search-result-content {
            .search-result-items { 
                .grid-tile {
                    width: 100%;
                }
            }
        }
    }
} */

.search-result-content {
	overflow: hidden;
	.search-result-items { 
		.calc(width, "100% + 10px"); 
		.grid-tile {
			float: left;
			width: 50%;
			.grid-tile-inner {
				padding-right: 10px;
				padding-bottom: 10px;
			}
		}
	}
}

@media (min-width: 768px) {
.search-result-content {
	overflow: hidden;
	.search-result-items { 
		.calc(width, "100% + 10px"); 
		.grid-tile {
			float: left;
			width: 25%;
			.grid-tile-inner {
				padding-right: 10px;
				padding-bottom: 10px;
			}
		}
	}
}    
}

@media (min-width: 1024px) {
.search-result-content {
	overflow: hidden;
	.search-result-items { 
		.calc(width, "100% + 20px"); 
		.grid-tile {
			float: left;
			width: 25%;
			.grid-tile-inner {
				padding-right: 20px;
				padding-bottom: 20px;
			}
		}
	}
}    
}

@media (max-width: @tablet-max) {
	.pt_product-search-result {
		.secondary-col {
			display: none;			
		}
		.primary-col {
			width: auto;
			float: none;
		}
	}
}

@media (max-width: @mobile-max) {	
    .listing-slot-container {
    .html-slot-container,
        .content-asset-slot-container {
            margin-bottom: 20px;
        }
    }
	.search-result-options {
		&.search-result-options-top {
			padding: 0 0 15px 0;
			.filtersection{			
				display:block;
			}
		}
		.refinements-dropdown {
			margin-right: 0;
			margin-bottom: 20px;
			float: none;
			width: 100%;
			.refinements {
				.refinements-content {
                    width: 100%;
					.border-radius(0, 0, @border-radius-default, @border-radius-default);
				}
			}
		}
		.sort-by {
			width: 100%;
			margin: 0 0 10px 0;
		}
		.items-per-page {
			width: 49%;
			margin: 0 0 10px 0;
		}
		.pagination {
			clear: both;
			float: none; 
			width: auto;
			margin-left: 0;			
			.hits-and-pager {
				float: none;
				width: auto;
				.results-hits {
					text-align: center;
					&.with-pager {
						margin: 0 0 0 0;
					}
				}
				.pager-list {
					text-align: center; 
				}
			}
		}
	}
    .plp-footer {
        padding-top: 30px;
    }
}

.pt_product-search-result .secondary-col{
   background-color:@white;
   z-index:1;
 }
 
 .context-auctionshop .listing-slot-container-bottom{
    position: relative;
    z-index: 10;
    background-color: @white;
 }

.tjcplus-engraving{
	.plus-description{
		visibility: hidden;
	}
}
#ajaxRefresh{
	.search-result-options.search-result-options-top {
		display:block;
		justify-content:unset;
		@media (min-width: 768px){
			display:flex;
			justify-content:space-between;
		}
	}
	.filtersection{					
		@media (min-width: 768px){
			display:flex;
			justify-content:space-between;
			width:50%;
			display:block;
			justify-content:unset;
		}			
	}
}
