.product-certificate {
   .certificate-wrapper{
        display:flex;
        align-items: center;
        justify-content: center;      
        
    .product-certificate-container {
        margin: 40px 0;
        width: 60%;
        background-color: @solitude-blue;
        border-radius: 20px;
        box-shadow: 0px 1px 3px 1px @nobelgrey;
        padding-top:30px;
        position:relative;
        border: 2px solid @nobelgrey;
        .product-certificate-logo {
            margin-bottom: 30px;
            position: absolute;
            right: 79px;
            background-color: @solitude-blue;
            width: 105px;
            img {
                display: block;
                height: 49px;
                width: auto;
                margin: 0 auto; 
            }
        }
        .product-certificate-title {
            text-align: left;
            font-size: 20px;
            line-height: 40px;
            margin-bottom: 30px;
            border-bottom: 1px solid @black;
            background-color: @christalle-violet;
            color: @white;
            padding-left: 30px;
        }        
        .product-certificate-product {
            margin-bottom: 7px;
            padding:30px;
            .product-col-left {
                float: left;
                width: 62%;
                padding-left: 24px;
                font-size: 14px;
                line-height: 18px;
                .product-attributes {
                    tr {
                        .label {
                            text-transform: none;
                            font-weight: 600;
                            padding: 11px 20px 0px 0; 
                             color: @Night-gider-gray;
                             font-family: @font-family-josefin-sans;  
                            font-size: 15px;                        
                                                    
                        }
                        .value {
                            color: @dim-gray-Grey;
                            padding: 5px 0 25px;
                            display:block; 
                            font-family:@font-family-nunito-sans;
                            font-size: 15px;                                             
                        }
                        td{
                         width: 50%;
                         
                        }
                        &:first-child {
                            td {
                                padding-top: 0;
                            }
                        }
                    }
                }
            }
            .product-col-right {
                float: left;
                width: 33%;
                .product-image {
                    border: 4px solid @dark-gray-gray;
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .certificate-bottom-section{
            display:flex;
            background-color:@white;
            border-bottom-left-radius: 26px;
            border-bottom-right-radius: 26px;
            padding: 18px 30px;
            align-items: center;
        .product-certificate-note {
            text-align: left;
            color: #848484;
            line-height: 18px;
            width:70%;
            font-size:13.5px;
            border-left: 2.5px solid @dark-gray-gray;
            padding-left: 30px;
        }
        .product-certificate-contact {
            text-align: left;
            text-transform: none;
            line-height: 15px;
            width:25%;
      
            
            p{
               margin: 0;
               
               strong{               
                 font-size:11px;
                 font-family: @font-family-josefin-sans;
                 color:@Night-gider-gray;
                 &.brandhead{
                    font-size: 16px;
                 }               
               }
             
             span{
               font-size:13px;  
               padding-left: 3px; 
               color:@dim-gray-Grey;          
             }             
               
            }
          }
        
        }
    }
    
       .social-media-container {    
          padding-left: 80px;         
        .button{
            margin-bottom: 10px;
            position:relative;
            font-weight: bold;
            
            i{
               font-size: 25px;
               vertical-align: middle;
                padding-right: 15px;
            }            
                                  
        }
       
    }
    
 .share-card-container{   
         text-align: center;
         padding-left: 80px;
    p{
       color: @Night-gider-gray;
       font-weight: bold;
    }
  .share-icons{    
	    width: 40px;
	    height: 40px;
	    display: inline-flex;
	    align-items: center;
	    justify-content: center;
	    border-radius: 100%;
	    
	    i{
	        font-size: 20px;
            color: @white;
	    }
    }
    
   .mail-share{
      	    background-color: @dim-gray-Grey;
   } 
   .whatsapp-share{
       background-color: @dark-pastel-green;
       .whats-app-phone{
           position: absolute;
           width: 9px;
       }
   }
   .snap-share{
       background-color: @yellow;
       i{
            color: @black;
            font-weight: bold;
	    }
   }
   
   
   .share-button{
	    font-weight: 600;
	    color: @purple-dark;
	    border: 2px solid @purple-dark;
	    display: inline-flex;
	    padding: 5px 25px;
	    font-size: 12px;
	    border-radius: 5px;
	    margin-left: 23px;
   }
  }
 }
}

@media print {
    .pt_productcertificate {
        .header-wrapper,
        .footer-wrapper,
        .breadcrumb,
        .product-certificate .page-title,
        .product-certificate .print-container,
        .backtotop,
        .header-slot, .right-side-container{
            display: none!important; 
        }
    }
  .certificate-wrapper{
      margin-top: 150px!important;  
    .product-certificate-container {
      width: 90%!important;
      position:fixed!important;
      left: 5%!important;
     top:150px!important;
     border-radius:0!important;
     box-shadow:none!important;
     border:2px solid @dark-gray-gray;
      .product-certificate-title{
         font-size: 18px!important;
      }
     
     .product-certificate-product{
        margin-bottom: -11px!important;
        padding-right: 0!important;
     }
   
    .product-col-right{
          width: 32%!important;
    }    
   .product-col-left {
        font-size: 12px!important;;
        line-height: 10px!important;
        
        tr .value{
              padding: 9px 0!important;
              font-size: 13px!important;
              line-height: 22px!important;              
        }
        tr .label{
           font-size: 13px!important;
        }
    } 
    .product-certificate-note{
          font-size: 11px!important;;
          line-height: 15px!important;
    }
        .product-certificate-contact {
            line-height: 22px!important;
 
            p{ 
                margin: -9px!important;         
               strong{               
                 font-size:10px!important;
                 &.brandhead{
                    font-size: 14px!important;
                 }               
               }
             
             span{
               font-size:11px!important;  
       
             }             
               
            }
          }
          
          .certificate-bottom-section{
              padding: 8px 30px!important;
            }   
          }
	    }
	 
	  }

       
@media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {
    .product-certificate {
       .certificate-wrapper{
           flex-direction: column;
        .product-certificate-container {
                  width: 100%; 
                  max-width: 730px;       
            .product-certificate-product {
                .product-col-left {                    
                    width: 63%;
                    font-size: @font-size-default;
                    line-height: 16px;
                     .product-attributes tr .value{
                        padding: 5px 0 15px;
                     }
                }
                .product-col-right {                    
                    width: 33%;
                }                
            }
            
            .certificate-bottom-section{   
                 padding: 18px 23px;            
            .product-certificate-note {
                font-size: 11.5px;
                line-height: 16px;
                padding-left: 20px;
            }
            .product-certificate-contact {
                 line-height: 12px;
                 width: 26%;
                
                p{
                 strong{
                   font-size: 10px;
                 }
                 
                 span{
                    font-size: 12px;
                 }
                }
             }
           } 
 
    }
     .social-media-container{
       padding-left: 0px;
       display: flex;
       justify-content: center;
       width:100%;
       .download-container{
             margin-left: 10px;
			   i{
	             font-size: 20px;
                 padding-right: 11px;
                }
                              
       }
       
    .button{                
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 30px;                
     }   

    }
    
          .share-card-container{  
                 padding-left: 0;               
		    .share-icons{    
			    width: 45px;
			    height: 45px;
			    margin:0 7px;
		    }
	   
		   .share-button{
		        padding: 9px 47px;
			    border: 2px solid @purple-dark;			    
                margin-left: 22px;
			    
		     }
		  } 
   
        } 
    
  }
}

@media screen and (max-width: @mobile-max) {
    .product-certificate {
       .certificate-wrapper{
           flex-direction: column;
        .product-certificate-container {  
            width: 100%;
            .product-certificate-title {
                font-size: 3vw;
                line-height: 34px;
                padding-left: 12px;
            }
             .product-certificate-logo{
                    width: 86px;
                    right: 15px;
                 img{
                       height: 36px;
                      
                 }   
             }            
            .product-certificate-product {
                padding: 12px;
                display: flex;
                margin-bottom: 0px;
                .product-col-left {                    
                    width: 80vw;
                    float: none;
                    font-size: 1.8vw;
                    line-height: 1.1;
                    padding-left: 17px;  
                    .product-attributes {
                        tr {
                            .label {
                                padding-right: 10px;
                                font-size: 1.8vw;
                                
                            }
                            .value{
                                padding: 5px 0;
                                font-size: 1.8vw;
                            }
                        }
                    }                 
                }
                .product-col-right {                    
                    width:44vw;
                    float: none;
                    margin-bottom: 0px;
                    .product-image {
                        max-width: 300px;
                        margin: 0 auto; 
                        border: 2px solid @dark-gray-gray;                        
                    }

                }                
            }
                  
          .certificate-bottom-section{
                 padding: 10px 12px;
            .product-certificate-note {
                font-size: 1.2vw;
                line-height: 6px;
                padding-left: 12px;
                border-left: 1.5px solid @dark-gray-gray;
            }
            .product-certificate-contact { 
                line-height: 5px;
                width: 30%;
                         
                 p{             
               strong{               
                 font-size:1.1vw;
                 &.brandhead{
                    font-size: 2.2vw;
                 }               
               }
             
             span{
               font-size:1.4vw;  
               padding-left: 1px;         
              }             
               
             }
               
            }
          }
        }
        
     .social-media-container{
       padding-left: 0px;
       display: flex;
       justify-content: center;
       width:100%;
       .download-container{
             margin-left: 10px;
             width:50%;                   
       }
       .print-container{
          width:50%;
       }
       
    .button{                
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 33px; 
        width: 140px;
        min-width: 140px; 
        i{
	       font-size: 17px;
           padding-right: 6px;
           }  
         }   

       }
       
      .share-card-container{  
                 padding-left: 0;               
		    .share-icons{    
			   width: 40px;
               height: 40px;
               margin: 0 5px;
		    }
	   
		   .share-button{
		        padding: 9px 47px;
			    border: 2px solid @purple-dark;			    
                margin-left: 22px;
			    
		     }
		  }  
       
     }
   }
}

/*PDF*/

.product-certificate.only-for-pdf{
    width: 850px;
    height: 800px;
    display:none;
  .product-certificate-container{
       width: 850px;
       max-width: 850px!important;       
    border-radius: 0!important;       
  .product-certificate-title{
          font-size: 20px!important;
          font-weight:bold;
              padding-left: 30px!important;
                  line-height: 40px!important;
   }
   .product-certificate-logo{
    right: 79px!important;
    width: 105px!important;
    img{
        height: 49px!important;
    }
   }
   
   .product-col-right{
      width: 33%!important;
     .product-image{
      border: 2px solid #b2b2b2!important;
      }
   }
   .product-col-left{
      width: 65%!important;
      padding-left: 17px!important;
      line-height:18px!important;
   }
   .product-certificate-product {
     display:flex;
     padding:30px!important;
     margin-bottom: 7px!important;
    }
   
   .product-attributes {
   
      tr {
      
      .label{
             font-size: 20px!important;
      }
      .value{
            font-size: 17px!important;
                 padding: 5px 0 25px!important;
                     line-height: 20px;
      }
      
     }
   }
   .certificate-bottom-section{
         padding: 18px 30px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
   .product-certificate-note{    
        font-size: 14px!important;
        line-height: 19px!important;
        border-left: 2.5px solid #b2b2b2;
        padding-left: 30px;
    }
    
          .product-certificate-contact {
                 line-height: 15px!important;
                 width: 25%!important;           
            p{
               margin: 0;
               
               strong{               
                 font-size:13px!important; 
                 &.brandhead{
                    font-size: 17px!important; 
                 }               
               }
             
             span{
               font-size:14px!important; 
                   line-height: 21px!important; 
                           
             }             
               
            }
          }
          }
  
  }
}

