.program-guide {
	.program-guide-table {
		border-collapse: separate;
		.program-guide-header-row {
			.program-guide-header-cell {
				background: @purple;
				color: @white;
				text-transform: none;
				text-align: center;
				padding: 12px 20px;
				font-weight: 400;
			}
		}
		.program-guide-separator-row {
			.program-guide-separator-cell {
				height: 3px;
			}
		}
		.program-guide-row {
			.program-guide-cell {
				text-align: center;
				color: @purple-dark;
				vertical-align: middle;
				border: 15px solid @white;
				background: @white;
				border-right: 1px solid @grey-dark!important;
				.cell-inner {
					padding-right: 20px;
				}
				&.cell-time {
					white-space: nowrap;
					font-size: 18px;
					font-weight: 600;
					line-height: 20px;
					color: @font-color-default;
				}
				&.cell-synopsis {
					border-right: 0 none!important;
				}
			}
			&:nth-child(4n+4) {
				.program-guide-cell {
					background-color: @grey-lighter;
					border-color: @grey-lighter;
				}
			}
		}
	}
}

@media (max-width: @mobile-max) {
	.program-guide {
		.program-guide-table {
			display: block;
            thead {
                display:none;
            }
			tbody, tr, th, td {
				display: block;
			}
			.program-guide-header-row {
				.program-guide-header-cell {
					&.cell-time,
					&.cell-title {
						display: none;
					}
					&.cell-synopsis {
						text-indent: -9999em;
					}
				}
			}
			.program-guide-row {
				.program-guide-cell {
					border: 0 none!important;
					.cell-inner {
						padding: 0;
					}
					&.cell-time {
						padding:15px 15px 5px 15px;
                        font-size: 18px;
					}
					&.cell-title {
						padding:5px 15px 5px 15px;
                        font-weight: 600;
					}
					&.cell-synopsis {
						padding:5px 15px 15px 15px;
					}
				}
			}
		}
	}
}
