/*** Styles for Activate Quick Buy page***/
.quickbuy-preference-page{
	.QB-page-title{
		font-size: 25px;
    	margin-bottom: 0.5em;
    	margin-top: 0;
		line-height: 25px;
		font-weight: 500;
		@media (max-width: @mobile-max) {
	 		font-size: 20px;
	 		line-height: 28px;
	 		width: 90%;
		}	
	}
	.QB-tc{
	    padding: 0px 0px 14px 0px;
      .form-row.form-row-checkbox{
	       margin-top: 15px;
        }
          .error-msg{
	          display:none!important;
             }
          .form-row{
       .field{
	      min-height: @form-field-min-height-auto!important;

        }

    label{
	  pointer-events:auto;
      }
     } 
   }	
	.quickbuytac{
       .error-msg{
	     display:none!important;
         }
	}
	h1{
	    font-size: 30px;
	    margin-top: 20px;
	}
	h2{
		margin-top: 0;
	    margin-bottom: 0;
	}	
	label{
	    font-size: 13px;
        pointer-events:auto;
	}
	.address-alias{
			width: 18.5rem;
			@media (max-width: @mobile-max) {
   				width: 100%;
   			}
		}
	.personal-fileds{
		display: flex;
		 @media (max-width: @mobile-max) {
		 		display: block;
			}	
		.form-row-new {
   			margin: 0 20px 0 0;
   		    width: 15rem;
          @media (max-width: @mobile-max) {
   				width: 100%;
   			}
	
   		}
   		.form-row-select{
			width: 6.875rem;
			@media (max-width: @mobile-max) {
   				width: 100%;
   			}
		}	
	}
	.country-postal-box{
		display: flex;
		 @media (max-width: @mobile-max) {
		 		display: block;
			}	
		.country-fld{
		    width: 18.75rem !important;
    		margin-right: 20px;
    		@media (max-width: @mobile-max) {
   				width: 100% !important;
   				margin-right: 0;
   			}		
		}	
		.country-postal-inner{
			display: flex;
		}	
		div.selector{
		    width: 18.75rem !important;
    		margin-right: 0;
    		@media (max-width: @mobile-max) {
   				width: 100% !important;
   				margin-right: 0;
   			}
		}
		.post-code-field{
			display: flex;
		}
		.postcodeinput{
			width: 8.875rem;
		    margin-right: 20px;
		    @media (max-width: @mobile-max) {
   				width: 50%;
   			}
		}
	 .address-check-btn button{
			width: 11.25rem;
			margin-top: 0px;
		}
	}
	.addresses-select{
		width: 23.75rem!important;
		@media (max-width: @mobile-max) {
   				width: auto!important;
   			}	   
	   .selected-address-summary{
	   	    padding-bottom: 12px;
    		border-bottom: 1px solid #ddd;
    		span{
	   		display: block;
	   		}
	   }
       .select-input-field{
	     .field{
		     margin-left: 0;
             width:auto;
		@media (max-width: @mobile-max) {
   				width: 100%!important;
   			 }
        	}
	
        }
     
		.showmore{
			color: #005C99 !important;
		    background-color: transparent;
		    border: 0;
	        text-align: left;
    		padding-bottom: 15px;
    		text-transform: uppercase;
		}
	}
	.mobile-no{
			width: 15rem;
		    margin: 0 0 0;
            @media (max-width: @mobile-max) {
   				width: 100% ;
   			}
		}
	.delivery-box{
		margin: 0;
		width: 18.75rem;
		@media (max-width: @mobile-max) {
   				width: 100% ;
   			}
		h5{
		    margin-bottom: 0.8rem;
		}
		.deliveryList{
			width: 18.75rem !important;
			@media (max-width: @mobile-max) {
   				width: 100% !important;
   				margin-right: 0;
   			}
		}
	}
	.checkout-billing-address{
	    div.checker{
	    	margin-right: 10px;
	    }
	    div.checker span.checked{
			margin: 0;
	    }
	    .flex{
		display: flex;
		align-items: center;
	    @media (max-width: @mobile-max) {
		    display: block;
		}	 
		.add-new-address{
		    font-size: 13px;
	    	line-height: 16px;
	    	font-weight: 600;
	    	color: #005c99;
	    	text-transform: uppercase;
	    	cursor: pointer;
	    	@media (max-width: @mobile-max) {
		       	margin-top: 15px;
				display: block;
			}
		}	
	}

	}
	.credit-card-box{
		max-width: 90%;
		 @media (max-width: @mobile-max) {
			    max-width: 97%;
		  }
		.personal-fileds{
		    display: flex;
    		@media (max-width: @mobile-max) {
			     padding-top: 15px;
		         display: block;
	             padding-bottom: 0;
			}
			.flex{
			    display: flex;
			    align-items: center;
			    @media (max-width: @mobile-max) {
		    		margin-top: 25px;
				}	
			}
			.existing-cards{
			    width: 20.625rem !important;
    			margin-right: 20px;
    			@media (max-width: @mobile-max) {
			     width: 100% !important;
				 display: block;
			     margin-bottom: 15px;
				}
			}
			#existing-paysafe-cvv   {
				width: 8.125rem !important;
				@media (max-width: @mobile-max) {
				    width: 6.25rem !important;
				}
			}
		}
		.add-new-address{
			font-size: 13px;
		    line-height: 16px;
		    font-weight: 600;
		    color: #005c99;
		    text-transform: uppercase;
		    display: block;
	        margin-bottom: 15px;
		}
		.refundtext{
			padding: 10px 0;
			span{
			    font-weight: 600;
			}	
		}
	}
	.activate-quickbuy-box{
		width: 23.75rem;
		margin-top: 15px;
		box-shadow: 0px 0px 20px 0px #dad4ec;
		@media (max-width: @mobile-max) {
			width: 100%;
		    margin-bottom: 70px;
		}
		.activate-quickbuy-inner{
			display: flex;
		    align-items: center;
			button{
				background-color:@cobalt-blue;				
				border: 1px solid @cobalt-blue;
				font-weight: 600;
				@media (max-width: @mobile-max) {
					width: 7.813rem;
					line-height: 17px;
				}
			}
			.form-row.form-row-checkbox {
   	    		margin: 0 10px 0;
			}
			.activatebutton{
				background: linear-gradient(173deg, #fff, #f2efff, #f2efff);
    			padding: 15px 15px 15px 0;
			}

		}
		.order-totals-box{
			padding: 15px;
			@media (max-width: 370px) {
				padding: 15px 0px;
			}
			.qborderdetails{
			    display: flex;
		        align-items: center;
	            border-bottom: 1px solid @grey-dark;
			    padding-bottom: 10px;
			    margin-bottom: 15px;
			    .qborder-detail{
		    	    padding-left: 10px;
		    	    width: 50%;
			    }
			}
			.qborderdetails.qbWarrantyEligible-true{
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.qborderdetails.qbWarrantyItem-true{
				border-top: 1px solid #bbb;
				padding-top: 10px;
				margin-top: 15px;
			}
			.order-totals-table tr.order-total td {
			    font-size: 14px;
			    font-weight: 600;
			}
			.order-totals-table tr td{
			    padding-top: 0px !important;
			}	
		}
		.qbwarrantydetails{
			border-bottom: 1px solid #bbb;
		    padding-bottom: 15px;
		    margin: 15px 0;
			.warranty-section .warranty-box{
				border-radius: 0;
			    border: 0;
			    padding: 0;
			    max-width: 100%;
			    margin-top: 0;
			    .warranty-dialog{
			    	width: 217px!important;
		    	    pointer-events: none!important;
		    	    .tjcplussubheading{
	    	    	    display: none!important;
		    	    }
			    }
			    .warrantyImage img{
			    	width: 40px!important;
			    }
			}
		}
	}
	.credit-card-box{
		.QB-refundMsg{
			padding: 0;
		}
		div.selector{		
			margin-right: 20px;
			 @media (min-width: @tablet-min) {
			 	width: 20.625rem !important;				
			}
		}
		#cardExpiry{
			width: 8.125rem !important;
			margin-right: 20px;
		    margin-left: 13px;
		    @media (max-width: @mobile-max) {
		      margin-left: 0;
		    }
           &:read-only{
	         padding-top: 0!important;
          }
		}
		.existing-card-options{
			
		}
		.whatiscvv{
	    	line-height: normal;
			color: @cobalt-blue;
			font-weight: 600;
		    cursor: pointer;			
		}
	}
	.preference-button {
		margin: 20px 0px;
	}
	.quickbuypref-check .checker {
		border: none;
	}
	.preference-button {
		.switch {
			position: relative;
 			display: inline-block;
 			width: 60px;
 			height: 30px;
 			input { 
 			  opacity: 0;
 			  width: 0;
 			  height: 0;
 			}
 			.slider {
 				position: absolute;
 			  	cursor: pointer;
 			  	top: 0;
 			  	left: 0;
 			  	right: 0;
 			  	bottom: 0;
 			  	background-color: #ccc;
 			  	-webkit-transition: .4s;
 			  	transition: .4s;
 			  	&:before {
 					position: absolute;
 				  	content: "";
 				  	height: 30px;
 				  	width: 30px;
 				  	left: 0px;
 				  	background-color: white;
 				  	-webkit-transition: .4s;
 				  	transition: .4s;
 				  	background-color: @red;
 				}
 			}
 			.enabled + .slider {
 				background-color: #dad4ec;
 				box-shadow: 0 0 1px #dad4ec;
 				&:before {
 					-webkit-transform: translateX(26px);
 					-ms-transform: translateX(26px);
 					transform: translateX(26px);
 					right: 0;
 					left: 4px;
 					background-color: @green;
 				}
 			}
 			.slider.round {
 				border-radius: 34px;
 				height: 30px;
 				&:before {
   					border-radius: 50%;
 				}
 			}
		} 
		.change-label {
			margin-left: 5px;
		}
	}
	.activate-quickbuy{
	    height: 3.125rem;
	    background-color: #005c99;
	    border: 1px solid #005c99;
	    padding: 7px 5px;
	    font-weight: 600;
	    text-transform: uppercase;
	    &:hover {
	        background-color: #033C66!important;
	    }
	}
	.activate-quickbuy, .change-quickbuy{
		width: 180px;
	}
	
	#dwfrm_quickbuyaddress_customer_quickbuytac-error {
		visibility: hidden !important;
	}
}

#delivery-address{
	display: flex;
		align-items: center;
	    @media (max-width: @mobile-max) {
		    display: block;
		}	 

		.add-new-address{
		    font-size: 13px;
	    	line-height: 16px;
	    	font-weight: 600;
	    	color: #005c99;
	    	text-transform: uppercase;
	    	cursor: pointer;
	    	@media (max-width: @mobile-max) {
		       	margin-top: 15px;
				display: block;
			}
		}
}

/*** Add new card model box***/
.add-new-card-dialog{
	width: 27.5rem !important;
	padding: 12px 20px 20px;
	@media (max-width: @mobile-max) {
		width: 83% !important;		
	}
	.ui-dialog-titlebar-close{
		right: 5px;
		top: 5px;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
	}	
}

/*** QuickBuy Confirmation model Box ***/
.quickBuyConfirmation{
	.title{
		font-weight: 600;
		font-size: 17px;
	}
	.qbConfirmationContent{
		padding: 0 15px;

		span{
			font-weight: 600;
			color: @cobalt-blue;
		}
		#qborder-number{
		    font-weight: 600;
    		color: @purple-dark;
		}
	}
	.ui-dialog-titlebar-close{
		right: 5px;
		top: 5px;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
		color: @red-dark;
	}
	button{
		width: 180px;
		font-weight: 600;
	}
}

/*.QBactivateconfirm, .QBsaveconfirm{
	width: 27.5rem !important;
	@media (max-width: @mobile-max) {
		width: 83% !important;		
	}
	#QBactivateconfirm, #QBsaveconfirm{
    	text-align: center!important;
    	padding-top: 10px;
	}
} */

.QBactivateconfirm{
    position: fixed;
	left: 0!important;
    margin: 0 auto!important;
    top: 50% !important;
    right: 0 !important;
    transform: translateY(-50%);
    @media (max-width: @mobile-max) {
        .ui-dialog-titlebar-close {
            right: -7px!important;
        }    
    }   
}

.QBactivateconfirm .content-row:nth-child(1), .qb-livetv-dialog .content-row:nth-child(1) {
    border-bottom: 0 !important;
}

.QBdisableconfirm{
	width: 27.5rem !important;
	@media (max-width: @mobile-max) {
		width: 83% !important;		
		
		.button, button, input[type=button] {
			display: unset;
		}
	}
	.ui-dialog-titlebar-close{
		right: 5px;
		top: 5px;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
		color: @red-dark;
	}
	#QBdisableconfirm{
		button{
			width: 180px;
		    height: @form-input-height-auto;
		    line-height: 35px;
		    font-weight: 600;
            @media (max-width: @mobile-max) {
	              width: 125px;
            }
			
		}
		.confirm-disable{
			margin-left: 10px;
		}
		.cancel-disable{
			background-color: @white;
		    border: 1px solid @grey-dark;
		    color: @purple-dark!important;
		    font-weight: 600;
		    border-radius: 3px;
		    &:hover{
		    	background-color: @grey-lighter;
		    }
		}
	}
}

.whatiscvv-modelbox{
width: 27.5rem !important;
    padding: 12px 20px 20px;
	@media (max-width: @mobile-max) {
		width: 83% !important;		
	}
	.ui-dialog-titlebar-close{
		right: 5px;
		top: 5px;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
	}
}

.fa.fa-question-circle {
	margin-left: 5px;
    color: @cobalt-blue;
    &.warranty{
		font-size: 16px;
		font-weight: 600;
		cursor: pointer;
    }
}

body .ui-tooltip {
	border-width: 2px;
}
.ui-tooltip {
	padding: 10px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	background: @white;
	-webkit-box-shadow: 0 0 10px @grey;
	box-shadow: 0 0 10px @grey;
	border-radius: 3px;
	font-size: 13px;
    line-height: 20px;
	text-align: justify;
	text-justify: inter-word;
	.ui-tooltip-content{
		a{
			color: @cobalt-blue;
			font-weight: 600;
			&:hover{
				text-decoration: underline!important;
			}
		}
	}
}
/*.ui-tooltip-content::after, .ui-tooltip-content::before {  
	content: "\f104";  
	font: 40px/1 FontAwesome;
	position: absolute;  
	left: -13px;
	top: 0px;
	color: #bd97db;
}*/

#qberror .error{
		color: @white;
		background-color: @red;
		padding: 3px 10px;
		width: 50%;
		border-radius: 3px;
		margin-top: 20px;
	}
	
.showActivateQBModel{
    padding: 20px;
	position: fixed!important;
    left: 0!important;
    right: 0!important;
    //top: 50px!important;
    margin: auto!important;
    //height: 50% !important;
    //overflow-y: auto;
    //overflow-x: hidden;
	&.tjc-sub-papin {
		.order-totals-table {
			.order-subtotal1,
			.order-shipping-discount
			 {
				display: none;
			}
		}
	}
	@media (max-width: @mobile-max) {
		width: 93%!important;
		height: 90%!important;
		padding: 30px 10px 30px 10px;
	}
	@media (min-width: @tablet-min) and (max-width: @tablet-max) {
		width:90% !important;	
	}
	.ui-dialog-titlebar-close{
		right: 10px!important;
	    top: 10px;
	    @media (max-width: @mobile-max) {
	    	top: 40px;
	    }
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
	}
	.checkout-addresses-form {
		overflow-y: auto;
		max-height: 450px;
		@media (max-width: @mobile-max) {
			top: 0;
			height: 100%;
			max-height: 90vh;
		   padding-right: 14px;
		}
		@media (max-width: 430px) {
			padding-right: 0px;
		}
	}
}
.qbaddnewcard{
	border: 2px solid @cobalt-blue;
    padding: 15px;
    margin-top: 14px;
    border-radius: 10px;
    width: 95%;
    margin-bottom:12px;
    @media (max-width: @mobile-max) {
		padding: 10px;
		margin-top: 15px;
	    width: 96.5%;
	}
	.qbaddnewcardinner{
		display : flex;
		@media (max-width: @mobile-max) {
			display: block;	
			margin-bottom: 20px;
		}
	#cardNumber{
	    margin-right: 20px;
	    width: 20.625rem;
	    @media (max-width: @mobile-max) {
		 	width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
		@media (min-width: @tablet-min) and (max-width: @tablet-max) {
			    width: 16.625rem;
		}
		
	}
	.security{
		display: flex;
		@media (max-width: @mobile-max) {
			display: flex;	
		}
		.field{
			@media (max-width: @mobile-max) {
		    width: 8.125rem;
            margin-right: 10px;
          }
		}
		
	}
	.flex{
		display: flex;
    	align-items: center;
       .field{
	      @media (max-width: @mobile-max) {
	          width: 7.12rem;
        }
      }		    
	}
	.expiryDate{
		margin-right: 20px;
        width: 8.125rem;
       @media (max-width: @mobile-max) {   
 	    width:auto;
         margin-right: 0px;
       }    
	}
	.cvv{
		margin-right: 20px;
        width: 8.125rem;
        @media (max-width: @mobile-max) {
			 width: 6.125rem;
		     margin-right: 0px;
		}
	}
	}
	#payNow{
	    width: 11.25rem;
	}
}
#addnewcard-billingerror, #addnewcard-notvaliderror{
	color:@red;
    background: transparent;
    margin-top: 5px;
    font-size:12px;
    @media (max-width: @mobile-max) {
	 font-size:11px;
	}
}
#activation-error{
	color: @red;
}
#activation-success{
	padding: 30px;
	font-weight: 600;
	text-align: center;
}
.bidException{
		width: 27.5rem !important;
		position: fixed;
		left: 0!important;
		margin: 0 auto!important;
		top: 50% !important;
		right: 0 !important;
		transform: translateY(-50%);
		@media (max-width: @mobile-max) {
		width: 83% !important;
	}
	.ui-dialog-titlebar-close{
		right: 0;
		top: 0;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
	}
	h5{
		padding: 20px;
	}
}
.fieldlabel{
    margin: 1px 0 0;
    font-size: 12px;
    line-height: normal;
}
/*.ui-tooltip {
    background-color: @white;
    border-radius: 3px;
    font-size: 13px;
    line-height: 20px;
    padding: 10px;
    box-shadow: 0 0 10px @grey;
} */
.deleteaddressmodel{
width: 27.5rem !important;
position: fixed;
left: 0!important;
margin: 0 auto!important;
top: 50% !important;
right: 0 !important;
transform: translateY(-50%);
@media (max-width: @mobile-max) {
width: 83% !important;
}
.ui-dialog-titlebar-close{
right: 0;
top: 0;
}
.ui-dialog-titlebar-close .ui-icon::before{
font-size: 30px;
color: @red;
}
.ui-dialog-titlebar-close:hover{
background-color: transparent;
}
}
.mobile-no, .address-alias {
    label span:nth-child(2):after {
        margin-left: 5px;
        color: #005c99;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 16px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -ms-transform: translate(0,0);
        transform: translate(0,0);
        content: "\f059";
    }
}
.what-cvv{
	color: @cobalt-blue;
	font-size: 14px!important;
	font-weight: 600;
	line-height: 17px;
	cursor: pointer;
}
#whatiscvv-modelbox{
	h5{
		margin-top: 15px;
	}
}
.membercheck{

display: none! important;
}
.membercheck ~ .ui-widget-overlay{
display: none! important;
}
#delivery-box{
	div.error{
		display:none!important;
	}
}

.preferencepage {
	.credit-card-box{
	  max-width: 826px;
     width: 100%;
  }


}

.quickbuy-preference-page{
	.postcodeerrorshipping, .postcodeerror{
		    margin-top: -3px;
	}
}

#addnewCardQb{
	@media (max-width: @mobile-max) {
	    margin-bottom: 0!important;
  }
}

.quickbuy-detail{
	 input.input-text:read-only{
		padding-top: 19px!important;
	}
	.personal-fileds input.input-text:read-only {
		padding-top: 0!important;
	}
	fieldset.extra-spacing {
    margin-top: 26px;
   }
}
.form-row .field.cityerror-field{
	 min-height: @form-field-min-height-auto!important;
    margin-top: -27px;
}

.credit-card-box{	
	#qberror .error{		
    color: @red;
    background-color: transparent;
    padding: 0;
    margin-top: 0;
   width: auto;
	}
}

#dwfrm_quickbuyaddress .add-new-address.shipping-new-address.showmore {
    display: inline-block;
    margin-bottom: 15px;
}

#quickBuyForm .footer {
	.content-heading{
		line-height: normal!important;
	}
	
.content-detail .confirm-qborder{
		@media (max-width: @mobile-max) {
	      padding: 0;
          width: 150px;
          min-width: 150px;
   }
  }
}


.Toltip-top{
	margin-top: -13px;
    line-height: 16px;
	@media (max-width: @mobile-max) {
	margin-top: 0;
	line-height: 20px;
	}
}


.quickbuy-preference-page.preferencepage{
	.qbaddnewcard{
		margin-bottom:0;
	}
	.form-row.form-row-checkbox{
		margin-top: 15px;
        margin-bottom: 13px;
 	 }
	}
	
.visually-un-hidden{
	overflow: inherit!important;
	position: inherit!important;
	height: inherit!important;
	width: inherit!important;
    margin: inherit!important;
	padding: inherit!important;
	border: inherit!important;
}

#dwfrm_quickbuyaddress_shippingAddress_addressid-error{
	text-transform: initial;
	left: 0px;
}
.preferencepage {
	
.checkout-billing-address{
	
	.billingform.saved-address{
		margin-top: 23px;
	}
  }

#addnewCardQb.new-card-empty{
	margin-bottom: -6px;
   } 
 }
 
 .quickbuy-preference-page{
 	.additional-address-fields .field {
    	min-height: 76px;
	}
}

.qb-livetv-dialog, .QBactivateconfirm {
	width: 37.5rem!important;
	padding: 0px;
    border-radius: 0;
    margin: 0 auto;
	left: 0 !important;
	@media (max-width: @mobile-max){
		width: 95% !important;
		
		.button, button, input[type=button] {
		    display: unset;
		}
	    .ui-dialog-titlebar-close {
             right: -7px!important;
             top: -16px;
         }		
		.quickbuy-placeorder-form {
			.safe-budget { 
	       		.safe-pay {
	       			margin-top: unset;
	       			width:100%!important;
	       			.not-for-mobile {
	       				display: block!important;
	       			}
	       			label{
	        			margin-top: -3px;
	        		}
	       		}
	       		.budget-pay{
	       			margin-top: 10px!important;
	        		.radio{
	        			margin-top: unset!important;
	        		}
	        	}
	       	}
		}
	}
	/*.ui-dialog-titlebar-close{
		border-color: transparent !important;
		background-color: transparent;
		right: 5px;
		top: 5px;
	}
	.ui-dialog-titlebar-close .ui-icon::before{
		font-size: 30px;
		color: @red;
	}
	.ui-dialog-titlebar-close:hover{
		background-color: transparent;
		color: @red-dark;
	}*/
    .header {
        padding: 15px 50px 15px 15px;
        border-bottom: 1px solid #dad4ec;
        background-color: #f2efff;
        .title{
        	font-size: 16px;
        }
        .settings {
            float: right;
            color: #005c99;
            text-align: right;
            text-transform: uppercase;
            font-size: 13px;
            a {
                color: #005c99;
            }
            i {
                font-size: 15px;
            }
        }
        span {
            font-weight: 600;
            color: #2c163d;
        }
    }
    .content-row {
        padding: 15px;
        display: flex;
        font-size: 14px;
        &:nth-child(1) {
            border-bottom: 1px solid #dad4ec;
        }
        .content-heading {
            width: 25%;
            font-weight: 600;
            margin: auto;
        }
        .content-detail {
            width: 75%;
            line-height: 30px;
            text-transform: capitalize;
            .inc-delivery {
            	line-height: 3rem!important;
                vertical-align: -webkit-baseline-middle;
            }
            .address{
            	line-height: 20px;
            }
            button {
            	width: auto;
                float: right;
            }
        }
        
        
    }
    .footer {
        border-top: 1px solid #dad4ec;
        background-color: #f2efff;
        .content-heading {
        	font-weight: 400;
        	@media (max-width: @mobile-large-max) {
        		width: 50%;
        		font-size: 13px;
        		.inc-delivery {
        			display: block!important;
        		}
        	}
        }
        
        .content-detail {
        	@media (max-width: @mobile-large-max) {
	        	width: 50%;
	        	button {
        			padding: 12px 10px; 
        		}
	        }
	    	@media (min-width: @mobile-large-max) {
	    		.inc-delivery {
	    			display: inline-block!important;
	    		}
	    	}
        }
    }
    .quickbuy-placeorder-form {
    	.qbTV-cvv{
    		width: 5rem;
    	}
		.details-row{
			border-bottom: 1px solid #dad4ec;
		}
		.confirm-qborder{
			background-color: @cobalt-blue;
		    border: 1px solid @cobalt-blue;
		    &:hover {
		        background-color: #033C66!important;
		    }
		}
		.safe-budget { 
			border-bottom: 1px solid #dad4ec;
			margin: 0px 0px;
    		padding: 15px;
       		.safe-pay {
       			width:40%;
        		margin-right: 20px;
        		margin-top: 3px;
        		line-height: 2rem;
    		    display: flex;
        		label{
        			padding: 0 0 0 4px;
        		}
        		input{
        			margin-top:4px;
        		}
        	}
        	.budget-pay{
        		line-height: 2rem;
        		margin-top: 3px;
        		.radio{
        			margin-top: -1rem;
        		}
        	}
        	span label {
        		@media (min-width: @mobile-large-max) {
        			vertical-align: text-bottom;
        		}
        		img {
        			vertical-align: middle; 
        			width: 75px;
        		}
        	}
        }
		.content-directPay{
			width: 40%;
			span{
				padding-left: 10px;
			}
		}
		.content-budgetPay{
			width: 60%;
			span{
				padding-left: 10px;
			}
		}
		.error-content{
			color: @red;
			span{
				width: 100% !important;
				.cardExpUpdBtn{
					float: right;
				    padding: 1px 15px;
				}
			}
		}
		/*Radio Button*/
		.container {
		  display: block;
		  position: relative;
		  padding-left: 35px;
		  margin-bottom: 12px;
		  cursor: pointer;
		  font-size: 22px;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		}
		.container .QBCheckbox {
		  position: absolute;
		  opacity: 0;
		  cursor: pointer;
		}
		.checkmark {
		  position: absolute;
		  top: 0;
		  left: 0;
		  height: 25px;
		  width: 25px;
		  background-color: #b9addb;
		  border-radius: 50%;
		}
		.container:hover .QBCheckbox ~ .checkmark {
		  background-color: #b9addb;
		}
		.container .QBCheckbox:checked ~ .checkmark {
		  background-color: #13770d;
		}
		.checkmark:after {
		  content: "";
		  position: absolute;
		  display: none;
		}
		.container .QBCheckbox:checked ~ .checkmark:after {
		  display: block;
		}
		.container .checkmark:after {
		 	top: 9px;
			left: 9px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: #13770d;
		}
		/*Radio Button*/
	}
}

.sameBillingCheckbox + .customerAddressBilling {
    margin-top: 20px;
}