.rising-auctions-button-bar {
    margin-bottom: 40px;
    .calc(width, 100% + 10px);
    li {
        float: left;
        .calc(width, 20% - 10px);
        margin-right: 10px;
        position: relative;
        .button {
            display: block;
            white-space: nowrap;
            &.active {
                background-color: @purple;
                border-color: @purple;
                color: @white!important;
                cursor: default;
            }
        }
    }
}
.time-counter {
    .time-counter-table {
        width: auto;
        margin: auto;
        .row-values {
            .time-counter-cell {
                text-align: center;
                color: @blue;
                padding: 0;
                border: 0 none;
                font-weight: bold;
                &.separator {
                    font-weight:100;
                }
                &.hidden {
                    display: none;
                }
                .seconds-left {
                    font-weight: 100;
                }
            }
        }
        .row-labels {
            .time-counter-cell {
                text-align: center;
                color: @purple-dark;
                padding: 0;
                border: 0 none;
                &.hidden {
                    display: none;
                }
            }
        }
    }
    &.red {
        .time-counter-table {
            .row-values {
                .time-counter-cell {
                    color: @red;
                }
            }
        }
    }
}
.winner-you {
    .value {
        text-transform: none;
    }
}   

.bidder-wrapper {
	margin: 30px 0 0 0;
}   
     
.bidder {
    line-height: 18px;
    min-height: 21px;
    .label {
        white-space: nowrap;
        line-height: 18px;
        .fa {
            font-size: 18px;
            line-height: 18px;
        }
    }
    .value {
        font-weight: 600;
        white-space: nowrap;
    }
    .highest {
        color: @red;
    }
    .highest-you {
        color: @green;
        .label {
            .fa {
                display: inline;
            }
        }
        .value { 
            text-transform: none;
        }
    }
} 
.price-bids {
    .price-bids-amount {
        white-space: nowrap;
        font-weight:600;
    }
    .price-bids-count {
        white-space: nowrap;
        font-weight:300;
    }
} 
.estimated-price {
    .price {
        white-space: nowrap;
    }
}

.ra-watchlist-main {
    .ra-watchlist-refinement {
        width: 150px;
        margin: 0 0 20px 0;
    }
}
.ra-search-result-table {    
    th {
        white-space: nowrap;
    }
    td {
        &.cell-product {
            .product-image {
                width: 100px;
                float: left;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
					border: 1px solid @grey-light;
					border-radius: 3px;
                }
                .placeholder-image {
                    display: none!important;
                }
                .quickview {
                    display: none!important;
                }
            }  
            .product-promo {
                display: none; 
            }        
            .product-name {
                margin-left: 120px;
                max-width: 300px;
                font-size: 13px;
    			line-height: 18px;
                a {
                    color: @purple-dark;
                }
            }  
        }
        &.cell-current-bid {
            font-size: 14px;
            .price-bids-amount,
            .bid {
                white-space: nowrap; 
            }
        }
        &.cell-your-bid {
            font-size: 14px;
            .bid {
                white-space: nowrap; 
            }
        }
        &.cell-your-max-bid {
            font-size: 14px;
            .bid {
                white-space: nowrap;
            }
        }
        &.cell-actions {
            width: 100px;         
            .button {
                padding: (((@input-height - @input-line-height) - 2) / 2) 5px;  
                display: block;
                white-space: nowrap;
                padding-left: 2px; 
            }
            .ra-bid-action {
                display: flex;
                flex-wrap: wrap;
                margin-top: -7px;
            }
            .ra-bid-action-col {
                margin-bottom: 3px;
                width: 100px;
                position: relative;
                &.col-1 {
                    order: 1;
                }
                &.col-2 {
                    order: 3;
                    margin-bottom: 0;
                }
                &.col-3 {
                    order: 2;
                }
                .input-text {
                    padding-left: 20px;
                    padding-right: 5px;
                    border: 2px solid @green !important;
                    border-radius: 3px;
                    background-color: @white;
                   &:focus{
	                  border: 2px solid @blue !important;
                   }
                }
                .label {
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    z-index: 1;
                    color: @purple-dark;
                }
                .auto-bid-info {
                    text-align: center;
                    font-size: 8px;
                    line-height: 10px;
                    padding-top: 3px;
                    text-transform: none;
                }
            }
        }
    } 
    .time-counter {
    	.ra-timer{
			font-size: 18px;
		    margin: 0;
		    line-height: 22px;
		    color: @blue;
		    font-weight: 600;
		    span{
		    	font-weight: 100;
		    }		    
		}
		.red{
	    	color: @red;
	    }
	    .pulse-slow {
            animation: blinker 1s linear infinite;
        }
        .time-counter-table {
            margin: 0;
            .row-values {
                .time-counter-cell {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
            .row-labels {
                .time-counter-cell {
                    font-size: 10px;
                    line-height: 14px;
                }
            }
        }
    }
    .outbid-msg {
        color: @red;
        max-width: 200px;
        margin-top: 10px;
    }
    .bid-list {
        .bid-item {
            margin-bottom: 6px;                
            &:last-child {
                margin-bottom: 0;
            }
            .bid-list-label {
                white-space: nowrap;
                color: @purple-dark;
                text-transform: none;
                font-size: 14px;
            }
        }
    }
    .status-lost {
        color: @red;
        font-size: 14px;
        text-transform: none;
    }
    .status-won {
        color: @green;
        font-size: 14px;
        text-transform: none;
    }

  
 }


.ra-watchlist-no-results,
.ra-favs-no-results,
.ra-bidhistory-no-results,
.ra-autions-won-no-results {
    a {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}

@media (max-width: @mobile-max) {   
    .rising-auctions-button-bar {
        margin-bottom: 17px;
        .calc(width, 100% + 3px);
        li {
            .calc(width, 50% - 3px);
            margin-right: 3px;
            margin-bottom: 3px;
        }
    }
    .ra-watchlist-main {
        .ra-watchlist-refinement {
            width: auto;
        }
    }
    .ra-search-result-table {
        display: block;
        text-align: center;
        > thead {
            display: none;
        }
        > tbody {
            display: block;
            .calc(width, 100% + @page-padding-mobile);
            .clearfix();
            > tr {                
                display: block;
                float: left;
                margin: 0 @page-padding-mobile @page-padding-mobile 0;
                .calc(width, 100% - (@page-padding-mobile * 3) - 2px); 
                border: 1px solid @grey-dark;
                .border-radius-default();
                padding: @page-padding-mobile;
                &:last-child {
                    margin-bottom: 0;
                }
                > td {
                    display: block;
                    padding: 0!important;
                    border: 0 none!important;
                    &.cell-product {
                        width: 100%;
                        margin-bottom: 8px;
                        .clearfix();
                        .product-image {
                            float: none;
                            width: auto;
                            margin-bottom: 5px;
                            img {
                                max-width: 150px;
                                margin: 0 auto;
                            }
                        }
                        .product-name {
                            overflow: hidden; 
                            margin-left: 0; 
                            max-width: none;      
                            text-align: center;                   
                        }
                    }
                    &.cell-timer {
                        clear: left;
                        text-align: center;
                        margin: 0 0 10px;  
                        .time-counter {
                            .time-counter-table {
                                margin: 0 auto; 
                            }
                            
                        }
                        .outbid-msg {
                            max-width: none;
                        }
                    }
                    &.cell-current-bid {
                        text-align: center;
                        margin: 0 0 10px;
                    }
                    &.cell-actions {
                        width: auto;
                        .ra-bid-action {
                            margin-top: 0;
                            .calc(width, 100% + @page-padding-mobile);
                        }
                        .ra-bid-action-col {
                            float: left;
                            .calc(width, 33.333% - @page-padding-mobile);
                            padding-right: @page-padding-mobile;
                            &.col-1 {
                                order: 1;
                            }
                            &.col-2 {
                                order: 2;
                            }
                            &.col-3 {
                                order: 3;
                            }
                        }
                    }
                }
            }
        }
    }
    .ra-watchlist-visibility{
    	tr.product-tile{
    		border: 1px solid @border-grey !important;
    			.ra-bid-action{
    					justify-content: center;
    				    .ra-bid-action-col{
    				    	width: 36.333%;
    				}
    			}
    	}
    		
    }
}
//
//
//
.context-auctionshop {
    .search-result-content {
        .search-result-items {
            padding-top: 1px;
            @media (max-width: @old_mobile-max) {
                .calc(width, "100% + 4px");
            }
            @media (min-width: @old_tablet-min) and (max-width: @old_tablet-max) { 
                .calc(width, "100% + 8px"); 
            }
            @media (min-width: @old_desktop-min) {
                .calc(width, "100% + 8px"); 
            }
            .grid-tile {
                margin-top: -1px;
                @media (max-width: @old_mobile-max) {
                    width: calc(50% - 2px);
                }
                @media (min-width: @old_tablet-min) and (max-width: @old_tablet-max) { 
                    width: calc(25% - 2px);
                }
                @media (min-width: @old_desktop-min) {
                    width: calc(20% - 2px);
                }
                .grid-tile-inner {
                    padding: 0 !important;
                    .product-tile {
                        border-radius: unset;
                        border-top: 1px solid @grey-dark;
                        border-right: 1px solid @grey-dark;
                        border-bottom: 1px solid @grey-dark;
                        border-left: unset;
                        .product-review {
	                        height: 18px;
							position: relative;
							justify-content: center;
						}
						.product-tile-part-bottom {
							&.login-to-bid {
	        					height: 160px;
	        				}
						}
                        .ra-timecounter {
                        	height: 40px;
                        	.time-counter-cell {
               					font-weight:600;
				                font-size: 22px;
				                line-height:40px;
				                &.separator {
				                    font-weight:300;
				                }
				                &.hidden {
				                    display: none;
				                }
				                .seconds-left {
				                    font-weight: 300;
				                }
            				}
                        }
                        .bid-button {
                            font-size: 14px; 
                            line-height:30px; 
                            font-weight:400; 
                            color:#FFFFFF; 
                            height:30px;
                            width: 140px;
                            margin: 0 auto;
                            padding: 0;
                        }
                        .winner-you {
                            background-color: unset;
                            color: @green;
                            border-radius: unset;
                            font-size: 22px; 
                            line-height:40px; 
                            font-weight:400; 
                            height:40px;
                            margin: 0 auto!important;
    						padding: 0;
                            .value {
                                text-transform: uppercase;
                                font-weight: 400;
                            }  
                        }
                        .auction-ended-msg {
                            background-color: unset;
                            color: @red;
                            border-radius: unset;
                            text-transform: uppercase;
                            font-weight: 400;
                            font-size: 22px; 
                            line-height:40px; 
                            color:#C20000; 
                            height:40px;
                            padding: 0;
                            &.nobids {
                            	color: @grey-dark;
                            }
                        }
                        .auction-be-the-first-to-bid {
                        	height: 50px
                        }
                        .price-bids {
                            .price-bids-amount {
                                font-size: 18px;
                                font-weight: normal;
                            }
                            .price-bids-count {
                            	font-size: 18px;
                            	font-weight:300;
                            	margin-left: 5px;
                            }
                        }
                        .bidder {
						    font-size: 14px; 
						    line-height:50px; 
						    font-weight:400; 
						    color:@purple-dark; 
						    height:50px;
						    &.closed {
						    	line-height:30px;
						    	height: 30px;
						    	&.nobids {
						    		line-height:40px;
						    		height: 40px;
						    	}
						    	.label {
						    		line-height:30px;
						    		.fa {
						    			line-height:30px;
						    		}
						    	}
						    }
						    .label {
						        white-space: nowrap;
								line-height:50px;        
						        .fa {   
									font-size: 14px; 
									line-height:50px;         
						        }
						    }
						}
                    }
                }
                &.risingauctions-cols5-first {
                    .product-tile {
                        @media (min-width: @old_desktop-min) {
                            border-left: 1px solid @grey-dark;
                            margin-right: -1px;
                        }
                    }
                }
                &.cols4-first {
                    .product-tile {
                        @media (min-width: @old_tablet-min) and (max-width: @old_tablet-max) { 
                            border-left: 1px solid @grey-dark;
                            margin-right: -1px;
                        }
                    }
                }
                &.cols2-first {
                    .product-tile {
                        @media (max-width: @old_mobile-max) {
                            border-left: 1px solid @grey-dark;
                            margin-right: -1px;
                        }
                    }
                }
            }
        }
    }
    .ra-bid-action-wrapper {
        .ra-bid-action {
            .ra-bid-action-left-inner {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 40px;
                font-size: 13px; 
                line-height:40px; 
                font-weight:400; 
                color:#2C163D; 
                .bid-value {
                    width: 38px;
                    padding: 3px 2px 3px 2px;
                    text-align: center;
                    margin-left: 5px;
                    height: 30px;
                    font-size:14px;
                    border: 2px solid @green !important;
                    border-radius: 3px;
                    background-color: @white;
                    &:focus{
	                  border: 2px solid @blue!important; 
                     }
                }
            }
        }
}
    .auction-be-the-first-to-bid {
        position: absolute;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-tile-part-bottom {
        height: 200px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        position: relative;
        .progress-loader {
        	position: absolute;
        }
        .ra-overlay {
	        opacity: 0.3;
	        background-color: @grey-dark;
	        height: 100%;
	        position: absolute;   
	        width: 100%; 
	        top: 0px;
	        left: 0px;
	   }
    }
    .highest { 
        &.winner {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .price-bids-count {
        font-size:18px;
        height:40px;
    }
    .winner-you {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
    .auction-ended-msg,
    .winner-you {
        font-size: 18px;
        line-height: 20px;
    }
    .product-tile-bottom  {
        padding: 0 !important;
    }
    .ra-login-btn {
    	width: 140px;
    	height: 30px;
    	line-height: 30px;
    	padding: 0;
    	margin: 0 auto;
		font-size: 14px; 
		font-weight:400; 
		color:@white!important; 
    }
}

@media (max-width: @mobile-small) {
.context-auctionshop {
    .ra-bid-action-wrapper {
        .ra-bid-action {
            .ra-bid-action-left-inner {
            	font-size: 12px;
            }
        }
    }
}
.context-auctionshop {
	.search-result-content {
		.search-result-items {
			.grid-tile {
				.grid-tile-inner {
					.product-tile {
						.ra-timecounter { 
							.seconds-left {
 								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}
}
.xgrid.rising-action-btn-group {
    .category-button {
        color      : @white;
        padding    : 0;
        line-height: 45px;
        font-weight: bold;
        span {
            color      : @white;
            width      : 22%;
            float      : right;
            font-size  : 15px;
            font-weight: bold;
            border-left: 1px solid @white;
        }
        &:hover {
            color: @white;
        }
    }
    .pay-now-btn,
    .pay-now-btn:hover {
        background-color: @green;
        border          : 2px solid @green;
        span {

            background-color: @dark-green;
        }
    }
    .active-bits,
    .active-bits:hover {
        background-color: @summer-sky-blue;
        border          : 2px solid @summer-sky-blue;

        span {
            background-color: @dark-blue;
        }
    }
    .bit-history,
    .bit-history:hover {
        background-color: @denim-blue;
        border          : 2px solid @denim-blue;
    }
    .how-it-works,
    .how-it-works:hover {
        background-color: @white;
        border          : 2px solid @summer-sky-blue;
        color           : @summer-sky-blue;
    }
    &.RA-sticky-on {
        position        : fixed;
        background-color: #fff;
        width           : 100%;
        padding         : 0;
        top             : 0px;
        z-index         : 100;
        left            : 0;
        .mb-36,
        .my-36 {
            margin-bottom: 0 !important;
            padding-left : 20px;
            padding-right: 20px;
        }
        .xrow-sm {
            align-items    : center;
            justify-content: space-between;
            padding        : 17px 15px;
            box-shadow     : 2px 4px 11px;
            .xcol-lg-3 {
                max-width: 20%;
                padding  : 0;
            }
        }
    }
}
@media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {
    .xgrid.rising-action-btn-group {
        &.RA-sticky-on {
            width  : 100vw;
            left   : 0vw;
            padding: 0;
            .mb-36 {
                padding-left : 20px;
                padding-right: 20px;
            }
        }
    }
}
@media screen and (max-width: @mobile-max) {
    .xgrid.rising-action-btn-group {
          .category-button {
             span{
               font-size:20px;
               width: 25%;
              }
            }
     
   &.hidebutton{	
	display:none;
   }
 
    
        &.RA-sticky-on {
            width  : 100vw;
            left   : 0vw;
            padding: 0;

            .mb-36 {
                padding: 0;

                .xrow-sm {
                    padding  : 12px 0 12px;
                    max-width: 100%;
                    margin   : 0 auto;
                }

                .xcol-lg-3 {
                    max-width: 50%;
                    padding  : 0 7px;
                }
            }
        }

    }
}
@media screen and (min-width: @tablet-min) {
    .xgrid.rising-action-btn-group {
        &.RA-sticky-on {
            .xrow-sm {
                max-width: 1440px;
                margin   : 0 auto;
                width    : 100%;
            }
        }
    }
}
    .activebidhighest {
    	margin-top: 5px;
    	margin-left: -3px;
    	background-color: @sky-blue;
    	width: 142px;
    	height: 22px;
    	padding-top: 4px;
    	@media (max-width: @mobile-max)
    	{
			    height: 23px;
			    padding-top: 6px;
			    width: 124px;
			    margin:10px auto 0;
    	}
        .activebidlabel {
        	color: @white;
        	margin-left: 10px;
        	text-transform: uppercase;
        	font-size: 12px;
        	font-weight: 500;
        	@media (max-width: @mobile-max)
    		{
			    margin-left: -7px;
			    font-size: 14px;
			}
			span{
				padding-left: 8px;
			}
    		
            .fa {
                display: inline;
              &.fa-thumbs-down{
              	@media (max-width: @mobile-max){
                	transform: scaleX(-1);
                	display: inline-block;
                }
                }                
            }
        }
    }   
    .activebidhighest-you { 
    	margin-top: 5px;
    	margin-left: -3px;
    	width: 150px;
    	height: 22px;
    	padding-top: 4px;
        background-color: @dark-red;
        @media (max-width: @mobile-max)
    		{
    		   margin: 10px auto 0;
    		   height: 27px;
    		   padding-top: 6px;
    		   width: 170px;
    		}        
            
        .activebidlabel {
        	color: @white;
        	margin-left: 10px;
        	text-transform: uppercase;
        	font-size: 12px;
        	font-weight: 500;
        	@media (max-width: @mobile-max)
    		{
    		   margin-left: -9px;
    		   font-size: 14px;
    		} 
    		span{
				padding-left: 8px;
			}       	
            .fa-thumbs-up{              	
                	transform: scaleX(-1);
                	display: inline-block; 
                	vertical-align: top;               
                }
        }
    }
.rabreadcrumb {
	margin: 20px 0 0;
	@media (max-width: @mobile-max) {
		display: block;
		width: 100%;
		float: left;
		margin-bottom: 10px;
		position: relative;
		z-index: 1;
	}
	.rabreadcrumb-ul {	
		.rabreadcrumb-li {
			display: inline;
			font-size: 14px;
   			 font-weight: 400;
    		color: @Night-gider-gray;
			@media (max-width: @mobile-max) {
				display: block;
				float: left;
			}
			.raseparator {
				padding-left: 5px;
				padding-right: 5px;
                color: @lightgrey;
                vertical-align: middle;
			}
			&:last-child {
				.raseparator {
					display: none;
				}
			}
		}
	}
}
.page-title.ratitle{
    font-size: 20px;
    font-weight: 400;
    color: @Night-gider-gray;
    margin:10px auto 20px;
    line-height:17px;
    &:before{
    	border-top: 2px solid @lightgrey;
    	top: 55%;
    	
			@media (max-width: @mobile-max) {
			border-top: none;			
			}
    }
    @media (max-width: @mobile-max){
    	float: left;
		width: 100%;
    
    }
}


.rising-action-mobile-only{
    visibility: hidden;
     height: 0;
     position: absolute;
 }
@media screen and (max-width: @mobile-max) {
.RA-sticky-on {
   .xcol-lg-3{
     display:none;
   }
.rising-action-mobile-only.slick-slider{
    width: 88vw;
    display: block!important;
    margin: 0 auto;
    overflow: visible;
    visibility: visible;
     height: auto;
      position: relative;  
    .slick-prev, .slick-next{
	    width: 22px;
	    height: 50px;
	    background-color: @white;
    &:before{
      font-size: 27px!important;
      opacity:1!important;
      color: @black!important;
      background: transparent!important;
     }
    }    
    .slick-next {
       right: -17px;
    }
    .slick-prev {
      left: -30px;
     }
  
  
  .ra-slide-btn{
      width: 96%!important;
  }
    
  }
 }
}     


#ajaxRefresh{
	.items-per-page{
		 width: 130px;
	}
	 @media (max-width: @mobile-max){
     .items-per-page{
	  width: 49%;	
	}
	}
}

.ra-details-wrapper.processing{
	display: flex;
	flex-direction: column;
	position: relative;
	.progress-loader {
		position: absolute;
	}
	.ra-overlay {
		opacity: 0.3;
		background-color: @grey-dark;
		height: 100%;
		position: absolute;   
		width: 100%; 
		top: 0px;
		left: 0px;
	}
}
.rising-action-btn-group .m-btm {
    margin-bottom: 5px;
}