.wrapper.pt_cart:not(.pt_cart_empty){
	background-color: @grey-lighter;	
}
.wrapper.pt_cart_empty{
	.main-wrapper .main{
		padding-left:10px !important;
		padding-right:10px !important;
		@media (min-width: @old_tablet-min) {
			padding-left:0 !important;
			padding-right:0 !important;
		}
	}
}
.wrapper.pt_cart{	
	.main-wrapper .main{
		padding-left:0;
		padding-right:0;
		@media (min-width: @old_tablet-min) {
			padding-left:20px;
			padding-right:20px;
		}
	}
	.cart-recommendations-section{
		background-color: @white;
		.section-carousel-title{
			text-align:left;
			:before{
				display:none;
			}			
			span{
				padding:0;
			}
		}
	}
	.page-title{
		font-size: 20px;
		text-align: left;
	    line-height: 28px;
	    font-weight: 600;
	    padding: 10px 10px;
    	border-bottom: 4px solid @grey-lighter;
    	margin:0;
    	@media (min-width: @old_tablet-max) {
    		padding: 10px 20px;   		
		}		
	    &:before{
	    	display: none;
	    }
	    .page-title-inner{
	    	display: block;
	    	padding-bottom: 20px;
	    }
	    .delivery-meter{
    		padding-top: 15px;
    		border-top: 1px solid @grey-dark;
	    	.delivery-meter-image{
	    		@media (max-width: 768px) {
	    			display: none;
	    		}
	    		width: 105px;
	    		img{
		    		width: 90px;
		    	}
	    	}
	    	.delivery-meter-detail{
	    		.delivery-meter-progress-detail{
	    			display: block;
	    			font-size: 15px;
	    			font-weight: 500;
	    			.delivery-meter-balance{
	    				font-weight: 900;
	    				padding: 0;
	    			}
	    		}
	    		.delivery-meter-progress-bar{
	    			display: flex;
	    			flex-direction: row;
	    			height: 15px;
	    			border-radius: 15px;
	    			background-color: @grey-lighter;
		    		.delivery-meter-progress-bar-progress{
		    			display: block;
		    			border-radius: 15px;
		    			&:not(.completed){
			    			background-image: linear-gradient(90deg, #ffff00 0.6250000000000067%, #63a103 99.58333333333333%);
		    			}
		    			&.completed{
		    				background-color: #63a103;
		    			}
		    		}
	    		}
	    	}
	    }
	}
	#cartstickyheight{
		height:132px;
	}
	.sticky {
	  position: fixed;
	  top: 0;
	  width: 95%;	  
	}
	.cartsticky.sticky{
		.cart-page-title{
			display:none;
		}
	}
	.cartsticky{
		background-color: @white;
    	padding: 10px;
    	z-index:9;
    	.cart-page-title{
			font-size: 20px;
			text-align: left;
		    line-height: 28px;
		    font-weight: 600;	    
	    }
	    .order-totals-table tr.order-total td{
	    	font-size:14px!important;	
	    }
	    .order-subtotal,.order-discount{
	    	display:none;
	    }
	    .order-total{
	    	line-height: 22px;
		  	letter-spacing: 0.3px;
		  	font-weight: 600;
	    	td:first-child{
	    		font-weight: normal;
	   		}
	   		.order-totals-heading{
	   			color: @slidertilename;
			  	line-height: 22px;
			  	letter-spacing: 0.3px;
			  	font-weight: normal;
			  	font-size:14px;
	   		}
	    }
	    .cart-checkout{
	    	.button.button-larger{
	    		margin-top: 10px;
	    		padding-top:10px;
	    		padding-bottom:10px;
	    	}
	    }	   
	}
	.cart-wrapper{
		display: block;
		width: 100%;
		@media (min-width: @old_tablet-min) {
			margin-top: 20px; 
			display: flex;
			width: 100%;
			column-gap:20px;		    
		}
		.cart-shopping-info{
			height: 100%;
			background-color: @white;
			@media (min-width: @old_tablet-min) {
				width: 60%;
			}						
			@media (min-width: @old_tablet-max) {
				width: 65%;
			}
			@media (min-width: @desktop-min) {
				width: 75%;				
			}
			tr:not(.no-border){
				border-bottom: 4px solid @grey-lighter;				
			}
			.item-list td{
				padding:20px 0;
				border-bottom:unset;
			}
			.item-list td:first-child, .item-list th:first-child{
				padding:20px 0;
			}
			td.item-details{
				padding-right:15px!important;
				padding-left: 15px;
				@media (min-width: @old_tablet-max) {
					padding-left: 20px;
				}				
			}
			td.item-remove{
				padding-right:15px;				
			}
			.tableafterwarrantyadded{				
				.item-price{
					padding-top:2px;
				}				
			}
			.warrantyproductlineitem{
				border-top:1px solid @grey-light;
				.item-details,.warrantyproductlineitem .item-remove {
					
					td.item-remove{
						padding-top:10px;
					}
					.name{
			    		font-size:13px;
			    		line-height: 18px;
						letter-spacing: 0.3px;
						font-weight:600;
						height:auto !important;
						cursor: pointer;						
			    	}
				}			
			}
			td.item-details.warranty-added-row{
				padding:15px!important;				
				.item-quantity{
					padding-bottom:0;
				}				
			}
			.tjcplussubheading{
				color: @Night-gider-gray;
			  	line-height: 18px;
			  	margin-top:-12px;
			  	strong{
			  		color:#ff4300;
			  	}
			}
			td.item-image{
				padding-left:10px !important;
				@media (min-width: @old_tablet-max) {
					width: 160px;
					padding-left:20px !important;
				}
				img{
					width:60px;
					@media (min-width: @mobile-default) {
						width: 100px;
					}
					@media (min-width: @old_tablet-max) {
						width: 160px;
					}							
				}
				.product-image{
					position: relative;
				    margin: auto;
				    width: 100%;
				    max-width: 100%;
				    height: auto;
				    line-height:0;
					&:before{
						background:@black;
						opacity:0.03;
						content: '';
					    top: 0;
					    left: 0;
					    bottom: 0;
					    right: 0;
					    position: absolute;
					    z-index: 1;
					}
				}
			}
			.item-details {
				.product-list-item{
				    .name{
				    	font-size:13px;
					  	line-height: 18px;
					  	padding-bottom: 10px;
					  	height:25px;
					  	overflow:hidden;				  	
					  	@media (min-width: @old_tablet-min) {
					  		height:auto;
					  		overflow:auto;
					  	}
				    	@media (min-width: @old_tablet-max) {
				    		font-size:14px;
						  	line-height: 22px;
				    	}						
				    }
				    .sku, .engravingDetails{
				    	font-size: 13px;
				    	@media (min-width: @old_tablet-max) {
				    		font-size:14px;
				    	}	
				    }
				    .attribute, .engravingDetails{
				    	.label{
				    		text-transform: capitalize;	
				    		line-height: 20px;			    		
				    	}
				    	.item-edit-details{
				    		color:@blue;
				    		a{
					    		color:@blue;
					    		text-transform: uppercase;
					    		line-height: 20px;
					    	}
				    	}
				    	.item-remove-details{
				    		i{
				    			font-size: 15px;
				    			font-weight: 600;
				    			padding-left:10px;
				    			cursor: pointer;
				    		}
				    	} 
				    }
				}								
				.quantity-input-container.twovariations{
					@media (max-width: @mobile-max) {
						display:flex;
						align-items: center;
						flex-wrap:wrap;
						height:70px;
					}
					.attribute.size{
						@media (min-width: @old_tablet-max) {
							padding-left:20px;
						}
					}
				}
				.quantity-input-container{
					display:flex;
					align-items: center;
					@media (max-width: @mobile-max) {
						flex-wrap:wrap;
					}
					.cartquantitybox{
						display:flex;
						align-items: center;
						border-radius: 24px;
			        	box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.12);
			        	padding:0 8px;
			        	margin-right:15px;
			        	font-size: 13px;
			        	height:24px;
			        	@media (min-width: @old_tablet-max) {
			        		margin-right:20px;
			        		font-size: 14px;
			        		padding:0 10px;
			        	}			        	
					}				
					.form-row{
						width: auto;
						.field{
						    min-height: auto;
						    width: 46px;						  
					        select{
					        	height:24px;
					        	padding-top:0;
					        	border:0;
					        	text-indent: 0;
					        }
						}
					}
					.attribute{
				    	.label{
				    		text-transform: capitalize;	
				    		line-height: 20px;	
				    		font-size: 13px;
				    		@media (min-width: @old_tablet-max) {
				    			font-size: 14px;
				    		}		    		
				    	}
				    	.item-edit-details{
				    		padding-left:5px;
				    		color:@blue;
				    		a{
					    		color:@blue;
					    		font-size: 13px;
					    		text-transform: uppercase;
					    		line-height: 20px;
					    		@media (min-width: @old_tablet-max) {
				    				font-size: 14px;
				    			}
					    	}
				    	}
				    	.item-remove-details{
				    		i{
				    			font-size: 14px;
				    			font-weight: 600;
				    			padding-left:10px;
				    			cursor: pointer;
				    		}
				    	} 
				    }					
				}
				.won-auction{
					    margin-top: 10px;
					span{
						color: #444444;   
					    line-height: 20px;
					    background-color: #f5f5f5;
					    padding: 2px 8px;
					    border-radius:2px;
					    font-size:13px;
					    @media (min-width: @old_tablet-max) {
							font-size:14px;
						}
					}					
				}
				.expired-auction{
					margin-top: 10px;
					span{
						color: @white;   
					    line-height: 20px;
					    background-color: @rednew;
					    padding: 2px 8px;
					    border-radius:2px;
					    font-size:13px;
					    @media (min-width: @old_tablet-max) {
							font-size:14px;
						}
					}
				}				
				.product-exceed-qty-msg{
				    font-size: 12px;
				    pointer-events:none;
				    padding: 0;
			        display: none;
				}				
				.producterror,.not-available-msg{
					color: @rednew;
					margin-top:10px;
					line-height: normal;
				}				
				.cart-row-availability{
					margin-top:10px;
					.not-available-msg{
						line-height:20px;
						background-color: #d9001b;
						color: @white;
						text-align:center;
						font-size:13px;
						text-transform:uppercase;
						padding:2px 8px;
						border-radius:2px;
						@media (min-width: @old_tablet-max) {
							font-size:14px;
						}
					}
				}
			}
			.stockstatus-box{
				margin-top:15px;
				span{
					background-color: #f5f5f5;
				    color: @slidertilename;
				    padding: 2px 5px;
				    border-radius: 2px;
				    font-size:13px;
				    @media (min-width: @old_tablet-max) {
				    	font-size:14px;
				    }
				}
			}
			.xlt-removeBasketItem{
				button{
				    color: @grey-darkest !important;
				    line-height: 20px;					    
					width: auto;
					margin:0;
					padding:0;
					float:right;
				}
			}
			.item-price, .item-total, .cartpricing{
				.price-budgetpay-details{
					display: flex;
    				align-items: center;
    				padding-top:10px;
    				padding-bottom:10px;
    				@media (max-width: @mobile-max) {
    					flex-wrap:wrap;
    				}
    				@media (min-width: @old_mobile-max) {
    					padding-top:0;
    					padding-bottom:15px;
    				} 				   				
    				.budgetpay{
    					img{
    						height:15px;
						    margin-bottom: -1px;
    					}
    				}
				}
				.price{
					display:flex;
					align-items: center;
					.price-sales{
						color: @slidertilename;
					    line-height: 20px;
					    font-size: 16px;
					    padding-right:20px;
					    font-weight: 600;
						@media (min-width: @old_tablet-max) {
						    line-height: 24px;
						    font-size: 18px;
						}					    
					} 
					.price-standard{
						font-size: 14px;
						padding-right:20px;
						color: @slidertilename;
						line-height: 20px;
						margin:0;
					}
				}			
			}
			.item-quantity{
				padding-bottom:0;
			}			
		}
		.cart-summary{
			height: 100%;
			.cart-summary-inner{
				background-color: @white;
				padding:15px;
			}
			@media (min-width: @old_tablet-min) {
				width: 40%;
			}			
			@media (min-width: @old_tablet-max) {
				width: 35%;				
			}
			@media (min-width: @desktop-min) {
				width: 25%;				
			}
			.cart-coupon-container{				
				.cart-coupon-code-button{
					color: @grey-darkest;
					font-weight: 600;
					cursor: pointer;
					padding: 10px 0 20px;
					border-bottom: 1px solid @grey-light;
					line-height: 22px;
					letter-spacing:0.3px;
					.symbol-down{
						font-size: 14px;
						line-height: 26px;
						font-weight: 900;
						color: @cobalt-blue;
						text-transform: uppercase;
						float: right;
						text-align: right;
						&:after{
							font: normal normal normal 14px/1 FontAwesome;
							font-size: 16px;
							color: @cobalt-blue;
							text-rendering: auto;
							content: " \f078";
						}
					}
					.symbol-up{
						font-size: 14px;
						line-height: 26px;
						font-weight: 900;
						color: @cobalt-blue;
						text-transform: uppercase;
						float: right;
						text-align: right;
						&:after{
							font: normal normal normal 14px/1 FontAwesome;
							font-size: 16px;
							color: @cobalt-blue;
							text-rendering: auto;
							content: " \f077";
						}
					}
				}
				.cart-coupon-code{
					display: none;
					width: 100%;
					.field{
						float: left;
						margin-right: 10px;
						width:calc(100% - 100px);
						.input-text{
							&.error{
						    	border: 1px solid @red;
						    }
						}
	
					}
					.button-coupon{
						float: right;
						width:90px;
					    min-width:auto;
						line-height: 15px;
						
					}
					.error-msg{
						background: transparent;
						color: @red;
						padding: 0;
					}
				}
				.couponsList{
					margin: 10px 0;
					.crow{
						margin: 5px 0;
						font-size: 16px;
						display: flex;
						line-height: 30px;
						.icons{
							display: inline-block;
							font: normal normal normal 14px/1 FontAwesome;
							font-size: inherit;
							text-rendering: auto;
							-webkit-font-smoothing: antialiased;
							-moz-osx-font-smoothing: grayscale;
							-ms-transform: translate(0,0);
							transform: translate(0,0);
						}
						.couponStatus{
							width: 10%;
							padding: 0 0 0 0;
							.couponApplied{
								font-size: 25px;
								font-weight: 500;
								&:after{
									color: @green;
									content: "\f00c";
								}
							}
							.couponNotApplied{
								font-size: 27px;
								font-weight: 500;
								&:after{
									color: @red;
									content: "\f00d";
								}
							}
						}
						.couponCode{
							width: 90%;
						}
						.couponAction{
							line-height: 30px;
							cursor: pointer;
							font-size: 18px;
							color: @red;
							&:after{
								content: "\f057";
							}
						}
					}
				}
			}
			.cart-order-totals{
				padding:20px 0;
			}
			.cart-checkout{
				.button.button-larger{
					padding-top: 15px;
					padding-bottom: 15px;
					font-size:18px;
					font-weight:600;
				}
				@media screen and (max-width: @mobile-max) {				
					&.sticky-cart-checkout{
						/*position: fixed;*/
		                bottom: -19px;
		                width: 100%;
		                left: 0;
		                background-color:@white;
		                padding: 15px 0;
		                z-index: 100;
		                transform: translate(0px, -18px);
		                transition: 0.3s;
				  		.button{
						    width: 100%;
						    max-width: 100%;
						    display: block;
						    margin: 0 auto;
						    font-size: 18px;
						    font-weight:600;
						    &.sticky-button{
						    	max-width: calc(100% - 30px);
						    }
				   		}
				  	}
		 		}
			}
			.budgetpay-message{
				line-height:20px;
				letter-spacing:0.3px;
				font-size:12px;
				margin-top:0;
				color:@slidertilename;
				@media (min-width: @old_tablet-min) {
					margin-top: 10px;
				}	
				.budgetpay-tac{
					font-size:10px;
				}
			}
			.cart-footer-right{
				.budgetpay-error{
					display: block;
					line-height:20px;
					letter-spacing:0.3px;
					font-size:12px;
					margin-top:0;
					background-color:@white;
					color:@slidertilename;
					padding: 0;
					@media (min-width: @old_tablet-min) {
    					margin-top: 10px;
    				}					
				}
			}
			#plus-subscription{
				background-color: @white;
			    width: 100%;
    			margin-top: 4px;
    			@media (min-width: @old_tablet-min) {
    				margin-top: 20px;
    			}
				.logo-container{
					background-color: @white;
				}
			}
		}
	}
}