.registration-social-login, .seperator-login, .seperator-register{
	.separator{
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
	}
    .separator:after{
        content: "";
        width: 100%;
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 0;
        right: 0;
        background: @grey-light; 
        height: 1px;
    }
    .separator .or{
        width: 40px;
        height: 40px;
        color: @slidertilename;
        text-align: center;
        line-height: 40px;
        border-radius: 100%;
        background: @white;
        position: relative;
        z-index: 1;
        font-weight: 600;       
    }
    .error-form{
	    margin-bottom: 15px;
    }
}


/****** Toggle Design Account page******/
.social-accounts-box{
	.social-accounts-box-inner{
	    margin-top: 30px;
		.social-accounts-facebook, .social-accounts-twitter, .social-accounts-google{
			display: flex;
		    align-items: center;
		    margin-bottom: 20px;
		    .fb-icon, .twitter-icon, .google-icon{
		    	width: 35px;
			    font-size: 18px;			    
			    text-align: center;
			    height: 35px;
			    border-radius: 50px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    color: @white;
		    }
		    .fb-icon{
		    	background-color: @facebookbg;
		    }
		    .twitter-icon{
		    	background-color: @twitterbg;
		    }
		    .google-icon{
		    	background-color: @white;
		    }
		    .fronttext{
	    	    margin: 0 10px;
	    	    h6{
    	    	    margin-bottom: 0;
    				line-height: 20px;
	    	    }
	    	    .subheading{
	    	    	font-size: 12px;
    				line-height: normal;
	    	    }
		    }
		}
		/* Hide default input */
		.toggle input {
		  display: none;
		}
		
		/* The container and background */
		.toggle {
		  position: relative;
		  display: inline-block;
		  width: 60px;
		  height: 30px;
		  .slider {
			  position: absolute;
			  cursor: pointer;
			  top: 0;
			  left: 0;
			  right: 0;
			  bottom: 0;
			  background-color: #eeeeee;
			  border: 1px solid #eeeeee;
			  border-radius: 50px;
			  transition: all 0.4s;
			  /* The sliding button */
				&:before {
				  position: absolute;
				  content: "";
				  width: 24px;
				  height: 24px;
				  left: 2px;
				  top: 2px;
				  background-color: #ffffff;
				  border-radius: 30px;
				  transition: all 0.4s;
				}
			  
			}					
		}
		/* On checked */
		input:checked + .slider {		  
		  &:before {
			  transform: translateX(30px);
			  background-color: @green;
			}
		}			
	}
}
/****** End Design for Toggle button ******/

/****** Start Design for registration page ******/
.registration-social-login{
	.item{
		width: calc(100% / 2);
		height: 40px;
		@media (min-width: @tablet-min) {
			height: 50px;
		}
		@media (max-width: @mobile-large-max) {
    		width: 100%;
	    } 
	}
	fieldset{
		display: flex;
		align-items: center;
	    justify-content: center;
	}
	.google,.facebook{
		/*display: flex;
		align-items: center;*/
		i{			
    		width: 40px;
    		padding: 8px 0;    				    
		    font-size: 22px;
    		text-align: center;
    		border-right: 1px solid @white;
		    color: white;
    		float: left;
    		@media (min-width: @tablet-min) {
    			width: 50px;
    			padding: 13px 0;
    		}
		}
		.abcRioButtonSvg{
			width: 40px;
			padding: 11px 0;
			border-right: 1px solid @black;	
			@media (min-width: @tablet-min) {
				width: 50px;
				padding: 16px 0;
			}					
		}
	}
	.google{
	    color: @black;
    	border: 1px solid @black;
    	border-radius: 0;
    	margin-left: 10px;	   
    	button{
		    border: 0;
		    background-color: transparent;
		    color: @black !important;
	        padding: 0;
            display: flex;
    		align-items: center;
		    width: 100%;
    	}
		span{
    		margin: 0 auto;
    		font-weight: 600;
    	}	
	}
	.facebook{
		color: @white;
    	border: 1px solid @white;
    	border-radius: 0;
    	background-color: @facebookbg;
	    margin-right: 10px;	   
	    button{
		    border: 0;
		    background-color: transparent;
		    color: @white !important;
	        padding: 0;
            width: 100%;
            display: flex;
    		align-items: center;
    	}
    	span{
    		margin: 0 auto;
		    font-weight: 600;
    	}
	}
}
/****** End Design for registration page ******/

/****** Start Design for Popup ******/
.social-signin-popupbox{
	display: flex;
    align-items: center;
	@media (max-width: @mobile-max) {
		display: block;	
		align-items: center;
	}
	.quickbuy-title{
		p br{
			display:none;
			@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
     			 display:block;
    		}
    		@media only screen and (min-width: 481px) and (max-width: 1024px) {
     			 display:block;
    		}
		}
	}
	fieldset{
	    display: block;
	}
	.item{
	    width: 100%;
	}
	.login-oauth{
		width: 220px;
		@media (max-width: @mobile-large-max) {
	    	 width: 100%;
	    }
	}
	.google,.facebook{
		/*display: flex;
		align-items: center;*/		
		i{			
    		width: 40px;
		    padding: 8px 0;
		    font-size: 22px;
    		text-align: center;
    		border-right: 1px solid @white;
		    color: white;
    		float: left;
		}
		.abcRioButtonSvg{
			width: 40px;
			border-right: 1px solid @black;
			padding: 10px 0;
		}
	}
	.google{
	    color: @black;
    	border: 1px solid @black;
    	border-radius: 3px;
    	button{
		    border: 0;
		    background-color: transparent;
		    color: @black !important;
	        padding: 0;
            display: flex;
    		align-items: center;
		    width: 100%;
    	}
		span{
    		margin: 0 auto;
    	}	
	}
	.facebook{
		color: @white;
    	border: 1px solid @white;
    	border-radius: 3px;
    	background-color: @facebookbg;
	    margin-bottom: 10px;
	    button{
		    border: 0;
		    background-color: transparent;
		    color: @white !important;
	        padding: 0;
            width: 100%;
            display: flex;
    		align-items: center;
    	}
    	span{
    		margin: 0 auto;
    	}
	}
}

/****** End Design for Popup ******/

.social-registertitle{
	text-transform: uppercase;
	padding: 20px 0 10px;
	line-height: 24px;
}