/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@pdp-play-watch-video-name: 'pdp_play_watch_video';
@pdp-play-watch-video-x: 0px;
@pdp-play-watch-video-y: 20px;
@pdp-play-watch-video-offset-x: 0px;
@pdp-play-watch-video-offset-y: -20px;
@pdp-play-watch-video-width: 132px;
@pdp-play-watch-video-height: 30px;
@pdp-play-watch-video-total-width: 160px;
@pdp-play-watch-video-total-height: 182px;
@pdp-play-watch-video-image: '../images/sprite-retina.png';
@pdp-play-watch-video: 0px 20px 0px -20px 132px 30px 160px 182px '../images/sprite-retina.png' 'pdp_play_watch_video';
@pdp-watch-video-transparent-name: 'pdp_watch_video_transparent';
@pdp-watch-video-transparent-x: 0px;
@pdp-watch-video-transparent-y: 50px;
@pdp-watch-video-transparent-offset-x: 0px;
@pdp-watch-video-transparent-offset-y: -50px;
@pdp-watch-video-transparent-width: 160px;
@pdp-watch-video-transparent-height: 66px;
@pdp-watch-video-transparent-total-width: 160px;
@pdp-watch-video-transparent-total-height: 182px;
@pdp-watch-video-transparent-image: '../images/sprite-retina.png';
@pdp-watch-video-transparent: 0px 50px 0px -50px 160px 66px 160px 182px '../images/sprite-retina.png' 'pdp_watch_video_transparent';
@pdp-watch-video-transparent-on-name: 'pdp_watch_video_transparent_on';
@pdp-watch-video-transparent-on-x: 0px;
@pdp-watch-video-transparent-on-y: 116px;
@pdp-watch-video-transparent-on-offset-x: 0px;
@pdp-watch-video-transparent-on-offset-y: -116px;
@pdp-watch-video-transparent-on-width: 160px;
@pdp-watch-video-transparent-on-height: 66px;
@pdp-watch-video-transparent-on-total-width: 160px;
@pdp-watch-video-transparent-on-total-height: 182px;
@pdp-watch-video-transparent-on-image: '../images/sprite-retina.png';
@pdp-watch-video-transparent-on: 0px 116px 0px -116px 160px 66px 160px 182px '../images/sprite-retina.png' 'pdp_watch_video_transparent_on';
@radio-name: 'radio';
@radio-x: 0px;
@radio-y: 0px;
@radio-offset-x: 0px;
@radio-offset-y: 0px;
@radio-width: 20px;
@radio-height: 20px;
@radio-total-width: 160px;
@radio-total-height: 182px;
@radio-image: '../images/sprite-retina.png';
@radio: 0px 0px 0px 0px 20px 20px 160px 182px '../images/sprite-retina.png' 'radio';
@spritesheet-width: 160px;
@spritesheet-height: 182px;
@spritesheet-image: '../images/sprite-retina.png';
@spritesheet-sprites: @pdp-play-watch-video @pdp-watch-video-transparent @pdp-watch-video-transparent-on @radio;
@spritesheet: 160px 182px '../images/sprite-retina.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  background-image: e(%('url(%a)', e(@sprite-image)));
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
