
.testcontent {
	.testcontent-section {
		.testcontent-title {
			.h1(); 
		}
		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-start;
			li {
				display: flex;
				padding: 10px;
				border-radius: 2px;
				border-radius: 2px;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				margin: 0 10px 10px 0;
				p {
					font-size: 14px;
					line-height: 20px;
					font-style: italic;
					color: @purple-dark;
					margin: 0 0 10px 0;
					text-align: center;
				}
			}
		}
		&.testcontent-icons {
			ul {
				li {
					border: 1px solid @grey-lighter;
					width: calc(100% / 7);
					min-height: 90px;
					.fa {
						font-size: 30px;
						line-height: 30px;
						margin: 0 0 5px 0;
					}
				}
			}
		}
	}
}