.end-membership-page {
	padding: 20px;
	.heading {
		font-size: 32px;
		font-weight: 600;
		@media (max-width: @mobile-max) {
			font-size: 22px;
		}
	}	
	.descriptions {
		padding: 20px;
		font-weight: 600;
		@media (max-width: @mobile-max) {
			padding: 0;
		}
		.detail-description {
			border: 1px solid black;
			padding: 15px 10px;
			font-size: 16px;
			border-radius: 4px;
			&:last-child {
				border-top: none;
			}
		}
	}
	
	.red-block {
		margin: 20px;
		border: 1px solid;
		@media (max-width: @mobile-max) {
			margin: 20px 0;
		}
	}
	
	.action-buttons {
		text-align: center;
		padding: 30px;
		span {
			padding: 10px;
		}
	}
}

.tjc-plus-button {
	border-radius: 30px;
	border: 2px solid #d25d2b;
	padding: 15px 30px;
	font-weight: 600;
	min-width: 200px;
	max-width: 225px;
    margin: 0 auto;
	@media (min-width: @tablet-min) {
		margin: 10px;
	}
}
.end-membership {
	background: white;
	color: #d25d2b !important;
}
.keep-membership, .over-membership {
	background: #d25d2b;
	color: white;
}

.tjc-confirm-end-membership, .tjc-ended-completed-dialog {
	width: 600px!important;
	max-width: 90%;
	box-sizing: border-box;
	.tjc-end-dialog-content, .tjc-ended-completed {
		margin: 30px;
	    text-align: center;
	    font-size: 18px;
	    font-weight: 600;
	    div {
	    	margin-bottom: 20px;
	    }
	}
	.tjc-ended-completed {
		margin: 50px 100px 0 100px;
		@media (max-width: @mobile-max) {
			margin: 50px;
		}
		.tjc-plus-button {
			min-width: 150px;
		}
	}
	.ui-dialog-buttonpane {
		text-align: center;
		.tjc-plus-button {
			text-transform: capitalize;
			margin-bottom: 20px;
		}
	}
}

.before-login {
	text-align: center;
	padding: 20px;
	img {
		width: 100%;
	}
}

.img-responsive {
	width: 100%;
}
.tjc-ended-completed-dialog .tjc-ended-completed {
	margin: 50px 20px 0 20px;
	div {
		font-size: 14px;
		color: #333;
		.action-buttons span{
			margin-bottom: 10px;
			display: block;
		}
	}
	.tjc-plus-button {
		border:0;
		padding: 9px 30px;
		text-transform: capitalize;
	}
	.end-membership-confirm {
		background: #fff;
	    color: #d25d2b !important;
	    text-transform: capitalize;
	    border: 2px solid #d25d2b;
	}
	.keep-membership {
		background: #d25d2b;
		border: 2px solid #d25d2b;
	}
	
}

.cancelconfirm{
	.ui-dialog-titlebar-close{
		min-width: unset;
		margin: unset;
	}
	button{
		background: #d25d2b;
	    border: none;
	    padding: 10px 40px;
	    border-radius: 20px;
	    min-width: 165px;
	    margin: 10px;
	}
}

/* General design */
.tjc-plus-account {
	.tjc-plus-footer-slot {
		p {
			margin-top: 0;
		}
	}
	.tjc-mem-decript {
		color:#333;
		text-transform: capitalize;
		font-size: 16px;
		padding: 5px 0;
		
		.payment-date{
			text-transform: uppercase!important;
		}
	}
	.dropbtn {
		color:#ff5300;
		font-size: 16px;
		text-transform: capitalize;
		&::after {
			color:#ff5300;
		}
	}
	 .tjc-plus-member-heading {
         color:#666666;
		 text-transform: capitalize;
     }
	.tjc-plus-header-slot {
		p {
			margin-bottom: 0;
		}
	&.Remove-for-acount-open{
		@media (max-width: @mobile-max) {
		  display:none;		  
		  }
		}
	}
	.tjc-customer-detail {
	    padding: 0 0 20px 0;
	    box-sizing: border-box;
	    &.active-member{
	    	padding: 20px 0;
	    	background: #d8e9f0;
	    }
		.tjc-plus-member {
			width: 100%;
		    padding: 0 20px;
			box-sizing: border-box;
			.customer-left-block {
				flex: 1;
				position: relative;
				position: relative;
				z-index: 1;
				background: #fff;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				@media (max-width: @mobile-max) {
					  margin: 15px 0;
				}
				.customer-left-block-inner {
					height: 100%;
		    		border-left: 6px solid #ff5300;;
		    		border-radius: 3px;
		    		min-height: 100px;
				}
			}
		}
		
		.horizontal-center {
			padding: 20px 10px 10px 10px;
	    	width: 100%;
	    	box-sizing: border-box;
    	}
		
		.customer-right-block {
			flex: 75%;
			@media (max-width: @mobile-max) {
				padding: 15px;
			}
			
			.customer-right-block-inner {
				border: 1px solid;
				border-radius: 3px;
			}
			.account-message {
				border-bottom: 1px solid;
			    text-align: center;
			    padding: 20px;
			    .tandc a {
				    font-weight: 600;
	    			color: @cobalt-blue;
    			}
			}
			.yearly-product, .monthly-product {
				border-left: 1px solid;
				padding: 20px;
			    text-align: center;
			    width: 50%;
			    display: inline-block;
    			align-self: flex-end;
			    @media (max-width: @mobile-max) {
					width: 100%;
					padding: 20px 10px;
					border-left: none;
					box-sizing: border-box;
					min-height: 190px;
				}
			    
			}
			.monthly-product {
				border-left: none;
				@media (max-width: @mobile-max) {
					border-bottom: 1px solid;
				}
			}
		}
		
		.manage-membership-button {
			cursor: pointer;
		}
		
		.membership-change {
			position: absolute;
		    top: 110px;
		    background: white;
		    width: 100%;
		    left: -10px;
		    border-radius: 3px;
		    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
		    div {
		    	padding: 10px;
		    	cursor: pointer; 
		    }
		    &.active {
		    	display: block!important;
		    }
		}
		
		.subscription-text {
	    	font-size: 16px;
	    	span {
	    		color: #ff5300;
	    		font-size: 16px;
	    		text-transform: capitalize;
	    		&.price {
	    			font-size: 26px;
	    		}
	    	}
	    }
	    
	    .tandc {
    		font-size: 16px;
    	}
	    
	    .font-bold {
	    	font-weight: 600;
	    }	
		
		.buttons {
			margin-top: 20px;
			line-height: 50px;
			.subscriptions-button {
				padding: 12px 40px;
			    background: #ff5300;
			    color: white;
			    border-radius: 30px;
			    margin: 5px;
			    text-transform: uppercase;
			    font-weight: 600;
			    font-size: 20px;
			}
		}
	}
}

.testingTJCPLUS {
	.include-order, .quantity-row, .country-fld-label, .tooltip:before, .tooltip:after {
		display: none;
	}
	.checkout-billing-address {
		margin: 0;
	}
	.qb-exist-tjcplus {
		margin: 20px 0;
		color: @red;
	}
	.quantity-error {
		display: none;
	 	&.active {
	 		display: block;
    		margin: 20px 0;
    		color: @red;
	 	}
	}
}

.tjc-customer-support, .existing-tjcplus-product {
	max-width: 600px;
	width: 100%!important;
	@media (max-width: @mobile-max) {
		width: 90%!important;
		box-sizing: border-box;
		.ui-dialog-titlebar-close {
			right: -10px!important;
		}	
	}
	
	.dialog-change-service, .dialog-end-service, .existing-product {
		text-align: center;
	    font-weight: 600;
	    padding: 20px;
	    div {
	    	margin-bottom: 20px;
	    }
	}
	.ui-dialog-buttonpane {
		text-align: center;
		button {
			background: #d25d2b;
		    border: none;
		    padding: 10px 40px;
		    border-radius: 20px;
		    min-width: 165px;
		    margin: 10px;
		    @media (max-width: @mobile-max) {
			    width: 165px;
	    		margin: 10px auto;
    		}
		}
	}
}
/* General design */
