.turntoqr{
	.header-checkout-wrapper{
		.header-inner-checkout{
			padding: 40px 0;
		}
	}
	.qr-box{
		&.qr-account{
			.qr-box-inner{
				.qr-box-content{
					width: 100%;
					display: flex;
					justify-content: center;
					
					.new-form-style{
						width: 420px;
						
						.form-title{
							color: #112933;
							font-weight: 600;
							font-size: 18px;
							text-align: center;
							padding-bottom: 26px;
						}
						.qrtac{
							padding-bottom: 26px;
							margin-top: 0;
							label{
								font-weight: 600;
								line-height: 20px;
							}
							.error-msg{
								display: none!important;
							}
						}
						.form-row-button{
							margin-top: 0px;
							.button-wider{
								width:100%;
								background-color:@lightpink;
								border-color:@lightpink;
								color:@black!important;
								&:hover{
									background-color:@black;
									border-color:@black;
									color:@white!important;
								}
							}
						}
					}
				}
			}
		}
	}
}

.pdp-view-adjuster{
	.tt-reviews{
		padding: 0 15px;
		border: 1px solid @grey-lighter;
		margin-top: 20px;
		
		.tt-w-reviews-summary{
			.tt-c-user-toolbar{
				.tt-o-menu{
					.tt-o-menu__list{
						left: -100%;
						.tt-o-menu__item{
							.tt-o-icon--close{
								margin-right: 0.5rem;
							}
						}
					}
				}
			}
			.tt-c-reviews-summary__content{
				.tt-c-reviews-summary__grid-row{
					.tt-c-reviews-summary__grid-col{
						.tt-c-ratings-breakdown__bar-wrap{
							.tt-c-ratings-breakdown__rating{
								.tt-c-ratings-breakdown__rating-number{
									font-weight: 600;
									color: #086eb9;
								}
							}
							.tt-c-ratings-breakdown__bar{
								.tt-c-ratings-breakdown__bar-progress{
									background-color: #086eb9;
								}
							}
							.tt-c-ratings-breakdown__percent{
								font-weight: 600;
							}
						}
					}
				}
			}
		}
		.tt-w-reviews-list{
			.tt-c-reviews-list{
				.tt-c-reviews-list-utilities{
					@media (min-width: 1020px) {
						display:flex;
					}
					.tt-o-listbox{
						.tt-o-listbox__btn{
							height: 2.625rem;
						}
					}
					.tt-c-reviews-applied-filters__inner{
						.tt-c-reviews-applied-filters__clear{
							height: 2.625rem;
						}
					}
				}
				.tt-c-reviews-list__content{
					.tt-c-review{
						.tt-c-review__content{
							.tt-o-badge{
								&.tt-o-badge--verified-purchaser{
									background-color: #086eb9;
								}
							}
						}
					}
				}
			}
		}
	}
}

.tt-o-modal{
	.tt-o-modal__container{
		@media (min-width: 880px) {
			max-width: 40em;
		}
	}
}

.tt-o-modal .tt-o-modal__body, .tt-w-embedded-submission .tt-w-embedded-submission__main{
	.tt-submission-mediator{
		.tt-c-review-form__actions, .tt-c-auth__email-form{
			.tt-o-button{
				width: 80%;
				display: block;
				height: 2.625rem;
				margin: 10px auto 0 auto;
			}
		}
		.tt-c-review-form{
			.tt-c-review-form-header{
				margin-bottom: 0.5em;
			}
			.tt-u-spacing--lg{
				margin-top: 0.5em;
				.tt-c-review-form__overall-rating{
					.tt-c-rating--actionable{
						.tt-o-button--icon{
							&.tt-c-rating__star{
								.tt-o-icon--star--empty{
									stroke: #febf00;
								}
								.tt-o-icon--star--full{
									fill: #febf00;
								}
							}
						}
					}
				}
				.tt-c-added-media{
					.tt-c-added-media__buttons{
						.tt-c-added-media__add-video{
							@media (max-width: 766.5px) {
								max-width: 139px;
							}
						}
					}
				}
				.tt-c-rating-meter{
					border-color: #086eb9;
					.tt-c-rating-meter__item{
						border-right-color: #086eb9;
						&.tt-c-rating-meter__item--on{
							background-color: #febf00;
						}
					}
				}
			}
		}
		.tt-c-do-more{
			.tt-o-header{
				
			}
			.tt-c-do-more__inner{
				.tt-c-do-more__item{
					.tt-c-do-more__actions{
						.tt-c-rating--actionable{
							.tt-o-button--icon{
								&.tt-c-rating__star{
									.tt-o-icon--star--empty{
										stroke: #febf00;
									}
									.tt-o-icon--star--full{
										fill: #febf00;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.tt-embedded-submission{
	border: 1px solid #fff;
	margin: 20px auto 0 auto;
	@media (min-width: 767.5px) {
		width: 40%;
		min-width: 608px;
		padding: 15px;
		border-color: #eee;
	}
}

.customer-give-rating-section{
	display: inline-block;
	margin: 8px 0 4px 0;
	border: 1px solid @grey-darker;
	border-radius: @border-radius-default;
	@media (min-width: 450.5px) {
		padding: 0 5px 0 4px;
	}
	@media (max-width: 450.5px) {
		padding: 0 3px 0 1.5px;
	}
	.rating-section-title{
		font-weight: 600;
		@media (min-width: 345.5px) {
			font-size: 13px;
			margin-right: 5px;
		}
		@media (max-width: 345.5px) {
			font-size: 12px;
		}
	}
	.customer-give-rating{
		cursor: pointer;
		display: contents;
		.fa{
			color:#ffa000;
			font-size: 17px;
			height: 17px;
			width: 17px;
			/*
			&.cu-star{
				&:after{
					content: "\e906";
				}
			}
			&.s1, &.s2, &.s3, &.s4, &.s5{
				&:hover{
					& ~ i{
						&:after{
							content: "\f005";
						}	
					}
				}
			}
			*/
		}
	}
}
