.veygo-video-with-controls {
	position: relative;
	background-color: black;
	&.veygo-fullscreen {
		width: 100% !important;
		height: 100% !important;
		padding-top: 0 !important;
		&.veygo-user-inactive {
			cursor: none;
		}
	}
}
.veygo-castreceiver-name {
	/* position: absolute; */
	height: 100%;
	width: 100%;
}
.veygo-video {
	height: 100%;
	width: 100%;
	display: block;
}
.veygo-control-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 120px;
	line-height: 2.5em;
	font-size: medium;
	color: var(--text-color);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(0,0,0,0.39) 39%, rgba(0,0,0,0.39) 39%, #000 100%);
	.veygo-control-bar-internal {
		position: absolute;
    	bottom: 0;
    	left: 0;
    	right: 0;
    	display: flex;
    	flex-flow: row nowrap;

		>* {
			flex: 0 1 auto;
			align-self: center;
		}
		a {
			text-decoration: none;
			color: white;
			margin: 0 0.2ex;
			&.bt-tracks {
				visibility: hidden;
			}
		}
		input[type=range] {
  			-webkit-appearance: none;
  			background-color: transparent;  			
		}
		input[type=range]:focus {
  			outline: none;
		}
		input[type=range]::-webkit-slider-runnable-track {
 	 		height: 5px;
 	 		cursor: pointer;
 	 		box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
 	 		background: @purple;
 	 		border-radius: 1.3px;
 	 		border: 0.2px solid @purple;
		}
		input[type=range]::-webkit-slider-thumb {
 	 		box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
 	 		border: 0px solid @black;
 	 		height: 20px;
 	 		width: 7px;
 	 		border-radius: 0px;
 	 		background: @white;
 	 		cursor: pointer;
 	 		-webkit-appearance: none;
  			margin-top: -7.7px;
		}
		input[type=range]:focus::-webkit-slider-runnable-track {
	  		background: #562c78;
		}
		input[type=range]::-moz-range-track {
	  		width: 100%;
	  		height: 5px;
	  		cursor: pointer;
	  		box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
	  		background: @purple;
	  		border-radius: 1.3px;
 	 		border: 0.2px solid @purple;
		}
		input[type=range]::-moz-range-thumb {
 	 		box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
 	 		border: 0px solid @black;
 	 		height: 20px;
	  		width: 7px;
	  		border-radius: 0px;
	  		background: @white;
	  		cursor: pointer;
		}
		input[type=range]::-ms-track {
			display: none;
	  		width: 100%;
	  		height: 5px;
	  		cursor: pointer;
	  		background: transparent;
	  		border-color: transparent;
 	 		color: transparent;
		}
		input[type=range]::-ms-fill-lower {
			display: none;
 	 		background: #3c1e52;
 	 		border: 0.2px solid @purple;
 	 		border-radius: 2.6px;
 	 		box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
		}
		input[type=range]::-ms-fill-upper {
			display: none;
	  		background: @purple;
 	 		border: 0.2px solid @purple;
 	 		border-radius: 2.6px;
	  		box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
		}
		input[type=range]::-ms-thumb {
			display: none;
	  		box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
	  		border: 0px solid @black;
	  		height: 20px;
	 		width: 7px;
 	 		border-radius: 0px;
 	 		background: @white;
 	 		cursor: pointer;
		}
		input[type=range]:focus::-ms-fill-lower {
			display: none;
 	 		background: @purple;
		}
		input[type=range]:focus::-ms-fill-upper {
			display: none;
 	 		background: #562c78;
		}
	}

}
.veygo-control {
	button {
		color: white;
		height: 44px;
		width: 44px;
		padding: 0;
		margin: 0;
		background: transparent;
		border: 0;
		outline: none;
		border-radius: 4px;
		cursor: pointer;
		&:hover {
			background-color: @purple;
			transition: background-color .5s ease9;
		}
	}
	
	.position {
		display: none;
		margin-left: 1em;
		min-width: 5ex;
	}
	.position-divider {
		display: none;
	}
	.duration {
		display: none;
		min-width: 5ex;
		margin-right: 1em;
	}
	.progress {
		display: none;
		position: relative;
		height: 100%;
		flex: 1 1 auto;
		background-color: inherit;
		align-self: stretch;
		display: flex;
		margin-left: 1em;
		margin-right: 1em;
	}
	.total {
		position: absolute;
		left: 0;
		right: 0;
		height: 10%;
		bottom: 45%;
		background: @purple;
		line-height: 0;
		box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
		border-radius: 1.3px;
		border: 0.2px solid @purple;
	}
	.fill {
		position: absolute;
		left: 0;
		right: 100%;
		height: 10%;
		bottom: 45%;
		background-color: @purple;
		line-height: 0;
		box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
		border-radius: 1.3px;
		border: 0.2px solid @purple;
	}
	.cursor-holder {
		visibility: hidden;
		position: relative;
		flex: 1 1 auto;
		display: flex;
		align-self: stretch;
	}
	.cursor-container {
		display: none;
		position: absolute;
		display: flex;
		align-self: center;
		left: 0px;
		right: 2em;
		top: 0;
		bottom: 0;
	}
	.cursor {
		position: absolute;
		left: 0%;
		align-self: center;
		color: white;
    	display: inline-block;
    	vertical-align: middle;
    	background-color: white;
    	height: 20px;
    	width: 7px;
    	border-radius: 0px;
    	cursor: pointer;
    	-webkit-appearance: none;
    	margin-left: 10px;
    	box-shadow: 1px 1px 1px @black, 0px 0px 1px #0d0d0d;
    	border: 0px solid @black;
	}
	.tracks {
		li.enabled {
			text-decoration: underline;
		}
		display: block;
		position: relative;
		float: right;
		margin-top: -277PX;
		background: rgba(255, 255, 255, 0.5);
		width: 150px;
		z-index: 2;
		max-height: 233px;
		height: 233px;
		overflow-y: auto;
		h3 {
			margin: 0;
			padding: 0 5px;
		}
		ul {
			margin: 0;
			padding: 0 5px;
			font-size: 1em;
		}
	}
	position: static;
	height: 100%;
	border: 1px solid black;
	display: none;
	.thumbnail-container {
		position: absolute;
		display: none;
		text-align: center;
	}
	.thumbnail-elem {
		position: relative;
		box-shadow: 0px 0px 0.9em @black;
		transform-origin: center bottom;
	}
	.thumbnail-time-label {
		position: relative;
		bottom: 1.8em;
		display: table;
		margin: 0 auto;
		padding: 2px 5px 2px 5px;
		color: @white;
		background-color: rgba(0, 0, 0, 0.7);
		font-size: 12px;
		font-weight: bold;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
}
.veygo-control-active {
	display: block;
}
body {
	&.veygo-full-window {
		padding: 0;
		margin: 0;
		height: 100%;
		overflow-y: auto;
	}
}
.veygo-full-window {
	padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
    header {
    	display: none;
    }
	.veygo-video-with-controls {
		&.veygo-fullscreen {
			position: fixed!important; 
			overflow: hidden;
			z-index: 1000!important;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
		}
	}
}