.warranty-section{
	.header{
		margin-bottom: -20px;
		.header-icon{
			max-width:2rem;
			img{
				width: 40px;
				vertical-align: sub;
			}
		}
		.header-title{
			h6{
				margin: 8px 0 8px 0;
			}
		}
	}
	.warranty-box{
		border-radius: 6px;
	    border: 1px solid #bbbbbb;
		padding: 10px;
	    max-width: 400px;
		.warranty-inner-content{
	    	display: flex;
    		align-items: center;
			.item {
			    display: inline-block;
			    font-size: 14px;			    
			     @media (max-width: @old_tablet-max) {
			     	font-size: 12px;
			     }			    
		    }		   
		    div.checker span.checked{
	    	    background-color: #13770d;
    	        border-radius: 3px;
	    	    &:before{
    	    	    color: @white;
	    	    }
		    }
		    div.checker span{
    	    	margin-top: 0;
    			margin-left: 0;
		    }
		    .warranty-dialog{
	    	    cursor: pointer;
    			width: 100%;
    			.item{
    				 &:nth-child(1){
		     	    	padding-left: 10px;
			     	}
    			}
    			.tjcplussubheading{
    				padding-left: 10px;
    				line-height: normal;
    				font-size: 13px;
    				img{
			    	    margin-bottom: -4px;
						width: 47px;
						height: auto;
						display: inline-block;
				    }	
    			}
		    }
		    .total-warranty-price{
		    	font-weight: bold;		    				 
		    }
		    .rightarrow{
		    	&:after{
				    font-size: 30px;
				    content: '\f105';
				    font-family: FontAwesome;
				    font-weight: 500;
				    padding-left: 10px;
				    color: @purple-dark;
				    vertical-align: middle;
			        cursor: pointer;
				    @media (max-width: @tablet-min) {
			     		padding-left: 5px;
			     	}				   
				}				 
		    }
		    .warrantyImage{
		    	width: 4em;
				line-height: 10px;
		    	img{
					width: 85%;
		    	}
		    }
		    #warranty-badge{
		    	width: 10%;
		    	height: auto;
		    }		    		    
	    }
	    .warranty-quantity-box{
	    	display:none;
	    	p{
		    	margin: 0;
		    	font-size: 12px;
		    	line-height: 24px;
		    }
	    	.hide{
	    		display:none;
	    	}
		    .flex{
		    	display: flex;
	    		align-items: center;
		    }		    
	    }	   
	    
	    .warranty-quantity-selection{
			display: flex;
			height: 40px;
			width: 120px;     		    
			.item{
			    flex-grow: 1;
			    text-align: center;
			    border: 1px solid @grey-dark;
			    width: calc(100% / 3);
			}
			.warranty-sub{
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				cursor: pointer;
			    line-height: 38px;
			}
			.warranty-add{
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
				cursor: pointer;
				line-height: 38px;
			}
			#warranty-total-quantity{
				border-right: 0;
				border-left: 0;
			    padding: 0;
			    border-radius: 0;
			}						
			.warranty-sub.disablepointerevent{
				pointer-events: none;
			}										
		}
		
		.info-icon{
		    border: 1px solid @cobalt-blue;
		    border-radius: 50%;
		    padding: 0;
		    width: 20px;
		    height: 20px;
		    background-color: @cobalt-blue;
			&:after{
				line-height: 20px;
			    font-size: 15px;
			    content: 'i';
			    font-family: FontAwesome;
			    font-weight: 900;
			    padding-left: 0.5rem;
			    color: white;
			    vertical-align: super;
			}
			&:hover + .hide {
			    display:block;
			    position: absolute;
			    box-shadow: 0px 0px 20px 0px #dad4ec;
			    padding: 10px;
			    font-size: 12px;
			    line-height: 15px;
			    width: 185px;
			    z-index: 999999;
			    background-color: #ffffff;
			    margin-top: 5px;
			    transform: translate(-70%, 5px);
		  	}
		}
	    
	}		

}			

.warranty-mini-cart-dialog{
	padding: 0;
	left: 0 !important;
	margin: 0 0 0 auto !important;
	width: 23.4375rem !important;
	height: calc(100% - 1px) !important;
	@media (max-width: @old_tablet-max) {
		width: 23.4375rem !important;
	}
	@media (max-width: @mobile-max) {
		width: 100% !important;
	}
	.ui-dialog-titlebar{
		background-color: #eeeeee;
	    box-sizing: border-box;
	    height: 50px;
	    padding: 14px;
	    font-weight: 600;
	    line-height: 18px;
	    font-size: 18px;
	    
		.ui-dialog-title{
			display: block;
		}
		.ui-dialog-titlebar-close{
			border-color: transparent;
			background-color: transparent;
			right: 5px;
			top: 5px;
		}
		.ui-dialog-titlebar-close .ui-icon::before{
			font-size: 30px;
			color: @red;
		}
		.ui-dialog-titlebar-close:hover{
			color: @red-dark;
			background-color: unset;
		}
	}
	.dialog-content{
		.warrantyMiniCartBody{
			padding: 20px 20px 20px 20px;
			max-height: 500px;
			overflow-y: auto;
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none; /* IE 10+ */
			&::-webkit-scrollbar {
				width: 6px;
				background: transparent;
			}
			&::-webkit-scrollbar-track {
				border-radius: 10px;
			}
			&::-webkit-scrollbar-thumb {
				background: #5e5e5e;
				border-radius: 10px;
				&:hover{
				}
				&:window-inactive {
					background: transparent;
				}
			}
			.icon-tick{
				transform: rotate(20deg);
				color: @purple-medium;
				&:after{
					line-height: 32px;
					font-size: 26px;
					content: '\e901';
					font-family: FontAwesome;
					font-weight: 500;
				}
			}
			.productDetails, .warrantyDetails, .totalDetails{
				line-height:18px;
				.xrow{
					margin: 0px;
					[class*=xcol]{
						padding: 0px;
						align-self: center;
					}
				}
				.image{
					text-align: left;
					img{
						width: 50px;
					}
				}
				.name{
					padding: 0 0 0 10px !important;
					.bold{
						font-weight: 600;
					}
					.tjcplussubheading{
						text-transform: uppercase;
					    font-size: 13px;
					    img{
				    	    margin-bottom: -4px;
    						width: 47px;
    						height: auto;
						    display: inline-block;
					    }						
					}
				}
				.price{
					text-align: right;
					font-weight: 600;
				}
			}
			.productDetails{
			}
			.warrantyDetails{
				margin-top: 30px;
				margin-bottom: 25px;
				.warranty-shield-icon{
					padding: 0 0 0 0.3rem;
				}
				img{
					width: 40px!important;
					margin-right: auto;
					margin-left: auto;
					display: block;
				}
				.name{
					text-transform: lowercase;
				}
			}
			.totalDetails{
				margin-top: 15px;
				padding: 10px 0 10px 0;
				border-top: 1px solid @grey-dark;
				border-bottom: 1px solid @grey-dark;
				.title{
					font-weight: 600;
				}
			}
			.warCover{
				padding: 15px 0 15px 0;
				border-bottom: 1px solid @grey-dark;
				span.title{
					font-weight: 600;
					line-height: 16px;
					font-size: 16px;
				}
				ul{
					margin-top: 10px;
					li{
						font-size: 14px;
						line-height: 18px;
						margin: 6px 0 6px 0;
						font-weight:600;
						line-height: 18px;
						display: inline-flex;
						&:before{
							font-family: FontAwesome;
							font-weight:100;
							font-size: 26px;
							content: '\e901';
							display: inline-block;
							vertical-align: top;
							padding-right: 15px;
							align-self: center;
							color: @purple-medium;
							-webkit-transform: rotate(20deg);
							-moz-transform: rotate(20deg);
							-o-transform: rotate(20deg);
							-ms-transform: rotate(20deg);
							transform: rotate(20deg);
						}
					}
				}
				.xrow{
					margin: 10px 0 10px 0;
					[class*=xcol]{
						padding-right: 0px;
						align-self: center;
					}
					.symbol{
						padding-left:0;
					}
					.content{
						font-weight:600;
						line-height: 18px;
					}
				}
			}
			.warNotInc{
				padding: 15px 0 15px 0;
				border-bottom: 1px solid @grey-dark;
				span.title{
					font-weight: 600;
					line-height: 14px;
					font-size: 14px;
				}
				ul{
					li{
						font-size: 12px;
						line-height: 18px;
						&:before{
							font-size: 35px;
							content: '\2022';
							font-family: FontAwesome;
							vertical-align: top;
							padding-right: 10px;
						}
					}
				}
			}
			.warQty{
				padding: 15px 0 0 0;
				span.title{
					font-weight: 600;
					display:flex;
					font-size: 16px;
					text-transform: uppercase;
					.item-checkbox{
						line-height: unset;
						margin-right: 10px;
						div.checker span.checked{
							background-color: @green;
							border-radius: 3px;
							margin-top: 0;
							margin-left: 0;
							&:before{
								color: @white;
							}
						}
					}
					.name{
						line-height: 2.5rem;
					}
				}
				.warranty-Qty{
					display: flex;
					margin: 5px 0 0 0;
					.quantity-selection{
						display: flex;
						line-height: 40px;
						width: 120px;
						height: 40px;
						margin-left: 0;
						margin-bottom: 0;
						.item{
							flex-grow: 1;
							text-align: center;
							border: 1px solid #b9addb;
							width: calc(100% / 3);
						}
						.warranty-sub{
							border-top-left-radius: 3px;
							border-bottom-left-radius: 3px;
							cursor: pointer;
						}
						.warranty-add{
							border-top-right-radius: 3px;
							border-bottom-right-radius: 3px;
							cursor: pointer;
						}
						#warranty-product-quantity{
							border-right: 0;
							border-left: 0;
							line-height: 0;
							cursor: auto;
							padding: 0;
							border-radius: 0;
						}
					}
					.warUpdateBtn{
						height: 40px;
						width: 180px;
						padding: 10px;
						font-size: unset;
						font-weight: 600;
						line-height: 20px;
					}
				}
				.warAddBtn{
					height: 40px;
					width: 180px;
					padding: 10px;
					font-size: unset;
					font-weight: 600;
					line-height: 20px;
					display: block;
					margin-top: 5px;
				}
				.warAddBtnLink{
					height: 40px;
					width: 120px;
					padding: 10px;
					font-size: unset;
					font-weight: 600;
					line-height: 20px;
					display: block;
					margin-top: 5px;
				}
				#pricechangefornottjcplus{
					font-size: 14px;
					font-weight: 600;
					img{
					    width: 47px;
					    height: auto;
					    margin-bottom: -4px;
					}
				}
			}
			.warDetails{
				padding: 15px 0 15px 0;
				span.title{
					font-weight: 600;
					line-height: 14px;
					font-size: 14px;
				}
				ul{
					li{
						font-size: 14px;
						line-height: 20px;
						text-transform: uppercase;
						&:before{
							font-size: 35px;
							content: '\2022';
							font-family: FontAwesome;
							vertical-align: top;
							padding-right: 10px;
						}
						span{
							font-weight: 600;
							line-height: 18px;
							font-size: 14px;
							text-transform: lowercase;
						}
					}
				}
			}
			.t_cDetails{
				padding: 0 0 0 0;
				span.title{
					font-weight: 600;
					line-height: 13px;
					font-size: 12.5px;
				}
				p{
					font-size: 12px;
					line-height: 18px;
					margin: 0;
					a{
						color: #005c99;
						font-weight: 600;
						text-decoration: underline !important;
					}
				}
			}
		}
	}
}

.warranty-shield-icon {
	position: relative;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: inline;
	.shield-icon {
		font-size: 40px;
		position: absolute;
		color: #48266a;
		font-style: inherit;
		font-weight: 900;
		&:before {
			content: "\e900";
		}
	}
	.check-icon {
		font-size: 25px;
		position: absolute;
		color: #ec6484;
		font-style: inherit;
		font-weight: 100;
		margin-left: 15px;
		margin-top: -5px;
		-webkit-transform: rotate(20deg);
		-moz-transform: rotate(20deg);
		-o-transform: rotate(20deg);
		-ms-transform: rotate(20deg);
		transform: rotate(20deg);
		&:before {
			content: "\e901";
		}
	}
}
