.ie {    
    .primary-col .banner-grid .banner-cell {
        margin-right: 2.6%;
        .banner-grid.banner-grid-50-50 > .banner-cell {
            margin-right: 5.2%;
        }
    }
    .primary-col.full-width .banner-grid .banner-cell {
        margin-right: 1.96%;
        .banner-grid.banner-grid-50-50 > .banner-cell {
            margin-right: 3.92%;
        }
    }
}