.uf {
	.opacity(0);
}
.uf-checkbox .uf {
	.opacity(1);
}
.required-indicator {
	color: @red;
	font-weight: 600;
	em {
		font-style: normal;
		font-weight: 400;
		color: @grey-dark;
		font-size: 11px;
	}
}
fieldset {
	.clearfix();
	legend {
        padding: 10px 0;
        font-weight: 600;
        font-size: 20px;
	}
  &.extra-spacing {
	margin-top: 20px;
}  
}
.form-row {
	.clearfix();
	margin:10px 0;
	clear: both;
	width: auto;
	max-width: 550px;
	.form-row {
		margin-top: 0;
		margin-bottom: 0;
	}
  	label,
  	.label {
  		font-size: @font-size-default;
  		line-height: @input-line-height;
  		color: @purple-dark;
  		display: block;
  		font-weight: 400;
  		padding: ((@input-height - @input-line-height) - 14) 0 0 0;
  		word-wrap: break-word;
  		position: relative;
  		text-transform: none;
  		float: left;
  		width: 150px;
       
  	}
	.field {
		.clearfix();
		position: relative;
        align-items: center;
	}
	.input-text-white {
	border-color: @white;
	}
	.form-caption {
		font-size: 11px;
		color: @purple-dark;
		line-height: 14px;
		padding: 3px 5px 0 5px;
	}
    &.form-row-half {
        width: 310px;
        .field {
            margin-right: 6px;
        }
    }
    &.form-row-third {
        width: 256px;
        .field {
            margin-right: 4px;
        }
    }
    &.form-row-auto {
        max-width: none;
    }
    &.form-row-75-per {
        max-width: 75%;
    }
	&.form-row-66-per {
		max-width: 66.6%;
	}
	&.form-row-50-per {
		max-width: 50%;
	}
	&.form-row-33-per {
		max-width: 33.3%;
	}
	&.form-row-75-pix {
		max-width: ((@page-max-width / 100 ) * 75);
	}
	&.form-row-66-pix {
		max-width:  ((@page-max-width / 100 ) * 66.666);
	}
	&.form-row-50-pix {
		max-width:  ((@page-max-width / 100 ) * 50);
	}
	&.form-row-33-pix {
		max-width:  ((@page-max-width / 100 ) * 33.333);
	}
	&.form-row-no-indent {
		.field {
			margin-left: 0;
		}
	}
    &.form-row-no-margin {
        margin-top: 0;
        margin-bottom: 0;
    }
    &.form-row-text {
        .field {
            padding: ((@input-height - @input-line-height) / 2) 0;
            display: block;
        }
    }
	&.form-row-label-above {
    	label,
    	.label {
    		padding-top: ((@input-height - @input-line-height) / 4);
    		padding-bottom: ((@input-height - @input-line-height) / 4);
	  		float: none;
	  		width: auto;
    	}
    	.field {
    		margin-left: 0;
    	}
	}
	&.form-row-float {
		float: left;
		width: 50%;
		max-width: 50%;
		clear: none;
		label,
		.label,
		.field {
			margin-left: 0;
			margin-right: 6px;
		}
		&.last {
			label,
			.label,
			.field {
				margin-left: 6px;
				margin-right: 0;
			}
		}
	}
	&.form-row-street {
		.street-fields {
			.clearfix();
			margin-bottom: 0;
			label, .label {
				display: none;
			}
			.form-row {
				.calc(width, "100% - 62px");
				float: left;
				clear:none;
				margin:0;
				.field {
					margin-left:0;
				}
				&.last {
					width: 50px;
					float: right;
				}
			}
		}
	}
	&.form-row-birthdate {
		.birthdate-fields {
			.clearfix();
			margin-bottom: 15px;
			@media (max-width: @mobile-max) {			
				margin-bottom: 0;
		}
		.validation-success{
           .field .styledSelect{
              border: 1px solid  @grey-dark!important; 
           }
         }
          .error-msg{
	         display: block;
             white-space: normal;
            }
         .nopadding{
	           padding:0;
           }
			
			label,
			.label {
				margin-left: -1px;
			}
			.form-row {
				float: left;
				width: 33.3%;
				clear: none;
				margin:0;
				.field {
					margin-left:0;
					min-height:auto!important;
				}
				.field {
					margin-left: 4px;
					margin-right: 4px;
				}
		        &.first {
					label,
					.label,
					.field {
						margin-left: 0;
						margin-right: 8px;
					}
		        }
		        &.last {
					.field {
						margin-left: 8px;
						margin-right: 0;
					}
		        }
			}
		}
	}
	
	&.genderselect{		
		label{
			padding-top:2px;
		}
	}
	
	&.form-row-checkbox {
        margin-top: 20px;
    	.checker,
    	input[type="checkbox"] {
    		float: left;
    		margin-top: 0;
    	}
    	label,
    	.label {
    		margin-left: 10px;
    		font-weight: 400;
    		float: none;
    		width: auto;
            padding: 0;
			line-height: 22px;
			text-transform: none;
    	}
    	&.validation-error {
    	    .field {
				display: flex;
    	        &:before {
    	            content: none;
    	        }
    	        label,
    	        .label {
    	            color: @red;
    	        }
    	        div.checker {
    	            border:2px solid @red;
    	        }
    	    }
    	}
        &.form-row-checkbox-multi {
            clear: none;
            display: inline-block;
            padding-right: 20px;
            margin: 5px 0;
            width: auto;
            .field {
                margin-left: 0;
            }
        }
	}
	&.form-row-radio {
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
        .field{
            min-height: @form-field-min-height-auto;
    	.radio {
			border-color: @grey-darker;
			border-radius: 25px;
			width: 25px;
			height: 25px;
			padding: 0;
			display:inline-block;
			vertical-align: middle;
			span {
				width: 17px;
				height: 17px;
				&.checked {
					background-image: none;
					background-color: @green;
					border-radius: 25px;
					position: absolute;
                    top: 4px;
                    left: 4px;
				}
				input {
					width: 25px;
					height: 25px;
				}
			}
		}
    	label,
    	.label {
    		margin-left: 10px;
    		font-weight: 400;
    		float: none;
    		width: auto;
            padding: 0;
    		line-height: 22px;
    		text-transform: none;
    		display:inline-block;
            vertical-align: middle;
    	}
    	
        &.validation-error {
            .field {
                &:before {
                    content: none;
                }
                label,
                .label {
					color: @red;
                }
                div.radio {
                    border-color: @red;
                }
            }
         }
        }
    	&.form-row-radio-multi {
    		clear: none;
    		display: inline-block;
    		padding-right: 30px;
    		margin: 5px 0;
    		width: auto;
    		.field {
    		    margin-left: 0;
    		}
    	}
	}
    &.form-row-nospacing { 
       margin-top: 0;  
    }
	&.form-row-button {
		margin-top: 20px;
		overflow: hidden;
		width: auto;
		button, .button {
			margin-bottom: 8px;
			&:not(:first-child) {
			    margin-left: 10px;
			}
		}
		.button-row-text {
			padding-left: 15px;
			display: inline-block;
		}
	}
	&.form-row-with-button {
        max-width: none;
	    .field {
            width: 300px;
            float: left;
            margin-right: 12px;
            margin-left: 10px;
	        .button-container {
	            float: left;
	            width: auto;
	        }
	    }
	}
}

@media (max-width: @mobile-max) {
	.form-row {
		width: 100%;
		max-width: 100%;
	  	label,
	  	.label {
	  		padding-bottom: ((@input-height - @input-line-height) / 4);
	  		padding-top: ((@input-height - @input-line-height) / 4);
	  		float: none;
	  		width: 100%;
	  	}
	  	.field {
	  		margin-left: 0;
	  	}
        &.form-row-checkbox {
            &.form-row-checkbox-multi {
                display: block;
                clear: both;
                margin: 20px 0;
            }
        }
        &.form-row-radio {
            &.form-row-radio-multi {
                display: block;
                clear: both;
                margin: 20px 0;
                padding-right: 0;
            }
        }
        &.form-row-text {
            .field {
                padding-bottom: ((@input-height - @input-line-height) / 4);
                padding-top: ((@input-height - @input-line-height) / 4);
            }
        }
        &.form-row-half {
            width: 50%;
        }
        &.form-row-third {
            width: 33.3%;
        }
        &.form-row-button {
            .button-row-text {
                display: block;
                text-align: center;
                padding-left: 0;
                padding-top: 8px;
            }
        }
        &.form-row-with-button {
            .field {
                width: 100%;
                float: none;
                margin-right: 0;
                margin-left: 0;
            }
            .button-container {
                float: none;
                margin-top: 8px;
            }
        }
		&.form-row-75per,
		&.form-row-66per,
		&.form-row-50per,
		&.form-row-33per {
			width: 100%;
		}
		&.form-row-75-pix,
		&.form-row-66-pix,
		&.form-row-50-pix,
		&.form-row-33-pix {
			max-width: 100%;
		}
	}
}

.form-row-new {
	margin: 8px 0;
    clear: both;
    width: auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
	label,
  	.label {
  		padding-bottom: ((@input-height - @input-line-height) / 4);
  		padding-top: ((@input-height - @input-line-height) / 4);
  		float: none;
  		width: 100%;
  	}
  	.field {
  		margin-left: inherit;
  	}
}

.main .account-container .login-container .login-box fieldset .form-row {
	max-width: none;
}

.termsandconditions-link,
.no-thankyou-link {
    cursor: pointer;
    color: @cobalt-blue;
}
.no-thankyou-link {
    text-align: center;
	float: left;
	width: 100%;
}

.message.error-form {
	cursor: pointer;
}

.main-wrapper {
	padding-top: 0;
	@media (min-width: @tablet-min) and (max-width: @tablet-max) {
		padding-top: 0;
	}
}
.header-asset .html-slot-container {
	margin-top: 0;
	margin-bottom: 0;
	@media (min-width: @tablet-min) and (max-width: @tablet-max) {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.pt_checkout .main-wrapper, .pt_order-confirmation .main-wrapper{
	padding-top: 0;
}
.border{
    border: 3px solid @red;
}
.postcodeerror,.postcodeerrorshipping, .postcodeerrorshipping3, .cityerror, .cityerror2{
    position: relative;
    z-index: 1;
	width: auto;    
    color: @red;
	padding: 0 0;
	margin-top: -27px;
	background-color: transparent;
	white-space: nowrap;
	font-size: 12px;
	pointer-events: none;
	margin-bottom:0;
	@media (max-width: @mobile-max) {
	  font-size: 12px;
	}
}
.cityerror, .cityerror2{

	margin-top:-3px; 

}
.post-code-field.validation-error .field{
    display: block! important;

    .input-text{ 
    border-color: @red;	
	color: @red;
}
 }

 .post-code-field-opc.validation-error .field{
    display: block! important;
    .input-text{
    border-color: @red!important;	
	color: @red;
}
}
.buttondisabled{
    background-color: #492565;
    border-color: #492565;
    cursor: default;
    opacity: .4;
    pointer-events: none;
}


.form-row.how-to-contact-checkboxes > div {
	
	display: flex;
	min-height: auto;
}

.post-code-field {
	.form-row-with-button {
		.field{
			margin-left: 0;
			position: relative;
		}
	}
	&.validation-error .form-row {
		input.input-text:focus{
			border:2px solid @red!important;
		}
	}
}

.how-to-contact{
	margin-top: 13px;
.how-to-contact-checkboxes {
	     margin-top: -6px;
.field{
	min-height: 50px;
  }
 }
}

.contactus-form{
.form-row.form-row-button{
	margin-top: 15px;
  }
}


.form-row.validation-error {
	.error-msg {
   @media (max-width: @mobile-max) {
      white-space: normal;	
  }
 }
}

.cookie-policy{
	.save.button{
	   height: 50px;
    margin-top: 9px;	
	}
}


.selector{
	background:none!important;
	&:before{
	 .fonticon(18px, 18px);
	  content: "\f107";
      position:absolute;
      right: 10px;
      top: 5px;
	}
	
&.focus.hover{	
	border: 2px solid #006eb8!important;
	&:before{
	  content: "\f106";

	}
 }
}

.add-adddress{
	.form-row.form-row-with-button .field{
		max-width:420px;	
		width: 100%;
	}
}

 input::-ms-reveal,
      input::-ms-clear {
        display: none;
 }
 
.loqate-autocomplete-list {
	z-index: 99;
  	position: absolute;
    top: 60px;
  	left: 0;
  	right: 0;
	max-height: 240px;
    overflow: auto;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    scrollbar-width: thin;
    background-color: @white;
	&::-webkit-scrollbar {
	    width: 10px
	}
	&::-webkit-scrollbar-track {
	    background: #c9c9c9;
	    border-radius: 5px;
	}
	&::-webkit-scrollbar-thumb {
	    background: #000;
	    border-radius: 5px;
	}
	li{
		padding: 10px;
  		cursor: pointer; 		
  		font-size: 14px;
	    line-height: 20px;
	    position: relative;
  		span{
		    display: block;		    
  		}
  		#secondline{
	    	color: rgba(0, 0, 0, 0.6);
	    }
  		&:hover{
			background-color: @grey-lightest;  			
  		}
  		&:not(.gettheAddress){
  			div:after {
			    content: "\f054";
			    position: absolute;
			    top: calc(50% - 10px);
			    right: 9px;
			    font: normal normal normal 14px/1 FontAwesome;
			    color: @Night-gider-gray;
			    transform: translate(0,0);
			    font-size: 21px;
			}
		}
	}
	.autocomplete-active {
		background-color:  @grey-lightest !important; 
  		color: @white; 
	}
	.firsttext{
		color: @cobalt-blue;
		font-size: 13px;
	}
}

.loqate-autocomplete-list li.selected-postal {
    background: @white;
    span {
	    display: inline-block;
	    background: @grey-lighter;
	    padding-left: 5px;
	    &:after {
		    content: "\f00d";
		    font: normal normal normal 14px/1 FontAwesome;
		    color: @slidertilename;
		    transform: translate(0,0);
		    font-size: 16px;
		    padding: 0 5px;
		}
	}
}
.post-code-field .field {
	&:after {
	    content: "\f002";
	    font: normal normal normal 14px/1 FontAwesome;
	    color: @slidertilename;
	    transform: translate(0,0);
	    font-size: 16px;
	    padding: 0 5px;
	    position: absolute;
	    right: 5px;
	    top: 17px;
	    pointer-events: none;
	}
	span.postal-clear {
	    position: absolute;
	    right: 5px;
	    top: 8px;
	    padding: 5px;
	    font-weight: 600;
	    color: @nero;
	    background: @white;
	    z-index: 1;
	    cursor: pointer;
	}
}

.product-review, .product-reviews{
	width: 180px!important;
	.rating{
		.fa-star, .fa-star-half, .fa-star-regular{
			color:#ffa000;
			font-size: 17px;
		}
	}
	.rating-count{
		@media (max-width: 345.5px) {
			font-size: 14px;
		}
		@media (min-width: 345.5px) {
			font-size: 15px;
		}
	}
}
