
.form-row{
       max-width: @form-row-max-width;
       margin: 0px 0;
       position: relative;
 
   &.post-code-field{
     max-width: 520px;

   &.form-row-with-button.post-code-field{	
	.field{		
		margin-left:0;
	  }	
    }
   }
}
 

.credit-card-box .cvv-input .field, 
.customerAddressBilling .address-alias, 
.customerAddressBilling .additional-address-fields .field, 
.customerAddressBilling .country-fld .field {
	min-height:@form-field-min-height!important;
}

.credit-card-box {
	.error{
	   background-color: transparent;
       color: @red;
       padding: 0;
       margin-top: 0px;
       font-size:12px;
  @media (max-width: @mobile-max) {
        font-size:11px;
        margin-top: 0!important
     }
	}
}

.form-row-new .field, .field{
    display: block;
    margin-left: 0;
    margin-bottom: 0px;
    min-height: @form-field-min-height;


input.input-text, div.select, .input-text, .dropdown-toggle, .styledSelect {
 height: @form-input-height-auto;
  border: 1px solid @grey-dark;
  background-color: @white;
  box-sizing: border-box;
  color: @Night-gider-gray!important;
  padding: 0 11px;
  width: 100%;
  font-size: 14px;
  margin: 0;
  vertical-align: middle;
  

  &:focus{
  border: 2px solid @blue!important;
  }
 } 
 
 .button{
   width: 180px;
    min-width: 180px;
    height: @form-input-height-auto;
    line-height: 35px;    
    font-weight: 600;
    
 }  
  
  
 .select .styledSelect.active{
     border: 2px solid @blue!important;
    }

.input-textarea {
    border: 1px solid @grey-dark;
 
   &:focus {
     border: 2px solid @blue!important;
    }
 }


input.input-text{
  padding-top: 19px;
  
  &:read-only{
      opacity: 0.5;
      padding-top: 0;
    &:focus{
     border: 1px solid @grey-dark!important;
  }
 }
  
 }

div.selector {
  padding: 0 5px;
span{
     line-height: 48px;  
  }
}
  
input.input-text ~ label {
  position: absolute!important;
  top: 7px;
  left: 2px;
  padding-left: 10px;
  padding-top: 8px;
  width: calc(100% - 17px);
  min-width:73px;
  height:27px;
  transition: 0.2s all;
  cursor: text;
  line-height: normal;
  background-color:@white;
  display:block;
  padding-bottom: 2px;
  pointer-events:none;
  text-align: left;
  }
  input.input-text~label.focus-active{
    font-size: 12px;
    top: -1px;
     background-color:transparent;
     height: auto;
     z-index:1;
     text-align: left;
  }
  
   
   .error-msg{
    color: @red;
    padding: 0px 0px;
    margin-top: -3px;
    background-color:transparent;
    white-space: nowrap;
    font-size:12px;
    pointer-events:none;
  @media (max-width: @mobile-max) {
        font-size:11px;
     }
    }       
  }     
   
  .focus-helper{
   font-size:12px;
   margin-top: -3px;
   @media (max-width: @mobile-max) {
      font-size:11px;
    }
    &.activecolor{
	  color:@purple-dark;
	
    }
   }     

.form-row{
 &.form-row-checkbox .field{
    display:flex!important;
 }

}

.select-input-field, .form-row-select {
    label{
		   font-size: 10px;
		    position: absolute;
		    z-index: 0;
		    top: 10px;
		    left: 13px;
		    line-height: normal;
		    padding-top: 8px;		    
            display: none;
            pointer-events:none;
		    
       }
    }

.validation-success label.select-label,
.validation-success.form-row-select label,
.form-row-select.validation-success.form-row-select label {
   font-size: 12px;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: 14px;
    display:block;
    pointer-events:none;
    @media (max-width: @mobile-max) {
        top: -3px;
    }
  }

.validation-error {    
    input:focus ~ focus-helper{
     color:green;
    }

 }

.validation-success {
  .error{
   display:none;
   }
.selector span{
    padding-top: 6px;
  }
}
.icon-password{
    top: 6px;
    z-index: 1;
    display:block!important;
 }
 
div.checker {
     width: 38px;
    min-width: 38px;
    height: 38px;
span.checked::before{
    font-size: 24px;
 }
}
 

 .optinal-field{
    position: relative;
    max-width: @form-row-max-width;
 .optinal-text{
    position: absolute;
    z-index: 10;
    right: 15px;
    top: 13px;
    color: @purple-dark;
    font-size: 12px;
   } 
    .field:after{
    content:'Optional';
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 2px;
    color: @purple-dark;
    font-size: 12px;
    line-height: 47px;
    padding-right: 6px;
    padding-left: 4px;
    pointer-events: none;
   } 
   &.form-row-select .field:after{
        right: 38px;
     }
    
    &.validation-success{
      .field .input-text{
         border: 1px solid  @grey-dark!important; 
       &:focus{
	       border: 2px solid  @blue!important; 
       }
    }
    .optinal-field .field .styledSelect{
       border: 1px solid  @grey-dark!important; 
    }
    &.active{
	   border: 2px solid  @blue!important; 
    }
    
   }
&.remove-optional .field:after{
	content:'';
 }
  }

.form-row.form-row-birthdate{
	 .birthdate-fields {		
		.validation-success .field .styledSelect.active{
	   border: 2px solid  @blue!important; 
    }

   }

}


.form-row.optinal-field{	
&.genderselect.validation-success {	
.field .styledSelect.active{
	   border: 2px solid  @blue!important; 
    }
  }
}

.form-row.optinal-field.genderselect{
  .field .styledSelect{
	   border: 1px solid  @grey-dark!important;
    }
}

 input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input{
  filter: none;
}

.validation-error .field div.checker{
  border: 2px solid @red;
}

.validation-success .field div.checker{
  border: 2px solid @green;
}

 .validation-success .field .input-text, .validation-success .field div.selector, .validation-success .field .dropdown-toggle, .validation-success .field .styledSelect, #payment-form .styledSelect, .saved-address .styledSelect{
   border: 2px solid @green!important;
   color:@purple-dark!important;
  } 
  
  .validation-error .field .input-text, .validation-error .field div.selector, .validation-error .field .dropdown-toggle, .validation-error .field .styledSelect{
    border:2px solid @red!important;
    color:@purple-dark!important;
  } 
  
 .error-form.message{
   color: @red;
    background-color:transparent;
 }
 
 #delivery-address, .saved-address {
  display:block!important;
 }
 
  #delivery-address.hidden, .saved-address.hidden {
  display:none!important;
 }
 

 label.error#dwfrm_quickbuyaddress_shippingAddress_addressid-error,  label.error#dwfrm_quickbuyaddress_customer_title-error{
     position: relative!important;
     padding: 0!important;
     color: @red;
     background-color:transparent!important;
    top: 2px;
    font-size: 12px;
 }
 
.how-to-contact .form-row-text .field{
  min-height: @form-field-min-height-auto!important;
} 
 

.select {
    cursor:pointer;
    position:relative;
    border:0!important;
    padding:0!important;

.s-hidden {
    visibility:hidden;
    padding-right:10px;
}

.overlaybg{
@media (max-width: @mobile-max) {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.75);
    z-index: 100;
  }
}


.select-close{
@media (max-width: @mobile-max) {
    position: relative;
    right: -8px;
    top: 4px;
    z-index: 10000;
 }
&:before{
@media (max-width: @mobile-max) {
    font-family: FontAwesome;
    font-size: 27px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-rendering: auto;
    transform: translate(0,0);
    content: "\f00d";
    display: block;
    color:@red;
    position: absolute;
    right: 23px;
    
   } 
}

}


.styledSelect {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color:white;
    padding-top: 12px!important;
    padding-left:12px!important;
    padding-right: 40px!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    
    &:after {
    content:"\f107";
    position:absolute;
    top:14px;
    right:14px;
    font:normal normal normal 14px/1 FontAwesome;
    transform: translate(0,0);
    font-size: 23px;
   }
  }
   .optiongroup{
	display:none;
	position:absolute;
    width:calc(100% - 30px);
    top:14px;
    left:15px;
    z-index:999;
    margin:0 0;
    padding:10px 0;
    list-style:none;
    background-color:white;
    box-shadow:0px 0px 10px 0px #e3def2;
    border-radius: 3px;
  @media (max-width: @mobile-max) {
    max-height: 495px;
    min-height: 30px;
    position: fixed;
    bottom: 0px;
    top: auto;
    width: 100%;
    left: 0;
    border-top: 0;
    box-shadow: 0px 5px 14px 0px #7a7979;    
    text-align: left;
    z-index: 1000000;
    padding-bottom: 18px;
    border-radius: 0;
    }
    @media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {    
        max-height: 275px;
    }


  .selectheading{
	padding: 7px 10px;
    text-align:left;
    font-weight:bold;
    pointer-events:none
	}

 .options {
    display:block!important;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 98%;
    @media (max-width: @mobile-max) {
    max-height: 430px;
    min-height: 53px;
    }
    @media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {    
        max-height: 275px;
    }
     
    &::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: @grey-light;
    }

&::-webkit-scrollbar{
	width: 6px;
	background-color: @grey-lightest;
  }

&::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: @Night-gider-gray;
}
   
      
   li {
    padding: 8px 10px;
    text-align:left;
    margin-left:2%;
    cursor:pointer;
    @media (max-width: @mobile-max) {
        border-bottom: 1px solid @grey-light;
        width: 87%;
        padding-right:10px;
        padding-left:0; 
        margin-left: 10px;
    }
    
    &.optionsheading{
	  font-weight:bold;
	}
   &:hover, &:focus {
    background-color:#cacaca3b;
    color:#2b2828;
   }
  }
 }
}
}


/* Firebox */
.options  {
  scrollbar-width: thin;
  scrollbar-color: @Night-gider-gray  @grey-light;
}

.options ::-webkit-scrollbar {
  width: 12px;
}

.options ::-webkit-scrollbar-track {
  background: @grey-light;
}

 .options  ::-webkit-scrollbar-thumb {
  background-color: @Night-gider-gray;
  border-radius: 20px;
  border: 3px solid @grey-light;
}


.validation-success .styledSelect, .validation-success .select2-selection{
   padding-top: 19px!important;
  }


.quickbuy-preference-page .preference-button .switch .enabled+.slider {
    background-color: @grey-light;
    box-shadow: 0 0 1px @grey-light;
}


.link-certificate, .activate-quickbuy, #payNow, .activate-quickbuy.submit-button, .checkout-summary-left .button, 
.address-check-btn .button, .product-tile-top .quickview, .button-coupon, .live-tv-detail-content .button, .home-recently-live .button, .order-confirmation  .button,
.product-certificate .certificate-wrapper .social-media-container .button, .address-create-container .address-create, .inform-me-when-available .button, .quickbuy-placeorder-form .confirm-qborder{
   width: 180px;
    min-width: 180px;
    height: @form-input-height-auto;
    line-height: 35px;
    font-weight: 600;
    
 }


body.selectopen{
@media (max-width: @mobile-max) {
overflow:hidden;
}

}

.shipping-address-selector .field, 
.credit-card-box .field, 
.form-row-auto .field, 
.customerAddressBilling .field, 
.addresses-select .field {
     min-height: @form-field-min-height-auto!important;
}

.cart-coupon-code .optinal-field .field:after{
	display:none;
}

.form-row-select label.select-label,
 .form-row-select label.new-label{
  display:none;
 }
 
 .country-fld-label{
     margin-top: -10px!important;
     margin-bottom: 13px !important;
     @media (max-width: @mobile-max){
         margin-bottom: 15px!important;
         }
 }
 
 .form-row-birthdate .label{
    width:100%;
    &.nopadding{
	     margin-top: -10px;
   }
 }
 
 .quickbuytac{
     margin-bottom: 25px;
 }
 
 #qberror .error{
      background-color: transparent;
      color:@red;
      margin-top: 0px;
 }

.optiongroup .optiongroup{
	display:block!important;
}
.set-password-box-content .icon-password{
	    top: 1px!important;
	
}
.newsletter-form-row .focus-helper{	
	display:none!important;
}






.product-content-pdp-wrapper {	
	.engraving-min-height{
	 	.field{
		min-height:67px;
		.styledSelect{
	   @media (max-width: @mobile-max) {	
	   font-size:12px;
	  }
       @media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {    
         font-size:13px;
        }
      }	
	 }
     .error{
	    margin-bottom: 8px;
      }
	}
.engraving-group{
	.field{
		min-height:67px;
	}
	.error{
	   margin-top: -16px!important;
       height: 27px;
	}
	
 .engraving-focus-label{	
	     display:none;
         margin-bottom: 10px;
         margin-top: -18px;
        .excTxt {
	       font-size: 11px;
           line-height: 1px;
        }
      }
     span.img-edit ~ .label.new-label{
	   width: calc(100% - 106px);
       @media (max-width: @mobile-max) {	
	    width: calc(100% - 33%);
	   }
     }

   .label.new-label{
	 width:auto;
      @media (max-width: @mobile-max) {	
	   font-size:12px;
	   }
        @media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {    
         font-size:13px;
      }
	}
   } 
}



.payment-method-wrapper{
	.radio-override .checker .checked:before{		
		    content: ''!important;
	}
	
}

.form-row.engravingtac.form-row-checkbox{	
	    margin-top: 0;
}

.addresses-select-group{
	.addresses-select.loqate-select{
		background-color: @grey-lightest;
	    padding: 15px 15px 0;
	    margin-bottom: 25px;
	}
.addresses-select{
    max-width: 390px;   	
	.form-row-button{		
		margin: 0;
		.field{
			@media (max-width: @mobile-max) {
			    text-align: left;
          }
		}
	}
	.showmore{
    background-color: transparent;
    color: @grey-darkest!important;
    border: none;
    padding-left: 0;
    margin-top: 0;
    @media (max-width: @mobile-max) {
    text-align: left;
	}
   }
 }
} 

.address-check-btn{
	.button{
  @media (max-width: @mobile-max) {
	width: 100%;
    margin-bottom: 12px;
		
	}
  }
}


.billingform {
	.form-row-button .field{
	@media (max-width: @mobile-max) {
	 display: flex!important;
	.button{	 
	display: inline-block;
    width: 49%;
    min-width: auto;
&.cancel-button{	
	margin-left: 8px;
}	
&.delete-button{	
	margin-left: 8px;
}
   }
  }
}

.addresses-select-group{
	.form-row .field{
		margin-left: 0;
	}
}

}

.selected-address-summary{
    padding-bottom: 12px;
	border-bottom: 1px solid @grey-light;
    span{
    	display: block;
    }
}

.form-row.form-row-button, .form-row.form-row-checkbox.no-margin{	
	    margin-top: 0;
}

.form-row.marketing-btn{
	margin-top: 26px;
}

.input-radiogroup .form-row-radio {
	
	   .field{		
		 min-height: @form-field-min-height-auto!important;
		  @media (max-width: @mobile-max) {
		    display: inline-block!important;
              width: 100%;
				label{
					width: 83%!important;
					
	  }    
	}
 }
}


.login-box-content{	
	&.returning-customers{	  
      .form-row-checkbox{
	     margin-top: 0;
         margin-bottom: 26px;
   }
	
  }
 .form-row-button{
	 .field{
	  margin-top: -5px;
	}
  }
}


@media (max-width: @mobile-max) {
    form#ContactUsForm .form-row {
        max-width: none;
  }
}

.visually-hidden{ 
	.styledSelect{	
		border: none !important;
	}
	&.visually-un-hidden{
		.styledSelect{	
			border: 1px solid #bbb!important;
		}
		.validation-error{
			.styledSelect{
				border: 2px solid #c20000!important;
			}
		}
	}
}


.form-row .label a{
	pointer-events:auto;
}

.selectopen .select ~ .error-msg {
    opacity: 0;
}

input.input-text:read-only{
	    padding-top: 19px!important;
}

.paymentMethod .form-row.form-row-radio .field .radio {
    width: 27px;
    height: 27px;
    display: table;
    box-sizing: border-box;
}

.min-height-field{
	min-height: 76px;
}

.required-indicator{
	display:none;
}

#qb-paysafecard .credit-card-box#payment-form{
	 max-width: 95%;
@media (max-width: @mobile-max) {
   width:100%;
  }
}

/*Remove custom select in RAPLP in mobile*/
@media (max-width: @mobile-max) {
#ajaxRefresh {
	.search-result-options-top, .search-result-options-bottom{
.select {
	height: auto;
	.s-hidden {
    	visibility: visible;
 	}
  }
}
.search-result-options-bottom{
	padding-top: 15px;
}

}
}


.showActivateQBModel{
	.select .optiongroup .options{
		@media (max-width: @mobile-max) {
	    margin-bottom: 55px;
   }
  }
}


select{
	height: 50px;
	padding-top:8px;
	border-radius:3px;

}