.main {
	.account-container, .alternative-registration,
	.registration-form, .checkout-addresses-form,
	.checkout-guest-details-form,
	.genericoverlay-container  {
		@input-height: 40px;
		fieldset.checkout-billing-address,
		fieldset.checkout-shipping-address {
			padding-top: 60px;
		}
		fieldset {
			border:      1px solid @grey-dark;
			padding:     15px 30px;
			position:    relative;
			padding-top: 80px;
			margin-top:  30px;

			.border-radius-default();

			@media (max-width: @mobile-max) {
				padding:     15px;
				padding-top: 30px;

				> legend {
					position:    absolute !important;
					top:         0 !important;
					margin-top:  -13px;
					left:        50%;
					margin-left: -50px;
					width:       100px;

					> i {
						padding: 0 10px !important;
					}

					span {
						display:    none !important;
						visibility: hidden !important;
					}
				}

				.mobile-legend {
					display:       block !important;
					visibility:    visible !important;
					color:         @purple-dark;
					font-size:     14px;
					font-weight:   @font-weight-default;
					text-align:    center;
					margin-top:    -10px;
					margin-bottom: 15px;
				}

				.button-container {
					width: 100%;
				}
			}

			> legend {
				position:    absolute;
				padding:     0 !important;
				top:         30px;
				color:       @purple-dark;
				font-size:   (@font-size-default * 1.5);
				font-weight: @font-weight-default;

				> .fa {
					color:          @grey-dark;
					font-size:      1.5em;
					font-weight:    600;
					display:        inline-block;
					vertical-align: middle;
					padding-right:  15px;
				}

				@media (max-width: @mobile-max) {
					position:   relative;
					text-align: center;
					top:        6px;

					> .fa {
						padding-right: 0;
					}

					> span {
						position: relative;
						display:  block;
						top:      10px;
					}

					&:before {
						border-top: 2px solid @grey-lighter;
					}
				}
			}

			.mobile-legend {
				display:    none;
				visibility: hidden;
			}

			&.empty {
				border:  0;
				padding: 0;
				margin: 0;

				> p {
					font-size: (@font-size-default + 1);
					color:     @purple-dark;
				}

				label {
					line-height: 16px !important;
					font-size:   14px !important;
				}
			}

			&.last {
				> p {
					margin-top: 0;
				}
			}

			input, .selector, button {
				height: @input-height;
				font-size: 14px;
			}

			.selector {
				span, select {
					height:         (@input-height - 1);
					line-height:    (@input-height - 1);
					text-transform: none;
					font-size: 14px;
				}

				span.caret {
					background:     @grey-dark;
					height:         40px;
					position:       absolute;
					top:            0;
					right:          0;
					width:          25px !important;
					padding:        0;
					pointer-events: none;

					> i {
						font-size:   16pt;
						margin-left: -11px;
						color:       @purple-dark;
					}
				}

				> select {
					&:focus, &:active {
						&+ span.caret {
							background: @purple-dark;

							> i {
								color: @purple-dark;
							}
						}
					}
				}
			}

			.form-row {
				max-width: 560px;

				.field {
					input {
						.placeholder-color(@purple-dark);
					}

					&:before {
						font-size:   30px;
						line-height: 29px;
						right:       12px;
						font-weight: 600;
						color:       @blue !important;
					}

					&.tooltip-hover {
						&:before {
							color: @blue-dark !important;
						}
					}
				}

				label {
					color:          @purple-dark;
					text-transform: none;
					line-height:    2;
					font-size: 14px;
				}

				&.form-row-with-button {
					max-width: @page-max-width;

					.field {
						width: 400px;

						@media (max-width: @mobile-max) {
							width: 100%;
						}
					}

					button {
						&:disabled {
							background:   @grey-lighter !important;
							border-color: @grey-lighter !important;
							color:        @purple-dark !important;
						}
					}
				}

				&.form-row-button {
					margin-bottom: 0;

					button {
						margin-bottom: 0;
						text-transform: none;
					}
				}

				&.form-row-select {
					&.last {
						.error-msg {
							left: 136px;
						}
					}
				}

				.button-container {
					display:   inline-block;
					min-width: 150px;

					button {
						width: 100%;
					}
				}
			}

			.addresses-select {
				.form-row {
					&.form-row-text, &.form-row-button {
						display:    none !important;
						visibility: hidden !important;
					}
				}
			}

			.tooltip-msg {
				&:before {
					color: @grey-lighter;
				}
			}

		}

		.message {
			.border-radius-default();

			> .message-inner {
				padding-right: 30px !important;

				@media (min-width: @tablet-min) {
					padding-right: 0;
				}

				> .message-content {
					padding:        initial;
					text-transform: initial;

					> a.button {
						height:      40px;
						top:         -12px;
						right:       0;
						width:       43px;
						opacity:     1;
						padding-top: 11px;

						.border-radius(0, @border-radius-default, @border-radius-default, 0);

						@media (min-width: @mobile-min) {
							right: -30px !important;
						}
					}

					&:before {
						content: "";
					}
				}
			}
		}
	}

}
.registration-confirmation {

	> .html-slot-container {
		margin-bottom: 30px;
	}

	.welcome {
		font-size:   16pt;
		line-height: initial;
	}
}


.registration {
	&-alt {
		.error-msg, .tooltip-msg {
			&:before {
				line-height: initial;
				height:      initial;
				right:       initial;
				left:        initial;
				top:         0 !important;
				bottom:      initial;

				.fa-icon-rotate(90deg, 1, true);
			}
		}

		.error-msg-mobile, .tooltip-msg-mobile {
			text-align: center;
			margin-top: 5px;

			> .close-icon {
				float: right;
			}

			&:before {
				top: -9px !important;

				.fa-icon-rotate(180deg, 2, true);
			}
		}
	}
}

.selector {
	.caret-select-box {
		background:     @grey-dark;
		height:         40px;
		position:       absolute;
		top:            0;
		right:          0;
		width:          25px !important;
		padding:        0;
		pointer-events: none;

		> i {
			font-size:   16pt;
			margin-left: -11px;
			color:       @purple-dark;
		}
	}
	> select {
		&:focus, &:active {
			&+ span.caret-select-box {
				background: @purple-dark;

				> i {
					color: @purple-dark;
				}
			}
		}
	}
}
