.section-recommendations-heading, .lastvisted-heading, .completeset-heading {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    width: 100%;
}
#pdpMain {
	.product-link {
		.tile-wishlist {
			position: absolute;
		    top: 5px;
		    right: 5px;
		    z-index: 2;
            background: #fff;
			border-radius: 50%;
			width: 25px;
			text-align: center;
			a.product-slider-wishlist-link {
				&:hover {
					color: #c20000;
				}
			}
		}
	}
	.custom-slider-inner{
		.slider-tile {
			position: relative;
			background-color: #F5F5F5!important;
			.slider-product-tile{
				.product-name, .product-pricing{
					padding: 0 8px;
				}
			}
		}
	}
	.pdp-section{
		.section-recommendations-containers{
			width:100%;
			margin: 15px 0 -10px 0;
			@media (max-width: 430.5px) {
				padding: 15px 0 0 15px;
			    overflow: hidden;
			}
		   @media (max-width: @mobile-max){
				padding: 15px 0 0 15px;
		   }
			
			.section-recommendations-containers-wrapper{
				.section-recommendations-heading {
					font-size: 20px;
				    line-height: 26px;
				    font-weight: 600;
				    text-transform: none;
				    margin: 10px 0 10px 0;
				}
			}
		}
		&.section-last-visited{
			margin: 15px 0 -10px 0;
			@media (max-width: 430.5px) {
				padding: 15px 15px 0 15px;
			}
		 @media (max-width: @mobile-max){
				padding: 15px 0 0 15px;
		   }
		}
		&.pdp-section-bottom{
			.bottom-line{
				display: none;
			}
		}
		.frequently-bought{
			margin-bottom: 0;
			margin: 15px 0 -10px 0;
			> div{
				width: 100%;
			}
		}
		.section-carousel-title{
			margin: 10px 0 10px 0;
			.section-title-inner{
				text-align: left;
				display: block;
				padding: 0;
				&:before{
					border-top: unset;
				}
			}
		}
		.custom-slider{
		}
		.pdp-gemstone-info {
			margin: 5px 0 0 0;
		}
		&.section-reviews{
			width: 100%;
		}
	}
}
.custom-slider {
	&.recommendations {
		.product-tile {
			border: 0;
		}
	}
	&:hover, &:focus {
		.custom-slider-inner::-webkit-scrollbar-track {
			visibility: visible;
		}
		.custom-slider-inner::-webkit-scrollbar-thumb {
			visibility: visible;
		}
		.product-tile-nav-arrows {
		    opacity: 1;
		}
	}
	&.no-scroll {
		.product-tile-nav-arrows {
			display: block;
		}
	}
}

.video-text.active {
	display: block!important;
	width: auto;
	position: absolute;
    bottom: 15px;
    color: #000;
    padding: 0 10px;
    font-size: 12px;
}

@media (min-width: 1151px) {
	.single-view {
		min-width: 375px;
		min-height: 100px;
	}
}

.slider-product-tile a.quickview.newquickview.initialized{
	margin: 0 auto;
    display: block;
    opacity: 2;
    overflow: visible;
    top:0;
    left:0;
    width: auto;
    height: auto;
    position: relative;    
}

.pdp-view-adjuster{
	@media (min-width: 1024.5px) {
		padding: 0 0;
	}
}