.product-top .product-name {
	color: #333;
    text-align: left;
    line-height: normal;
    letter-spacing: .3px;
    font-size: 16px;
    font-weight: 700;
    margin-top: -5px;
    .product-id{
    	font-weight:500;
    }
}

.pdp-section-social {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.pdp-review-social {
    display: flex;
    margin: 5px 0 10px 0;
	@media (max-width: 1023px) {
		margin: 8px 0;
	}
	@media (max-width: 767px) {
		/*display: block;*/
	}
    .product-reviews{
    	margin-left: -5px;
    	display:flex;
    	.rating-count{
    		margin-left: 5px;
    	}
    }
}


.pdp-brand-logo {
	&.desktop-view {
		@media (max-width: 1023px) {
			display: none;
		}
	}
    margin-top: 15px;
    img {
        width: 100px;
    }
}
.product-description-listing {
	ul li {
		list-style: disc;
		padding-bottom: 10px;
		color: #333;
		&:before {
			display:none !important;
		}
	}
}

.desktop {
	@media (max-width: @mobile-max) {
		display: none;
	}
}

.mobile {
	@media (min-width: 768px) {
		display: none;
	}
}
.social-sharing-wrapper {
    padding: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 767px) {
    	padding: 0;
    	display: flex!important;
    }

    a.link-wishlist {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 0.5px;
        margin-right: 5px;
        font-weight: 600;
        padding: 0;
        vertical-align: 0;
    }
    
    .addthis_sharing_toolbox{
    	
    	.at-share-tbx-element{
	    	.at-share-btn {
			    margin-bottom: 0;
			    margin-right: 4px;
			    border-radius: 50%!important;
			    width: 25px;
				height: 25px;				
                @media (max-width: @mobile-max) {
	             margin-right: 7px;
	            }
				.at-icon-wrapper{
					display: contents;
					.at-icon{
						width: 19px!important;
						height: 19px!important;
						display: flex;
    					margin: 3px auto;
					@media (max-width: @mobile-max) {
						display: block;
						
						}
					}
				}
			}
			.at-svc-compact{
				 margin-right: 0;
			@media (max-width: @mobile-max) {
	             margin-right: 10px;
	            }
			}
		}
    }
}
.size-chart-wrapper{
	a.size-chart-link-simple{
		color: #005c99;
	}
}
.variations-wrapper {    
    border-top: 0;
    padding-top: 0;
    margin-top: 20px;
    margin-bottom: 0;
    
    .size-chart-wrapper{
    	margin-bottom: -10px;
    }

    .attribute {
        display: flex;
        flex-wrap: wrap;
    }

    .swatches  {
        display: flex;
		flex-wrap: wrap;
		margin-right: -10px;
    }
}

.pdp-main .product-variations .attribute .swatches li {
    margin: 10px 10px 0 0;

    a {
        border: 1px solid @grey-darker;
        color: @purple-dark;
        height: 30px;
        line-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 7px;
    }
}
.pdp-box-addtocart {
    padding: 15px 0;
    padding-bottom: 0;
    /*box-shadow: 0 2.8px 2.2px @grey-light, 0 -2px 5.3px @grey-light, 0 0 10px @grey-light, 0 0px 0px @grey-light, 0 0 0 @grey-light, 0 0 0 @grey-light;*/
    background: white;
    border: 1px solid @grey;
    /*border-radius: 10px;*/
    @media (max-width: 767.5px) {
    	border: 0!important;
		padding-top: 0!important;
    }
	&.pdp-box-outofstock {
		.product-add-to-cart  {
			border-top: 0 !important;
		}
		.inform-me-when-available-pdp {
			.field {
				min-height: 55px;
			}
			.button-green {
				outline: none;
			    border: 0;
			    text-transform: uppercase;
			    margin-bottom: 20px;
			}
		}
		.not-available-msg {
			font-size: 13px;
		}
		.pdpForm .button-container {
			width: 100%;
		}
		.button-container-wrapper .button-show-similar .button {
			width: 100%;
		    padding: 0;
		    background-color: unset !important;
		    border-color: unset !important;
		    color: #005c99 !important;
			border: 0;
			font-weight: bold;
		}
	}
	.product-content-pdp-wrapper{
		.variations-wrapper{
			.xlt-pdpVariations{
				.variations-wrapper-border{
					.label,.value{
						padding: 0 10px;
					}
					.label{
						.size-chart-wrapper{
							margin-top: 5px!important;
						}
					}
					li{
						margin-top: 10px;
					}
				}
			}
		}
	}
}

.pdp-greywrapper {
    padding: 0 10px;
    .price-sales {
        color: @slidertilename!important;
        font-size: 26px;
		text-align: left;
	    line-height: 30px;
	    letter-spacing: 0.3px;
    }
    .plus-icon, .free-dev{
    	font-size: 14px;
	    text-transform: uppercase;
	    color: #666666;
    }
	.free-dev {
		
	}
	.price-section{
		display: flex;
		.free-delivery-slot{
			line-height: 25px;
		}
	}
	.pdp-promotional-save-after {
		font-size: 14px;
		 @media (max-width: @mobile-max){
		font-size: 13px;
		}
	}
	.price.price-promotion .price-standard.pdp-promotional-save {
	    text-transform: uppercase;
	    padding-top: 5px;
        @media (max-width: @mobile-max){
	      padding-top: 0;
          margin-top: 0;
           }
	}
	.price .pdp-promotional-save .pdp-promotional-save-before {
		display: inline-block;
		font-size: 14px;
	    color: @slidertilename;
	}
	.pdp-greywrapper .pdp-promotional-save-after {
		font-size: 14px;
	}
	.plus-delivery-message{
		.product-plus-delivery{
			.second{
				font-size: 14px!important;
				margin-left: 0!important;
			}
		}
	}
}

.pdp-greywrapper .budgetpay, .pdp-greywrapper .paypal-credit {
    margin: 10px 0;
   @media (max-width: @mobile-max){
	margin-top: 4px;
	}
    img {
        width: 70px;
        margin-right: 5px;
    }
}
.pdp-greywrapper .paypal-credit {
	img {
        max-width: 54px;
    }
}
#product-content-wrapper .size-chart-wrapper .size-chart-title, 
#product-content-wrapper .size-chart-wrapper .size-chart-link-simple {
	font-size: 13px;
}
#product-content-wrapper .size-chart-wrapper .size-chart-link-simple {
	color: #005c99;
}
#product-content-wrapper .product-free-delivery-hint p {
    margin: 0;
}

.sticky-desktop-check .product-content-pdp-wrapper .product-add-to-cart {
    padding: 10px;
    margin: 10px 0 0;
    border-top: 1px solid @grey;
	@media (max-width: 767.5px) {
		border-top-width: 6px;
		border-color: @grey-lighter;
	}
	
	.pdpForm{
		position:relative;
	}
}

.quantity-selection {
    height: 35px;
    width: 100px;

    .product-sub, .product-add {
        line-height: 33px;
    }
}

.pdp-main .product-add-to-cart .quantity {
    margin-top: 4px;
    margin-bottom: 17px;
}

.pdp-main .item-pnp, .pdp-main .product-code-pdp{
	font-size: 16px;
	margin-top: 0;
	color: @Night-gider-gray;
	@media (max-width: @mobile-max){
	font-size: 14px;
	}
}

.xlt-pdpName{
	&.product-name{
		font-weight: 600;
		span{
			font-weight: 500;
		}
	}
}

.pdpForm .button-container {
    width: 46%;
    @media (max-width: @mobile-max) {
	 max-width: 163px;
	}

}

.pdpForm label, 
.availability-msg .in-stock-msg {
    font-size: 13px;
	color: @slidertilename;
	line-height: 20px;
    letter-spacing: 0.3px;
}
.availability-msg {
	.pre-order-text {
		color: @cobalt-blue;
	}
	.in-stock-msg.lowstock{
	    color: @rednew;
	    font-weight: 600;
	}
}
.pdp-main .button-container-wrapper .button {
    width: 100%;
    padding: 10px;
}
.pdp-main .button-container-wrapper {
	display: block;
	position: relative;
	.promotion {
		margin: 0 0 20px 0 !important;
	    font-size: 14px;
	    color: #c20000;
	    text-transform: uppercase;
	    font-weight: bold;
	}
}
.warranty-section{
	.warranty-box{
		border: unset;
		padding: unset;
	}
}

#product-content-wrapper .product-description {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0;
    margin-top: 10px;
}

.pdp-container-addtocart #plus-subscription {
    width: 94%;
    background: #EEEEEE;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    box-sizing: content-box;
	.logo-container .go-plus {
		img {
			max-width: 92px;
		}
	}
    .tjc-plus-cont  {
        display: block;
        margin: 0;

        label {
            margin-left: 10px;
        }
        .form-row{
        	&.form-row-radio{
        		margin-top: 5px;
				margin-bottom: 5px;
        	}
        }
    }

    .dec-text {
        text-transform: none;
        font-size: 14px;
    }

    .radio-sub {
        display: flex;
        align-items: center;
        font-size: 13px;
		&.selected {
			label {
				color:#005c99;
			}
		}
    }

    input[type="radio"] {
        margin-right: 5px;
    }

    .equivalent-text {
        font-size: 0.8em;
		margin-left: 38px;
		margin-bottom: 5px;
		font-style: normal;
		margin-top: -15px;
		padding-left: 0;
    }

    .subscriptions-button {
        padding: 2px 40px;
        font-size: 12px;
    }

    .del-time ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }

    .del-time ul li {
        font-size: 11px;
        line-height: 1.8;
        list-style: none;
        width: 50%;
        padding-left: 15px;
        box-sizing: border-box;
        position: relative;

        &:before {
            content: "\2022";
            position: absolute;
            left: 0;
            font-size: 25px;
            line-height: 20px;
        }
    }

    .logo-container {
        background: none;
        font-size: 12px;

        .next-delivery {
            font-style: normal;
			font-size: 14px;
        }
    }
}

.pdp-container-addtocart .price .free-dev {
	vertical-align: middle;
}

.product-wishlist {
    position: absolute;
	left: 176px;
	bottom: -2px;
	padding: 0;
	text-align: center;
	line-height: 30px;
	z-index: 1;
	@media (min-width: 1151px) {
		width: 35px;
		height: 35px;
    	left: 143px;
   		bottom: 15px;
	}
	
	 @media screen and (min-width: @tablet-min) and  (max-width: @tablet-max){
		left: 145px;
		
	}
	
	.product-wishlist-link{
		display: block;
		color: @purple-dark;
		font-size: 18px;
		position: initial;
		margin-left: 2px;
		margin-top: 2px;
		background-color: @grey-lighter;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		
		i{
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			transition: all 1s ease;
			margin-top: 10px;
		}
		
		&.added-to-wishlist{
			color: @red;
		}
		
		&.processing{
			animation-name: colorChange;
			animation-duration: 1.5s;
			animation-delay: 0s;
			animation-iteration-count: 1; /*infinite*/
			animation-timing-function: ease;
			
			&.normal{
				color: @white;
				background: @red;
				animation-direction: normal; /*normal|reverse|alternate|alternate-reverse*/
			}
			&.reverse{
				background: @white;
				animation-direction: reverse; /*normal|reverse|alternate|alternate-reverse*/
			}
			.fa{
				transform: scale(1.2, 1.2);
			}
		}
	}
}

.pdp-main-img {
    height: auto;
    width: 100%;
}

.pdp-main .pdp-thumb-tiles{
	margin-top: 0!important;;
}

.carousel-thumbnails {
    width: 100px;
}

.product-content-pdp-wrapper {
    margin: 0;
	@media (max-width: @mobile-max) {
		margin: 20px auto;
		margin-bottom: 0;
		padding: 0;
	}
	.showlowinstock{
		.availability-msg.lowstockbox{
			padding-left: 10px;
			padding-bottom:10px;
			margin-top: 0;
			@media (min-width: @old_desktop-min) {
				padding-left:0;
				padding-bottom:0;
				margin-top: 10px;
			}
		}
		.availability-msg.nolowstockbox{
			display:none;
		}
	}	
}

.product-primary-image {
	width: 100%;
	margin-left: auto;
	@media (max-width: 1149.5px) {
		width: 100%;
	}
}

.utils-wrapper{
	&.mobile-only{
		display: none;
	}
}

.product-thumbnails {
    width: 52px;
    margin-right: 15px;
}

.product-primary-image .single-view {	
    border: 0;
    /*display: flex;*/
    position: relative;
	width: 100%;
    display: inline-flex;
    justify-content: center;
}

.pdp-mainimage-prev-btn, .pdp-mainimage-next-btn {
	display:none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: @white;
    font-weight: 100;
    padding: 0 5px;
    z-index: 2;
    opacity: 0.5;
}

.pdp-mainimage-prev-btn {
    left: 0;
    &:before {
        content: "\2039";
        color: @black;
        font-size: 40px;
    }
}

.pdp-mainimage-next-btn {
    right: 0;
    &:before {
        content: "\203A";
        color: @black;
        font-size: 40px;
    }
}

.pdp-container-productimage{
    a.thumbnail-link {
        display: flex;
        img{
        	max-height: 55px;
        }
    }
}

.productthumbnail {
    width: 100%;
    border: 1px solid @grey;
    box-sizing: border-box;
    margin-bottom: 8px;
    display: flex;
    cursor: pointer;
    &.selected {
        border-color: @black;
    }
}

.product-video-wrapper{
	position: absolute;
	background-color: #fff;
	height: 100%;
	width:100%;
	
	.overlayvideo-container1{
		width:100%;
		display: inline-table;
		margin-top: 15%;
		
		.overlayvideo-box{
			.overlayvideo-box-nav{
				display: none;
			}
		}
		.product-video-container{
			.pdp-player-container{
				&.veygo-video-with-controls{
					.veygo-control{
						margin-top: -30px;
					}
				}
			}
		}
		video{
			cursor: pointer;
			&::-webkit-media-controls-overlay-play-button {
				display: none;
			}
		}
	}
}

.single-view{
	.playButton{
		cursor: pointer;
		display: none;
		.playButtonBackground, .playButtonSymbol{
			border: medium none;
			display: block;
			left: 0;
			margin: 0 auto;
			/* padding: 8px 16px; */
			border-radius: 50%;
			position: absolute;
			right: 0;
			top: 36%;
			height: 100px;
			width: 100px;
		}
		.playButtonBackground{
			background-color: #EEEEEE;
			font-size: 70px;
			height: 150px;
			width: 150px;
			opacity: 1;
			margin-top: -25px;
		}
		.playButtonSymbol{
			&:after{
				content: '\f04b';
				font-family: 'FontAwesome';
				font-size: 70px;
				display: flex;
				justify-content: center;
				line-height: 100px;
				margin-left: 10px;
				color: #000;
			}
		}
	}
}

.icons-product-image-360.productthumbnail {
    &.productthumbnail {
        margin-top: initial !important;
	    margin-left: initial !important;
	    width: 100% !important;
	    height: auto !important;
	    transform: initial !important;
	    display: block !important;
	    top: 0 !important;
	    border: none !important;
        .fa-play {
            width: auto !important;
    		height: auto !important;
        }
    }
}


.product-variations {
    .attribute {       
        .label {
            color: @purple-dark;
            width: 100%;
        }
        .swatches {
        	&.color{
				li{
					width:60px!important;
					height:60px!important;
					.swatchanchor{
						width:60px!important;
						height:60px!important;
						padding: 2px!important;
						border: 2px solid @white;
					}
					&.strikeoosproduct, &.firstleveloosprouct{
						position: relative;
						.swatchanchor{
							&:active{
								pointer-events: none;
							}
							&:hover{
								cursor: default !important;
								border: 2px solid @white!important;
							}							
							&:before {
								position: absolute;
								content: "";
							    left: 0;
							    top: 50%;
							    bottom: 6px;
							    right: 0;
							    border-top: 1px solid @black1!important;
							    transform: rotate(-45deg);
							    width: 82px;
							}
							img{
								opacity: 0.3;													  
							}
						}
					}
					&.available{
						.swatchanchor{
							border:0!important;
							border: 2px solid @white!important;
						 &:hover{
							background-color: transparent;
                            border: 2px solid @green!important;
						  }
						}
					}
					&.selected a{
						background-color: transparent;
                        border: 2px solid @green;
					    padding: 2px !important;
					    border-radius: 0;
                      &:hover{
							background-color: transparent;
                            border: 2px solid @green;
						  }
					}
				}
			}
			&.size{
				li{
					&.unselectable{
						position: relative;
						.swatchanchor{						 
							&:active{
								pointer-events: none;
							}
							&:before {
								position: absolute;
								content: "";
							    top: 50%;
							    border-top: 1px solid @black1!important;
							    transform: rotate(-45deg);
							    width: 44px;
							}
						}
					}
				}				
			}			
            li {
                margin: 10px 5px 0 0;
                a {
                    border: 1px solid @green;                         
                    background-color: @white;
                    color: @green-dark;                    
                    min-width: 18px;
                    height: 38px;
                    line-height: 38px;
                    border-radius: 3px;
                    padding: 0 10px;                    
                    &:hover {
                        text-decoration: none;
                        background-color: @green-dark;
                        border-color: @green-dark;
                        color: @white;
                    }
                }
                &.selected {
                    a, a:hover {
                        text-decoration: none;
                        background-color: @green;
                        border-color: @green;
                        color: @white;
                        cursor: default;
                    }
                }
                &.unselectable {
                    a, a:hover {
                        cursor: default;
                        background-color: @grey-lighter;
                        border-color: @grey-lighter;
                        color: @grey-darker;
                    }
                }
            }

            .resizable-contact {
                margin: 10px 0 0 0;
                color: @cobalt-blue;
                font-size:13px;
				display: block;
				width: 100%;
                p {
                    margin: 0;
                }
				.contact {
					display: none;
				}
                @media (max-width: @mobile-max) {
                    margin-top:15px 0 30px 0;
                }
            }
        }
    }
}

.product-primary-image img {
	margin-top: unset;
	margin-bottom: unset;
	height: unset!important;
	width: 100%;
}

.product-image {
	position: relative;
	/*&:before {
    	content: '';
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    position: absolute;
	    border-radius: 3px 3px 0 0;
	    z-index: 0;
	    background-image: radial-gradient(50% 50%,rgba(55,62,62,0) 50%,rgba(55,62,62,.01) 74%,rgba(55,62,62,.05) 100%);
    }*/
}

.product-img-section {
    display: flex;
    flex-direction: row-reverse;
    @media (max-width: @mobile-max) {
    	position: relative;
    }
}

.pdp-section{
	&.pdp-section-bottom{
		.see-more, #product_details_scroll{
			display: none;
		}
	}
}

.sticky-desktop-check{
	.product-content-pdp-wrapper{
		.engraving-form span{
			&.checked::before{
				top: 5px!important;
			}
		}
	}
}

@media (max-width: 430px){
	.main-wrapper .main {
		padding-left: 0;
		padding-right: 0;
	}
	.pdp-container-productinfo, .pdp-extra-content{
		padding: 0 15px!important;
	}
	.pdp-box-addtocart {
		margin: 0 0 0 0;
		padding-bottom: 0;
	}
	.plus-subscription-class{
		.tjc-plus-cont{
			.form-row-radio{
				margin-top: unset;
				margin-bottom: unset;
			}
		}
	}
	.pdp-section{
		&.pdp-section-bottom{
			padding: 15px 15px 0 15px;
		}
		&.section-recommendations, &.section-last-visited, &.section-paypal-full{
			padding: 0 15px;
		}
	}
}
@media (max-width: 1149.5px) {
    .variations-wrapper-border {    
        border-top: 1px solid @grey-lighter;
        padding: 10px 0;
		@media (max-width: 767.5px) {
			border-top-width: 6px;
		}
    }
    .variations-wrapper {    
		@media (max-width: @mobile-max) {
			padding: 10px 0;
		}

    }
}
@media (max-width: 767.5px) {
	.pdp-box-addtocart {
		box-shadow: none;
        border-top: 6px solid @grey-lighter;
        border-radius: 0;
        margin: 20px 0 0 0;
        padding-bottom: 0;
    }
}
@media (max-width: 767.5px) {
	.pdp-box-addtocart {
        margin: 0 0 0 0!important;
    }
}
@media (max-width: 1149.5px) {
    .breadcrumb{
    	display: none;
    }
    
    .xlt-primary{
    	margin-top: 20px;
    }
    
    .pdp-box-addtocart {
        margin: 0 0 20px 0;
    }

    .pdp-container-addtocart #plus-subscription {
        margin-top: 0;
        border-radius: 0;
        padding: 10px;
    }

    .pdp-container-productinfo {
        padding: 0;
    }
}
.pdp-container-productinfo {
	@media (max-width: @mobile-max) {
		padding: 0;
	}
}
.engravingoptions {
	display: inline-block;
    width: 100%;
	.engraving-form {
		padding: 15px;
		margin-right: inherit;
		background-color: #f5f5f5;	
		@media (max-width: 767.5px) {
			background-color: unset;
			border-top: 6px solid @grey-lighter;
			margin-top: 20px;
		}	
		
		legend.title{
			padding-bottom: 10px;
			font-size: 19px;
		}
		.form-row-checkbox{
			.checker{
				width: 35px!important;
				height: 35px!important;
				min-width: 35px!important;
			}
		}
	}
	.form-row {
		max-width: 100%;
	}
	
	&.tablet-engraving{
		@media (max-width: 767.5px) {
			display: none!important;
		}
	}
	&.mobile-engraving{
		display: none;
		@media (max-width: 767.5px) {
			display: initial;
			.engraving-form {
				border-bottom: 6px solid #eee;
				margin-bottom: 20px;
			}
		}
	}
}

.mobile-no-borderTop-marginTop-PaddingTop{
	@media (max-width: 767.5px) {
		border-top: 0!important;
		margin-top: 0!important;
		padding-top: 0!important;
	&.product-add-to-cart{
		    margin-top: -11px!important;
	  }	
	}
}

@media (min-width: 768px) {
	.pdp-main .product-description.only-mobile {
		display: none;
	}
}

.warranty-section .warranty-box .warranty-quantity-box  {
	.xcol-lg-5 {
		flex: 0;
		padding-right: 0;
		.warranty-quantity-selection {
			width: 90px;
			height: 30px;
			.warranty-sub, .warranty-add {
				line-height: 28px;
			}
		}
	}
}

.warranty-section{
	.warranty-box{
		.warranty-inner-content{
			.checker{
				width: 35px!important;
				min-width: 35px!important;
				height: 35px!important;
			}
		}
	}
}

.section-info .section-info-row .section-info-sub {
	margin-left: 0;
	.attribute-list li {
		.label {
		    width: 50%;
			@media (max-width: @mobile-max){
				font-size: 13px;
				}
			}
		.value {
		    max-width: 50%;
		    text-align: right;
			@media (max-width: @mobile-max){
				font-size: 13px;
				}
			span:after {
				content: ',';
			}
			span:only-child:after, span:last-child:after {
				content: '';
			}
			}
	}
}

.product-details-attribute li .value {
	text-align: right !important;
}

.stones-wrapper.pdp-section-product-details .label {
	padding: 6px 15px;
}

.customer-also-bought{
	margin: 15px 0 -10px 0;
    @media (max-width: @mobile-max) {
		margin: 15px -15px -10px 0;
    }
	@media (max-width: 430.5px) {
		margin-top: 0;
	}

	.recommendations{
		&.no-scroll{
			.product-tile-nav-arrows{
				display: none;
			}
			.custom-slider-inner{
				justify-content: flex-start;
			}
		}
	}
}

.inform-me-message-fail{
	display:none;
	&:nth-child(3){
		display:block;   
	}
}
.engraving-form{
	legend.desp{
		max-width:100%!important;
		font-size: 13px;
		@media (max-width: @mobile-max) {
			font-size: 12px!important;
			line-height: 15px;
		}
		.size-chart-wrapper a.size-chart-link-simple {
			@media (max-width: @mobile-max) {
				font-size: 12px!important;
				line-height: 15px;
			}
		}
	}
}
.button-container-wrapper{
	.button-container{
		width: calc(100% - 60px);
		max-width: unset;
		.button-container-inner{
			.button-container-cell{
				display: block;
				.xlt-addToCart.button{
					width: calc(100% + 56px)!important;
					margin-bottom: 10px;
					font-size: 18px;
				}
				.quick-buy-button-pdp{
					@media (min-width: 767.5px) {
						max-width: 180px;
					}
					width: 100%!important;
					margin-left: 0px;
					min-width: 105px;
					color: @slidertilename!important;
					background: @white!important;
					border: 1px solid @grey-dark!important;
					&:hover{
						color: @white!important;
						background: @green!important;
						border: 1px solid @green!important;
					}
				}
			}
		}
	}
	.product-wishlist{
		&.QB-visible-true{
			@media (min-width: 767.5px) {
				right: 35px!important;
			}
			right: 0px!important;
			left: unset;
			width: unset;
		}
	}
}
