.pdp-section-product-details {
    width: 100%;
}

.product-details-attribute {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	@media (max-width: @mobile-max) {
		margin: 0;
	    display: flex !important;
	}

    li {
        width: 48%;
        border: 1px solid #ccc;
        border-top: 0;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: @mobile-max) {
			width: 100%;
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3) {
            border-top: 1px solid #ccc;
        }

        > * {
            box-sizing: border-box;
            padding: 6px 15px;
        }

        .label {
            border-right: 1px solid #ccc;
            background: #f5f5f5;
            width: 50%;
        }

        .value {
            text-align: left;
            width:50%;
        }

        .values {
            display: flex;
            justify-content: space-between;
            width: 50%;
            align-items: center;
            .value {
                width: 50%;
                box-sizing: border-box;
                &:nth-child(1) {
                    text-align: left!important;
                }
            }
        }
    }
}

.pixlee_container{
	width:100%;
	/*width:615px;
	height:400px;
	*/
	iframe{
		padding: 20px 0;
	}
	a{
		display: none!important
	}
}

@media screen and (max-width: 430px) {
	.mobile-left-right-padding{
		padding: 0 15px;
	}
}
@media screen and (max-width: 767px) {
	#pdp1_pixlee_container{
		display: none;
	}
	.not-mobile{
		display: none;
	}
	.only-mobile{
		display: block;
	}
}
@media screen and (min-width: 768px) {
	#pdp2_pixlee_container{
		display: none;
	}
	.not-mobile{
		display: block;
	}
	.only-mobile{
		display: none;
	}
}
