.secondary-col {
    width: 100% !important;
}

.pdp-thumbnail-slider{

    .slick-list {       
        margin: 20px 0;
    }

    .slick-track {
        margin: auto 0;
    }

    .slick-prev {
        position: absolute;
        top: -5px;
        width: 100%;
        height: 20px;
        /*left: 50%;*/
        /*transform: translateX(-50%);*/
        transform: rotate(90deg);

        &:before {
            /*content: '\f106';*/
            color: black;
            background: transparent;
            font-size: 20px;
            font-weight: 900;
            opacity: 1;
        }
    }
    
    .slick-slide {
    	width: 50px !important;
    	max-height: 55px;
    }

    .slick-next {
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 25px;
        top: initial;
        transform: rotate(90deg);
        
        &:before {
            /*content: '\f107';*/
            color: black !important;
            background: transparent;
            font-size: 20px;
            font-weight: 900;
            opacity: 1;        
            /*bottom: 0;
            right: 50%;
            transform: translateX(-50%);
            padding: 0;*/
        }
    }

}

.pdp-main .section-title {
    margin: 20px 0 10px;
	font-size: 20px;
	@media (max-width: @mobile-max){
			font-size: 16px;
			}
}

.device-hidden {
    display: block !important;
}

.desktop-hidden {
    display: none !important;
}

@media (max-width: 1149.5px) {
    .device-hidden {
        display: none !important;
    }

    .desktop-hidden {
        display: block !important;
    }
}
.pdp-container-productinfo-mobileandtablet {
	@media (min-width: 1149.5px) {
		display: none;
	}
	.product-name {
		@media (max-width: 1023px) {
			display: none;
		}
	}
	.variations-wrapper {
		@media (max-width: 1023px) {
			border-top: 0;
			margin: 0;
			padding: 0;
		}
		.product-variations {
			@media (max-width: 1023px) {
				display: none;
			}
		}
		.engravingoptions {
			@media (max-width: 1023px) {
				display: initial;
			}
		}
	}
	.pdp-brand-logo {
		@media (min-width: 767px) {
			
		}
	}
}

.pdp-thumbnail-container .pdp-thumbnail-slider .slick-dots{
	display: none!important;
}
@media (max-width: 767.5px) {
  #thumbnails {
    &.product-thumbnails {
      width: 100%;
      position: absolute;
      margin-right: 0;
      bottom: 0;
      display: block !important;
      .slick-next, .slick-prev{
        display: none!important;
      }
      .slick-list {
        /*display: none!important;*/
        height: 28px;
        align-items: center;
        height: unset!important;
        margin: 0;
        margin-bottom: 1px;
        .slick-track {
          display: inline-flex!important;
	      align-items: center;
	      justify-content: space-between;
	      overflow-y: hidden;
          overflow-x: auto;
          max-width: 398px !important;
          height: unset!important;
          transform: unset!important;
          background-color: @grey-lighter;
          /*width: 168px!important;*/
          border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          .slick-slide {
            width: 1em !important;
            height: .6em;
            padding: 5px;
            .productthumbnail {
              border-radius: 50%;
              height: .63em;
              width: .63em!important;
              background-color: #f3f3f3;
              border: .1rem solid #949494;
              .productthumbnail-inner {
                display: none;
              }
              &.selected {
                background-color: #949494;
                border: .1rem solid #949494;
              }
              &.video{
				border-radius: 10%!important;
			    border-right-color: transparent!important;
			    border-top: 5px solid transparent!important;
			    border-bottom: 5px solid transparent!important;
			    border-left: 9px solid #949494!important;
			    background-color: transparent!important;
			    margin-left: -.40em!important;
			    margin-top: -.03em!important;
			    height: 1px!important;
			    position: absolute;
				&:after{
				  content: '';
			      display: inline-block;
			      position: relative;
			      top: -1.014em;
			      left: -.55em;
			      border-style: solid;
			      border-width: 3px 0 3px 6px;
			      border-color: transparent transparent transparent #f3f3f3;
				}
				&.selected {
				  &:after{
				    border-color: transparent transparent transparent #949494!important;
				  }
				}
              }
            }
            &.slick-cloned{
              display: none;
            }
          }
        }
      }
    }
  }

#pdpMainOverlay #thumbnails.product-thumbnails .slick-list .slick-track{
	      background-color: transparent;
	
      .slick-slide {
       	 width: 42px !important;
         height: 42px;
   		 padding: 5px;
    .productthumbnail {
	      border-radius: 0;
	      height: 42px;
	      width: 42px!important;
    .productthumbnail-inner {
         display: block;
              }
      &.selected {
        background-color: transparent;
      }
     &.video{
	   display:none;
      }
    }

  }
	
}


  .pdp-thumbnail-container .pdp-thumbnail-slider{
    text-align: center;
    .slick-dots{
	  /*display: inline-flex!important;*/
	  align-items: center;
	  justify-content: space-between;
	  max-width: 398px !important;
	  height: 28px;
	  overflow-y: hidden;
      overflow-x: auto;
	  background-color: @grey-lighter;
	  border-top-right-radius: 3px;
	  border-top-left-radius: 3px;
      li{
        pointer-events: none;
      }
    }
  }
}
.variations-wrapper{
  &.non-variant-product{
    margin:0;
    padding:0;
  }
}

.remove-box-shadow{
  box-shadow: none;
  border-top: 2px solid #ccc;
}
.cart-variants-group:not(.crossed){
  bottom: 60px;
  top: unset;
  left: 0;
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 2;
  padding: 0;
  box-shadow: 0 0 8px #ccc;
  &.variations-wrapper{
    margin-top:0;
    padding-top:0;
    .xlt-pdpVariations{
      max-width: 480px;
      margin: 0 auto;
      .variations-wrapper-border{
        border-top: 0;
        padding-top: 5px;
        .color-variations{
          display: none;
        }
        .size-variations{
          margin-top: 0;
          .label{
            .size-chart-wrapper{
              margin-top: 0!important;
            }
          }
          .value{
            .swatches{
              .selected{
                .swatchanchor{
                  background-color: unset;
                  border-color: @grey-darker;
                  color: @purple-dark;
                }
              }
              .sticky-selected{
                .swatchanchor{
                  text-decoration: none;
                  background-color: @green;
                  border-color: @green;
                  color: @white;
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }
  }
  .product-add-to-cart{
    .pdpForm{
      label, .quantity, .warranty-section{
        display: none;
      }
    }
  }
}

.pdp-image-mobile{
	display: none;
}

.swiper-container {
	width: 100%;
	height: 100%;
	
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 0;
	.swiper-wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		transition-property: transform;
		box-sizing: content-box;
		.swiper-slide{
			flex-shrink: 0;
			width: auto!important;
			height: 100%;
			position: relative;
			transition-property: transform;
			
			text-align: center;
			font-size: 18px;
			background: #fff;
			
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.playButton{
				display:block;
			}
		}
	}
	.swiper-container-android .swiper-slide, .swiper-wrapper{
		transform: translate3d(0px,0,0);
	}
}
