.pdp-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 1149.5px) {
    	flex-wrap: unset;
    }
}

.pdp-container-productimage {
    width: auto;
	order: 1;
    //display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    position: relative;
    
    .product-img-section.mainImageSticky{
    	position: fixed;
    	top: 20px;
    	z-index:9999;
    	.product-primary-image img{
    		width: 84%;
    		margin:0;
    	}   	
    }
    
    @media screen and (min-width: 1149.5px) and  (max-width: 1410px){
    	//max-width: 37%;
    }
    @media (min-width: 1410px) {
    	width: calc(50% - 149px);
    	//width: 40%;
    }
}

.pdp-promotional-save-comma {
	display: none;
}

.engraving-form .select~.error-msg {
	display: none!important;
}

.pdp-container-productinfo {
    width: calc(100% - 800px);
    max-width: unset;
    order: 2;
    padding: 0 20px;
    box-sizing: border-box;
    
    @media (min-width: 1149.5px) {
    	width: calc(50% - 162px);
    }
   .pdp-review-social{
	 @media (min-width: 1149.5px) {
	     margin: 5px 0 5px 0;
         text-transform: none;
     }
   }
}
.pdp-container-addtocart {
    width: 310px;
    order: 3;
    .pdp-box-addtocart{
    	@media (min-width: 1149.5px) {
    		width: 308px;
    	}
    }
  .product-code-pdp{
	float: left;
    display: inline-block;
    width: auto;
    margin-bottom: 0;
    margin-top: 10px!important;    
    @media (max-width: @mobile-max) {
	 margin-left: 11px;
    }
  }
}

.slider-product-tile .quickview  {
	position: initial;
	margin-left: 0;
}



.pdp-section {
    display: flex;
    flex-wrap: wrap;
	h3 {
		width: 100%;
		font-size: 20px;
		 @media (max-width: @mobile-max){
			font-size: 16px;
			}
	}
	&.section-info {
		width: 100%;
		margin-bottom: 20px;
	}
	.section-info-row {
		width: 100%;
		
		.see-more{
			margin: 10px 0 0px 0!important;
		}
	}
}

.product-description {
    margin-top: 15px;
    padding-bottom: 10px;
    font-size: 14px
}

@media (max-width: 1149.5px) {
    .pdp-container-productimage {
        order: 2;
        width: calc(100% - 310px);
        padding-right: 20px;
        box-sizing: border-box;
    }

    .pdp-container-productinfo {
        width: 100%;
        order: 1;
        padding: 0;
    }

    .pdp-container-addtocart {
        /*width: 30%;*/
        width: 310px;
    }

}

@media (max-width: 767.5px) {
    .pdp-container-productimage, .pdp-container-addtocart, .pdp-container-addtocart {
        width: 100%;
    }

     .pdp_redesign .main-wrapper .main {
        padding: 0;
    }

    .pdp-container-productimage {
        padding: 0;
    }
}

.breadcrumb{
	.breadcrumb-ul{
		.breadcrumb-li:not(:last-child){
			.breadcrumb-element{
				font-weight: 600;
				color: @cobalt-blue;
			}
		}
	}
}


@media (max-width: @tablet-max) {
 .flyin .flyin-wrapper{
	height: 100vh;
	position: fixed;
	.flyin-inner{
	   padding-top: 50px;
	}
  }
}

@media (min-width: @tablet-max) {

 .flyin {
	&.flyin-active{
		position: fixed;
        width: 100%;
        top: 18vh;
        z-index: 10;	
	.flyin-wrapper{
		position: relative;
        max-width: 810px;
        display: block;
        margin: 0 auto;
       .flyin-inner{
	     max-height: 530px;
         overflow-y: scroll;
         padding: 14px 0 100px 0;          
       }
	}
	.flyin-close-ctr{
		background: transparent;
         top: -7px;
         position: relative;
         box-shadow: none;
		.flyin-close-ctr-wrapper{
			    max-width: 810px;
                background: @white;
			    width: 100%;
			    top: 0;
			    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
			    padding: 8px 14px;
		}
	}
	.overlay-container {
		    pointer-events: none;
	}
   }
  }
}


@media (max-width: @mobile-max) {
.frequently-bought-together {
.custom-slider-inner{
	    margin-right: -15px;
  }
.fa-chevron-right {
    right: -15px;
}
 }

.overlayvideo-container{
	 padding-top: 27vh;
 }

}
.product-bulletspoins{
	display:none;
}

.product-video-disclaimer{
	color: @white;
	@media (max-width: @mobile-max) {
		    padding: 0 9px;
	 }
}