.backtotop {
	display: inline-block;
	padding: 8px;
	.border-radius(5px,5px,5px,5px);
	color: @white;
	font-size: @backtotop-size;
	line-height: @backtotop-size;
	width: @backtotop-size;
	height: @backtotop-size;
	text-align: center;
	background: rgba(0,0,0,0.3);
	position: fixed;
	bottom: -100px;
	right: -100px;
	overflow: hidden;
	z-index: 100;
	visibility: hidden;
  	opacity: 0;
	.fa {
		display: block;
		margin-top: -3px;
	}
	&:hover {
		text-decoration: none;
	}	
	&.btt-is-visible {
        visibility: visible;
        opacity: 1;
        bottom: @backtotop-bottom;
        right: @backtotop-right;
	}
	&.btt-fade-out {
	  opacity: 0.5;	  
	}
	.newpdp{
		display: none;
	}
}
.pdp_redesign{
	.backtotop{
		background: unset;
		color: @white;
		transform: translate(-50%, -0%);
	    width: 150px;
		font-size: 16px;
		text-transform: uppercase;
		background-color: rgba(128,174,204,0.5);
		border-radius: 30px;
		height: 30px;
		padding: 1px 10px;
		line-height: 30px;
		&.btt-is-visible {
			top: 20px;
			left: 50%;
			right: unset;
			bottom: unset;
		}
		&:hover{
			background-color: @cobalt-blue;
		}
		
		.notnewpdp{
			display: none;
		}
		.newpdp{
			display: block;
			.fa {
				display: unset;
				font-size: 14px;
			}
		}
	}
}
