.breadcrumb {
	margin: 8px 0;
	@media (max-width: @mobile-max) {
		display: block;
		width: 100%;
		float: left;
	}
	.breadcrumb-ul {
		.breadcrumb-li {
			display: inline;
			font-size: 12px;
			@media (max-width: @mobile-max) {
				display: block;
				float: left;
			}
			.separator {
				padding-left: 5px;
				padding-right: 5px;
                color: @grey;
			}
			&:last-child {
				.separator {
					display: none;
				}
			}
		}
	}
    .breadcrumb-refinements {
        margin-top: 30px;
        .refinement-element {
            .border-radius-default();
            .text-default();
            margin: 10px 10px 0 0;
            padding: 5px 10px;
            float:left;
            width: auto;
            background: @green;
            color: @white;
            font-style: normal;
            text-transform: none;
            font-size: 14px;
            line-height: 20px;
            white-space: nowrap;
            .refinement-text {
                display: inline-block;
            }
            .breadcrumb-relax {
                display: inline-block;
                margin-left: 5px;
                color: @white;
                .fa {
                    display: block;
                    height: 20px;
                    width: 20px;
                    line-height: 20px;
                    text-align: center;
                    background: @white;
                    color: @green;
                    border-radius: 10px;
                }
            }
        }
    }
}