
button,
.button,
input[type="button"] {
	.border-radius-default();
	border: 1px solid @purple;
	.box-sizing(border-box);
	background-color: @purple;
	cursor: pointer;
	color: @white;
	display: inline-block;
	width: auto;
	font-family: @font-family-default;
	font-size: @font-size-default;
	line-height: @input-line-height;
	font-weight: 400;
	text-transform: uppercase; 
	padding: (((@input-height - @input-line-height) - 2) / 2) 15px;
	text-align: center; 
	text-decoration: none;
	-webkit-appearance: none;
	&:hover {
		background-color: @purple-dark;
		border-color: @purple-dark;
		color: @white;
		text-decoration: none;
	}
	&.button-wider {
		width:100%;
	}
	&.button-wide {
		min-width:200px;
	}
	&.button-larger {
		padding-top: 17px;
		padding-bottom: 17px;
	}
    &.button-grey {
        background-color:@grey-light;
        border-color:@grey-light;
        color: @purple-dark!important;
        &:hover {
            background-color:@grey;
            border-color:@grey;
            color: @purple-dark!important;
        }
    }
    &.button-grey[disabled],
    &.button-grey[disabled]:hover {
        background-color:@grey-lighter;
        border-color:@grey-lighter;
    }
    &.button-grey-darker {
        background-color:@grey-light;
        border-color:@grey-light;
        color: @purple-dark!important;
        &:hover {
            background-color:@purple-dark;
            border-color:@purple-dark;
            color: @white!important;
        }
    }
    &.button-grey-darker[disabled],
    &.button-grey-darker[disabled]:hover {
        background-color:@grey-lighter;
        border-color:@grey-lighter;
    }
    &.button-red {
        background-color:@red!important;
        border-color:@red!important;
        color: @white!important;
        &:hover {
            background-color:@red-dark!important;
            border-color:@red-dark!important;
            color: @white!important;
        }
    }
    &.button-red[disabled],
    &.button-red[disabled]:hover {
        background-color:@red;
        border-color:@red;
    }
    &.button-green {
        background-color:@green!important;
        border-color:@green!important;
        color: @white!important;
        &:hover {
            background-color:@green-dark!important;
            border-color:@green-dark!important;
            color: @white!important;
        }
    }
    &.button-red[disabled],
    &.button-red[disabled]:hover {
        background-color:@green;
        border-color:@green;
    }
	&.button-transparent {
		color: @purple-dark!important;
		background: transparent;
		border-color: @grey-dark;
		&:hover {
			color: @purple-dark!important;
		}
	}
	&.button-white {
		color: @purple-dark!important;
		background: @white;
		border-color: @grey-light;
		&:hover {
			background: @grey-light!important;
		}
	}
	&.button-text {
		display: inline-block;
		line-height: @line-height-default;
		padding: 0;
		margin: 0;
		text-decoration: none;
		background-color: transparent;
		color: @font-color-default!important;
		border: 0 none;
		text-transform: none;
		font-weight: normal;
		min-width: 1px;
		width: auto;
		&:hover {
			color: @font-color-default!important;
			text-decoration: underline;
			background-color: transparent;
		}
		&.button-text-small {
			font-size: 10px;
		}
	}
	&.button-text[disabled],
	&.button-text[disabled]:hover {
		background-color: transparent;
		color: @font-color-default!important;
	}
	&.button-icon {
		font-size: 20px;
		padding-left: 0;
		padding-right: 0;
		width: @input-height;
		text-align: center;
		display: block;
		&.button-transparent {
			border-color: transparent;
			&:hover {
				color: @purple-dark!important;
				opacity: 1;
			}
		}
		&.button-grey {
			color: @white;
			&:hover {
				color: @white;
			}
		}
	}
}
button[disabled], button[disabled]:hover, .button.disabled, .button.disabled:hover {
	background-color: @purple;
    border-color: @purple;
	cursor: default;
	.opacity(0.4);
}

@media (max-width: @mobile-max) {
	button,
	.button,
	input[type="button"] {
		display: block;
		width: 100%;
	}
}
