.carousel-container {
	display: block;
	opacity: 0;
	position: relative;
	height: 1px;
	margin-top: -1px;
	&.loaded {
		opacity: 1;
		margin-top: 0;
		height: auto;
	}
	.carousel {
		overflow: hidden;
		margin: auto;
		padding: 0;
		list-style: none;
		li {
			float: left;
			list-style: none;
			&.grid-tile {
				width: (100% / 5); /* 5 tiles in one row */
				.grid-tile-inner {
					padding: 0 15px;
					margin: auto;
				}
			}
		}
	}
	.nav-arrows {
		.nav-prev,
		.nav-next {
			position: absolute;
			top: 50%;
			z-index: 1;
			margin-top: ((@input-height / 2) * -1);
		}
		.nav-prev {
			left: 0;
		}
		.nav-next {
			right: 0;
		}
		.disabled,
		.disabled:hover {
		    cursor: default;
		    background-color: transparent;
		    border-color: transparent;
		}
	}
	.bubble-ctr {
		position: absolute;
		z-index: 1;
		left: 47%;
		bottom: 15px;
		.bubbles {
			margin:0;
			padding:0;
			.bubble {
				display: inline-block;
				margin: 0 2px;
				cursor: pointer;
				height: 12px;
				width: 12px;
				border: 2px solid @white;
				background: @white;
				border-radius: 8px;
				opacity: 0.6;
				&:before {
					content: '';
				}
				&.fa-circle {
					background-color: @black;
				}
			}
		}
	}
	&.pdp-main-tiles {
		.carousel {
			li.product-main-image {
				width: 100%; /* 1 tile in one row */
			}
		}
	}
	&.pdp-thumb-tiles {
		.carousel-container-inner {
			margin-left: 35px;
			margin-right: 35px;
		}
		.carousel {
			li.productthumbnail {
				width: (100% / 5); /* 5 tiles in one row */
				.productthumbnail-inner {
					padding: 0 5px;
				}
				&.video {
					.productthumbnail-inner {
						padding: 0 5px;
					}
					.text {
						text-align: center;
						margin-top:0px;
						color:@red;
						font-size:12px;
						font-weight:600;
						line-height:24px;
						
					}
				}
			}
		}
	}
	&.medium-tiles {
		.carousel-container-inner {
			margin-left: 35px;
			margin-right: 35px;
		}
		.carousel {
			li.grid-tile {
				@media (max-width: @mobile-max) {
					width: (100% / 1); /* 1 tile in one row */
				}
				@media (min-width: @tablet-min) and (max-width: @tablet-max) {
					width: (100% / 3); /* 3 tiles in one row */
				}
				@media (min-width: @desktop-min) {
					width: (100% / 5); /* 5 tiles in one row */
				}
				.grid-tile-inner {
					padding: 0 15px 0 15px;
					.product-tile .product-tile-top {
						.product-name {
							margin-top: 5px;
						}
						.product-pricing {
							font-size: @font-size-default;
							line-height: @line-height-default;
						}
					}
				}
			}
		}
	}
	&.small-tiles {
		.carousel-container-inner {
			margin-left: 15px;
			margin-right: 15px;
		}
		.carousel {
			li.grid-tile {
				@media (max-width: @mobile-max) {
					width: (100% / 2); /* 2 tiles in one row */
				}
				@media (min-width: @tablet-min) and (max-width: @tablet-max) {
					width: (100% / 5); /* 5 tiles in one row */
				}
				@media (min-width: @desktop-min) {
					width: (100% / 8); /* 8 tiles in one row */
				}
				.grid-tile-inner {
					padding: 0 10px;
					.product-tile .product-tile-top .product-pricing {
						font-size: (@font-size-default - 1);
						line-height: (@line-height-default - 1);
					}
				}
			}
		}
	}
    .nav-arrows {
	        .nav-prev,
	        .nav-next {
	            background-color: transparent;
	            border-color: transparent;
	        }
	    }
	&.banner-tiles {
		/* .nav-arrows {
		    display: none;
		    .nav-prev {
		        left: 15px;
		    }
		    .nav-next {
		        right: 15px;
		    }
		} */
		.carousel-container-inner {
			margin: 0;
			.carousel {
				li.grid-tile {
					width: 100%;
					.grid-tile-inner {
						padding: 0;
						img {
							display: block;
							max-width: 100%;
							height: auto;
						}
					}
				}
			}
		}
		&:hover {
			.nav-arrows {
				display: block;
			}
		}
	}
}

/* PDP Thumbnail Tiles (steps of 90px [@pdp-thumb-tile]) */

@media (min-width: (@tablet-min + 1 + @pdp-thumb-tile)) and (max-width: (@tablet-min + (@pdp-thumb-tile * 2))) {
	.carousel-container.pdp-thumb-tiles .carousel li.productthumbnail {width: (100% / 4); }   /* 4 tiles in one row */
}
@media (min-width: @tablet-min) and (max-width: (@tablet-min + @pdp-thumb-tile)) {
	.carousel-container.pdp-thumb-tiles .carousel li.productthumbnail {width: (100% / 3);}   /* 3 tiles in one row */
}

@media (max-width: @mobile-min) {
	.carousel-container.medium-tiles .carousel li.grid-tile {width: 100%;
		.grid-tile-inner {max-width: 120px;}
	}
}

@media (min-width: @desktop-min) and (max-width: (@desktop-min + @gridtile-medium))  {
	.category-landing .carousel-container.medium-tiles .carousel li.grid-tile {width: (100% / 5); }    /* 5 tiles in one row */
}

@media (max-width: @mobile-min) {
	.carousel-container.small-tiles .carousel li.grid-tile {width: 100%;
		.grid-tile-inner {max-width: 70px; }
	}
}

@media (min-width: (@desktop-min + 1px + @gridtile-small)) and (max-width: (@desktop-min + (@gridtile-small * 2))) {
	.category-landing .carousel-container.small-tiles .carousel li.grid-tile {width: (100% / 5); }    /* 9 tiles in one row */
}
@media (min-width: @desktop-min) and (max-width: (@desktop-min + @gridtile-small))  {
	.category-landing .carousel-container.small-tiles .carousel li.grid-tile {width: (100% / 5); }    /* 8 tiles in one row */
}

.category-landing {
	.grid-tile-inner {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.recommendations {
		&.carousel-container {
			margin-top: -15px !important;
		}
	}
}
/*Custom Slider*/
.custom-slider {
	position: relative;
	width: 100%;
	.custom-slider-inner {
	    display: flex;
	    width: auto;
	    overflow: auto;
  		scrollbar-width: thin;
		&::-webkit-scrollbar {
			height: 10px;
		}
		&::-webkit-scrollbar-track {
			background: @border-grey;
			border-radius: 5px;
			visibility: hidden;
		}
		&::-webkit-scrollbar-thumb {
			background: @black;
			border-radius: 5px;
			visibility: hidden;
		}	
	}
	.slider-tile {
	    margin: 0 6px 6px 0;
	    float: left;
	    flex: 0 0 220px;
	    text-decoration: none;
	    border-radius: 3px;
	    box-sizing: border-box;
	    background: @white;
		.placeholder-image {
			float: left;
			width: auto;
		}
		img {
			max-width: 100%;
			display: block;
		}
		.product-name {
			margin: 5px 0;
		    line-height: 18px;
		    height: 36px;
			color: @slidertilename;
			font-size: 13px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: -webkit-box;
		    -webkit-line-clamp: 2;
		    -webkit-box-orient: vertical;
		}
		.product-image {
		    position: relative;
			min-height: 220px;
			background: @white;
			&:before {
			    content: '';
			    top: 0;
			    left: 0;
			    bottom: 0;
			    right: 0;
			    position: absolute;
				border-radius: 3px 3px 0 0;
			    z-index: 1;
			    background-image: radial-gradient(50% 50%, rgba(55, 62, 62, 0.00) 50%, rgba(55, 62, 62, 0.01) 74%, rgba(55, 62, 62, 0.05) 100%);
			}
		}
		.product-promo {
		    display: none;
		}
		.price {
		    display: flex;
		    flex-direction: column-reverse;
			.price-sales {
			    font-weight: 600;
			    color: @red;
			    line-height: 20px;
    			font-size: 16px;
			}
			.price-standard {
			    color: @Night-gider-gray;
			    line-height: 20px;
			    font-size: 13px;
			}
			.product-promo {
			    display: inline-block;
			    color: @red;
			    padding: 0 7px 0 5px;
			    margin-left: 5px;
			    position: relative;
				&:before {
					content: '(';
				    display: inline-block;
				    position: absolute;
				    left: 0;
				}
				&:after {
					content: ')';
				    display: inline-block;
				    position: absolute;
				    right: 0;
				}
			}
		}
	}
	.product-tile-nav-arrows {
	    opacity: 0;
	}
	&.no-scroll {
		.custom-slider-inner {
			justify-content: center;
		}
		.product-tile-nav-arrows {
		    display: none;
		}
	}
	&:hover, &:focus {
		.custom-slider-inner::-webkit-scrollbar-track {
			visibility: visible;
		}
		.custom-slider-inner::-webkit-scrollbar-thumb {
			visibility: visible;
		}
		.product-tile-nav-arrows {
		    opacity: 1;
		}
	}
	.fa-chevron-left, .fa-chevron-right {
		position: absolute;
	    top: calc(50% - 31px);
	    padding: 20px 10px;
	    font-size: 30px;
	    box-sizing: border-box;
	    z-index: 1;
	    cursor: pointer;
	    background: rgba(255,255,255,.4);
	}
	.fa-chevron-left {
		left: 0px;
	}
	.fa-chevron-right {
	    right: 0px;
	}
}


@media screen and (max-width:@tablet-max) and (min-width:@old_desktop-min) {
	.custom-slider .slider-tile {
		flex: 0 0 180px;
		.product-image {
		    min-height: 180px;
		}
	}
}
@media screen and (max-width:@old_tablet-max) and (min-width:@mobile-small) {
	.custom-slider {
		.slider-tile {
			flex: 0 0 160px;
			.product-image {
			    min-height: 160px;
			}
		}
	}
}
@media screen and (max-width:@mobile-max) {
	.custom-slider {
		.custom-slider-inner::-webkit-scrollbar-track {
			visibility: visible;
		}
		.custom-slider-inner::-webkit-scrollbar-thumb {
			visibility: visible;
		}
		.product-tile-nav-arrows {
		    opacity: 1;
		}
	}
}
@media screen and (max-width:@old_tablet-max) and (min-width:@old_tablet-min) {
	.section-recommendations-containers .custom-slider {
		margin: 0;
	}
	.custom-slider .product-tile-nav-arrows {
	    opacity: 1;
	}
}