.checkout-progress-indicator {
    width: 100%;
    padding-top: 0;
    margin-left: 0;
    @media (min-width: @tablet-min) {
        width: calc(100% - 70px);
        padding-top: 10px;
        margin-left: 12.5%;
    }
    .step {
        float: left;
        width: 25%;
        text-transform: none;
        text-align: center;
        .step-inner {
            display: block;
            .step-top {
                display: block;
                border-bottom: 1px solid @grey-dark;
                .counter {
                    display: block;
                    height: 40px;
                    width: 40px;
                    position: relative;
                    margin: auto;
                    background: @grey-dark;
                    color: @white;
                    font-size: 16px;
                    line-height: 40px;
                    .counter-arrow {
                        display: block;
                        background: @grey-dark;
                        height: 10px;
                        width: 10px;
                        position: absolute;
                        left: 7px;
                        top: 19px;
                        z-index: -1;
                        transform: rotate(45deg);
                        @media (min-width: @tablet-min) {
                            height: 25px;
                            width: 25px;
                        }
                    }
                }
            }
            .step-bottom {
                display: block;
                padding-top: 15px;
                font-size: 16px;
                color: @grey-dark;
            }
        }
        &.active {
            .step-inner {
                .step-top {
                    border-color: @green;
                    .counter {
                        background: @green;
                        .counter-arrow {
                            background: @green; 
                        }
                    }
                }
                .step-bottom {
                    color: @green;
                }
            }
        }
        &.passed {
            .step-inner {
                .step-top {
                    border-color: @purple-dark;
                    .counter {
                        background: @purple-dark;
                        .fa {
                            color: @purple-dark; 
                            display: none;
                        }
                    }
                }
                .step-bottom {
                    color: @purple-dark;
                }
            }
        }
        a.step-inner:hover {
            text-decoration: none;
            .step-top {
                .counter {
                    .fa {
                        display: block;
                    }
                }
            }
        }
    }
    &.reduced {
    	.step {
    		width: calc(100% / 3);
    	}
    }     
}

@media (max-width: @mobile-max) {   
    .checkout-progress-indicator {
        .step {
            .step-inner {
                .step-top {
                    .counter {
                        height: 25px;
                        width: 25px;
                        font-size: 12px;
                        line-height: 25px;
                        .fa {
                            font-size: 18px;
                            line-height: 18px;
                            height: 18px;
                            width: 25px;
                            top: 14px;
                        }
                    }
                }
                .step-bottom {
                    font-size: 14px;
                    line-height: 14px;
                    padding-top: 10px;
                }
            }        
        }
    }
}