.error-page {
    margin-top: 30px;
    .error-page-container {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .error-page-cols {
        display: table-row;
    }
    .error-page-left,
    .error-page-right {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
    .error-page-left-inner {
        padding-right: 10%;
    }
    .error-page-right-inner {
        padding-left: 10%;
    }
    .error-bubble {
        display: block;
        width: 100%;
        height: auto;
    }
    .content-asset {
        color: @purple-dark;
        strong {
            color: @purple-dark;
        }
    }
    &.site-offline,    
    &.forbidden,    
    &.redirect {
        padding: 100px 20px;
    }
}

@media (max-width: 767px) {
     .error-page {
        .error-page-container,
        .error-page-cols,
        .error-page-left,
        .error-page-right {
            display: block;
            width: auto;
        }
        .error-page-left-inner {
            padding: 0 0 30px 0;
            max-width: 220px;
            margin: auto;
        }
        .error-page-right-inner {
            padding: 0;
            text-align: center;
        }
        &.site-offline,    
        &.forbidden {
            padding: 30px 10px;
        }
    }
    
}



.page-not-found-404 {
    background-color: @lavender-Violet;
    .show-for-small, .show-for-medium {
        display: none;
    }
    .sitewide {
        display: none;
    }

    .page-not-found-container {
        .inner-container {
            display        : flex;
            align-items    : center;
            justify-content: center;
            padding: 80px 0 30px;


            .page-not-found-left {
                width: 50%;

                h1 {
                    font-weight: bold;
                    font-size  : 55px;
                    color      : @Night-gider-gray;                

                }

                h2 {
                    font-weight: bold;
                    font-size  : 30px;
                    color      : @Night-gider-gray;

                }

                p {
                    font-size: 17px;
                    color    : @Night-gider-gray;
                    &.bold {
                       font-size: 14px;
                       font-weight: 600;
                       margin-top: 25px; 
                   img{
                        width: 20px;
                        margin-right: 8px;
                   } 
                       
                   }
                }
            }

            .page-not-found-right {
                width:28%;

                img {
                    width: 100%;
                }
            }

        }
    }
}

@media (max-width: @mobile-max) {
    .page-not-found-404 {
        background-color: @alice-Blue;
       .show-for-small{
          display: block;
        }
        .page-not-found-container {
            .inner-container {
                flex-direction: column-reverse;

            .page-not-found-left {
                width: 90%;

                h1 {
                    font-size: 34px;
                    margin : 0;
                }

                h2 {
                    font-weight: normal;
                    font-size  : 17px;


                }
            }

            .page-not-found-right {
                width: 90%;
               text-align: center;
               img{
                  width: 80%;
               }
               
            }

        }
    }
  }
}



@media screen and (min-width: @tablet-min) and (max-width: @tablet-max) {
    .page-not-found-404 {
        .show-for-medium {
          display: block;
        }
        .page-not-found-container {
            .inner-container {
                padding: 60px 52px;

                .page-not-found-left {
                    width: 50%;

                    h2 {
                        font-weight: normal;
                        margin-top : 13px;
                        font-size  : 17px;

                    }
                }

                .page-not-found-right {
                    width: 70%;

                }

            }

        }
    }
}

