.flyin {
	.flyin-close-ctr {
		position: fixed;
        background: @white;
		z-index: 5000;
		width: 100%;
		top: 0;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
	    padding: 8px 0;
		.flyin-close-ctr-wrapper {
			margin-bottom: 20px;
			box-sizing: border-box;
			padding: 0 0.75rem;
			width: 100%;
			max-width: 1140px;
			margin: 0 auto;
			text-align: right;
			display: flex;
		    align-items: center;
		    justify-content: space-between;
			.flyin-close {
				z-index: 5000;
                color: @red!important;
                border: 0;
			    font-size: 24px;
		        background-color: @white!important;
	            width: auto;
	            padding: 0;
			}
			.sizechat{
				font-size: 16px;
    			font-weight: 600;
    			line-height: normal;
			}
		}
	}
	.flyin-wrapper {
		position: absolute;
		left: 0;
		top: 0;
		background-color: @white;
		overflow: hidden;
		overflow-y: auto;
		z-index: 100;
		width: 100%;
		.flyin-inner {
			padding: 60px;
			box-sizing: border-box;
			padding: 100px 0 100px 0;
			width: 100%;
			max-width: 1140px;
			margin: 0 auto;
		}
	}
}
.main-wrapper {
	&.flyin-active {
		// To avoid scrolling up when opening the flyout just remove the following styles.
		// Please be aware that this could end up in two scrollbars (one for the page and one for the flyin.
		max-height: 100vh;
		overflow: hidden;
		z-index: 4;
	}
}

// Necessary for Android
.flyin {
	display: none;
}
.flyin {
	&.flyin-active {
		display: block;
	}
}