// Style used in Mobile and tablet menu and My account (all screens)
.flyinliststyle-leve1() {
	.ul-level-1 {
		z-index: 11;
		.li-level-1 {
			display: flex;
			width: 100%;
			border-bottom: 1px solid @grey-light;
			box-sizing: border-box;
			flex-direction: column;
			.a-level-1 {
				text-transform: none;
				font-weight: normal;
				font-size: 14px;
				line-height: 14px;
				width: 100%;
				padding: 0 0 0 20px;
				min-height: 51px;
				display: flex;
				flex-direction: column;
				text-align: right;
				justify-content: center;
				align-items: flex-start;
				box-sizing: border-box;
				background-color: @white;
			}
			.menu-item-toggle {
				background-color: @white;
				position: absolute;
				height: 50px;
				right: 0;
				align-items: center;
				font-size: 30px;
				line-height: 30px;
				text-align: right;
				padding-right: 16px;
				box-sizing: border-box;
				min-height: 50px;
				justify-content: center;
				display: flex;
				justify-content: flex-end;
				cursor: pointer;
			}
			&.active {
				.a-level-1 {
					//background-color: @violet-light;
					font-weight: 600;
				}
				.menu-item-toggle {
					background-color: @grey-lighter;
					font-weight: 600;
				}
			}
			&.account {
				> a {
					position: relative;
					&:before {
						.fonticon();
						content: '\f007';
						padding-right: 3px;
					}
				}
			}
			.asset-container-bottom, .asset-dummy-bottom {
				border: none;
				padding: 40px 20px 100px 20px;
				background-color: @white;
			}
			.asset-container-top {
				display: none;
			}
		}
	}
}
@media (max-width: 1279.5px) {
	.navigation {
		.flyinliststyle-leve1();
		//
		//
		//
		//
		.div-level-2 {
			display: none;
			z-index: 12;
			.ul-level-2 {
				.li-level-2 {
					position: relative;
					margin-top: 0 !important;
					// Flag floating
					&.float-column-1,
					&.float-column-2,
					&.float-column-3,
					&.float-column-4,
					&.float-column-5,
					&.float-column-6 {
						margin-top: 0;
					}
					.a-level-2 {
						text-transform: none;
						font-size: 14px;
						line-height: 14px;
						font-weight: normal;
						padding-left: 20px;
						color: @purple-dark;
						min-height: 51px;
						box-sizing: border-box;
						border-bottom: 1px solid @grey-light;
						padding: 0 0 0 20px;
						width: 100%;
						display: flex;
						align-items: center;
						background-color: @white;
						font-weight: 600;
					}
					.fa {
						background-color: @white;
						color: @purple-dark;
						font-size: 14px;
						line-height: 14px;
						box-sizing: border-box;
						height: 49px;
						position: absolute;
						top: 0;
					}
					&:last-of-type {
						.a-level-2 {
							border-bottom: none;
						}
					}
					&.active {
						.a-level-2 {
							background-color: @grey-lighter;
							font-weight: 600;
						}
						.menu-item-toggle {
							background-color: @grey-lighter;
							font-weight: 600;
						}
					}
					//
					//
					//
					//
					.div-level-3 {
						display: none;
						z-index: 13;
						.ul-level-3 {
							display: flex;
							flex-direction: column;
							.li-level-3 {
								height: 51px;
								display: flex;
								background-color: @white;
								.a-level-3 {
									background-color: @white;
									text-transform: none;
									font-size: 14px;
									line-height: 14px;
									font-weight: normal;
									padding-left: 20px;
									color: @purple-dark;
									height: 51px;
									box-sizing: border-box;
									border-bottom: 1px solid @grey-light;
									padding: 0 0 0 20px;
									width: 100%;
									display: flex;
									align-items: center;
									
								}
								.fa {
									color: @purple-dark;
									font-size: 14px;
									line-height: 14px;
									box-sizing: border-box;
									height: 49px;
								}
							}
						}
					}
				}
			}
		}
	}
}



//
//
//
//
// Style for menu only
//
@media (max-width: 1279.5px) {
	.navigation {
		.ul-level-1 {
			padding-top: 51px;
			display: flex;
			&::after {
				content: ' ';
				display: block;
				height: 60px;
				width: 100%;
			}
			.li-level-1 {
				z-index: 50;
				.menu-item-toggle {
					&.fa-angle-left {
						display: none;
					}
					&.fa-angle-right {
						width: 100%;
						background-color: transparent;
					}
				}
				.close-level-2 {
					display: none;
				}
				&.active {
					position: absolute;
					height: 100%;
					z-index: 55;
					.a-level-1 {
						text-align: center;
						justify-content: center;
						align-items: center;
						//width: calc(100% - 70px);
						margin-left: 30px;
						padding: 0;
						position: fixed;
						padding-left: 55px;
						width: calc(100% - 55px - 55px);
						min-width: calc(265px - 50px);
						max-width: calc(400px - 50px);
						z-index: 100;
						left: 0;
						margin: 0;
						top: 0;
					}
					.menu-item-toggle {
						&.fa-angle-left {
							display: flex;
							left: 0;
							position: absolute;
							top: 0;
							width: 50px;
							padding: 0;
							background-color: @white;
							justify-content: flex-start;
							padding-left: 15px;
							z-index: 101;
    						position: fixed;
						}
						&.fa-angle-right {
							display: none;
						}
						
					}
					.navigation-close-btn {
						&.close-level-2 {
							width: 30px;
							height: 50px;
							display: flex;
							justify-content: flex-end;
							align-items: center;
							padding-right: 15px;
							font-size: 24px;
							line-height: 50px;
							color: @red;
							background-color: @white;
							position: fixed;
							z-index: 99;
							width: calc(100% - 55px);
							min-width: 265px;
							max-width: 400px;
							left: 0;
							box-sizing: border-box;
							top: 0;
							cursor: pointer;
							.fa {
								font-size: 24px;
								line-height: 50px;
								cursor: pointer;
							}
							&:hover {
								color: @red-dark;
							}
						}
					}
					.div-level-2 {
						height: 100vh;
						display: flex;
						background-color: @white;
						//overflow-y: scroll;
						//-webkit-overflow-scrolling: touch;
						.asset-container-top {
							display: none;
						}
						.ul-level-2 {
							width: 100%;
							.li-level-2 {
								&.has-no-sub-cats {
									.a-level-2 {
										background-color: @white;
										font-weight: normal; 
									}
								}
								&.has-sub-cats {
									.a-level-2 {
										background-color: @grey-lighter;
									}
								}
								.menu-item-toggle {
									background: none;
									background-color: transparent;
									width: 100%;
								}
								&.is-special-category {
									background-color: @white;
									.a-level-2,
									.a-level-3 {
										color: @green;
										font-weight: 600;	
										background-color: @white;
									}
									.menu-item-toggle {
										display: none;
									}
									.div-level-3 {
										display: flex !important;
										.ul-level-3 {
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: @desktop-min) {
	.navigation {
		.ul-level-1 {
			.li-level-1 {
				height: 35px;
				.a-level-1 {
					height: 35px;
					display: flex;
					justify-content: center;
					align-content: center;
					line-height: 35px;
					position: relative;
				}
				.menu-item-toggle {
					display: none;
				}
				.navigation-close-btn { 
					display: none;
				}
				//
				//
				.asset-container-top {
					display: flex;
				}
				.div-level-2 {
					visibility: hidden;
					.asset-container-bottom {
						display: flex;
					}
				}
				&.hover {
					&.has-sub-cats {
						.a-level-1 {
							&::after {
								content: '\f0d7';
								/*background: @grey-light;
								width: 50px;
								height: 5px;*/
								color: @themeSecondaryColor;
								font-family: 'FontAwesome';
								font-size: 40px;
								display: block;
								position: absolute;
								bottom: -20px;
								z-index: 10;
							}
						}
					}
					.div-level-2  {
						display: flex;
						visibility: visible;
						width: calc(100% + 3000px);
						position: absolute;
						background: @white;
						left: 0;
						margin-left: -1500px;
						margin-right: -1500px;
						padding: 30px 1500px 20px 1500px;
						box-sizing: border-box;
						box-shadow: 0 4px 4px rgba(44,22,61, 0.2);
						border-top:  1px solid @grey-light;
						flex-direction: column;
						//
						//
						&.have-asset-at-bottom {
							//
							//
							&.flyout-columns-number-default,
							&.flyout-columns-number-null {
								.ul-level-2 {
									width: 100%; 
									padding-right: 20%; //20% for asset
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: calc(100% / 4); // Equal spaces for 4 remain columns 
										}
										&.asset-container-bottom {
											width: 20%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: calc(100% / 5);
										}
										&.float-column-2 {
											left: 20%; //2nd
											width: calc(100% / 5);
										}
										&.float-column-3 {
											left: 40%; //3rd
											width: calc(100% / 5);
										}
										&.float-column-4 {
											left: 60%; //4th
											width: calc(100% / 5);
										}
										&.float-column-5,
										&.float-column-6 {
											left: 80%; //5th
											width: calc(100% / 5);
										}
									}
								}
							}
							&.flyout-columns-number-1 {
								.ul-level-2 {
									width: 100%; 
									padding-right: 20%; //20% for asset
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: 100%; // 100% but exclude 20% of asset
										}
										&.asset-container-bottom {
											width: 20%;
										}
										&.float-column-1,
										&.float-column-2,
										&.float-column-3,
										&.float-column-4,
										&.float-column-5,
										&.float-column-6 {
											left: 0; //1st
											width: 80%;
										}
									}
								}
							}
							&.flyout-columns-number-2 {
								.ul-level-2 {
									width: 100%; 
									padding-right: 20%; //20% for asset  
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: 50%; // 50% each but exclude 20% of asset
										}
										&.asset-container-bottom {
											width: 20%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 40%;
										}
										&.float-column-2,
										&.float-column-3,
										&.float-column-4,
										&.float-column-5,
										&.float-column-6 {
											left: 40%; //2nd
											width: 40%;
										}
									}
								}
							}
							&.flyout-columns-number-3 {
								.ul-level-2 {
									width: 100%; 
									padding-right: 33.3333332%; //33.3333332% for asset
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: calc(100% / 2); // Equal spaces for 2 remain columns 
										}
										&.asset-container-bottom {
											width: 33.3333332%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 33.3333332%;
										}
										&.float-column-2 {
											left: 33.3333332%; //2nd
											width: 33.3333332%;
										}
										&.float-column-3,
										&.float-column-4,
										&.float-column-5,
										&.float-column-6 {
											left: 66.6666664%; //3rd
											width: 33.3333332%;
										}
									}
								}
							}
							&.flyout-columns-number-4 {
								.ul-level-2 {
									width: 100%; 
									padding-right: 25%; //25% for asset
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: calc(100% / 3); // Equal spaces for 3 remain columns 
										}
										&.asset-container-bottom {
											width: 25%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 25%;
										}
										&.float-column-2 {
											left: 25%; //2nd
											width: 25%;
										}
										&.float-column-3 {
											left: 50%; //3rd
											width: 25%;
										}
										&.float-column-4,
										&.float-column-5,
										&.float-column-6 {
											left: 75%; //4th
											width: 25%;
										}
									}
								}
							}
							&.flyout-columns-number-5 {
								.ul-level-2 {
									width: 100%;
									padding-right: 20%; //20% for asset
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: calc(100% / 4); // Equal spaces for 4 remain columns 
										}
										&.asset-container-bottom {
											width: 20%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 20%;
										}
										&.float-column-2 {
											left: 20%; //2nd
											width: 20%;
										}
										&.float-column-3 {
											left: 40%; //3rd
											width: 20%;
										}
										&.float-column-4 {
											left: 60%; //4th
											width: 20%;
										}
										&.float-column-5,
										&.float-column-6 {
											left: 80%; //5th
											width: 20%;
										}
									}
								}
							}
							&.flyout-columns-number-6 {
								.ul-level-2 {
									width: 100%; 
									padding-right: 16.6666667%; //16.6666667% for asset
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: calc(100% / 5); // Equal spaces for 5 remain columns 
										}
										&.asset-container-bottom {
											width: 16.6666667%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 16.6666667%;
										}
										&.float-column-2 {
											left: 16.6666667%; //2nd
											width: 16.6666667%;
										}
										&.float-column-3 {
											left: 33.3333334%; //3rd
											width: 16.6666667%;
										}
										&.float-column-4 {
											left: 50%; //4th
											width: 16.6666667%;
										}
										&.float-column-5 {
											left: 66.6666668%; //5th
											width: 16.6666667%;
										}
										&.float-column-6 {
											left: 83.3333335%; //6th
											width: 16.6666667%;
										}
									}
								}
							}
						}
						//
						//
						//
						//
						&.not-have-asset-at-bottom {
							//
							//
							&.flyout-columns-number-default,
							&.flyout-columns-number-null {
								.ul-level-2 {
									width: 100%;
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: 20%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: calc(100% / 5);
										}
										&.float-column-2 {
											left: 20%; //2nd
											width: calc(100% / 5);
										}
										&.float-column-3 {
											left: 40%; //3rd
											width: calc(100% / 5);
										}
										&.float-column-4 {
											left: 60%; //4th
											width: calc(100% / 5);
										}
										&.float-column-5,
										&.float-column-6 {
											left: 80%; //5th
											width: calc(100% / 5);
										}
									}
								}
							}
							&.flyout-columns-number-1 {
								.ul-level-2 {
									width: 100%;
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: 100%;
										}
										&.float-column-1,
										&.float-column-2,
										&.float-column-3,
										&.float-column-4,
										&.float-column-5,
										&.float-column-6 {
											left: 0; //1st
											width: 100%;
										}
									}
								}
							}
							&.flyout-columns-number-2 {
								.ul-level-2 {
									width: 100%;
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: 50%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 50%;
										}
										&.float-column-2,
										&.float-column-3,
										&.float-column-4,
										&.float-column-5,
										&.float-column-6 {
											left: 50%; //2nd
											width: 50%;
										}
									}
								}
							}
							&.flyout-columns-number-3 {
								.ul-level-2 {
									width: 100%;
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: 33.3333332%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 33.3333332%;
										}
										&.float-column-2 {
											left: 33.3333332%; //2nd
											width: 33.3333332%;
										}
										&.float-column-3,
										&.float-column-4,
										&.float-column-5,
										&.float-column-6 {
											left: 66.6666664%; //3rd
											width: 33.3333332%;
										}
									}
								}
							}
							&.flyout-columns-number-4 {
								.ul-level-2 {
									width: 100%;
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: 25%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 25%;
										}
										&.float-column-2 {
											left: 25%; //2nd
											width: 25%;
										}
										&.float-column-3 {
											left: 50%; //3rd
											width: 25%;
										}
										&.float-column-4,
										&.float-column-5,
										&.float-column-6 {
											left: 75%; //4th
											width: 25%;
										}
									}
								}
							}
							&.flyout-columns-number-5 {
								.ul-level-2 {
									width: 100%;
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: 20%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 20%;
										}
										&.float-column-2 {
											left: 20%; //2nd
											width: 20%;
										}
										&.float-column-3 {
											left: 40%; //3rd
											width: 20%;
										}
										&.float-column-4 {
											left: 60%; //4th
											width: 20%;
										}
										&.float-column-5,
										&.float-column-6 {
											left: 80%; //5th
											width: 20%;
										}
									}
								}
							}
							&.flyout-columns-number-6 {
								.ul-level-2 {
									width: 100%;
									.li-level-2 {
										&.has-sub-cats, 
										&.has-no-sub-cats {
											width: 16.6666667%;
										}
										&.float-column-1 {
											left: 0; //1st
											width: 16.6666667%;
										}
										&.float-column-2 {
											left: 16.6666667%; //2nd
											width: 16.6666667%;
										}
										&.float-column-3 {
											left: 33.3333334%; //3rd
											width: 16.6666667%;
										}
										&.float-column-4 {
											left: 50%; //4th
											width: 16.6666667%;
										}
										&.float-column-5 {
											left: 66.6666668%; //5th
											width: 16.6666667%;
										}
										&.float-column-6 {
											left: 83.3333335%; //6th
											width: 16.6666667%;
										}
									}
								}
							}
						}
						//
						//
						// Flag floating
						&.have-asset-at-bottom,
						&.not-have-asset-at-bottom {
							.ul-level-2 {
								.li-level-2 {
									&.float-column-1,
									&.float-column-2,
									&.float-column-3,
									&.float-column-4,
									&.float-column-5,
									&.float-column-6 {
										position: absolute;
										z-index: 9;
									}
								}
							}
						}
						//
						.asset-container-top {
							width: 100%;
							.content-asset {
								padding-bottom: 20px; //padding only
								
							}
						}
						.ul-level-2 {
							background: @white;
							position: relative;
							box-sizing: border-box;
							display: flex;
							flex-wrap: wrap;

							.li-level-2 {
								flex-direction: column;
								line-height: 30px;
								&.is-special-category {
									.a-level-2,
									.a-level-3 {
										color: @green;
										font-weight: 600;	
									}
								}
								.div-level-3 {
									display: flex !important; // Necessary because of the toggle function on Mobile
								}
								&.count-lv2-2 {
									&.special-category-next-1 {
										//position: absolute;
										//left: 0;
										margin-top: calc((30px * 1) + 20px);
									}
									&.special-category-next-2 {
										//position: absolute;
										//left: 0;
										margin-top: calc((30px * 2) + 20px);
									}
									&.special-category-next-3 {
										//position: absolute;
										//left: 0;
										margin-top: calc((30px * 3) + 20px);
									}
									&.special-category-next-4 {
										//position: absolute;
										//left: 0;
										margin-top: calc((30px * 4) + 20px);
									}
									&.special-category-next-5 {
										//position: absolute;
										//left: 0;
										margin-top: calc((30px * 5) + 20px);
									}
									&.special-category-next-6 {
										//position: absolute;
										//left: 0;
										margin-top: calc((30px * 6) + 20px);
									}
								}
								&.has-sub-cats {
									padding-bottom: 20px;
									.a-level-2 {
										font-weight: 600;
										color: @purple-medium;
									}
								}
								&.has-no-sub-cats {
									height: 30px;
								}
								&.asset-container-bottom {
									position: absolute;
									right: 0;
									top: 0;
									height: 100%;
								}
								.a-level-2 {
									white-space: nowrap;
									&:hover {
										text-decoration: underline;
									}
								}
							}
						}
					}
				}
				//
				//
				//
				//
				//
				&.force-column-style {
					.ul-level-2 {
						flex-direction: column;
						align-content: flex-start;
						max-height: 500px;
					}
				}
			}
		}
	}
}

//
//
//
//
//////////////////////
// FLYIN BASE
//////////////////////
//
.flyin-account-wrapper,
.navigation-close-area, 
.mobile-navigation-top-buttons {
	display: none;
}
//
// Mixins for ACCOUNT and NAV flyins
.flyin-main-wrapper() {
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	z-index: 999;
	height: 100vh;
	display: flex;
	flex-direction: row;
}
.flyin-inner-wrapper() {
	display: flex;
	overflow-y: scroll;
	flex-direction: column;
	background: @white;
	position: absolute;
	height: calc(100% + 60px);
	justify-content: flex-start;
	width: calc(100% - 55px);
	min-width: 265px;
	max-width: 400px;
	li {
		min-height: auto;
		a {
			min-height: 50px;
		}
	}
}
.flyin-bg() {
	display: flex;
	background: rgba(0, 0, 0, 0.75);
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: fixed;
}
.flyin-header() {
	display: flex;
	background-color: @white;
	height: 50px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px 0 20px;
	box-sizing: border-box;
	top: 0;
	left: 0;
	z-index: 9;
	width: 100%;
	min-width: 265px;
	max-width: 400px;
	.navigation-close-btn {
		font-size: 24px;
		line-height: 50px;
		color: @red;
		cursor: pointer;
		.fa {
			font-size: 24px;
			line-height: 50px;
			cursor: pointer;
		}
		&:hover {
			color: @red-dark;
		}
	}
}
//
// When opened
.header-wrapper {
	//
	//
	//
	// MOBILE MENU
	// 
	&.menu-opened {
		.header-account {
			position: relative;
		}
		.flyinheader-trigger {
			left: 0;
			position: absolute;
			.fa-bars {
				display: flex;
				height: 100%;
				align-items: center;
			}
		}
		.navigation {
			overflow: auto;
			//overflow-y: scroll;
			//-webkit-overflow-scrolling: touch;
			.flyin-main-wrapper();
			.menu-category {
				.flyin-inner-wrapper();
				.flyinliststyle-leve1();
				.mobile-navigation-top-buttons {
					.flyin-header();		
					position: fixed;
					z-index: 51;
					width: calc(100% - 55px);
					.navigation-home-btn {
						font-size: 20px;
						line-height: 50px;
						color: @purple-dark;
						cursor: pointer;
						.fa {
							font-size: 20px;
							line-height: 50px;
							cursor: pointer;
						}
					}	
				}
			}
			.navigation-close-area {
				.flyin-bg();
			}
		}
	}
	//
	//
	//
	// MY ACCOUNT
	// 
	&.account-opened {
		.flyin-account-wrapper {
		@media (max-width: @mobile-max){
				 overflow-y:scroll;
				 padding-bottom:100px;
				}
			.flyin-main-wrapper();
			.flyinliststyle-leve1(); 
			.asset-container-bottom, .asset-dummy-bottom {
				border-bottom: none !important;
				padding: 40px 20px 100px 20px;
			}
			.account-category {
			   @media (max-width: @mobile-max){
			       padding-bottom: 50px;      
                }
				.flyin-inner-wrapper();
				padding-top: 51px;
				.li-level-1 {
					&.active {
						.a-level-1 {
							color: @blue;
						}
					}
					&.logout-link {
						.a-level-1 {
							color: @red;	
						}
					}
				}
				.mobile-navigation-top-buttons {
					.flyin-header();
					position: fixed;
					z-index: 51;
					width: calc(100% - 55px);	
					.mobile-navigation-top-text {
						font-weight: 600;
						font-size: 16px;
					}	
				}
			}
			.navigation-close-area {
				.flyin-bg();
			}
		}
	}
	//
	//
}
//
//
//
.flyinheader-active {
	overflow: hidden;
	height: 100%;
	body {
		overflow: hidden;
		height: 100%;
		@media (max-width: @tablet-max) {
			position: fixed;
		}
	}
	.main-wrapper {
		overflow: hidden;
	}
	.GDPR {
		display: none !important;
	}
	&.flyinheader-account-active {
		.header-menu {
			@media (max-width: @tablet-max) {
				display: none !important;
			}
		}
	}

}
//
//
// necessary for iPad iOS 11
@media (min-width: @tablet-min) and (max-width: @tablet-max) {
	.li-level-1 {
		position: relative;
		&.active {
			position: absolute;
			top: 51px;
		}
		.menu-item-toggle {
			top: 0 !important;
		}
	}
}