.input-text, .input-search {
	position: relative;
	border: 1px solid @grey-dark;
	border-radius: 0;
	.box-sizing(border-box);
	font-size: @font-size-default;
	height: @input-height;
	padding: (((@input-height - @input-line-height) - 2) / 2) 7px (((@input-height - @input-line-height) - 2) / 2) 9px;
	margin: 0;
	background-color: @grey-lighter;
	color: @purple-dark;
	vertical-align: middle;
	width: 100%;
	-webkit-appearance: none;
	&:focus {
		border-color: @grey-dark;
	}
}
input[type="number"] {
	padding-right: 8px;
}

textarea {
	display: block;
	border: 1px solid @grey-dark;
	.border-radius-default();
	.box-sizing(border-box);
	font-size: @font-size-default;
	height: (@input-height * 5);
	padding: ((@input-height - @line-height-default) / 2) 9px;
	margin: 0;
	background-color: @white;
	color: @purple-dark;
	width: 100%!important;
	-webkit-appearance: none;
	&:focus {
		border-color: @grey-dark;
	}
}

select:not(div.tt-o-selectbox>select),
div.selector {
	border: 1px solid @grey-dark;
	border-radius: 0;
	.box-sizing(border-box);
	font-size: @font-size-default;
	line-height: @input-line-height;
	height: @input-height;
	cursor: pointer;
	color: @purple-dark;
	padding: 0;
	margin: 0;
	background-color: @white;
	text-indent: 5px;
	vertical-align: middle;
	text-align: left;
	width: 100%!important;
	position: relative;
	text-transform: none;
	&:focus {
		border-color: @grey-dark;
	}
	option {
		background: @white;
	}
}

div.selector {
	background: url(../images/bg_selector-arrow.png) no-repeat right center @white;
	background-size: 21px 5px;
	background-color: @grey-lighter;
	span {
		width: auto!important;
		color: @purple-dark;
		font-size: @font-size-default;
		line-height: (@input-height - 1);
		height: (@input-height - 1);
		margin: 0;
		padding: 0 25px 0 0;
		text-shadow: none;
		background-image: none;
		white-space: normal;
		text-indent: 9px;
	}
	select {
		font-family: @font-family-default;
		font-size: @font-size-default;
		line-height: @input-line-height;
		height: (@input-height - 1);
		top: 0;
		.opacity(0);
	}
	&.hover {
		background: url(../images/bg_selector-arrow.png) no-repeat right center @white;
		background-size: 21px 5px;
	}
	&.focus {
		background: url(../images/bg_selector-arrow2.png) no-repeat right center @white;
		background-size: 21px 5px;
		border-color: @grey-dark;
	}
}

input[type="radio"] {
	width: ((@radio-width / 2) + 6);
	height: ((@radio-height / 2) + 6);
	cursor: pointer;
}
div.radio {
	border: 1px solid @grey-dark;
	border-radius: ((@radio-width / 4) + 3);
	width: (@radio-width / 2);
	height: (@radio-height / 2);
	margin: 0;
	padding: 2px;
	background-color: @white;
	cursor: pointer;
	span {
		display: block;
		width: (@radio-width / 2);
		height: (@radio-height / 2);
		background-image: none;
		cursor: pointer;
		input {
			width: ((@radio-width / 2) + 6);
			height: ((@radio-height / 2) + 6);
			margin-left: -3px!important;
			margin-top: -3px!important;
		}
		&.checked {
			.sprite-retina(@radio);
		}
	}
}

input[type="checkbox"] {
	width: 38px;
	height: 38px;
	cursor: pointer;
}
.radio-override .checker {
  border-color: #9A8DC1;
  border-radius: 25px;
  width: 20px;
  min-width: initial;
  height: 20px;
  padding: 3px;
}

.radio-override .checker .checked:before {
  background-image: none;
  background-color: #13770D;
  border-radius: 25px;
  margin-left: 4px !important;
  margin-top: -3px !important;
  width: 17px;
  height: 17px;
  content: '';
}

div.checker {
	border: 1px solid @grey-dark;
	.border-radius-default();
	width: 38px;
    min-width: 38px;
	height: 38px;
	margin: 0;
	background-color: @white;
	cursor: pointer;
	span {
		display: block;
		margin-top: 3px;
		margin-left: 3px;
		width: 100%;
		height: 100%;
		background-image: none; 
		cursor: pointer;
		input {
			width: 100% !important;
			height: 100% !important;
		}
		&.checked {
			&::before {
				font-family: FontAwesome !important;
                color: @green;
				content: @fa-var-check !important;
				top: 6px;
				position: absolute;
				left: 1px;
				font-size: 18px;
				width: 100%;
				text-align: center;
			}
		}
	}

	&:hover, &.hover, &:focus, &.focus {
		span {
			background-image:none;
			&.checked {
			}
		}
	}
}

.form-row {
	.field {
		&:before {
			.fonticon(18px, 18px);
			display: block;
			position: absolute;
			z-index: 1;
			top: (((@input-height - @input-line-height) - 2) / 2);
			right: 8px;
			width: 20px;
			text-align: center;
			color: @grey-dark;
		}
	}
	&.is-gift {
		.field {
			margin-left: 0;
		}
	}
	&.gift-message-text {
		.input-textarea {
			height: 100px;
		}
	}
	&.icon-username {
		.field {
			&:before {
				content: "\f007";
			}
		}
	}
	&.icon-info, &.icon-tooltip {
		.field {
			&:before {
				display: block !important;
				content: "\f059" !important;
				color: @blue !important;
			}
		}
	}
	&.validation-success {
		.field {
			div.selector, select, textarea, .input-search {
				border-color: @grey-dark;
				color: @purple-dark;
			}
			div.selector {
				background-image: url(../images/bg_selector-arrow-green.png);
				span {
					color: @green;
				}
				&.hover {
					background-image: url(../images/bg_selector-arrow-green.png);
				}
				&.focus {
					background-image: url(../images/bg_selector-arrow-green2.png);
				}
			}
		}
	}
	&.validation-error {
		.field {
			display: block;
			div.selector, select, textarea, .input-text, .input-search {
				border-color: @red;
				color: @red;
			}
			div.selector {
				background-image: url(../images/bg_selector-arrow-red.png);
				span {
					color: @red;
				}
				&.hover {
					background-image: url(../images/bg_selector-arrow-red.png);
				}
				&.focus {
					background-image: url(../images/bg_selector-arrow-red2.png);
				}
			}
		}
		.error-msg {
			display: block;
		}
	}
	&.validation-database-error {
		.field {
			div.selector, select, textarea, .input-text, .input-search {
				border-color: @red;
				color: @red;
			}
			div.selector {
				background-image: url(../images/bg_selector-arrow-red.png);
				span {
					color: @red;
				}
				&.hover {
					background-image: url(../images/bg_selector-arrow-red.png);
				}
				&.focus {
					background-image: url(../images/bg_selector-arrow-red2.png);
				}
			}
		}
		.error-msg {
			display: block;
		}
	}
}

.error-msg, .tooltip-msg {
	display: none;
	background: @red;
	color: @white;
	padding: 6px 8px;
	.border-radius-default();
	position: relative;
	z-index: 1;
	width: auto;
	pointer-events: none;
	margin-top: 5px;
	.close-icon {
		position: relative;
		left: 4px;
		pointer-events: auto;
		cursor: pointer;
	}

	&.right {
		top:   8px;
		right: auto;
		left:  410px;
		&:before {
			line-height: 20px;
			right:       initial;
			left:        -4px;
			bottom:      -1px;
			.fa-icon-rotate(90deg, 1);
		}
	}
}

.tooltip-msg {
	display:    block;
	z-index:    2;
	color:      @purple-dark;
	background: @grey-lighter;
}

.button-style {
	.field {
		
		div.selector {
			border-color: @purple;
			color: @white;
			background-color: @purple;
			&:hover,
			&.hover {
				border-color: @purple-light;
				background-color: @purple-light;
			}
			&:focus,
			&.focus {
				border-color: @grey-dark;
				color: @purple-dark;
				background-color: @white;
			}
		}
		div.selector {
			background-image: url(../images/bg_selector-arrow-white.png);
			span {
				color: @white;
			}
			&.hover {
				background-image: url(../images/bg_selector-arrow-white.png);
			}
			&.focus {
				background-image: url(../images/bg_selector-arrow2.png);
				span {
					color: @purple-dark;
				}
			}
		}
	}
}

.freetextsearchinput::-ms-clear {
	display: none !important;
}

.form-row-password {
	position: relative;
	.icon-password {
		position: absolute;
		font-size: 20px;
		width: 40px;
		height: 50px;
		line-height: 50px;
		right: 0;
		bottom: 0;
		top: 0;
		&.show  {
			&:before {
				content:"\f070";
				color: black;
			}
		}
		&:before {
			content:"\f06e";
			color: black;
		}
		&:hover {
			cursor: pointer;
		}
	}
}