.item-list {
	width: 100%;	
	th,
	td {		
		text-align: left;
		vertical-align: top;
        &:first-child {
            padding-left: @page-padding-desktop;
        }
        &:last-child {
            padding-right: @page-padding-desktop;
        }
	}
	th {
		padding: 10px 10px;
		font-weight: 600;
		background: @grey-lighter;
	}
	td {
		padding: 20px 10px;
		border-bottom: 1px solid @grey-dark;
	}
	&.order-history-items {
		th {
			background: #FFF;
		}	
		
	}
	&.item-list-closed .product-tile {
		border:none;
	}
	.no-border {
		border-bottom:unset!important;
	}
}

@media (min-width: @tablet-min) and (max-width: @tablet-max) {   
    .item-list {
        th,
        td {        
            &:first-child {
                padding-left: @page-padding-tablet;
            }
            &:last-child {
                padding-right: @page-padding-tablet;
            }
        }
    }
}

@media (max-width: @mobile-max) {   
    .item-list {
        th,
        td {        
            &:first-child {
                padding-left: @page-padding-mobile;
            }
            &:last-child {
                padding-right: @page-padding-mobile;
            }
        }
    }
}