@media (min-width: @desktop-min) {
	.header-wrapper-menu{
		.navigation{
			.ul-level-1 {
				.li-level-1 {
					.a-level-1 {
						color: @themeTextColor;
						.flyout-pointer-wrapper {
							color: @purple-dark;
						}
					}
					.div-level-2 {
					}
				}
			}
		}
	}
	.ul-level-1 {
		display: flex;
		width: 100%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.li-level-1 {
			.a-level-1 {
				color: @purple-dark;
				.flyout-pointer-wrapper {
					color: @purple-dark;
				}
			}
			.div-level-2 {
				display: none;
			}
		}
	}
}