.message, .message-sticky {	
	padding: 6px 0;
	margin: 20px 0;
	background: @grey-lighter;
	border-radius: 3px;
	.message-inner {
		.message-content {
			position: relative;
			.button {
				position: absolute;
				right: 0;
				top: calc(50% - 20px);
				z-index: 1;
				color: @white!important;
				&:hover {
					color: @white!important;
				}
			}	
		}
	}
}
.error-form {
	color:@white;
	background-color: @red;
	padding:5px 0;
	border-radius: 5px;
	&.message {
		background-color:@red; 
		color: @white;
		a {
			color: @white;
		}
	}
}
.notfounderror{
	color:@red; 
	&.message {
		background-color:@red; 
		color: @white;
		a {
			color: @white;
			text-decoration: underline!important;
		}
	}
}
.success-form {
	color:@green;
	&.message, &.message-sticky {
		background-color:@green; 
		color: @white;
	}
} 
.warning-form {
	color:@yellow;
	&.message {
		background-color:@yellow; 
		color: @white;
	}
}