.mobile-menu {
	display: none;
	background: @white;
	position: relative;
	box-shadow: 0 0 10px 0 @purple-dark;
	top: -50px;
    margin-bottom: -50px;
	z-index: 10;
	.header-mobile-navitem {
		display: none!important;
	}
	.user-menu {
		text-transform: none;
		margin-bottom: 10px;

		.user-wishlist {
			display: none;
		}
		.user-account {
			display: block;
			float: left;
			width: auto;
		}
		.user-account,
		.user-register,
		.user-logout {
			display: block;
			float: left;
			width: auto;
			margin-right: 10px;
		}
		.order-tracking-link {
			display: block;
			float: right;
			width: auto;
		}
	}
	.search {
		position: relative;
		margin-bottom: 10px;
		.input-search {
			.searchfield-input();
		}
		.button {
			.searchfield-button();
		}
	}
	.navigation {
		li {
			a, span {
				display: block;
				padding: 8px 0;
				border-bottom: 1px solid @grey-dark;
			}
			.fa {
				display: block;
				height: 30px;
				line-height: 30px;
				width: 30px;
				float: right;
				font-size: 14px;
				text-align: center;
				cursor: pointer;
				border-bottom: 1px solid @grey-dark;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.ul-level-1 {
			.li-level-1 {
				display: block;
				.a-level-1 {
					text-transform: none;
					font-weight: 600;
					padding-left: 20px;
				}
				&.has-sub-cats {
					.a-level-1 {
						float: left;
						.calc(width, "100% - 80px");
					}
				}
				&.account {
					> a {
						position: relative;
						&:before {
							.fonticon();
							content: '\f007';
							padding-right: 3px;
						}
					}
				}
				.div-level-2 {
					clear: both;
					display: none;
					.ul-level-2 {
						.li-level-2 {
							.a-level-2 {
								text-transform: none;
								font-size: 14px;
								font-weight: 400;
								padding-left: 30px;
								color: @purple-dark;
								height: 44px;
								box-sizing: border-box;
							}
							.fa {
								color: @purple-dark;
								font-size: 14px;
								box-sizing: border-box;
							}
							.div-level-3 {
								clear: both;
								display: none;
								.ul-level-3 {
									.li-level-3 {
										.a-level-3 {
											font-size: 14px;
											font-weight: 400;
											padding-left: 30px;
											color: @purple-dark;
											border-bottom: 0 none;
										}
										&:last-child {
											border-bottom: 1px solid @grey-dark;
										}
									}
								}
							}
							&.has-sub-cats {
								.a-level-2 {
									float: left;
									.calc(width, "100% - 80px");
								}
							}
						}
					}
				}
			}
		}
	}
}
.topbar-mobile {
	position: fixed;
	top: 0;
	background-color: @purple;
	color: @white;
	width: 100%;
	height: 40px;
	z-index: 3;
	.topbar-mobile-menu {
		height: 40px;
		width: 40px;
		display: block;
		float: left;
		.topbar-mobile-menu-dropdown {
			position: absolute;
			width: 100%;
			margin-top: 50px;
		}
		.menu-toggle {
			position: relative;
			z-index: 11;
			height: 40px;
			width: 60px;
			border: 0;
			border-radius: 0;
			margin: 0;
			font-size: 25px;
			padding: 0;
			line-height: 40px;
			background-color: @purple;
			&.active {
				color: @purple !important;
				background-color: @white;
			}
		}

	}
	.topbar-mobile-account {
		height: 40px;
		display: block;
		float: right;
		.user-menu {
			&.opened {
				a {
					position: relative;
					z-index: 11;
					background-color: @white !important;
					color: @purple !important;
				}
			}
			a {
				cursor: pointer;
			}
			.user-name {
				color: @white;
				display: block;
				float: left;
				width: auto;
				margin-right: 15px;
				line-height: 40px;
				font-size: 14px;
				@media (max-width: @mobile-max) {
					display: none;
				}
			}
			.user-account, .user-register {
				color: @white;
				display: block;
				float: left;
				line-height: 40px;
				padding: 0 20px 0 20px;
				font-size: 14px;
			}
		}
	}
	.topbar-mobile-search {
		display: block;
		float: right;
		.header-mobile-navitem-icon {
			height: 40px;
			color: @white;
			display: block;
			float: left;
			line-height: 40px;
			font-size: 20px;
			padding: 0 20px 0 20px;
			&.active {
				color: @purple;
				background-color: @white;
				position: relative;
				z-index: 11;
			}
		}
		.mobile-search-wrapper {
			display: none;
			width: 100%;
			position: absolute;
			top: 40px;
			left: 0;
			padding: 9px 0;
			box-sizing: border-box;
			background-color: @white;
			z-index: 10;
			.input-search {
				display: block;
				float: left;
				width: calc(100% - 60px);
				padding: 20px 0 20px 20px;
				border: none !important;
				font-size: 14px !important;
				color: @font-color-default !important;
			}
			.text-search-btn {
				display: block;
				float: right;
				width: 60px;
				padding: 10px 0 10px 0;
				background-color: @white;
				border: none;
				color: @font-color-default !important;
				font-size: 18px !important;
				font-weight: 600;
			}
		}
	}
	.topbar-mobile-community {
		float: right;
		margin-top: 8px;
		a {
			color: white;
		}
	}
	.topbar-mobile-minicart {
		height: 40px;
		display: block;
		float: right;
		display: none;
	}
}
.coremenu-mobile {
	height: 50px;
	margin-top: 40px;
	padding: 5px 20px;
	box-sizing: border-box;
	background-color: @white;
	box-shadow: 0 0 10px 0 @purple-dark;
	.primary-logo {
		margin: 0;
		height: 40px;
		position: absolute;
		a {
			display: block;
		}
		img {
			display: block;
			width: auto;
			height: 40px;
		}
	}
	.primary-minicart {
		display: block;
		width: 150px !important;
		position: relative !important;
		height: 30px !important;
		float: right;
		margin-top: 4px;
	}
}

.mobile-menu {
	.navigation {
		li {
			.fa {
				width: 80px !important;
				height: 44px !important;
				line-height: 44px !important;
				background: @grey-lighter;
				color: @font-color-default;
				&.expanded {
					background: @purple;
                    color: @white!important;
				}
			}
		}
	}
}

@media (max-width: @mobile-max) {
	.ul-level-2 {
		.li-level-2 {
			.fa {
				height: 46px !important;
				line-height: 46px !important;
			}
		}
	}
}

.mobile-account-menu {
	display: none;
	z-index: 10;
	@media (min-width: @tablet-min) {
		display: none !important;
	}
	width: 100%;
	position: absolute;
	left: 0;
	box-sizing: border-box;
	background-color: @grey-lighter;
	box-shadow: 0 0 10px 0 @purple-dark;
	.mobile-account-menu-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: space-between;
		align-self: stretch;
		flex-wrap: nowrap;
		width: 100%;
		justify-content: space-between;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		li {
			display: block;
			width: 100%;
			a {
				font-weight: 400;
				color: @purple-dark;
				display: block;
				padding-top: 15px;
				padding-bottom: 15px;
				position: relative;
				box-sizing: border-box;
				padding-left: 20px;
				padding-right: 20px;
				font-size: 14px;
				line-height: 14px;
				z-index: 2;
				border-bottom: 1px solid @grey-dark;
				background: @white;
			}
			&.logout {
				color: @red;
				a {
					color: @red;
				}
			}
		}
	}
}

.topbar-mobile-bagwhite {
	width: 0;
	float: right;
	&.visible {
		width: 60px;
	}
	@media (min-width: @tablet-min) {
		display: none !important;
	}
	.topbar-mobile-bagwhite-link {
		display: block;
		float: left;
		padding: 8px 20px 8px 20px;
		height: 40px;
		box-sizing: border-box;
		img {
			width: auto;
			height: 100%;
			display: block;
		}
		&:hover {
			background-color: @purple-light;
			position: relative;
			z-index: 11;
			cursor: pointer;
		}
	}
}

.pt_storefront {
	&.menu-active {
		.topbar-mobile-menu {
			.menu-toggle {
				background-color: @white !important;
				.menu-icon {
					color: @purple !important;
				}
			}
		}
	}
}

.top-bar-logged {
	
}

#wrapper {
	&.menu-active {
		.topbar-mobile {
			position: relative !important;
			top: -90px !important;
		}
	}
}

@media (min-width: @tablet-min) {
	.mobile-menu {
		display: none!important;
	}
}