.no-hits {
    .no-hits-intro {
        margin: 30px 0 20px 0;
        color: @purple-dark;
        font-size: 18px;
        .no-hits-search-term {
            color: @red;
            font-weight: 600;
        }
    }
    .no-hits-did-you-mean {        
        margin: 0 0 20px 0;
        .no-hits-search-term-suggest {
            font-weight: 600;
        }
    }
    /* .no-hits-content-results {
        margin: 0 0 20px 0;
    } */
    /* .no-hits-help {
        border: 1px solid @grey-dark;
        border-radius: 3px;
        padding: 20px;        
        margin: 0 0 30px 0;
        ul {
            .list-default();
            color: @purple-dark;            
        }
    } */
    /* .no-hits-search {
        margin: 0 0 20px 0;
        .form-row {
            position: relative;
            .input-text {
                .searchfield-input();
            }                    
            .button {
                .searchfield-button();
            }
        }
    } */
}