.overlay-container, .overlayvideo-container {
	background-color: rgba(0, 0, 0, 0.8);
	overflow-x: hidden;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	&.overlay-container-on, &.overlayvideo-container-on {
		width: 100%;
		.overlay-box, .overlayvideo-box {
			display: block;
		}
	}
	&.overlay-container-off, &.overlayvideo-container-off {
		width: 0%;
		.overlay-box, .overlayvideo-box {
			display: none;
		}
	}
	.overlay-box, .overlayvideo-box {
			    width: 90%;
			    max-width: 600px;
			    margin: auto;
			    position: relative; 
			    box-sizing: border-box;
			    overflow: auto;		
		@media (max-width: @mobile-max){
			width: 100%;
			position: static;
    		height: 100%;
    		max-width: 767px;
		}
		//margin: 0 auto;
		.overlay-box-nav, .overlayvideo-box-nav {
			display: flex;
			flex-direction: row;
			height:50px;
			justify-content: space-between;
			background-color: @grey-lighter;
			align-items: center;
			.overlay-box-directions, .overlayvideo-box-directions {
				display: flex;
				flex-direction: row;
				justify-content:flex-start;
				align-items: center;
				.overlayvideo-box-360 {
					color: @purple-dark;
					font-size: 16px;
					line-height: 16px;
					margin: 0 0 0 10px;
				}
				.overlay-btn-next, .overlay-btn-prev, .overlayvideo-btn-next, .overlayvideo-btn-prev {
					color: @purple-dark;
					font-size: 25px;
					line-height: 25px;
					margin: 0 0 0 10px;
					cursor: pointer;
					&:hover, &:focus {
						color: @purple-dark;
					}
				}
			}
			.overlay-box-close, .overlayvideo-box-close {
				display: flex;
				flex-direction: row;
				justify-content:flex-end;
				align-items: center;
				.overlay-close, .overlayvideo-close {
					color: @purple-dark;
					font-size: 25px;
					line-height: 25px;
					margin: 0 10px 0 10px;
					cursor: pointer;
					&:hover, &:focus {
						color: @purple-dark;
					}
				}
			}
		}
		#overlay-list, #overlayvideo-list {
			background-color: @white;
			display: block;
			width: 100%;
			.overlay-item, .overlayvideo-item {
				width: 100%;
				float: left;
				display: none;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				img {
					width: 100%;
				}
				&.coverlay-count-1, &.coverlayvideo-count-1 {
					display: block;
				}
			}
		}
	}
}


.genericoverlay-container {
	max-width: 600px;
    background: white;
	padding: 2em;
	border-radius: 3px;
	
}

.hide-backtotop {
	display: none !important;
}
@media (max-width: @mobile-max) {
	.overlay-container {
		background-color: @white !important;
		background-color: @white !important;
		.overlay-box-nav {
			position: relative !important;
			top: 0 !important;
			width: 100% !important;
		}
	}
}

@media screen and (-ms-high-contrast:none) {
	.overlayvideo-container {
		display: block !important;
	}
	.overlay-container {
		display: block !important;
	}
	.overlay-box {
		display: block !important;
		margin: 0 auto !important;
		margin-top: 50px !important;
	}
	.overlayvideo-box {
		display: block !important;
		margin: 0 auto !important;
		margin-top: 50px !important;
	}
}

.pt_order-confirmation .overlay-container,
.gdpr-checkboxes .overlay-container { 
	background-color: rgba(0, 0, 0, 0.8) !important;
	button,
	.button,
	input[type="button"] {
   		text-transform: none;		 
    }	
    .login-box-inner {
    	padding: 0;	
    }
}

.pt_order-confirmation .overlay-box,
.gdpr-checkboxes .overlay-box {
	@media (max-width: @mobile-max) {
		width: calc(100% - 20px);
	}
	
}





.addedModal {
	display: none;
	.overlay-container-on {
		@media (max-width: @mobile-max) {
			background-color: rgba(0, 0, 0, 0.8) !important;
		}
	}
    .overlay-box {
        width: 480px;
        margin: 0 10px;
        border-Radius: 3px;
        background-color: @white;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		position: relative;
		@media (max-width: @mobile-max) {
			height: auto;
		}
		
		.genericoverlay-container {
			padding: 1em;
		}
		.added-text {
			padding: 0 15px;
		    font-size: 14px;
		    font-weight: 600;
		    line-height: 50px;
		    color: @nero;
		    background: @whitesmoke;
		}
    }
    .added-text .added-icon {
        display: inline;
    }
    .added-icon {
		padding-right: 20px;
		color: @green;
		position: absolute;
		right: 1em;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 1em;
		height: 30px;
		.fa {
			font-size: 23px;
		}
    }
}
.addedoverlay-box-close {

	position: absolute;

    right: 15px;

    top: 10px;

    cursor: pointer;

    .addedoverlay-close .fa {

	    font-size: 24px;

	    color: @red;

	    &:hover {

	    	color: @red-dark;

	    }

	}

}

.added-container {

    display: flex;

    padding: 10px 25px 20px;

    img {

    	display: block;

	}
	.added-bag-icon{
		@media (max-width: 400px) {
			width:80px; 
		}
		@media (max-width: 290px) {
			width:70px; 
		}
		
	}

}

.added-btns {
    padding: 0 0 0 25px;
    .added-bag-text {
    	font-size: 18px;
	    font-weight: 600;
	    color: @nero;
	    line-height: 24px;
	    padding: 20px 0 20px;

	}

	.added-checkout {

		width: 100%;
	    max-width: 240px;
	    height: 40px;
	    margin-bottom: 10px;
	    margin-top:50px;
	    padding: 0;
	    line-height: 38px;
	    @media (max-width: @mobile-max) {
			font-size: 13px;
		}

	}

	.added-continue-btn {

	    max-width: 240px;
        width:190px; 
	    height: 40px;
	    border-radius: 3px;
	    border: 1px solid @sliver;
	    box-sizing: border-box;
	    color: @slidertilename;
	    text-align: center;
	    text-transform: uppercase;
	    line-height: 38px;
	    cursor: pointer;
	    @media (max-width: @mobile-max) {
			font-size: 12px;
			width:150px; 
		}
		@media (max-width: 290px) {
			font-size: 11px;
			width:140px; 
		}

	}

}

.overlay-close {
	i{
		color: @red;
	}
	span{ 
	  display:none;
		
	  }
}


@media (max-width: @mobile-max) {
.pdp_redesign {
	.overlay-box-nav{
		height: 100px;
		background-color: @white;
		height:auto!important;
	    position: absolute!important;
	    width: auto!important;
	    top: 22px!important;
	    z-index: 100;
        background-color: transparent!important;
	}
	
.overlay-box-close{
	margin-left: 15px;
	border: 1px solid #666;
    border-radius: 4px;
    width: 68px;
    height: 45px;
	.overlay-close{
		font-size: 15px!important;
        font-weight: bold;
        margin: 0 auto!important;
		i{
			
			display:none;
		}
		span{
			display:block;
		}
	}
}

.overlay-box-directions{
	display: none!important;
}

.overlay-item .container {
	width: 100%;
	max-width: 100%;
	padding-right: 0;
    padding-left: 0;
   }
 }
}

.overlay-container-on .product-thumbnails{
	background-color: #fff;
  .productthumbnail{
	 border: 1px solid @grey!important;
&.selected{
		border-color: @black!important;
	}
}
	
}
.overlay-box{
	.added-title{
		.added-text{
			@media(max-width:290px){
				font-size:13px;
			}
		}
	}
}

@media (min-width: @tablet-min) {
.overlaynew{
	display:none;
  }
}