.pager-list {
	.clearfix();
	li {
		display:inline-block;
		a, 
		span {
			.border-radius-default();
			.box-sizing(border-box);
			background-color: @grey-lighter; 
			color: @purple-dark; 
			display: block; 
			width: 35px;
			height: @input-height;				
			line-height: @input-height;	
			padding: 0;
			text-align: center; 
			text-transform: none; 
			text-decoration: none; 
			&:hover {
				text-decoration: none;
				background-color: @purple;
				color: @white;
			}
		}
		&.first-last {
			a,
			span {
				width: auto;
				padding-left: 5px;
				padding-right: 5px;
				font-size: 14px;
			}
		}
		&.current-page {
			span {
				background-color: @purple;
				color: @white;
			}
		}
		.fa {
			vertical-align: 0;
			font-size: @font-size-default;
		}
	}
}