.pdp-sticky {
	height: 60px;
	background-color: @white;
	width: 100%;
	position: fixed;
	z-index: 2;
	padding: 0;
	box-shadow: 0 0 8px @grey;
	@media (min-width: @tablet-min) and (max-width: @tablet-max) {
		height: 95px;
	}
    @media (min-width: @desktop-min) {
		height: 135px;
    }
	&.pdp-sticky-off {
		top: -150px;
	}
	&.pdp-sticky-on {
		top: 0;
		transition: top 0.3s;
		@media (min-width: @tablet-min) and (max-width: @old_tablet-max) {
			top: 0;
		}
	}
	&.top-stick {
         top: 0;
         transition: top 0.3s;
    }
	/* td, tr, table {
	    height: 100% !important;
	    vertical-align: middle !important;
	} */
	.pdp-sticky-wrapper {
		margin: 0 auto;
		max-width: @page-max-width;
		display: flex;
		flex-flow: row;
		height: 100%;
		align-items: center;
		justify-content:space-between;
        @media (max-width: @page-max-width) {
			padding: 0 20px 0 20px;
		}
		@media (max-width: @mobile-max) {
			&.sticky-mobile {
				display: block;
			}
			&.sticky-desktop {
				display: none;
			}
		}
		@media (min-width: @tablet-min) {
			&.sticky-mobile {
				display: none;
			}
			&.sticky-desktop {
				display: block;
			}
		}
		.pdp-sticky-thumb {
			width: 80px;
			float: left;
			margin-right: 10px;
			height: 100%;
			display: flex;
			align-items: center;
			img {
				width: auto;
				margin: 0 auto;
				display: block;
				height: 80px;
			}
		}
		.pdp-sticky-info {
			height: 100%;
			float: left;
			display: block;
			@media (min-width: @tablet-min) {
				max-width: calc(100% - 350px);
			}
			/* @media (min-width: @desktop-min) {
			    width: 550px;
			} */
			.pdp-sticky-info-wrapper {
				display: flex;
				flex-flow: column;
				align-items: flex-start;
				justify-content: center;
				height: 100%;
				.pdp-sticky-info-title {
					margin: 0 !important;
					font-size: 14px;
					line-height: 22px;
                    font-weight: 400;
					white-space: normal;
					display: flex;
					text-transform: none;
				}
				.pdp-sticky-info-quant {
					display: flex;
					text-align: left;
					width: 100%;
				}
				.pdp-sticky-quantity {
					padding-right: 5px;
				}
				.pdp-sticky-info-size {
					padding-right: 5px;
					.selected {

					}
					.available {
						display: none;
					}
				}
			}
		}
		.pdp-sticky-desktop-right {
			display: flex;
            justify-content: center;
			float: right;
			height: 100%;
		}
		.pdp-sticky-price {
			height: 100%;
			display: block;
			float: left;
			@media (min-width: @tablet-min) {
				margin-right: 10px;
			}
			.pdp-sticky-price-wrapper {
				display: flex;
				flex-direction: column;
				height: 100%;
				justify-content: center;
				align-items: center;
				align-content: center;
				align-self: center;
				.price-sales {
					font-size: 22px;
					line-height: 32px;
				}
				@media screen and (min-width: @mobile-min) and  (max-width: @mobile-max){
				.price-sales-only {
					font-size: 22px;
					line-height: 32px;
					top: 15px;
    				position: absolute;
				}
				}			
			}
		}
		.pdp-sticky-add {
			float: left;
			height: 100%;
			display: flex;
			align-items: center;
			.add-to-cart-sticky {
				height: 40px;
			}
			@media screen and (min-width: @mobile-min) and  (max-width: @mobile-max){
			
			.add-to-cart-sticky {
				height: 40px;
			    position: relative;
			    width: 100px;
			    right: -10px;
			    line-height: 15px;
			    padding: 0 0 0 0;
			}
			}			
			.pdp-sticky-extramobile {
				align-items: center;
				font-size: 14px;
				line-height: 20px;
				text-align: right;
				height: 100%;
				margin: 0 10px 0 0;
				display: flex;
				.pdp-sticky-info-quant {
				}
				@media (min-width: @tablet-min) {
					display: none;
				}
			}
		}
		.sticky-mobile-table {
			.sticky-mobile-table-left {
				width: 60%;
			}
			.sticky-mobile-table-right {
				width: 40%;
                padding-top: 10px;
				.pdp-sticky-add {
					float: right;
				}
			}
		}
	}
}
.pdp-sticky {
	&.flyin-hide-pdp-sticky {
		display: none !important;
	}
}
.pdp_redesign{
	.pdp-sticky{
		&.pdp-sticky-on{
			bottom: 0;
			top: unset;
			left: 0;
			height: 60px;
			@media (min-width: @tablet-min){
				display: none;
			}
			.sticky-mobile{
				height: unset;
				padding: 8px 8px 8px 8px;
				max-width: 480px;
				display: flex;
				#add-to-cart-sticky-mobile, #quick-buy-sticky-mobile{
					height: 43px;
				    font-weight: 500;
				    font-size: 18px;
				    width: 50%;
				    @media screen and (max-width: @mobile-max){
				    	margin: auto;
				    }
				}
				#quick-buy-sticky-mobile{
				    background-color: @cobalt-blue!important;
				    border-color: @cobalt-blue!important;
				    margin-left: 10px!important;
				    &:hover{
						background: @cobalt-blue-dark!important;
						border-color: @cobalt-blue-dark!important;
					}
				}
			}
		}
	}
}
