.ui-dialog {
	z-index: 100;
	background: @white;
	padding: 15px;
	border-radius: 4px;
	max-width: 980px;
	position: fixed;
    left: 0!important;
    margin: 0 auto!important;
    top: 50% !important;
    right: 0 !important;
    transform: translateY(-50%);
	.ui-dialog-title {
		display: none;
	}
	.ui-dialog-titlebar-close {
		position: absolute;
		right: -10px;
		top: -10px;
		z-index: 1;
		border-color: @white;
		background-color: @white;
		color: @purple-dark;
		border-radius: 40px;
		padding: 0;
		height: @input-height;
		width: @input-height;
		text-align: center;
		overflow: hidden;
		color: @purple-dark!important;
		.ui-icon {
			&:before {
				.fonticon(20px, 30px);
				content: "\f00d";
				display: block;
				color: @purple-dark;
			}
		}
		.ui-button-text {
			display: none;
		}
		&:hover {
			background-color: @grey-light;
		}
	}
}
.ui-widget-overlay {
	background: @black;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	opacity: 0.8;
}
