.price {
	&.price-promotion {
		.price-standard {
			text-decoration: line-through;
			@media (min-width: @desktop-min) {
				white-space: nowrap!important;
			}
		}
		.price-sales {
			color: @red;
			@media (min-width: @desktop-min) {
				white-space: nowrap!important;
			}
		}
	}
	p {
		margin: 0;
	}
	.pdp-promotional-now {
		font-weight: 600;
		font-size: 16px;
	}
	.pdp-promotional-save {
		.pdp-promotional-save-before {
			font-weight: 400;
			font-size: 16px;
			text-decoration: line-through;
			color: @purple-dark;
		}

	}
}
.price {
	&.price-promotion {
		.price-standard {
			&.pdp-promotional-save {
				text-decoration:none !important;
			    margin: 10px 0 0;
			}
		}
	}
}
.carousel-container-inner, .search-result-items {
	.price {
		&.price-promotion {
			.price-standard {
				white-space: nowrap !important;
				display: block;
				width: 48%;
				display: block;
				float: right;
				text-align: left;
				padding-left: 2%;
			}
			.price-sales {
				white-space: nowrap!important;
				font-weight: 600;
				width: 48%;
				display: block;
				float: right;
				text-align: right;
				padding-right: 2%;
			}
		}
	}
}
.search-result-items {
	.price {
		display: block;
		width: 100%;
		height: 16px;
		.price-sales {
			font-weight: 600;
		}
	}
}
