@media print {
	.banner-cell, .pdp-sticky, .overlay-container, .overlayvideo-container {
		display: none !important;
	}
	.pdp-main {
		.primary-col {
			width: 48% !important;
			margin-left: 0 !important;
			margin-right: 2% !important;
		}
		.secondary-col {
			width: 50% !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}
