.product-tile {
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    height: auto!important;
    border: 1px solid @grey-dark;
    .border-radius(@border-radius-default);
    .ra-timer{
		font-size: 18px;
		line-height: 22px;
	    margin: 0;
	    line-height: 30px;
	    color: @blue;
	    font-weight: 600;
	    span{
	    	font-weight: 100;
	    }	    
	}
	.red{
    	color: @red;
    }
    .pulse-slow {
        animation: blinker 1s linear infinite;
    }
    .product-tile-top {
        position: relative;
        .product-image {
            position: relative;
            margin: auto;
            width: 100%;
            max-width: 240px;
            height: auto;
            img {
                position: absolute;
                top: 0;
                display: block;
                margin: 0;
                width: 100%;
                height: auto;
                &.placeholder-image {
                    position: relative;
                }
            }
        }
        .product-link {
            padding: 5px 5px 0 5px;
            .product-name {
                height: 56px;
                overflow: hidden;
                text-decoration: none;
            }
            .product-badge {
                position: absolute;
                left: -1px;
                top: -1px;
                z-index: 1;
                .border-radius(@border-radius-default, 0, 0, 0);
                width: 40%;
                overflow: hidden;
                img {
                    display: block;
                    width: 70%;
                    height: auto;
                }
            }
            .budgetpay, .paypal-credit {
                position: absolute;
                display: inline-block;
                width: 70px;
                max-width: 40%;
                height:auto;
                top: 5px;
                right: 5px;
                z-index: 1;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }
        &:hover {
            .quickview {
                width: 130px;
                height: auto;
                opacity: 1;
                padding: (((@input-height - @input-line-height) - 2) / 2) 15px;
                border: 1px solid @purple;
		      @media (min-width: @tablet-min) and (max-width: @tablet-max) {
			   width: 140px;
		       min-width: auto;
		       left: 47%;
			
			  }
            }
        }
    }
    .product-tile-bottom {
        background: @white;
        padding: 0 5px 5px 5px;
        .product-plus-delivery, .tjcplus-engraving{
        	@media (max-width: 1023px) {
        		height:50px;
        	}
        }       
        .product-pricing {
            font-size: 16px;
            height: 16px;
			font-weight: 600;
            margin: 10px 0 15px 0;
        }
        .product-tile-buttons {
            display: flex;
            justify-content: space-between;
            a {
                width: calc(50% - 3px);
                padding: 0;
            }
            a.xlt-addToCart {
                width: calc(50% - 3px);
                padding: 0;
                background-color:@green!important;
                border: 1px solid @green!important;
            }
            a.variant-addtocart {
                width: calc(50% - 3px);
                padding: 0;
                background-color:@green!important;
                border: 1px solid @green!important;
            }
            span.oos-add-to-cart {
                width: calc(50% - 3px);
                padding: 0;
                color: @red;
            }
        }
    }
    &.reduced-tile {
        border: 0 none;
        .product-tile-top {
            padding: 0;
            .product-link {
                padding: 0;
                .product-image {
                    margin: 0;
                    padding: 0;
                }
                .product-name {
                    padding: 0;
                    margin: 5px 0 0 0;
                }
                /* .budgetpay, .paypal-credit {
                    display: none;
                } */
            }

        }
    }
    &.ra-product-tile {
        .product-tile-part-top {
            position: relative;
            .product-tile-top {
                .product-name {
                    font-size: 13px; 
                    line-height:20px; 
                    font-weight:400; 
                    color:@purple-dark; 
                    height:60px; 
                    overflow:hidden;
                    margin: 0 10px;
                }
                .product-image {
                	width: 140px;
                	height: 140px;
                	margin: 10px auto;                	
                }
            }
            &:hover {
                .quickview {
                    width: 130px;
                    height: auto;
                    opacity: 1;
                    padding: (((@input-height - @input-line-height) - 2) / 2) 15px;
                    border: 1px solid @purple;
                    left: 50%;
                }
            }
        }
        .product-tile-part-bottom {
            .product-tile-top {                
                &.product-tile-winner-you {
                    .bidder {
                        display: none;
                    }
                }
            }
            .product-tile-bottom {
                background: transparent;
                color: @font-color-default;
                padding: 0 5px 5px 5px;
                text-align: center;
                a {
                    color: @font-color-default;
                }
            }
            .time-counter {
                height: 40px;
                .ra-timer{
					font-size: 22px;
				    margin: 0;
				    line-height: 30px;
				    color: @blue;
				    font-weight: 600;
				    span{
				    	font-weight: 100;
				    }				    
				}
				.red{
			    	color: @red;
			    }
				.pulse-slow {
		            animation: blinker 1s linear infinite;
		        }
                .time-counter-table {
                    .row-labels {
                        .time-counter-cell {
                            font-size: 10px;
                            line-height: 10px;
                        }
                    }
                }
                &.pulse-slow {
                    animation: blinker 1s linear infinite;
                }
                &.pulse-fast {
                    animation: blinker 0.3s linear infinite;
                }
            }
            @keyframes blinker {
                50% {
                  opacity: 0;
                }
            }
            .winner-you {
                padding: 7px 5px;
                margin: 0 10px 8px;
            }
            .price-bids {
 				display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 16px; 
                line-height:40px; 
                color:@purple-dark; 
                height:40px
                 
            }
            .savings {
                padding: 0 5px;
                margin: 10px 0;
            }
            .bidder {
                .fa {
                    margin-right: 2px;
                }
            }
            .estimated-price {
                color: @purple-dark;
                padding: 0 5px;
                margin-bottom: 8px;
            }
            .ra-bid-action {
                .ra-bid-action-left {
                    float: left;
                    width: 50%;
                    .ra-bid-action-left-inner {
                        padding-right: 5px;
                        position: relative;
                        .label {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            z-index: 1;
                            color: @purple-dark;
                        }
                        .input-text {
                            padding-left: 18px;
                            padding-right: 18px;
                            text-align: center;
                        }
                    }
                }
                .ra-bid-action-right {
                    float: right;
                    width: 50%;
                    .ra-bid-action-right-inner {
                        padding-left: 5px;
                    }
                    .button {
                        padding-left: 3px;
                        padding-right: 3px;
                        display: block;
                    }
                }
            }
            .auction-ended-msg,
            .ra-add-to-cart.disabled {
                padding: 7px 5px;
            }
            .ra-listing-login-btn,
            .button-add-to-cart {
                display: block;
            }
        }
    }
    &.ma-product-tile {
        .product-tile-top {
            .product-pricing {
                height: 48px;
                .price {
                    float: left;
                    width: 100%;
                    font-size: 14px;
                }
                .price-sales {
                    float: left;
                    width: 100%;
                    font-size: 22px;
                }
            }
            .product-image{
            	height: 240px;
            	@media (max-width: @mobile-max) {
            		height: 140px;
            	}
            }
            .product-name {
                padding: 0 5px;
                font-size: 14px;
                line-height: 20px;
                height: 105px;
                overflow: hidden;
            }
        }
        .product-tile-bottom {
            /*height: 85px;
            position: relative;
            .button {
                .calc(width, 100% - 10px);
                position: absolute;
                bottom : 5px;
                left: 5px;
            }*/
            .MLAVariations{
        	    display: flex;
        	    column-gap: 10px;
    	        margin-bottom: 10px;
    	        @media (max-width: @mobile-large-max){
    	        	display: block;
    	        }
        	    .item{
    	    	    width: 50%;
	    	        cursor: pointer;
    	    	    @media (max-width: @mobile-large-max){
    	        		margin-bottom: 10px;
    	        		width: 100%;
    	        	}
        	    }

        	    .border{
        	    	border: 3px solid @red;
        	    }
            }
            .groupVariations{
            	display: block;
            	margin-bottom: 10px;
            	height: 30px;
            	@media (max-width: @mobile-large-max){
            		height: 70px;
            	}
                 .input-select{
	                  height: 30px;
                      background-color: @white;
                      border-radius: 3px;
                   }

        	     .border{
        	    	border: 3px solid @red;
        	    }
            }
            .missed-auctions-add-to-cart-btn{
        	    width: 100%;
            }
            &.has-options {
                .button {
                    //.calc(width, 100% - 10px);
                    //float:left;
                    width: 100%;
                }
                /*.product-selection {
                    float:left;
                    width: 100%;
                } */
            }
        }
    }
    .product-link {
        display: block;
        text-decoration: none;
    }
    .quickview {
        position: absolute;
        left: 42%;
        top: calc(50% - 50px);
        z-index: 2;
        margin-left: -65px;
        height: 0;
        width: 0;
        opacity: 0;
        padding: 0;
        border: 0 none;
        overflow: hidden;
        &:hover {
            border-color: @purple-light;
        }
    }
    .product-review {
    	display:flex;
        z-index: 2;
        width: 160px;
        height: 40px;
		margin: 0 auto;
        .rating-count{
        	margin-left: 5px;
        }
    }
    .product-promo {
        color: @red;
        margin-bottom: 5px;
        position: relative;
        font-weight: 600;
        height: 20px;
        overflow: hidden;
    }
    &:hover {
        border-color: @grey-dark;
    }
}

@media (min-width: @tablet-min) and (max-width: @tablet-max) {
.product-tile {    
.product-tile-bottom {
            .product-tile-buttons {
                display: none;
            }
        }    

.product-tile-bottom {
          .product-pricing {
                    margin: 5px 0 5px 0;
                }
      }    
}
}
@media (max-width: @mobile-max) {
    .product-tile {
        font-size: 13px;
        line-height: 18px;
        &.ra-product-tile {
            .product-tile-part-bottom {
                .ra-bid-action {
                    .ra-bid-action-left {
                        .calc(width, 50% - (@page-padding-mobile / 2));
                        .ra-bid-action-left-inner {
                            padding-right: 0;
                        }
                    }
                    .ra-bid-action-right {
                        .calc(width, 50% - (@page-padding-mobile / 2));
                        .ra-bid-action-right-inner {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        .product-tile-top {
            /* .product-link {
                .product-name {
                    height: 76px;
                }
            } */
            .product-image {
                max-width: 140px;
            }
        }
        .product-tile-bottom {
            .product-tile-buttons {
                display: none;
            }
        }
        .product-tile-bottom {
          .product-pricing {
                    font-size: 14px;
                    height: 14px;
                    margin: 5px 0 5px 0;
                }
      }
		&.reduced-tile {
	        .product-tile-top {
	            .product-link {
	                .product-image {
	                    margin: 0 auto 0 auto;
	                }
	            }
	        }
	    }
    }
}

.lazy-load-button, .bid-button {
	opacity: 0.3;
	pointer-events: none;
}

.window-loaded { 
	.bid-button, .lazy-load-button {
		pointer-events: unset;
		opacity: 1!important;
	}
}




.product-tile.new-tile {
    text-align: left;
    border: none;
    &:hover {
	    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
	    @media (max-width: @mobile-max) {
	    	box-shadow: none;
	    }
	}
    .product-tile-top {
    	.product-link {
		    padding: 0;
		    .product-name {
				margin: 10px 10px 0;
			    line-height: 20px;
			    height: 60px;
			    font-size: 14px;
			    overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			    @media (max-width: @mobile-max) {
			    	margin: 5px 0 0;
			    	font-size: 13px;
			    }
			}
		}
		.product-image {
		    max-width: 100%;
		}
		.product-promo {
		    display: none;
		}
		.quickview {
			padding: 0;
		    top: calc(100% - 112px);
		    height: 32px;
		    line-height: 32px;
		    background: @white;
		    color: @Night-gider-gray !important;
		    border: none;
		    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
		}
    }
    .product-image:before {
	    content: '';
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    position: absolute;
	    border-radius: 3px 3px 0 0;
	    z-index: 1;
	    //background-image: radial-gradient(50% 50%,rgba(55,62,62,0) 50%,rgba(55,62,62,.01) 74%,rgba(55,62,62,.03) 100%);
	    background: @black;
	    opacity:0.03;
	}
    .product-tile-bottom {
	    padding: 0 10px 15px;
	    position: relative;
	    @media (max-width: @mobile-max) {
	    	padding: 0 0 20px 0;
	    	border-bottom: 2px solid @grey-light;
    		margin-bottom: 10px;
	    }
	    .product-pricing {
		    margin: 10px 0 2px 0;
		    height: auto;
		}
	}
	.product-review {
	    margin: 2px 0 0 0px;
	    height: 15px;
	}
	.product-badge div {
	    background-color: @white;
	    display: inline-block;
	    line-height: 24px;
	    margin-top: 10px;
	    padding: 0 5px;
	    text-transform: uppercase;
	}
	.tile-wishlist {
		position: absolute;
	    top: 23px;
	    right: 5px;
	    z-index: 2;
        background: @white;
		border-radius: 50%;
		width: 25px;
		text-align: center;
		.product-wishlist-link i {
		    line-height: 25px;
			&:hover {
				color: @red;
			}
		}
	}
	.product-promo {
    	margin: 0;
    	line-height: 21px;
    	font-size: 14px;
	    @media (max-width: @mobile-max) {
	    	font-size: 13px;
	    }
	}
	.badge-blk {
		min-height: 34px;
		height: 34px;
		.product-badge{
			margin-top: -175px;
			margin-left: -8px;
			position: absolute;
			@media (max-width: 766.5px) {
				margin-top: -190px;
				margin-left: unset;
			}
		}
		.shop-now{
			background-color: #ffc0cb;
			color: @black;
			font-size: 14px;
			font-weight: 600;
			height: 30px;
			display: block;
			line-height: 30px;
			text-align: center;
			text-transform: uppercase;
		}
		.shop-now:hover{
			background-color: #000000;
			color: @white; 
		}
	}
}

.search-result-items .product-tile.new-tile .price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    min-height: 20px;
    @media (max-width: @mobile-max) {
    	flex-direction: column-reverse;
	    align-items: flex-start;
	    min-height: 40px;
    }
    &.price-promotion .price-standard {
		width: auto;
		color: @Night-gider-gray;
	    line-height: 20px;
	    font-size: 13px;
	    padding-left: 0;
	}
	.price-sales {
		width: auto;
		font-size: 18px;
	    color: @nero;
	    line-height: 20px;
	    letter-spacing: 0.3px;
	    padding-right: 10px;
	}
}
