.progress-loader {
	padding: 8px;
	.border-radius(5px,5px,5px,5px);
	color: @white;
	font-size: @loader-size;
	line-height: @loader-size;
	width: @loader-size;
	height: @loader-size;
	text-align: center;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	margin: (((@loader-size / 2) + 8)* -1) 0 0 (((@loader-size / 2) + 8)* -1);
	.fa-pulse {
		-webkit-animation: fa-spin 0.8s infinite steps(8);
    	animation: fa-spin 0.8s infinite steps(8);
	}
	&.progress-loader-transparent {
		padding: 0;
		background:transparent;
		color: @purple-dark;
	}
	&.progress-loader-small {
		padding: 4px;
		.border-radius-default();
		font-size: (@loader-size / 2);
		line-height: (@loader-size / 2);
		width: (@loader-size / 2);
		height: (@loader-size / 2);
		margin: (((@loader-size / 2) + 8)* -1) 0 0 (((@loader-size / 2) + 8)* -1);
	}
}