.refinements {
    .refinements-header {
        .border-radius-default();
        background-color: transparent;
        cursor: pointer;
        padding: 0;
        position: relative;
        height: 48px;
        border: 1px solid @grey-dark;
        .refinements-header-text {
            color: #2c163d;
            line-height: 50px;
            text-transform: none;
            text-decoration: none;
            z-index: 1;
            left: 10px;
            position: absolute;
        }
        .refinements-header-icon {
            &:before {
            color: @purple-dark;
            .fonticon(18px, 18px);
            content: "\f107";
            display: block;
            position: absolute;
            z-index: 1;
            top: 15px;
            right: 7px;
            width: 20px;
            text-align: center;
            }
            &.expanded {
                &:before {
                    color: @font-color-default;
                    content: "\f106";
                    top: 15px;
                }
            }
        }
        &.expanded {
            .refinements-header-text {
                @media (max-width: @tablet-max) {
                    color: @font-color-default;
                }
            }
            .refinements-header-icon {
                &:before {
                    @media (max-width: @tablet-max) {
                        color: @font-color-default;
                    }
                    content: "\f106";
                    top: 15px;
                }
            }
        }
        &:hover {
            text-decoration: none;
        }
        .bar {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            z-index: 1;
            background: @white;
            height: 11px;
        }
    }
}
.refinements-selection {
    padding: 10px 0;
    .refinements-selection-heading {
        font-size: 16px;
        font-weight: 600;
        text-transform: none;
        margin-bottom: 20px;
    }
    .refinement-element {
        margin-bottom: 20px;
        .refinement-text {
            position: relative;
            padding-left: 40px;
            line-height: 30px;
            .breadcrumb-relax {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                border-radius: 30px;
                font-size: 13px;
                text-align: center;
                color: @grey-lighter;
                background: @font-color-default;
                .fa {
                    height: 30px;
                    line-height: 30px;
                    width: 30px;
                    display: block;
                    text-align: center;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .refinements-selection-clearall {
        color: @red;
        text-transform: none;
        margin-top: 10px;
        display: block;
    }
}
.refinement {
    position: relative;
    .refinement-headline {
        font-size: 16px;
		font-weight: 600;
        line-height: 16px;
        border-bottom: 1px solid @grey-dark;
        margin: 0;
        padding: 15px 0 15px 20px;
        position: relative;
        &:before {
            .fonticon(20px, 20px);
            content: "\f0d7";
            display: block;
            position: absolute;
            z-index: 1;
            top: 13px;
            left: 0;
            width: 0;
            text-align: left;
        }
        &.expanded {
            &:before {
                content: "\f0d8";
                top: 13px;
            }
        }
    }
    .refinement-list {
        overflow: auto;
        li {
            padding: 0 0 0 40px;
            margin: @refinement-margin 0;
            font-size: 14px;
            text-transform: capitalize;
            line-height: 35px;
            position: relative;
            display: block;
            a {
                display:inline-block;
                margin-left: 10px;
            }
            .count {
                color: @green;
            }
            .fa {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                width: @refinement-height;
                text-align: center;
            }
            .checkbox {
                border: 1px solid @grey-dark;
                background: transparent;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                width: 38px;
                min-width: 38px;
                height: 38px;
                .checkbox-inner {
                width: 38px;
                min-width: 38px;
                height: 38px;
                    background: transparent;
                }
            }
            &.selected {
                .checkbox {
                    border-color: @purple!important;
                    .checkbox-inner:before {
                            font-family: "FontAwesome";
						    color: #13770d;
						    content: "\f00c";
						    top: 1px;
						    position: absolute;
						    left: 1px;
						    font-size: 24px;
						    width: 100%;
						    text-align: center;
                    }
                }
            }
            &:hover {
                .checkbox {
                    border-color: @purple-light;
                 }
            }
            ul {
                max-height: none;
                margin-bottom: 0;
            }
            &.notfound {
                display: none;
                color: @red;
                padding-left: 0;
            }
        }
        &.cutoff-threshold-1 {
            .calc(max-height, (@refinement-height * 1) + (@refinement-margin * 2));
        }
        &.cutoff-threshold-2 {
            .calc(max-height, (@refinement-height * 2) + (@refinement-margin * 3));
        }
        &.cutoff-threshold-3 {
            .calc(max-height, (@refinement-height * 3) + (@refinement-margin * 4));
        }
        &.cutoff-threshold-4 {
            .calc(max-height, (@refinement-height * 4) + (@refinement-margin * 5));
        }
        &.cutoff-threshold-5 {
            .calc(max-height, (@refinement-height * 5) + (@refinement-margin * 6));
        }
        &.cutoff-threshold-6 {
            .calc(max-height, (@refinement-height * 6) + (@refinement-margin * 7));
        }
        &.cutoff-threshold-7 {
            .calc(max-height, (@refinement-height * 7) + (@refinement-margin * 8));
        }
        &.cutoff-threshold-8 {
            .calc(max-height, (@refinement-height * 8) + (@refinement-margin * 9));
        }
        &.cutoff-threshold-9 {
            .calc(max-height, (@refinement-height * 9) + (@refinement-margin * 10));
        }
        &.cutoff-threshold-10 {
            .calc(max-height, (@refinement-height * 10) + (@refinement-margin * 11));
        }
        &.cutoff-threshold-11 {
            .calc(max-height, (@refinement-height * 11) + (@refinement-margin * 12));
        }
        &.cutoff-threshold-12 {
            .calc(max-height, (@refinement-height * 12) + (@refinement-margin * 13));
        }
        &.cutoff-threshold-13 {
            .calc(max-height, (@refinement-height * 13) + (@refinement-margin * 14));
        }
        &.cutoff-threshold-14 {
            .calc(max-height, (@refinement-height * 14) + (@refinement-margin * 15));
        }
        &.cutoff-threshold-15 {
            .calc(max-height, (@refinement-height * 15) + (@refinement-margin * 16));
        }
        &.cutoff-threshold-16 {
            .calc(max-height, (@refinement-height * 16) + (@refinement-margin * 17));
        }
        &.cutoff-threshold-17 {
            .calc(max-height, (@refinement-height * 17) + (@refinement-margin * 18));
        }
        &.cutoff-threshold-18 {
            .calc(max-height, (@refinement-height * 18) + (@refinement-margin * 19));
        }
        &.cutoff-threshold-19 {
            .calc(max-height, (@refinement-height * 19) + (@refinement-margin * 20));
        }
        &.cutoff-threshold-20 {
            .calc(max-height, (@refinement-height * 20) + (@refinement-margin * 21));
        }
        &.cutoff-threshold-21 {
            .calc(max-height, (@refinement-height * 21) + (@refinement-margin * 22));
        }
        &.cutoff-threshold-22 {
            .calc(max-height, (@refinement-height * 22) + (@refinement-margin * 23));
        }
        &.cutoff-threshold-23 {
            .calc(max-height, (@refinement-height * 23) + (@refinement-margin * 24));
        }
        &.cutoff-threshold-24 {
            .calc(max-height, (@refinement-height * 24) + (@refinement-margin * 25));
        }
        &.cutoff-threshold-25 {
            .calc(max-height, (@refinement-height * 25) + (@refinement-margin * 26));
        }
        &.cutoff-threshold-26 {
            .calc(max-height, (@refinement-height * 26) + (@refinement-margin * 27));
        }
        &.cutoff-threshold-27 {
            .calc(max-height, (@refinement-height * 27) + (@refinement-margin * 28));
        }
        &.cutoff-threshold-28 {
            .calc(max-height, (@refinement-height * 28) + (@refinement-margin * 29));
        }
        &.cutoff-threshold-29 {
            .calc(max-height, (@refinement-height * 29) + (@refinement-margin * 30));
        }
        &.cutoff-threshold-30 {
            .calc(max-height, (@refinement-height * 30) + (@refinement-margin * 31));
        }

    }
    .freetextsearch {
        margin-bottom: 10px;
    .field{
	    min-height: @form-field-min-height-auto;
      }
    }
    &.category-refinement {
        .refinement-list {
            max-height: none;
        }
    }
}

.search-result-options {
    .refinements-dropdown {
        height: @input-height;
        overflow: visible;
        .refinements {
            position: relative;
            .refinements-header {
                position: relative;
                z-index: 1;
                &.expanded {
                    .box-shadow-default();
                    .border-radius(@border-radius-default, @border-radius-default, 0, 0);
                    background-color: @white;
                    border-color: @grey-dark;
                    border-bottom-color: @white;
                    color: @purple-dark;
                    padding-bottom: 12px;
                    .bar {
                        display: block;
                        bottom: -9px;
                    }
                }
            }
            .refinements-content {
                position: absolute;
                z-index: 3;
                top: 50px;
                left: 0;
                width: 450px;
                .box-shadow-default();
                .border-radius(0, @border-radius-default, @border-radius-default, @border-radius-default);
                background-color: @white;
                .refinements-content-inner {
                    padding:10px 10px 10px 10px;
                }
            }
        }
    }
}

.refinements-bar-slot {
    margin-top: 20px;
    .html-slot-container {
        width: 100%;
        height: auto;
    }
}

@media (max-width: @mobile-max) {
    .refinement {
        .refinement-list {
            max-height: none !important;
        }
    }
}