.header-wrapper {
	&.scrolled {
		#search-suggestions {
			@media (max-width: @mobile-max) {
				top: 60px;
				height: calc(100vh - 60px);
				-webkit-overflow-scrolling: touch;
			}
			.search-suggestion-wrapper-out {
				@media (max-width: @mobile-max) {
					padding-bottom: 70px;
					overflow-y: scroll;
					height: 100%;
				}
			}
		}
	}
	&.not-scrolled {
		#search-suggestions {
			@media (max-width: @mobile-max) {
				top: 135px;
				height: calc(100vh - 135px - 100px);
				-webkit-overflow-scrolling: touch;
			}
			.search-suggestion-wrapper-out {
				@media (max-width: @mobile-max) {
					padding-bottom: 0px;
					overflow-y: scroll;
					height: 100%;
				}
			}
		}
	}
}
.html-hook {
	.search-sugestions-mobile-header {
		display: none;
	}
	&.suggestions-active-wrapper {
		@media (max-width: @mobile-max) {
			.header-asset,
			.footer-wrapper,
			#back-to-top {
				display: none;
			}
			.search-sugestions-mobile-header {
				width: 100%;
				background-color: @white;
				z-index: 99;
				height: 50px;
				display: flex;
				position: absolute;
				width: 100%;
				.search-sugestions-mobile-header-inner {
					width: 100%;
					height: 50px;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					display: flex;
					.page-inner-max-width();
					.search-suggestions-title {
						h6 {
							margin: 0;
						}
					}
					.search-close-btn {
						font-size: 24px;
						line-height: 50px;
						color: @red;
						cursor: pointer;
						.fa {
							font-size: 24px;
							line-height: 50px;
							cursor: pointer;
						}
						&:hover {
							color: @red-dark;
						}
					} 
				}
			}
			.search-suggestion-wrapper-out {
				overflow-y: overlay;
				-webkit-overflow-scrolling: touch;
			}
		}
	}
}


#search-suggestions {
	left: 0;
	background-color: @white;
	width: 100%;
	position: absolute;
	z-index: 2;
	padding-bottom: 60px;
	@media (min-width: @tablet-min) and (max-width: 1279.5px) {
		border-top:  none;
		top: 95px;
		padding-bottom: 0;
	}
	@media (min-width: @desktop-min) {
		border-top:  none;
		top: 95px;
		padding-bottom: 0;
	}
}
.input-overlay {
	top: -16px;
    right: -1px;
    position: absolute;
    width: 50px;
    height: 15px;
	.bar {
		height: 10px;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -10px;
		background: @white;
		z-index: 1;
	}
}
.search-suggestion-wrapper-out {
	box-shadow: 0 4px 4px rgba(44,22,61, 0.2);
	border-bottom:  1px solid @grey-light;
	border-top:  1px solid @grey-light;
	padding-top: 40px;
	@media (min-width: @desktop-min) {
		padding-top: 0;
	}
	.search-suggestion-wrapper {
		width: auto;
		padding: @page-padding-desktop 0;
		.page-inner-max-width();
	}
}
.search-suggestion-contents {
	display: flex;
	flex-direction: column-reverse;
	@media (min-width: @tablet-min) {
		flex-direction: row;
	}
	.search-suggestion-left-panel {
		width: 100%;
		padding-right: 0;
		box-sizing: border-box;
		@media (min-width: @tablet-min) {
			padding-right: 15px;
			width: 50%;
		}
	}
	.search-suggestion-right-panel {
		width: 100%;
		padding-bottom: 15px;
		box-sizing: border-box;
		@media (min-width: @tablet-min) {
			padding-left: 15px;
			padding-bottom: 0;
			width: 50%;
		}
	}
	.search-suggestion-hitgroup {
		padding: 0 0 5px 0;
		&:last-child {
			padding-bottom: 0;
		}
		.search-suggestion-hitgroup-header {
			.h6();
			font-weight: 600;
			text-transform: none;
			margin: 0;
			padding: 0 0 5px 0;
		}
		.search-keyword-suggest {
			padding: 8px 20px;
			background: @grey-lighter;
			border-radius: 3px;
			font-size: 14px;
			a {
				font-size: 14px;
				font-weight: normal;
			}
			.whole-phrase {
				font-style: italic;
				color: @purple-dark;
				text-transform: none;
				&:hover {
					text-decoration: underline;
					color: @purple-dark;
				}
			}
			.search-suggest-guess {
				text-decoration: underline;
				font-weight: 600;
				color: @purple-dark;
			}
			.first-term-italic {
				font-style: italic;
			}
			.first-term-bold {
				font-weight: 600;
			}
		}
		.search-suggestion-list {
			li {
				border-bottom: 1px solid @grey-dark;
				padding: 10px 0;
				font-size: 13px;
				line-height: 13px;
				a {
					display: block;
					.search-suggestion-parent-category {
						color: @purple-dark;
					}
				}
				&.product-suggestion {
					.clearfix();
					.product-image {
						float: left;
						width: 43px;
						height: 43px;
						border: 1px solid @grey-dark;
						a {
							display: block;
						}
						img {
							display: block;
							width: 100%;
							height: auto;
						}
					}
					.product-details {
						margin-left: 55px;
						text-transform: none;
						line-height: 18px;
						height: 54px;
						overflow: hidden;
						display: block;
						a {
							display: block;
						}
					}
				}
			}
			li:last-of-type {
				border-bottom: initial !important;
			}
		}
	}
}
.list-product {
	.product-suggestion {
		border-bottom: initial !important;
		font-size: 13px !important;
		line-height: 13px !important;
	}
}
@media (max-width: @mobile-max) {
	.search-suggestion-wrapper {
		padding: @page-padding-tablet;
	}
}