.secondary-navigation {
    text-transform: none;
    color: @purple-dark;
    ul {
        li {
            a {
                display: block;
                padding: ((@input-height - @line-height-default) / 2) 0;
                color: @purple-dark;
                &:hover {
                    color: @font-color-default;
                    text-decoration: none;
                }
            }
            &.active {
                font-weight: 400;
                color: @font-color-default;
                a {
                    cursor: default;
                    color: @font-color-default;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            &:first-child {
                a {
                    padding-top: 0;
                }
            }
            &:last-child {
                a {
                    padding-bottom: 0;
                }
            }
        }
    }
    &.customerservice-navigation {
        .flyin-account-wrapper {
            display: flex;
        }
        ul {
            display: flex;
            flex-direction: column;
            .asset-container-bottom {
                display: none;
            }
            li {
                margin-bottom: 10px;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    text-align: center;
                    padding: 12px 10px;
                    border: 1px solid @grey-dark;
					border-radius: 3px;
                    color: @font-color-default;
                    position: relative;
                    &:hover {
                        border-color: @purple-dark;
                    }
                    span {
                    	position: absolute;
                    	right: 15px;
                    	top: 10px;
                    	background: #e75a7c;
                    	padding: 2px 10px;
                    	color: white;
                    	border-radius: 5px;
                    }
                }
                &.active {
                    a {
                        background: @purple;
                        border-color: @purple;
                        color: @white;
                    }
                }
            }
        }
    }
    &.gempedia-navigation {
        text-transform: none;
        margin-top: 40px;
        ul {
            li {
                border-top: 1px solid @grey-dark;
                float: left;
                width: 50%;
                a {
                    height: 40px;
                    line-height: 40px;
                    overflow: hidden;
                    padding: 0 15px 0 0;
                }
                &.active {
                    font-weight: @font-weight-default;
                }
            }
        }
    }
}

@media (min-width: @tablet-min) and (max-width: @tablet-max) {
    .secondary-navigation {
        &.customerservice-navigation {
            ul {
                .calc(width, 100% + 10px);
                li {
                    .calc(width, (100% / 3) - 10px);
                    float: left;
                    margin-right: 10px;
                    a {
                        height: 38px;
                        line-height: 38px;
                        padding-top: 0;
                        padding-bottom: 0;
                        overflow: hidden;
                    }
                }
            }
        }
        &.gempedia-navigation {
            ul {
                li {
                    width: 20%;
                }
            }
        }
    }
}

.header-wrapper.account-opened .flyin-account-wrapper .ul-level-1 .li-level-1 .a-level-1 span {
    position: absolute;
    right: 15px;
    background: #e75a7c;
    padding: 6px 10px;
    color: white;
    border-radius: 5px;
}
