h1 {
  .h1();
}
h2 {
  .h2();
}

h3 {
  .h3();
}

h4 {
  .h4();
}

h5 {
  .h5();
}

h6 {
  .h6();
}
.text-flowing {
	.text-flowing();
}
.blue-text {
    color: @blue;
}

.page-title {
    position: relative;
    z-index:1;
    &:before {
    border-top:1px solid @grey-dark;
    content:"";
    margin:0 auto;
    position:absolute;
    top:50%;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    z-index:-1  
    }
	span {
    background: @white;
    padding-right: 15px;
	}
}

.section-carousel-title {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin: 0 0 20px 0;
    position: relative;
    z-index:1;
    text-align: center;
    :before {
    border-top:1px solid @grey-dark;
    content:"";
    margin:0 auto;
    position:absolute;
    top:50%;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    z-index:-1  
    }
    span {
    background: @white;
    padding:0 15px
    }
}

.left-aligned {
	text-align: left;
}
.right-aligned {
	text-align: right;
}
.centered {
	text-align: center;
}

@media (max-width: @mobile-max) {   
    .page-title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
        font-weight: 400;
        &:before {
        border-top:none;   
        }
    }
    .section-carousel-title  {
        font-size: 18px;
        line-height: 28px;
    }
    h2 {
        .h2-mobile();
    }
}