.box-shadow-default() {
	box-shadow: @box-shadow-default; 
}

.box-shadow(@hLength: 0px, @vLength: 0px, @blurRadius: 0px, @spreadRadius: 0px, @val-red: 0, @val-green: 0, @val-blue: 0, @val-opacity: 0 ) {
	box-shadow: @hLength @vLength @blurRadius @spreadRadius rgba(@val-red,@val-green,@val-blue,@val-opacity);
}