.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

tr {
    &.clearfix:after {
        content: none;
    }
}

@media (max-width: @mobile-max) {
    tr {
        &.clearfix:after {
            content: " ";
        }
    }
}