/* .page-wrapper-max-width() {
    box-sizing: border-box;
    width: 100%;
    @media (max-width: @mobile-small) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: @mobile-large) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media (min-width: @tablet-min) and (max-width: @tablet-max) {
        padding-bottom: 15px;
    }
    @media (min-width: @desktop-min) {
        padding-bottom: 0;
    }
} */
/* .page-inner-max-width() {
    margin: 0 auto;
    max-width: 600px;
    @media (min-width: @tablet-min) and (max-width: @tablet-max) and (orientation: portrait) {
        max-width: 768px;
    }
    @media (min-width: @tablet-min) and (max-width: @tablet-max) and (orientation: landscape) {
        max-width: 1024px;
    }
    @media (min-width: @desktop-min) {
        max-width: 1140px;
    }
    @media (max-width: @mobile-small) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: @mobile-large) {
        padding-left: 20px;
        padding-right: 20px;
    }
} */
.page-inner-max-width() {
	margin: 0 auto;
	max-width: 480px;
	@media (min-width: @tablet-min) {
		max-width: @desktop-max;
	}
    @media (max-width: @mobile-small) {
		padding-left: 15px;
		padding-right: 15px;
	}
	@media (min-width: @mobile-large) {
		padding-left: 20px;
		padding-right: 20px;
	}
}