.list-default {
    li {
        list-style:none;
        margin-left:20px;
        margin-bottom:10px;
        font-size: 13px;
        line-height:20px;
        position: relative;
        &:before {
            content:'\f111';
            font-family:'FontAwesome';
            float:left;
            margin-top:1px;
            margin-left:-20px;
            line-height: 0;
            position:absolute;
            top:50%;
        }
    }
}