.mobile-cart-table() {
    display: block;
    position: relative;
    thead {
        display: none;
    }
    tbody,
    tr,
    td {
        display: block;
    }
    tr {
        border-bottom: 1px solid @grey-dark;
        padding: 20px 0;
        position: relative;
        &:last-child {
            border-bottom: 0 none;
        }
        &.clearfix:after {
            content: " ";
        }
    }
    td {
        .clearfix();
        border: 0 none;
        padding: 0;
        .mobile-label {
            float: left;
            width: auto;
            text-transform: none;
            color: @purple-dark;
        }
        &.item-image {
            float: right;
            width: auto;
        }
        &.item-details {
            float: left;
            .calc(width, "100% - 65px");
        }
        &.item-price {
            clear: both;
            white-space: normal;
            .price {
                float: right;
                width: auto;
                display: flex;
                flex-direction: row-reverse;
                .price-standard {
                	margin-right: 10px;
                }
            }
            .promo {
                clear: both;
            }
        }
        &.item-quantity {
            width: auto;
            padding-top: 0;
            clear: both;
            .quantity-value {
                float: right;
                width: auto;
                text-align: right;
                .quantity-input-container {
                    margin-top: (((@input-height - @line-height-default) / 2) * -1);
                    margin-bottom: (((@input-height - @line-height-default) / 2) * -1);
                }
            }
        }
        &.item-total {
            padding-bottom: 0;
            .price {
                float: right;
                width: auto;
                flex-direction: row-reverse;
                justify-content: flex-start;
                .price-standard {
                	margin-right: 10px;
                }
            }
            .promo {
                clear: both;
                text-align: right;
            }
            .bonus-item {
                text-align: right;
            }
        }
        &.item-remove {
            padding-top: 0;
            padding-bottom: 0;
            width: auto;
            position: absolute;
		    bottom: 20px;
		    right: 0;
            button {
                display: inline-block;
            }
        }
		&.bonus-item-actions {
			padding-left:10px;
		}
    }
    .cart-row-promo {
        td {
            &.item-image {
                display: none;
            }
        }
    }
    .cart-row-giftcert {
        td {
            &.item-price {
                padding: 0;
            }
        }
    }
    .cart-row-coupons {
        td {
            &.item-image {
                display: none;
            }
            &.item-details {
                padding-bottom: 5px;
            }
            &.item-price,
            &.item-quantity {
                padding: 0;
            }
            &.item-total {
                float:left;
                .calc(width, "100% - 100px");
            }
        }
    }
    .cart-row-bundle {
        td {
            &.item-image {
                display: none;
            }
            &.item-price,
            &.item-total,
            &.item-remove {
                padding: 0;
            }
        }
    }
    &.order-products-table {
        td {
            &.item-quantity {
                clear: both;
                float: left;
                width: auto;
                padding: 0;
                .mobile-label {
                    float: none;
                }
                .quantity-value {
                    float: none;
                    text-align:left;
                }
            }
            &.item-total {
                clear: none;
                float: right;
                width: auto;
                padding: 0;
                .mobile-label {
                    float: none;
                }
            }
        }
    }
}