.opacity(@opacity:0.5){
    opacity: @opacity;
    -moz-opacity: @opacity;
    @ieopacity : (@opacity*100);
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{ieopacity})";
    filter:~"alpha(opacity= @{ieopacity})";
}