.placeholder-color(@color: initial) {
	&::-webkit-input-placeholder {
		color: @color;
	}
	
	&:-ms-input-placeholder {
		color: @color;
	}
	
	&::-ms-input-placeholder {
		color: @color;
	}
	
	&:-moz-placeholder {
		color: @color;
	}
	
	&::-moz-placeholder {
		color: @color;
	}
	
	&::placeholder {
		color: @color;
	}
}
