.searchfield-input() {
    padding-right: 40px;
    display: block;
    font-size: 14px;
    padding: 12px 65px 12px 15px;
    border-radius: 5px;
    height: 40px;
    border-color: @grey-dark!important;
    position: relative;
    z-index: 1;
    &:focus {
        border-color: @purple-dark!important;
    }
}

.searchfield-button() {
    position: absolute;
    display: block;
    z-index: 2; 
    top: 0;
    right: 0;
    width: 60px;
    height: 40px; 
    background: @purple!important;
    border-color: @purple!important;
    opacity: 1;
    color: @white!important;
    border-radius: 0 5px 5px 0;
    &:hover {
        opacity: 1;
        color: @white!important;
        background: @purple-dark!important;
        border-color: @purple-dark!important;
    }
}