.removeZeroUnit (@val) when not (@val = 0px) {
  @removeZeroUnit: @val;
}
.removeZeroUnit (@val) when (@val = 0px) {
  @removeZeroUnit: 0;
}

.sprite-retina-pos-x(@sprite) {
  .removeZeroUnit((extract(@sprite, 3) / 2));
  @sprite-retina-pos-x: @removeZeroUnit;
}

.sprite-retina-pos-y(@sprite) {
  .removeZeroUnit((extract(@sprite, 4) / 2));
  @sprite-retina-pos-y: @removeZeroUnit;
}

.sprite-image-nonretina(@sprite) {
  @sprite-image-nonretina: extract(@sprite, 9);
  @sprite-image-nonretina-bare: ~`"@{sprite-image-nonretina}".slice(1, -1)`;
  @sprite-image-nonretina-bare-manipulated: replace(@sprite-image-nonretina-bare, '-retina', '');
  background-image: url(@sprite-image-nonretina-bare-manipulated);
}

.sprite-retina(@sprite; @size: true) {
  .sprite-image-nonretina(@sprite);
  .sprite-retina-pos-x(@sprite);
  @posX: @sprite-retina-pos-x;
  .sprite-retina-pos-y(@sprite);
  @posY: @sprite-retina-pos-y;
  
  background-color: transparent;
  background-position: @posX @posY;
  background-repeat: no-repeat;
  
  & when (@size = true) {
    width: (extract(@sprite, 5) / 2);
    height: (extract(@sprite, 6) / 2);
  };
  
  @media only screen and (min-resolution: 144dpi) {
    & {
      .sprite-image(@sprite);
      background-size: (extract(@sprite, 7) / 2) (extract(@sprite, 8) / 2);
    }
  }
}