.text-default() {
	font-family: @font-family-default;
	font-size: @font-size-default;
	line-height: @line-height-default;
	color: @font-color-default;
	font-weight: @font-weight-default;
	text-transform: @text-transform-default;
    letter-spacing: 0.3px;
}
.text-flowing() {
	font-size: (@font-size-default + 2);
	line-height: (@line-height-default + 2);
}
.h1() {
	font-size: 40px;
	line-height: 50px;
	font-weight: 300;
	text-transform: none;
	margin: 20px 0;
}
.h2() {
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	text-transform: none;
	margin: 0 0 10px 0;
}
.h2-mobile() {
    font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	text-transform: none;
	margin: 0 0 20px 0;
}
.h3() {
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	text-transform: none;
	margin: 0 0 10px 0;
}
.h4() {
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	text-transform: none;
	margin: 0 0 10px 0;
}
.h5() {
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	text-transform: none;
	margin: 0 0 10px 0;  
}
.h6() {
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	text-transform: none;
	margin: 0 0 10px 0;
}
.h6-nouppercase() {
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	text-transform: none;
	margin: 0 0 10px 0;
}